<%

categories = Opendata::Dataset.site(@cur_site).sort(order: 1)

@f = f

def cate_form(item)
  h  = %(<label style="margin-right: 10px;">)
  h << @f.check_box("dataset_ids[]", {}, item._id)
  h << %(#{item.name}</label>)

  h.html_safe
end

%>
<dl class="see mod-opendata-dataset_group">
  <dd class="wide">
    <%= f.hidden_field "dataset_ids[]", value: "" %>

    <% categories.each do |cate| %>
    <div style="margin-bottom: 10px; padding: 10px; border: 1px solid #ddd;">
      <%= cate_form cate %></div>
    <% end %>
  </dd>
</dl>
