<nav class="nav-menu">
  <% if params[:action] =~ /show/ %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.edit'), { action: :edit }, class: :edit %>
    <% end %>
  <% else %>
    <%= link_to t('ss.links.back_to_show'), { action: :show }, class: "back-to-show" %>
  <% end %>
</nav>
