<% if params[:mod] %>
  <% mod = params[:mod].to_sym %>
<% elsif params[:controller] =~ /^cms/ && @cur_node.route =~ /^cms/ %>
  <% mod = :cms %>
<% else %>
  <% begin %>
    <% mod = nil %>
    <%= render partial: @cur_node.route.sub(/\/.*/, "/main/navi") %>
  <% rescue ActionView::MissingTemplate %>
    <% mod = :cms %>
  <% end %>
<% end %>

<% if mod == :cms %>
  <%= node_navi :cms do %>
    <h3><%= link_to t('ss.list'), { action: :index } rescue nil %></h3>
    <h3><%= link_to t("ss.links.trash"), { action: :trash }, class: :trash rescue nil %></h3>
  <% end %>
<% end %>
