<nav class="mod-navi">
  <h2><%= t('mongoid.models.gws/history') %></h2>
  <h3><%= link_to t('mongoid.models.gws/history'), history_cms_logs_path %></h3>
  <h3><%= link_to t('mongoid.models.gws/history_archive_file'), history_cms_history_archives_path %></h3>
</nav>

<%= render partial: "cms/main/conf_navi" %>
