<% if @cur_page.categories.present? %>
<nav class="categories">
  <header><h1><%= t('event.category') %></h1></header>
  <div class="nodes">
    <% @cur_page.categories.each do |item| %>
    <article>
      <header><h2><%= link_to item.name, item.url %></h2></header>
    </article>
    <% end %>
  </div>
</nav>
<% end %>
