<nav class="mod-navi">
  <h2><%= t "cms.check_links" %></h2>

  <h3><%= link_to t("cms.check_links_pages"), cms_check_links_report_pages_path %></h3>
  <h3><%= link_to t("cms.check_links_nodes"), cms_check_links_report_nodes_path %></h3>
</nav>

<%= render partial: "cms/main/navi" %>
