<dt>
  <%= item.name %>
  <% if item.tooltips.present? %>
  <div class="tooltip">?
    <ul>
      <% item.tooltips.each do |tooltip| %>
        <li><%= tooltip %><br></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</dt>
