<% return if @item.map_points.blank? %>

<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false" %>
<% controller.class.javascript "map/public" %>
<%= coffee do %>

$(window).on "load", ->
  Map.load(document.getElementById("map-canvas"))
  Map.setMarkers(<%= raw @item.map_points.to_json %>)

<% end %>

<dl class="see mod-page">
  <div id="map-canvas"></div>
</dl>
