<%= node_navi :garbage do %>

<h3><%= link_to t("garbage.node"), garbage_nodes_path, class: "icon-node" %></h3>
<h3><%= link_to "#{t("ss.links.trash")} (#{t("garbage.node")})", trash_garbage_nodes_path, class: :trash %></h3>

<% end %>
