<header>
  <h2><%= t("gws/schedule.search_users") %></h2>
</header>

<% @s = OpenStruct.new params[:s] %>
<%= form_for :s, url: gws_schedule_search_users_path, html: { method: :get, class: :search } do |f| %>
  <%= f.text_field :keyword, style: "width: 200px;", placeholder: t("gws/schedule.search_users") %>

  <footer class="send">
    <%= f.submit t("views.button.search"), name: "search", class: "search btn-primary" %>
  </footer>
<% end %>
