<% @s = OpenStruct.new params[:s] %>
<%= form_for :s, url: gws_schedule_search_users_path, html: { method: :get, class: :search } do |f| %>
  <h3 class="gws-schedule-search-title">
    <%= t("gws/schedule.search_users") %>
  </h3>

  <%= f.text_field :keyword, style: "width: 200px;", placeholder: t("gws/schedule.search_users") %>
  <input type="submit" value="<%= t('views.button.search') %>" class="btn" />
<% end %>
