<nav class="nav-menu">
  <% if params[:action] =~ /edit|update|delete|move/ %>
    <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
  <% else %>
    <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
  <% end %>
</nav>
