<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to t('ss.links.download'), url_for(action: :download) %>
  <% else %>
    <%= link_to t('ss.links.back_to_index'), url_for(action: :index) %>
  <% end %>
</nav>
