class @Sns_SearchUI_Email extends SS_SearchUI

  @select: (item) ->
    self = this

    data = item.closest("[data-id]")
    id   = data.data("id")
    name = data.data("name") || data.find(".select-item").text() || item.text() || data.text()

    tr    = $("<tr />").attr("data-id", id)
    input = self.anchorAjaxBox.closest("dl").find(".hidden-ids").clone(false)
    input = input.val(id).removeClass("hidden-ids")
    a     = $('<a class="deselect btn" href="#"><%= I18n.t "views.button.delete" %></a>').on "click", self.deselect

    tr.append($('<td />').append(input).append(name).append(a))
    self.anchorAjaxBox.closest("dl").find(".ajax-selected tbody").prepend(tr)
