$page-width: 1080px;

// -----------------------------------------------------------------------------
// font
$px10:72%;
$px11:79%;
$px12:86%;
$px13:93%;
$px14:100%;
$px15:108%;
$px16:115%;
$px17:122%;
$px18:129%;
$px19:136%;
$px20:143%;
$px21:150%;
$px22:158%;
$px23:165%;
$px24:172%;
$px25:179%;
$px26:186%;
$px27:193%;
$px28:200%;
$px29:208%;
$px30:215%;
$px31:222%;
$px32:229%;

$font-base: Meiryo, "メイリオ", Tahoma, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Verdana, "MS PGothic", "ＭＳ　Ｐゴシック", sans-serif;
$font-head: Meiryo, "メイリオ", Verdana, "MS PGothic", "ＭＳ　Ｐゴシック", sans-serif;

// -----------------------------------------------------------------------------
// color
$text: #383838;
$link: #d81272;
$white: #ffffff;
$gray: #666666;
$blue: #005a96;
$data-blue: #00b2c4;
$border-hgry: 1px solid #cccccc;

// -----------------------------------------------------------------------------
// margin
$box-margin: 24px;

// -----------------------------------------------------------------------------
// mixin
@mixin grd-aqua {
  background: #cef3ff;
  @include background-image(linear-gradient(top, #cef3ff, $white));
  @include filter-gradient(#cef3ff, $white, vertical);
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxNTEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNDRUYzRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cxNTEpIiAvPgo8L3N2Zz4=);
}

@mixin grd-gray {
  background: $gray;
  @include background-image(linear-gradient(top, $gray, #383838));
  //@include filter-gradient($gray, #383838, vertical);
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1ODgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2NjY2NjYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzODM4MzgiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1ODgpIiAvPgo8L3N2Zz4=);
}

@mixin grd-blue {
  background: #0069ac;
  @include background-image(linear-gradient(top, #0069ac, $blue));
  //@include filter-gradient(#0069ac, $blue, vertical);
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwMDY5QUMiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDVBOTYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjUpIiAvPgo8L3N2Zz4=);
}

@mixin r-arrow {
  display: inline-block;
  padding: 2px 8px 2px 30px;
  border: 1px solid #282828;
  background: #383838 url(../img/r-arrow.png) no-repeat 14px center;
  color: $white;
  text-decoration: none;
  &:hover {
    background-color: #666666;
  }
}

@mixin l-arrow-bk {
  display: inline-block;
  padding-left: 15px;
  background: url(../img/l-arrow-bk.png) no-repeat 2px center;
}

@mixin fill-gray {
  border: 1px solid #282828;
  background-color: #383838;
  color: $white;
  &:hover {
    background-color: #666666;
  }
}
