$page-width: 1080px;

// -----------------------------------------------------------------------------
// font
$px10:72%;
$px11:79%;
$px12:86%;
$px13:93%;
$px14:100%;
$px15:108%;
$px16:115%;
$px17:122%;
$px18:129%;
$px19:136%;
$px20:143%;
$px21:150%;
$px22:158%;
$px23:165%;
$px24:172%;
$px25:179%;
$px26:186%;
$px27:193%;
$px28:200%;
$px29:208%;
$px30:215%;
$px31:222%;
$px32:229%;

$font-base: Meiryo, "メイリオ", Tahoma, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "MS PGothic", "ＭＳ　Ｐゴシック", Verdana, sans-serif;
$font-head: Meiryo, "メイリオ", Verdana, "MS PGothic", "ＭＳ　Ｐゴシック", sans-serif;

// -----------------------------------------------------------------------------
// color
$text: #000000;
$link: #006699;
$visited: #660099;
$hover: #de3800;
$white: #ffffff;
$gray: #b2b2b2;
$blue: #21387f;
$data-pink: #EC008C;
$app-blue: #00AEEF;
$idea-yellow: #FFE600;
$data-blue: #00b2c4;
$border-hgry: 1px solid #cccccc;

// -----------------------------------------------------------------------------
// margin
$box-margin: 24px;
$footer-margin: 60px;

// -----------------------------------------------------------------------------
// mixin
@mixin grd-aqua {
  background: #c4f1ff;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczMDkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNDNEYxRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMC4xMiIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMC4zIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0JGRjBGRiIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzMwOSkiIC8+Cjwvc3ZnPg==);
  @include background-image(linear-gradient(left, #c4f1ff, $white 12%, $white 30%, #bff0ff));
}

@mixin grd-title {
  background: $white;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4MDAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFOEU4RTgiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMC4yNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4MDApIiAvPgo8L3N2Zz4=);
  @include background-image(linear-gradient(rgba(191, 191, 191, 0.1) 1%, $white 25%, $white));
}

@mixin grd-data-title {
  background: $white;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2NjYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQkM0RTQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMC4zNCIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2NjYpIiAvPgo8L3N2Zz4=);
  @include background-image(linear-gradient(left, rgba(236, 0, 139, 0.24), rgba(255, 255, 255, 0.24) 34%));
  @include filter-gradient(#FBC4E4, $white, horizontal);
}

@mixin grd-app-title {
  background: $white;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3MiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMC42Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0M2RURGQiIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzcyKSIgLz4KPC9zdmc+);
  @include background-image(linear-gradient(left, rgba(0, 174, 239, 0.24), rgba(255, 255, 255, 0.24) 34%));
  @include filter-gradient(#FBC4E4, $white, horizontal);
}

@mixin grd-idea-title {
  background: $white;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3MTAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjAuNiIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkU2MDAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c3MTApIiAvPgo8L3N2Zz4=);
  @include background-image(linear-gradient(left, rgba(255, 230, 0, 0.4), rgba(255, 255, 255, 0.4) 34%));
  @include filter-gradient(#FBC4E4, $white, horizontal);
}

@mixin grd-button-gray {
  background-color: #f6f6f6;
  background-image: url(../img/ic-search_m.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-search_m.png) no-repeat 5px center, linear-gradient($white 0%, #fdfdfd 50.9%, #f6f6f6 69.24%, #ebebeb 82.3%, #dadada 92.79%, #c9c9c9 100%));
  background:url(../img/ic-search_m.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZGRkZGRiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0ZERkRGRCIgb2Zmc2V0PSIwLjUwOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNGNkY2RjYiIG9mZnNldD0iMC42OTI0Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0VCRUJFQiIgb2Zmc2V0PSIwLjgyMyIvPjxzdG9wIHN0b3AtY29sb3I9IiNEQURBREEiIG9mZnNldD0iMC45Mjc5Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0M5QzlDOSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzUxKSIgLz4KPC9zdmc+);
  @include filter-gradient($white, #C9C9C9, vertical);
}

@mixin grd-button-blue {
  background-color: rgba(#E8E8FC, 0.8);
  @include background-image(linear-gradient(0deg, rgba($white, 0.624) 0%, rgba(#fbfbff, 0.624) 22.65%, rgba(#f0f0ff, 0.624) 44.36%, rgba(#dcdeff, 0.624) 65.69%, rgba(#c1c4ff, 0.624) 86.66%, rgba(#aeb1ff, 0.624) 100%));
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNCRkMxRTAiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNDM0M0RTIiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0Q2RDZFQiIgb2Zmc2V0PSIwLjQiLz48c3RvcCBzdG9wLWNvbG9yPSIjRTJFMkYyIiBvZmZzZXQ9IjAuNiIvPjxzdG9wIHN0b3AtY29sb3I9IiNFOUU5RjUiIG9mZnNldD0iMC44Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0VDRUJGNSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzI2NCkiIC8+Cjwvc3ZnPg==);
  @include filter-gradient(#BFC1E0, #ECEBF5, vertical);
}

@mixin grd-button-gray_hover {
  background-color: #f6f6f6;
  background-image: url(../img/ic-search_m.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-search_m.png) no-repeat 5px center, linear-gradient(0deg, $white 0%, #f3f3f3 17.63%, #ebebeb 36.07%, #c9c9c9 100%));
  background:url(../img/ic-search_m.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2MjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNDOUM5QzkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMC42MzkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0YzRjNGMyIgb2Zmc2V0PSIwLjgyMzciLz48c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNjIyKSIgLz4KPC9zdmc+);
  @include filter-gradient(#c9c9c9, $white, vertical);
}

@mixin grd-mypagebutton-gray {
  background-color: #f6f6f6;
  background-image: url(../img/ic-arrow_darkblue.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-arrow_darkblue.png) no-repeat 5px center, linear-gradient($white 0%, #fdfdfd 50.9%, #f6f6f6 69.24%, #ebebeb 82.3%, #dadada 92.79%, #c9c9c9 100%));
  background:url(../img/ic-arrow_darkblue.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZGRkZGRiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0ZERkRGRCIgb2Zmc2V0PSIwLjUwOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNGNkY2RjYiIG9mZnNldD0iMC42OTI0Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0VCRUJFQiIgb2Zmc2V0PSIwLjgyMyIvPjxzdG9wIHN0b3AtY29sb3I9IiNEQURBREEiIG9mZnNldD0iMC45Mjc5Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0M5QzlDOSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzUxKSIgLz4KPC9zdmc+);
  @include filter-gradient($white, #c9c9c9, vertical);
}

@mixin grd-mypagebutton-blue {
  background-color: rgba($blue, 0.13);
  @include background-image(linear-gradient(rgba($blue, 0.55), rgba(#A9B2CD, 0.55)));
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzg0OTJCNCIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0MzQzZENyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzc1KSIgLz4KPC9zdmc+);
  @include filter-gradient(#8492B4, #C3C6D7, vertical);
}

@mixin grd-mypagebutton-gray_hover {
  background-color: #c9c9c9;
  background-image: url(../img/ic-arrow_darkblue.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-arrow_darkblue.png) no-repeat 5px center, linear-gradient(0deg, $white 0%, #f3f3f3 17.63%, #ebebeb 36.07%, #c9c9c9 100%));
  background:url(../img/ic-arrow_darkblue.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNDOUM5QzkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMC42MzkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0YzRjNGMyIgb2Zmc2V0PSIwLjgyMzciLz48c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnOTIyKSIgLz4KPC9zdmc+);
  @include filter-gradient(#c9c9c9, $white, vertical);
}

@mixin grd-mypagebutton-blue_hover {
  background-color: rgba($blue, 0.3);
  @include background-image(linear-gradient(rgba($blue, 0.8), rgba(#A9B2CD, 0.8)));
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NzQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM0RDVGOEMiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM5NzlDQjkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NzQpIiAvPgo8L3N2Zz4=);
  @include filter-gradient(#4D5F8C, #979CB9, vertical);
}

@mixin grd-addbutton {
  background-image: url(../img/ic-add.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-add.png) no-repeat 5px center, linear-gradient(rgba($white, 0.372) 0%, rgba(#fefefb, 0.372) 13.18%, rgba(#fcfbf0, 0.372) 25.81%, rgba(#f8f6dc, 0.372) 38.24%, rgba(#f3efc1, 0.372) 50.53%, rgba(#ede79e, 0.372) 62.73%, rgba(#e5dc73, 0.372) 74.87%, rgba(#dbcf40, 0.372) 86.95%, rgba(#d0c107, 0.372) 98.72%, rgba(#cfbf00, 0.372) 100%));
  background:url(../img/ic-add.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3ODAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRTUiIG9mZnNldD0iMC4xMzE4Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0Y5RjhFMiIgb2Zmc2V0PSIwLjI1ODEiLz48c3RvcCBzdG9wLWNvbG9yPSIjRkFGOUUyIiBvZmZzZXQ9IjAuMzgyNCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGOEY4RTAiIG9mZnNldD0iMC41MDUzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0Y1RjJEMSIgb2Zmc2V0PSIwLjYyNzMiLz48c3RvcCBzdG9wLWNvbG9yPSIjRjFFQ0M0IiBvZmZzZXQ9IjAuNzQ4NyIvPjxzdG9wIHN0b3AtY29sb3I9IiNFREU4QjgiIG9mZnNldD0iMC44Njk1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0VCRTdCNCIgb2Zmc2V0PSIwLjk4NzIiLz48c3RvcCBzdG9wLWNvbG9yPSIjRTlFNEFDIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNzgwKSIgLz4KPC9zdmc+);
  background-color: rgba(#FCFAD6, 0.6);
  @include filter-gradient($white, #E9E4AC, vertical);
}

@mixin grd-addbutton_hover {
  background-image: url(../img/ic-add.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-add.png) no-repeat 5px center, linear-gradient(rgba(#d5c64b, 0.372) 85.25%, rgba(#cfbf00, 0.372) 100%));
  background:url(../img/ic-add.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNzAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFOUU0QjAiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFN0UyQTkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNzApIiAvPgo8L3N2Zz4=);
  background-color: rgba(#FCFAD6, 0.6);
  @include filter-gradient(#E9E4B0, #E7E2A9, vertical);
}

@mixin grd-searchbutton {
  background-image: url(../img/ic-search.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-search.png) no-repeat 5px center, linear-gradient(rgba($white, 0.39) 0%, rgba(#fbfbff, 0.39) 22.65%, rgba(#f0f0ff, 0.39) 44.36%, rgba(#dcdeff, 0.39) 65.69%, rgba(#c1c4ff, 0.39) 86.66%, rgba(#aeb1ff, 0.39) 100%));
  background:url(../img/ic-search.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MzUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjkiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0VGRUZGOCIgb2Zmc2V0PSIwLjQiLz48c3RvcCBzdG9wLWNvbG9yPSIjRThFOEY0IiBvZmZzZXQ9IjAuNiIvPjxzdG9wIHN0b3AtY29sb3I9IiNFMEUxRjAiIG9mZnNldD0iMC44Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0Q5RDhFQyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzQzNSkiIC8+Cjwvc3ZnPg==);
  background-color: rgba(#E8E8FC, 0.5);
  @include filter-gradient(#F2F2F9, #D9D8EC, vertical);
}

@mixin grd-searchbutton_hover {
  background-image: url(../img/ic-search.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-search.png) no-repeat 5px center, linear-gradient(rgba(#b9b9dd, 0.39) 85.25%, rgba(#aeb1ff, 0.39) 100%));
  background:url(../img/ic-search.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NTMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNEOEQ4RUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNENkQ3RUIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c3NTMpIiAvPgo8L3N2Zz4=);
  background-color: rgba(#E8E8FC, 0.5);
  @include filter-gradient(#D8D8EB, #D6D7EB, vertical);
}

@mixin grd-groupsearchbutton {
  background-image: url(../img/ic-groupsearch.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-groupsearch.png) no-repeat 5px center, linear-gradient(rgba($white, 0.39) 0%, rgba(#fbfbff, 0.39) 22.65%, rgba(#f0f0ff, 0.39) 44.36%, rgba(#dcdeff, 0.39) 65.69%, rgba(#c1c4ff, 0.39) 86.66%, rgba(#aeb1ff, 0.39) 100%));
  background:url(../img/ic-groupsearch.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MzUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjkiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0VGRUZGOCIgb2Zmc2V0PSIwLjQiLz48c3RvcCBzdG9wLWNvbG9yPSIjRThFOEY0IiBvZmZzZXQ9IjAuNiIvPjxzdG9wIHN0b3AtY29sb3I9IiNFMEUxRjAiIG9mZnNldD0iMC44Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0Q5RDhFQyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzQzNSkiIC8+Cjwvc3ZnPg==);
  background-color: rgba(#E8E8FC, 0.5);
  @include filter-gradient(#F2F2F9, #D9D8EC, vertical);
}

@mixin grd-groupsearchbutton_hover {
  background-image: url(../img/ic-groupsearch.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  @include background(url(../img/ic-groupsearch.png) no-repeat 5px center, linear-gradient(rgba(#b9b9dd, 0.39) 85.25%, rgba(#aeb1ff, 0.39) 100%));
  background:url(../img/ic-groupsearch.png) no-repeat 5px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NTMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNEOEQ4RUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNENkQ3RUIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c3NTMpIiAvPgo8L3N2Zz4=);
  background-color: rgba(#E8E8FC, 0.5);
  @include filter-gradient(#D8D8EB, #D6D7EB, vertical);
}

@mixin grd-largeaddbutton {
  background-image: url(../img/ic-add_l.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  @include background(url(../img/ic-add_l.png) no-repeat 10px center, linear-gradient(rgba($white, 0.372) 0%, rgba(#fefefb, 0.372) 13.18%, rgba(#fcfbf0, 0.372) 25.81%, rgba(#f8f6dc, 0.372) 38.24%, rgba(#f3efc1, 0.372) 50.53%, rgba(#ede79e, 0.372) 62.73%, rgba(#e5dc73, 0.372) 74.87%, rgba(#dbcf40, 0.372) 86.95%, rgba(#d0c107, 0.372) 98.72%, rgba(#cfbf00, 0.372) 100%));
  background:url(../img/ic-add_l.png) no-repeat 10px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3ODAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRTUiIG9mZnNldD0iMC4xMzE4Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0Y5RjhFMiIgb2Zmc2V0PSIwLjI1ODEiLz48c3RvcCBzdG9wLWNvbG9yPSIjRkFGOUUyIiBvZmZzZXQ9IjAuMzgyNCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGOEY4RTAiIG9mZnNldD0iMC41MDUzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0Y1RjJEMSIgb2Zmc2V0PSIwLjYyNzMiLz48c3RvcCBzdG9wLWNvbG9yPSIjRjFFQ0M0IiBvZmZzZXQ9IjAuNzQ4NyIvPjxzdG9wIHN0b3AtY29sb3I9IiNFREU4QjgiIG9mZnNldD0iMC44Njk1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0VCRTdCNCIgb2Zmc2V0PSIwLjk4NzIiLz48c3RvcCBzdG9wLWNvbG9yPSIjRTlFNEFDIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNzgwKSIgLz4KPC9zdmc+);
  background-color: rgba(#FCFAD6, 0.6);
  @include filter-gradient($white, #E9E4AC, vertical);
}

@mixin grd-largeaddbutton_hover {
  background-image: url(../img/ic-add_l.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  @include background(url(../img/ic-add_l.png) no-repeat 10px center, linear-gradient(rgba(#d5c64b, 0.372) 85.25%, rgba(#cfbf00, 0.372) 100%));
  background:url(../img/ic-add_l.png) no-repeat 10px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNzAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFOUU0QjAiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFN0UyQTkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNzApIiAvPgo8L3N2Zz4=);
  background-color: rgba(#FCFAD6, 0.6);
  @include filter-gradient(#E9E4B0, #E7E2A9, vertical);
}

@mixin grd-largesearchbutton {
  background-image: url(../img/ic-search_l.png);
  background-repeat: no-repeat;
  background-position: 15px center;
  @include background(url(../img/ic-search_l.png) no-repeat 15px center, linear-gradient(rgba($white, 0.39) 0%, rgba(#fbfbff, 0.39) 22.65%, rgba(#f0f0ff, 0.39) 44.36%, rgba(#dcdeff, 0.39) 65.69%, rgba(#c1c4ff, 0.39) 86.66%, rgba(#aeb1ff, 0.39) 100%));
  background:url(../img/ic-search_l.png) no-repeat 15px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MzUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjkiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0VGRUZGOCIgb2Zmc2V0PSIwLjQiLz48c3RvcCBzdG9wLWNvbG9yPSIjRThFOEY0IiBvZmZzZXQ9IjAuNiIvPjxzdG9wIHN0b3AtY29sb3I9IiNFMEUxRjAiIG9mZnNldD0iMC44Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0Q5RDhFQyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzQzNSkiIC8+Cjwvc3ZnPg==);
  background-color: rgba(#E8E8FC, 0.5);
  @include filter-gradient(#F2F2F9, #D9D8EC, vertical);
}

@mixin grd-largesearchbutton_hover {
  background-image: url(../img/ic-search_l.png);
  background-repeat: no-repeat;
  background-position: 15px center;
  @include background(url(../img/ic-search_l.png) no-repeat 15px center, linear-gradient(rgba(#b9b9dd, 0.39) 85.25%, rgba(#aeb1ff, 0.39) 100%));
  background:url(../img/ic-search_l.png) no-repeat 15px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NTMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNEOEQ4RUIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNENkQ3RUIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c3NTMpIiAvPgo8L3N2Zz4=);
  background-color: rgba(#E8E8FC, 0.5);
  @include filter-gradient(#D8D8EB, #D6D7EB, vertical);
}

@mixin grd-tutorial {
  background-color: #c9c9c9;
  background-image: url(../img/ic-arrow_darkblue.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  @include background(url(../img/ic-arrow_darkblue.png) no-repeat 10px center, linear-gradient($white 0%, #fdfdfd 50.9%, #f6f6f6 69.24%, #ebebeb 82.3%, #dadada 92.79%, #c9c9c9 100%));
  background:url(../img/ic-arrow_darkblue.png) no-repeat 10px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxMDYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGREZERkQiIG9mZnNldD0iMC41MDkiLz48c3RvcCBzdG9wLWNvbG9yPSIjRjZGNkY2IiBvZmZzZXQ9IjAuNjkyNCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMC44MjMiLz48c3RvcCBzdG9wLWNvbG9yPSIjREFEQURBIiBvZmZzZXQ9IjAuOTI3OSIvPjxzdG9wIHN0b3AtY29sb3I9IiNDOUM5QzkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cxMDYpIiAvPgo8L3N2Zz4=);
  @include filter-gradient($white, #c9c9c9, vertical);
}

@mixin grd-tutorial_hover {
  background-color: rgba(#C2C2C2, 0.6);
  background-image: url(../img/ic-arrow_darkblue.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  @include background(url(../img/ic-arrow_darkblue.png) no-repeat 10px center, linear-gradient(0deg, $white 0%, #f3f3f3 17.63%, #ebebeb 36.07%, #c9c9c9 100%));
  background:url(../img/ic-arrow_darkblue.png) no-repeat 10px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1NjkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNDOUM5QzkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMC42MzkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0YzRjNGMyIgb2Zmc2V0PSIwLjgyMzciLz48c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNTY5KSIgLz4KPC9zdmc+);
  @include filter-gradient(#c2c2c2, $white, vertical);
}

@mixin grd-appbtn {
  background-color: #c9c9c9;
  background-image: url(../img/ic-arrow_blue.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  @include background(url(../img/ic-arrow_blue.png) no-repeat 10px center, linear-gradient($white 0%, #fdfdfd 50.9%, #f6f6f6 69.24%, #ebebeb 82.3%, #dadada 92.79%, #c9c9c9 100%));
  background:url(../img/ic-arrow_blue.png) no-repeat 10px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxMDYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGREZERkQiIG9mZnNldD0iMC41MDkiLz48c3RvcCBzdG9wLWNvbG9yPSIjRjZGNkY2IiBvZmZzZXQ9IjAuNjkyNCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMC44MjMiLz48c3RvcCBzdG9wLWNvbG9yPSIjREFEQURBIiBvZmZzZXQ9IjAuOTI3OSIvPjxzdG9wIHN0b3AtY29sb3I9IiNDOUM5QzkiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cxMDYpIiAvPgo8L3N2Zz4=);
  @include filter-gradient($white, #c9c9c9, vertical);
}

@mixin grd-appbtn_hover {
  background-color: rgba(#C2C2C2, 0.6);
  background-image: url(../img/ic-arrow_blue.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  @include background(url(../img/ic-arrow_blue.png) no-repeat 10px center, linear-gradient(0deg, $white 0%, #f3f3f3 17.63%, #ebebeb 36.07%, #c9c9c9 100%));
  background:url(../img/ic-arrow_blue.png) no-repeat 10px center, url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1NjkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNDOUM5QzkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQkVCRUIiIG9mZnNldD0iMC42MzkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0YzRjNGMyIgb2Zmc2V0PSIwLjgyMzciLz48c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNTY5KSIgLz4KPC9zdmc+);
  @include filter-gradient(#c2c2c2, $white, vertical);
}

@mixin grd-gray {
  background: $gray;
  @include background-image(linear-gradient(top, $gray, #383838));
  //@include filter-gradient($gray, #383838, vertical);
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1ODgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2NjY2NjYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzODM4MzgiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1ODgpIiAvPgo8L3N2Zz4=);
}

@mixin btn-blue-left {
  @include border-radius(5px);
  background: #0069ac;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNjEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwMDY5QUMiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDVBOTYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNjEpIiAvPgo8L3N2Zz4=);
  @include background-image(linear-gradient(left, #0069ac, $blue));
  border: none;
  color: $white;
  text-align: center;
  &:hover {
    background: $blue;
  }
}

@mixin btn-gry {
  padding: 6px 12px;
  @include border-radius(5px);
  background: #cccccc;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4MzIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNDQ0NDQ0MiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNCQkJCQkIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4MzIpIiAvPgo8L3N2Zz4=);
  @include background-image(linear-gradient(top, #cccccc, #bbbbbb));
  border: none;
  color: $text;
  text-align: center;
  &:hover {
    background: #bbbbbb;
  }
}

@mixin r-arrow {
  display: inline-block;
  padding: 5px 8px 5px 30px;
  border: 1px solid #282828;
  background: #383838 url(../img/r-arrow.png) no-repeat 14px center;
  color: $white;
  text-decoration: none;
  &:hover {
    background-color: #666666;
  }
}

@mixin l-arrow-bk {
  display: inline-block;
  padding-left: 15px;
  background: url(../img/l-arrow-bk.png) no-repeat 2px center;
}

@mixin fill-gray {
  border: 1px solid #282828;
  background-color: #383838;
  color: $white;
  &:hover {
    background-color: #666666;
  }
}

@mixin input {
  border: 1px solid #ddcfcc;
  @include box-sizing(border-box);
  background-color: #ffffff;
  &:focus {
    @include box-shadow(inset 0 0 3px #cccccc);
  }
}
