// -----------------------------------------------------------------------------
// element

html {
  font-family: Meiryo;
}
body {
  margin: 10px;
  font-family: Meiryo;
  font-size: 75%;
  color: #444;
}
h1, h2, h3, h4, h5 {
  margin: 0px;
  font-size: 100%;
  font-weight: normal;
}
img {
  vertical-align: middle;
}

// -----------------------------------------------------------------------------
// layout

.example, .tabs, .pages, .nodes {
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
}

.opendata-mypage-login {
  display: table;
  margin: 20px;
  padding: 20px;
  background-color: #eee;
  input[type=submit] {
    margin: 10px 0px 0px;
  }
}
dl.see {
  margin: 0px 0px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  dd {
    margin: 0px 0px 0px 20px;
  }
}
