<article class="routes-view">
  <% @items.each do |mod_name, mod| %>
  <article class="mod-<%= mod_name %>">
    <h1><%= mod[:name] %></h1>
    <div>
      <% mod[:items].each do |name, path| %>
      <%= link_to name, "?route=#{path}", target: "_self" %>
      <% end %>
    </div>
  </article>
  <% end %>
</article>
