<dl class="see">
  <dt><%= t('gws/circular.seen_user_info.title') %></dt>
  <dd>
    <span><%= t('gws/circular.seen_user_info.format', count: @item.browsed_users.count, total: @item.folder.overall_members.count) %></span>
    <%= link_to t('gws/circular.seen_user_info.more'), gws_notice_apis_members_path(notice_id: @item), class: %w(btn ajax-box) %></dd>
</dl>
