<%

categories = Opendata::Node::Area.site(@cur_site).sort(order: 1)

def cate_form(item)
  h  = %Q[<label style="margin-right: 10px;">]
  h << f.check_box("area_ids[]", {}, item._id)
  h << %Q[#{item.name}</label>]

  h.html_safe
end

%>
<dl class="see mod-opendata-data_group">
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "area_ids[]", value: "" %>

    <% categories.each do |cate| %>
    <span style="inline-block"><%= cate_form cate %></span>
    <% end %>
  </dd>
</dl>
