
<% if @idea_ds.dataset_ids.length > 0 %>
<div class="detail">
  <% dataset = @idea_ds.datasets[0] %>
  <div class="info-wrap">
    <div class="dataset_header">関連データセット</div>
    <% if dataset %>
      <div class="dataset"><%= link_to dataset.name, dataset.url %></div>
      <div class="dataset_text"><%= dataset.text %></div>
    <% else %>
      <div class="dataset"><%= "存在しません" %></div>
    <% end %>
  </div>
</div>
<% end %>
