<nav class="nav-menu">
  <%= link_to t("webmail.links.back_to_contents"), webmail_mails_path(account: params[:account] || @cur_user.imap_default_index) %>
  <%= link_to t('ss.links.back_to_index'), action: :index if params[:action] !~ /index/ %>
</nav>
