<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<dl class="see addon-gws-workflow-group-setting">
  <dt><%= @model.t :workflow_new_days %><%= @model.tt :workflow_new_days %></dt>
  <dd class="short"><%= f.number_field :workflow_new_days %> <span class="postfix"><%= t("datetime.prompts.day") %></span></dd>
</dl>
