// schedule

.gws-schedule-tabs {
  @include clear;
  a {
    display: block;
    float: left;
    min-width: 100px;
    margin: 0 0 -1px 10px;
    padding: 4px 0;
    border: 1px solid $gray4;
    border-radius: 3px 3px 0 0;
    background-color: $gray5;
    color: #000;
    text-align: center;
    &:hover {
      background-color: #fff;
      text-decoration: none;
    }
  }
  a.current {
    border-bottom-color: #fff;
    background-color: #fff;
  }
}

//
// FullCalendar
//
.fc-view table {
  box-sizing: border-box;
}
.fc-left h2 {
  margin: 5px 0 -5px;
  font-size: 120%;
}
.fc-right .fc-button, .fc-today-button {
  min-width: 80px;
}
.fc-month-view .fc-body .fc-row {
  min-height: 7em;
}
.fc-basicWeek-view .fc-body .fc-row {
  min-height: 35em;
}
.calendar.multiple .fc-basicWeek-view .fc-body .fc-row {
  min-height: 4em;
}
.fc-head {
  background-color: #eee;
  th {
    padding: 4px;
  }
}
.fc-view-container {
  background-color: #fff;
}

// days
.fc-day-header.fc-sun {
  background: #fff0f0;
}
.fc-day-header.fc-sat {
  background: #e0f4ff;
}
.fc-ltr .fc-basic-view .fc-day-number {
  padding-left: 4px;
  text-align: left;
}
.fc-sun {
  color: #e00;
}
.fc-sat {
  color: #04d;
}
.fc-day.fc-sun {
  //background: #fff8f8;
}
.fc-day.fc-sat {
  //background: #f6faff;
}
.fc-unthemed .fc-today {
  background: #ffb;
}

// events
.fc-event {
  padding: 1px 1px 1px 2px;
  border: none;
  border-radius: 0;
  font-size: 90%;
}
.fc-time-grid-event .fc-time, .fc-time-grid-event.fc-short .fc-title {
  font-size: 90%;
}
.fc-day-grid-event .fc-time {
  font-weight: normal;
}
.fc-event-allday {
  border-right: 2px solid #000;
}
.fc-event-one {
  background: transparent;
  color: $orange;
  cursor: pointer;
  &:hover { color: $orange; text-decoration: underline; }
}
.fc-event-days {
  border-color: #966;
  background-color: #fd8;
  background-image: url(/assets/img/gws/bg-plan.png);
  color: #000;
  &:hover { color: #000; text-decoration: underline; }
}
.fc-agenda-view .fc-event-one {
  background-color: #bdf;
  color: #000;
}
.fc-event-repeat.fc-event-one {
  color: #38c;
}
.fc-event-repeat.fc-event-days {
  border-color: #49c;
  background-color: #bdf;
  color: #000;
}
.fc-holiday {
  background: #9d6;
  background-image: url(/assets/img/gws/bg-plan.png);
  color: #000;
  &:hover { color: #000; }
}

//
// original settings
//
.fc-loading {
  display: inline-block;
  padding: 4px;
  margin-top: 1.5em;
  color: #ccc;
}
.calendar-menu {
  a {
    @include arrow;
  }
}
#calendar-controller {
  //.fc-widget-header { border-bottom-width: 0; }
  .fc-body { display: none; }
}
.calendar.multiple {
  .fc-toolbar, .fc-head { display: none; }
}
.calendar-name {
  text-align: left;
  padding: 5px;
  border: 1px solid #ddd;
  border-width: 0 1px;
  background: #eee;
  .add-plan {
    float: right;
    color: #888;
    &:hover { color: $orange; }
  }
}
.calendar {
  ~ .calendar .fc-row-name td {
    border-top-width: 0;
  }
}

// category
.gws-schedule-category-sample {
  padding: 0 5px;
  background-image: url(/assets/img/gws/bg-plan.png);
  font-size: 90%;
}

// plan form
.date-options {
  padding: 5px 5px 0;
}

// repeat form
dl.gws-schedule-repeat {
  margin-top: 15px;
  label {
    margin: 0 2px;
    input {
      vertical-align: middle;
    }
  }
}
.checks_with_errors {
  display: inline;
  border: 1px solid #e00;
}
