// gws-schedule

.gws-schedule-tool-calendars {
  display: none;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  width: 211px;
  padding: 5px 0 20px;
  border-right: 1px solid #ccc;
  background-color: #fff;
  .xdsoft_datetimepicker {
    margin: 0 1px 2px;
    padding: 0;
    border: 0;
    box-shadow: none;
    vertical-align: top;
    .xdsoft_month {
      width: 70px;
    }
    .xdsoft_label {
      cursor: auto;
      &:hover > span {
        text-decoration: none;
      }
    }
    .xdsoft_other_month {
      pointer-events: none;
    }
  }
  .xdsoft_datepicker {
    width: 190px;
  }
  .controller {
    display: block;
    width: 190px;
    margin-left: 8px;
  }
  @include mb {
    top: auto;
  }
}
.gws-schedule-tabs, .gws-tabs {
  @include clear;
  margin-top: -1px;
  padding: 0 10px;
  a {
    display: block;
    margin: 1px 6px -1px 0;
    float: left;
    border: 1px solid $gray4;
    border-left: 3px solid #bbb;
    border-radius: 0 4px 0 0;
    background-color: $gray5;
    color: #000;
    @include mb {
      margin: 1px 6px 6px 0;
      border-radius: 4px;
    }
    .tab-name {
      display: block;
      padding: 5px 8px;
      text-align: center;
    }
    &:hover {
      border-left-color: $orange;
      background-color: #fff;
      text-decoration: none;
    }
  }
  a.current {
    border-bottom-color: #fff;
    border-left-color: $orange;
    background-color: #fff;
    @include mb {
      border-bottom-color: #bbb;
    }
  }
}
.gws-schedule-box {
  header {
    @include clear;
    line-height: 1.4;
    .approval-check {
      margin-left: 6px;
      padding: 1px 5px;
      color: #fff;
      background-color: #84e;
      border-radius: 4px;
      font-weight: normal;
    }
    .add-plan {
      margin-left: 6px;
      padding: 2px 5px;
      border-radius: 4px;
      background-color: #f40;
      color: #fff;
      font-size: 95%;
      font-weight: normal;
      text-decoration: none;
      &:hover {
        background-color: #f60;
      }
    }
    .search {
      margin: -5px 0 -5px 20px;
      float: right;
      @include mb {
        margin: 0;
        float: none;
        input[type="text"] {
          width: auto !important;
        }
      }
    }
    .operations {
      margin: -5px 0 -5px 20px;
      float: right;
      @include mb {
        margin: 0;
        .btn-print { display: none; }
      }
    }
    h2 .search {
      margin: -5px 0;
    }
  }
}
.gws-schedule-search {
  .send {
    padding-top: 0;
    @include mb {
      margin-top: 10px;
    }
  }
}
.gws-schedule-search-field {
  dt a {
    font-weight: normal;
  }
  .wdays-field {
    margin-left: 10px;
    label {
      margin-right: 2px;
    }
  }
}
.gws-schedule-search-hr {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
.gws-schedule-search-times-result {
  .date {
    padding: 0 10px;
    border-bottom: 1px solid #eee;
  }
  .sat {
    color: #04d;
  }
  .sun {
    color: #e00;
  }
  .label, .member, .facility, .hour-wrap, .reservation {
    display: table-cell;
  }
  .label {
    width: 12rem;
    margin: 1px 0;
    padding: 5px 1px;
  }
  .member, .facility {
    width: 16rem;
    margin: 1px 0;
    padding: 5px 10px 5px 1px;
  }
  .hour-wrap {
    padding: 5px 1px;
  }
  .reservation {
    min-width: 4.5em;
    margin: 1px 8px;
    padding: 5px 1px;
  }
  .hour {
    display: inline-block;
    min-width: 1.9em;
    padding: 1px 2px;
    border: $white 1px solid;
    border-radius: 3px;
    background-color: #d4d4d4;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .free {
    background-color: #999;
    color: #fff;
  }
  .hour.exist {
    &:hover {
      background-color: #e70;
    }
  }
  .hour.registered {
    cursor: pointer;
    &:hover {
      background-color: $orange;
    }
  }
  .active {
    background-color: #ffc;
  }
  .reservation.free {
    background-color: transparent;
    color: $black3;
  }
  .reservation.exist {
    color: $orange;
  }
  .user-tooltip {
    position: absolute;
    z-index: 10000;
    padding: 8px;
    overflow: auto;
    border: 1px solid #d0d0d0;
    background: #fff;
    box-shadow: 0 1px 6px #d0d0d0;
    color: #000;
    white-space: nowrap;
  }
}
#cboxLoadedContent .gws-schedule-box .user-tooltip {
  position: fixed;
}
.gws-schedule-search-overall-result {
  margin: 0 0 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 800;
  .reservation-valid.free {
    padding-left: 10px;
    color: $black3;
  }
  .reservation-valid.exist {
    padding-left: 10px;
    color: $orange;
  }
  .duplicate-register-message {
    color: #e00;
  }
  .reservation-errors {
    color: $orange;
  }
}
#addon-gws-agents-addons-schedule-comments {
  .list-items {
    margin: 10px 0;
    .list-item {
      padding: 0;
    }
  }
}

// Form
.gws-schedule-repeat-submit {
  padding: 20px;
  input {
    min-width: 200px;
    cursor: pointer;
  }
  .gws-schedule-btn-space {
    display: block;
    height: 15px;
  }
}
//
// FullCalendar
//
.fc-toolbar h2 {
  margin: 2px 0 -2px;
  border-bottom: 1px solid #333;
  font-size: 120%;
  cursor: pointer;
  &:hover {
    border-color: $orange;
    color: $orange;
  }
  @include mb {
    margin: 10px 0 !important;
    clear: both;
  }
}
.fc-view table {
  box-sizing: border-box;
}
.fc-right .fc-button, .fc-today-button {
  min-width: 50px;
}
.fc-month-view .fc-body .fc-row {
  min-height: 7em;
}
.fc-basicWeek-view .fc-body .fc-row {
  min-height: 35em;
}
.calendar.multiple .fc-basicWeek-view .fc-body .fc-row {
  min-height: 4em;
}
.fc-head {
  background-color: #eee;
  th {
    padding: 4px;
  }
}
.fc-button {
  z-index: 0 !important;

  .fc-icon {
    &.fc-icon-gws-schedule-calendar-reload {
      &:after {
        content: "\E5D5";
        left: -1px;
        font-family: "Material Icons";
        font-size: 108%;
        font-weight: bold;
      }
    }
  }
}
.fc-view-container {
  background-color: #fff;
}
.print-preview {
  .fc-unthemed {
    th, td {
      border-style: solid;
      border-color: #000;
    }
  }
}
@include mb {
  .fc-right {
    margin: 0 0 10px;
    .fc-button {
      margin: 5px 5px 5px 0;
    }
  }
}

// days
.fc-day-header.fc-sun {
  background: #fff0f0;
}
.fc-day-header.fc-sat {
  background: #e0f4ff;
}
.fc-ltr .fc-basic-view .fc-day-number {
  padding-left: 4px;
  text-align: left;
}
.fc-sun {
  color: #e00;
}
.fc-sat {
  color: #04d;
}
.fc-day.fc-sun {
  //background: #fff8f8;
}
.fc-day.fc-sat {
  //background: #f6faff;
}
.fc-unthemed .fc-today {
  background: #ffb;
}

// events
@mixin fc_event_prefix {
  display: inline-block;
  margin-top: 1px;
  margin-right: 1px;
  padding: 0 2px;
  border-radius: 2px;
  color: $white;
}
.fc-event {
  border: 0;
  border-radius: 0;
  font-size: 90%;
  cursor: pointer;
  &:hover {
    color: $black;
  }
  .fc-content {
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
    .fc-date + .fc-title {
      margin-left: 0;
      padding-left: 4px;
    }
    .fc-category {
      @include fc_event_prefix;
      background-color: $orange;
    }
    .fc-facility:before {
      @include fc_event_prefix;
      content: "設";
      background-color: #777;
    }
    .fc-title,.fc-facility {
      display: block;
    }
  }
}
.fc-time-grid-event {
  margin-bottom: 1px;
}
.fc-time-grid-event .fc-content:before {
  float: left;
}
.fc-time-grid-event .fc-time, .fc-time-grid-event.fc-short .fc-title {
  font-size: 90%;
}
.fc-time-grid-event .fc-resizer {
  display: none;
}
.fc-time-grid-event:hover .fc-resizer {
  display: block;
}
.fc-event-point {
  background-color: transparent;
  color: #f25a38;
  cursor: pointer;
  &:hover {
    color: #f25a38;
    text-decoration: underline;
  }
}
.fc-time-grid-event {
  background-color: #2eb0f2;
  color: $black;
  &:hover {
    color: $black;
  }
}
.fc-time-grid-event {
  background-color: #2eb0f2;
}
.fc-event-range {
  padding: 1px 2px;
  background-color: #fd8;
  background-image: url(/assets/img/gws/bg-plan.png);
  color: #000;
  &:hover { color: #000; text-decoration: underline; }
  .fc-content {
    //@include ellipsis;
    .fc-title,.fc-facility {
       display: inline;
    }
  }
  &.fc-resizable {
    border-right: 2px solid #966;
  }
}
.fc-agenda-view .fc-day-grid .fc-event-point {
  background-color: #bdf;
  color: #000;
}
.fc-event-repeat.fc-event-point {
  color: #38c;
}
.fc-event-repeat.fc-event-range {
  border-color: #49c;
  background-color: #bdf;
  color: #000;
}
.fc-event-private .fc-title:before {
  @include fc_event_prefix;
  content: "秘";
  background-color: #f0b;
}
.fc-event-user-attendance-unknown .fc-title:before {
  @include fc_event_prefix;
  content: "未";
  background-color: #f0b;
}
.fc-event-user-attendance-absence .fc-title:before {
  @include fc_event_prefix;
  content: "不";
  background-color: #f0b;
}
.fc-event-approval-request .fc-title:before {
  @include fc_event_prefix;
  content: "申";
  background-color: #84e;
}
.fc-event-approval-approve .fc-title:before {
  @include fc_event_prefix;
  content: "認";
  background-color: #84e;
}
.fc-event-approval-deny .fc-title:before {
  @include fc_event_prefix;
  content: "否";
  background-color: #84e;
}

.fc-holiday {
  background: #9d6;
  background-image: url(/assets/img/gws/bg-plan.png);
  color: #000;
  &:hover { color: #000; }
}

.fc-event-work {
  border-right: 0px;
}

// View: agendaDay
.fc-agendaDay-view {
  .fc-time-grid-event {
    margin-right: 5px;
  }
  .fc-event {
    div.fc-title {
      display: flex;
      white-space: nowrap;
      .fc-event-name {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .fc-facility {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
}

// View: listMonth
.fc-listMonth-view {
  table {
    display: none;
  }
}
.fc-listMonth-view-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  .tr {
    display: table-row;
    border-bottom: 1px solid #eee;
  }
  .td {
    display: table-cell;
    padding: 8px;
    white-space: nowrap;
    .summary {
      color: #888;
      font-size: 90%;
      white-space: normal;
    }
  }
  .date {
    width: 130px;
  }
  .time {
    width: 50px;
  }
  .startAt {
    width: 120px;
  }
  .endAt {
    width: 120px;
  }
  .delimiter {
    width: 2px;
    padding-right: 0;
    padding-left: 0;
  }
  .fc-event {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
// View: timelineDay
.fc-timelineDay-view {
  .fc-scrollpane, .fc-scrollpane-inner {
    overflow: visible;
  }
  .fc-scrollpane > div {
    overflow: visible !important;
  }
  .fc-scrollpane-inner {
    min-height: 38px;
  }
  .fc-body .fc-scrollpane-inner {
    padding-top: 4px;
  }
  .fc-event {
    z-index: 0;
    margin-left: 1px;
    border-bottom: 1px solid #d8d8d8;
  }
  .fc-timeline-event {
    min-width: calc(1em + 5px);
    background: #2eb0f2;
    color: $black;
    .fc-title {
      max-height: 230px;
    }
  }
}
// View: basicHour
.fc-basicHour-view {
  .fc-hour- {
    &0,&1,&2,&3,&4,&5,&6,&7 {
      background-color: #f4f4f4;
    }
    &8,&9,&10,&11 {
      background: #ffebeb;
      color: #e00;
    }
    &12,&13,&14,&15,&16,&17 {
      background: #fff0d0;
      color: #f60;
    }
    &18,&19,&20,&21,&22,&23 {
      background: #e0f4ff;
      color: #04d;
    }
  }
  .fc-body .fc-row {
    min-height: 23px;
  }
  .fc-event {
    z-index: 0;
    border-left: 1px solid #555;
  }
}
.fc-list-format {
  .info {
    a {
      padding: 2px;
      .fc-content {
        .fc-title {
          display: inline-block;
        }
        .fc-facility {
          display: inline-block;
          padding-left: 10px;
        }
      }
    }
    .summary {
      margin-top: 2px;
      padding: 2px;
    }
  }
}
// Print View
.print-preview {
  .fc-listMonth-view-table {
    .tr {
      border-bottom: 1px solid #000;
    }
  }
  .fc-event {
    color: #333 !important;
  }
  .fc-event .fc-content {
    white-space: normal !important;
  }
  .fc-day-grid-event, .fc-timeline-event {
    padding: 1px 0;
    border-bottom: 1px solid #555;
    background-color: #f4f4f4 !important;
  }
  .fc-event .fc-content:before {
    border: 1px solid #333;
    border-width: 0 1px;
    background-color: transparent;
    color: #333 !important;
  }
}

// popup
.fc-agenda-view .fc-day-grid {
  z-index: 0;
}
.fc-event {
  overflow: visible;
  border-radius: 3px;
}
.fc-popup {
  position: relative;
  height: 100%;
  min-height: 30px;
  overflow: auto;
  background: $white;
  color: $black;
  font-weight: normal;
  text-align: left;
  cursor: auto;
  .popup-title {
    @include ellipsis;
    font-size: 120%;
    word-wrap: normal;
    word-break: normal;
  }
  .popup-date {
    padding: 2px 0 0;
  }
  .popup-description {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #eee;
    .text {
      max-height: 70px;
      overflow: auto;
      color: #222;
      font-size: 90%;
    }
  }
  .popup-attributes {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #eee;
    font-size: 90%;
    .popup-attr {
      @include clear;
      margin: 2px 0;
    }
    .popup-label {
      display: inline-block;
      min-width: 60px;
      float: left;
    }
    .popup-value {
      margin-left: 60px;
      .tel {
        margin-left: 5px;
      }
    }
    .custom-group-name {
      color: #07d;
    }
    .custom-group-members {
      display: none;
      margin: 2px 0;
      padding: 5px;
      border-left: 4px solid #ccc;
    }
  }
  .popup-menu {
    margin-top: 5px;
    padding-top: 8px;
    border-top: 1px solid #eee;
    text-align: center;
    a { margin: 0 10px; }
  }
}

//
// original settings
//
.fc-loading {
  display: inline-block;
  position: absolute;
  z-index: 2;
  padding: 0 5px;
  background-color: #6ad;
  color: #fff;
}

// multiple calendar
#calendar-controller {
  .fc-view-container .fc-timelineDay-view {
    height: 35px;
    overflow: hidden;
  }
}
.calendar.multiple {
  .fc-toolbar, .fc-head {
    display: none;
  }
}
.calendar-multiple-header {
  @include clear;
  padding: 5px 8px;
  border: 1px solid #ddd;
  border-width: 0 1px;
  background-color: #f9f9f9;
  @include background(linear-gradient(#fff, #eee));
  a {
    color: #444;
    &:hover { color: $orange; }
  }
  .approval-check {
    margin-left: 6px;
    padding: 1px 5px;
    color: #fff;
    background-color: #84e;
    border-radius: 4px;
  }
  .add-plan {
    margin-left: 6px;
    padding: 1px 5px;
    border-radius: 4px;
    background-color: #f40;
    color: #fff;
    text-decoration: none;
    &:hover {
      background-color: #f60;
      color: #fff;
    }
  }
  .calendar-name {
    font-weight: bold;
  }
  .calendar-attr {
    float: right;
    span {
      margin-left: 8px;
    }
  }
}
.calendar {
  ~ .calendar .fc-row-name td {
    border-top-width: 0;
  }
}

// facility calendar
.calendar.facility .fc-facility {
  display: none;
}

// category
.gws-schedule-color-block {
  padding: 0 5px;
  background-image: url(/assets/img/gws/bg-plan.png);
  font-size: 90%;
}

// plan form
.date-options {
  padding: 5px 5px 0;
}

// repeat form
dl.gws-schedule-repeat {
  margin-top: 15px;
  label {
    margin: 0 2px;
    input {
      vertical-align: middle;
    }
  }
}
.checks_with_errors {
  display: inline;
  border: 1px solid #e00;
}

.gws-groups-operation {
  margin: 5px 0;
}

// todo
.todo-over {
  margin-left: 5px;
  color: #e00;
  &:before {
    content: "\E002";
    display: inline;
    font-family: "Material Icons";
    font-size: 108%;
    vertical-align: -3px;
  }
}

.gws-achievement-bar {
  display: inline-block;
  width: 6em;
}

.gws-schedule-todo-index {
  @include display-flex;

  .navi {
    width: 30%;
    margin-right: 10px;
    border: $border-gray4;
    @include box;
  }

  .main {
    flex: 1;
  }
}

.gws-schedule-todo-categoy-navi {
  padding: 10px;

  .title {
    margin: -10px -10px 10px;
    padding: 10px 12px;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
    &:before {
      content: " ";
      margin-right: 6px;
      padding-left: 3px;
      background: #f25a38;
    }
  }
}

.gws-schedule-todo-index {
  .list-item-switch {
    display: inline-block;
    width: 26px;
    text-align: center;
  }
}

.gws-comment-post {
  .comment {
    margin: 5px 0;
    padding: 0 5px;
    border-bottom: $border-gray1;
  }

  .total {
    padding: 10px;
    border-radius: 3px;
    background: #f2f2f2;
  }

  .row {
    width: 100%;
    padding: 5px 0;
  }

  .user {
    color: $orange3;
    font-weight: bold;
  }

  .achievement-rate {
    margin-right: 10px;
  }

  .worktime-minutes {
    margin-right: 10px;
  }

  .overtime-minutes {
    margin-right: 10px;
  }

  .toolbar {
    @include display-flex(flex);
    @include justify-content(flex-end);

    .btn {
      margin-left: 5px;
    }
  }

  @include mb {
    .achievement-rate-unit {
      display: none;
    }
  }
}

.gws-schedule-csv {
  .import-log { min-height: 2em; }
  .import-loading { color: #bbb; }
  .import-exist { color: #bbb; }
  .import-saved { color: #06d; }
  .import-error { color: #e00; }
}
