//
// FullCalendar
//
.fc-view table {
  box-sizing: border-box;
}
.fc-left h2 {
  margin: 5px 0 -5px;
  font-size: 120%;
}
.fc-right .fc-button, .fc-today-button {
  min-width: 80px;
}
.fc-month-view .fc-body .fc-row {
  min-height: 7em;
}
.fc-basicWeek-view .fc-body .fc-row {
  min-height: 35em;
}
.calendar.multiple .fc-basicWeek-view .fc-body .fc-row {
  min-height: 4em;
}
.fc-head {
  background-color: #eee;
  th {
    padding: 4px;
  }
}
.fc-view-container {
  background-color: #fff;
}

// days
.fc-ltr .fc-basic-view .fc-day-number {
  //text-align: left;
  //cursor: pointer;
  &:hover {
    //font-weight: bold;
    //text-decoration: underline;
  }
}
.fc-sun {
  color: #e00;
}
.fc-sat {
  color: #04b;
}
.fc-day.fc-sun {
  background: #fff8f8;
}
.fc-day.fc-sat {
  background: #f6faff;
}
.fc-unthemed .fc-today {
  background: #Ffd;
  font-weight: bold;
}

// events
.fc-event {
  font-size: 90%; //0.85em
  &:hover {
    opacity: 0.8;
  }
}
.fc-holiday {
  border-color: transparent;
  background: transparent;
  color: #e00;
  &:hover {
    color: #e00;
  }
}

//
// original settings
//
.fc-loading {
  padding: 4px;
  color: #ddd;
}
.calendar-menu {
  position: relative;
  top: -43px;
  right: 5px;
  margin: 0 0 -18px;
  text-align: right;
  a {
    @include arrow;
  }
}
#calendar-controller {
  .fc-body { display: none; }
}
.calendar.multiple {
  .fc-toolbar, .fc-head { display: none; }
}
.calendar-name {
  text-align: left;
  padding: 5px;
  border: 1px solid #ddd;
  border-width: 0 1px;
  background: #eee;
  .add-plan {
    float: right;
    color: #888;
    &:hover { color: $orange; }
  }
}
.calendar {
  ~ .calendar .fc-row-name td {
    border-top-width: 0;
  }
}

// category
.gws-schedule-category-sample {
  padding: 0 5px;
  font-size: 90%;
}
