// -------------------------------------------------------------------------------------------------
// Markdown

.ss-addon-markdown-toolbar {
  .btn {
    margin-left: 5px;
  }
  .active {
    background: #ddd;
    color: #888;
  }
  .ss-addon-markdown-help-button {
    float: right;
    margin: 14px 0 0;
  }
}
