// -------------------------------------------------------------------------------------------------
// Markdown

.ss-addon-markdown-toolbar {
  margin: 0 0 10px;
  .btn {
    margin-left: 5px;
  }
  .ss-addon-markdown-help-button {
    margin: 14px 0 0;
    float: right;
  }
}
