.ss-image-edit-canvas {
  position: relative;
  margin-top: 20px;

  .ss-toolbar {
    display: block;
    position: absolute;
    top: -20px;
    left: 0px;
    background: $black3;
    height: 40px;
    min-width: 40px;
    border-radius: 2px;
    white-space: nowrap;
    padding: 0 5px;
    z-index: 100;
    color: $white;

    &:before {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 20px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $black3;
    }
  }

  .ss-btn-group {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 40px;
    vertical-align: top;
  }

  .ss-input-group {
    display: inline-block;
    margin: 4px 0;
    padding: 0 2px;

    label {
      display: inline-block;
    }
    input {
      width: 4em;
      background: $gray4;
      border-width: 1px;
      padding: 6px;
    }
    select {
      height: 32px;
      background: $gray4;
    }
  }

  .btn {
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    padding: 2px 0 0 0;
    width: 40px;
    height: 40px;
    color: $white;
  }

  .ss-btn-group ~ .ss-btn-group {
    border-left: 1px solid $gray2;
    //border-right: 1px solid $gray1;
  }
}
