// -------------------------------------------------------------------------------------------------
// init

@import "compass-mixins/lib/compass";

// -------------------------------------------------------------------------------------------------
// define

$font-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","MS PGothic","ＭＳ　Ｐゴシック",sans-serif;

//font-size
$px10:77%;
$px11:85%;
$px12:93%;
$px13:100%;
$px14:108%;
$px15:116%;
$px16:124%;
$px17:131%;
$px18:139%;
$px19:147%;
$px20:154%;
$px21:162%;
$px22:170%;
$px23:177%;
$px24:185%;
$px25:193%;
$px26:200%;
$px27:208%;
$px28:216%;
$px29:224%;
$px30:231%;
$px31:239%;
$px32:247%;
$px33:254%;
$px34:262%;
$px35:270%;
$px36:277%;
$px37:285%;
$px38:293%;
$px39:300%;
$px40:308%;
$px41:316%;
$px42:324%;
$px43:331%;
$px44:339%;
$px45:347%;
$px46:354%;
$px47:362%;
$px48:370%;
$px49:377%;
$px50:385%;
$px51:393%;
$px52:400%;
$px53:408%;
$px54:416%;
$px55:424%;
$px56:431%;
$px57:439%;
$px58:447%;
$px59:454%;
$px60:462%;
$px61:470%;
$px62:477%;
$px63:485%;
$px64:493%;
$px65:500%;
$px66:508%;
$px67:516%;
$px68:524%;
$px69:531%;
$px70:539%;
$px71:547%;
$px72:554%;

// color
$gray1: #f2f2f2;
$gray2: #999999;
$gray3: #424242;
$gray4: #d0d0d0;
$gray5: #666;


$white: #ffffff;
$black: #000000;
$black2: #222;
$black3: #333;
$red: #ba1f24;

$orange: #f25a38;
$orange2: #fbeee8;
$orange3: #a0522d;
$blue: #0066cc;

$pink: #ea4c89;

//border
$border-black: 1px solid $black;
$border-black2: 1px solid $black2;
$border-gray1: 1px solid $gray1;
$border-gray2: 1px solid $gray2;
$border-gray4: 1px solid $gray4;
$border-gray5: 1px solid $gray5;
$border-white: 1px solid $white;

@mixin pc {
  @content;
}
@mixin mb {
  @media only screen and (max-width: 768px) { @content; }
}
@mixin clear {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
@mixin arrow {
  padding-left: 25px;
  background: url(/assets/img/ic-arrow16-off.png) no-repeat left center;
  &:hover {
    background: url(/assets/img/ic-arrow16-on.png) no-repeat left center;
  }
}
@mixin box {
  margin-bottom: 10px;
  border: $border-gray4;
  @include border-radius(3px);
  background: $white;
}
@mixin box-head {
  line-height: 1;
  h2 {
    display: inline-block;
    margin: 12px;
    padding-left: 8px;
    border-left: 3px solid $orange;
    color: $black3;
    font-size: $px15;
    font-weight: bold;
  }
  nav {
    position: relative;
    float: right;
    margin: 12px;
    color: $gray3;
    @include mb {
      @include clear;
      float: none;
    }
  }
  @include mb {
    h2 {
      font-size: $px14;
    }
  }
}
@mixin box-body {
  border-top: $border-gray1;
  padding: 15px;
}
@mixin input {
  @include box-sizing(border-box);
  border: 1px solid $gray4;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 3px $gray5);
  vertical-align: middle;
  &:focus {
    border: 1px solid #f29684;
    background: #f9e9e6;
    @include box-shadow(none);
  }
}
@mixin ss-btn {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #bbb;
  @include border-radius(3px);
  @include grd-white;
  filter: none \9;
  line-height: 1.4;
  color: $black;
  font-size: $px12;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background: #ebecec;
    text-decoration:none;
  }
}
@mixin ss-btn-gray-l {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #bbb;
  @include border-radius(6px);
  @include grd-white;
  filter: none \9;
  color: $black;
  font-size: $px15;
  cursor: pointer;
  &:hover {
    background: #ebecec;
    text-decoration:none;
  }
  @include mb {
    font-size: $px14;
    padding: 5px 12px;
  }
}
@mixin ss-btn-orange {
  display: inline-block;
  padding: 5px 12px;
  border: 1px solid #f2a950;
  @include border-radius(6px);
  @include grd-orange;
  filter: none \9;
  color: $black;
  font-size: $px12;
  cursor: pointer;
  &:hover {
    background: #f2a950;
    text-decoration:none;
  }
  @include mb {
    font-size: $px14;
    padding: 5px 12px;
  }
}
@mixin ss-btn-red {
  display: inline-block;
  min-width: 100px;
  padding: 8px 10px;
  border: 1px solid #b23a3d;
  @include border-radius(6px);
  @include grd-red;
  filter: none \9;
  color: $white;
  font-size: $px15;
  cursor: pointer;
  &:hover {
    background: #b23a3d;
    text-decoration:none;
  }
  @include mb {
    min-width: 0;
    font-size: $px12;
    padding: 5px 12px;
  }
}
@mixin ss-btn-active {
  background-color: #cccccc;
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@mixin lgrad($position, $value...) {
  @include background(linear-gradient($position, $value));
}
@mixin grd-white {
  background: #ffffff;
  @include background(linear-gradient(top, #ffffff, #ebecec));
  @include filter-gradient(#ffffff, #ebecec, vertical);
}
@mixin grd-red {
  background: #e13026;
  @include background-image(linear-gradient(top, #e13026, #b23a3d));
  @include filter-gradient(#e13026, #b23a3d, vertical);
}
@mixin grd-orange {
  background: #f2d150;
  @include background-image(linear-gradient(top, #f2d150, #f2a950));
  @include filter-gradient(#f2d150, #f2a950, vertical);
}

@mixin truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include mb {
    white-space: normal;
  }
}
