// -------------------------------------------------------------------------------------------------
// init

@import "compass/css3";
@import "compass/typography/text/ellipsis";

// -------------------------------------------------------------------------------------------------
// define

$font-base: Tahoma, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Verdana, "MS PGothic", "ＭＳ　Ｐゴシック", sans-serif;

//font-size
$px10:72%;
$px11:79%;
$px12:86%;
$px13:93%;
$px14:100%;
$px15:108%;
$px16:115%;
$px17:122%;
$px18:129%;
$px19:136%;
$px20:143%;
$px21:150%;
$px22:158%;
$px23:165%;
$px24:172%;
$px25:179%;
$px26:186%;
$px27:193%;
$px28:200%;
$px29:208%;
$px30:215%;
$px31:222%;
$px32:229%;

// color
$white: #ffffff;
$black: #000000;
$black2: #2b2b2b;
$black3: #333333;
$gray1: #f2f2f2;
$gray2: #999999;
$gray3: #424242;
$gray4: #d0d0d0;
$gray5: #dcdcdc;
$orange: #f25a38;
$orange2: #fbeee8;
$orange3: #a0522d;
$blue: #0066cc;

$pink: #ea4c89;

//border
$border-black: 1px solid $black;
$border-black2: 1px solid $black2;
$border-gray1: 1px solid $gray1;
$border-gray2: 1px solid $gray2;
$border-gray4: 1px solid $gray4;
$border-gray5: 1px solid $gray5;
$border-white: 1px solid $white;

@mixin pc {
  @content;
}
@mixin mb {
  @media only screen and (max-width: 640px) { @content; }
}
@mixin clear {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
@mixin arrow {
  padding-left: 25px;
  background: url(/assets/img/ic-arrow16-off.png) no-repeat left center;
  &:hover {
    background: url(/assets/img/ic-arrow16-on.png) no-repeat left center;
  }
}
@mixin box {
  margin-bottom: 10px;
  border: $border-gray4;
  @include border-radius(3px);
  background: $white;
}
@mixin box-head {
  line-height: 1;
  h2 {
    display: inline-block;
    margin: 12px;
    padding-left: 8px;
    border-left: 3px solid $orange;
    color: $black3;
    font-size: $px15;
    font-weight: bold;
  }
  nav {
    position: relative;
    float: right;
    margin: 12px;
    color: $gray3;
  }
  @include mb {
    margin-bottom: 10px;
    h2 {
      font-size: $px14;
    }
  }
}
@mixin box-body {
  border-top: $border-gray1;
  padding: 15px;
}
@mixin input {
  @include box-sizing(border-box);
  border: 1px solid $gray4;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 3px $gray5);
  vertical-align: middle;
  &:focus {
    border: 1px solid #f29684;
    background: #f9e9e6;
    @include box-shadow(none);
  }
}
@mixin btn {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #bbb;
  @include border-radius(3px);
  @include grd-white;
  filter: none \9;
  line-height: 1.4;
  color: $black;
  font-size: $px12;
  cursor: pointer;
  &:hover {
    background: #ebecec;
    text-decoration:none;
  }
}
@mixin btn-gray-l {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #bbb;
  @include border-radius(6px);
  @include grd-white;
  filter: none \9;
  color: $black;
  font-size: $px15;
  cursor: pointer;
  &:hover {
    background: #ebecec;
    text-decoration:none;
  }
  @include mb {
    font-size: $px14;
    padding: 5px 12px;
  }
}
@mixin btn-orange {
  display: inline-block;
  padding: 5px 12px;
  border: 1px solid #f2a950;
  @include border-radius(6px);
  @include grd-orange;
  filter: none \9;
  color: $black;
  font-size: $px12;
  cursor: pointer;
  &:hover {
    background: #f2a950;
    text-decoration:none;
  }
  @include mb {
    font-size: $px14;
    padding: 5px 12px;
  }
}
@mixin btn-red {
  display: inline-block;
  min-width: 100px;
  padding: 8px 10px;
  border: 1px solid #b23a3d;
  @include border-radius(6px);
  @include grd-red;
  filter: none \9;
  color: $white;
  font-size: $px15;
  cursor: pointer;
  &:hover {
    background: #b23a3d;
    text-decoration:none;
  }
  @include mb {
    min-width: 0;
    font-size: $px12;
    padding: 5px 12px;
  }
}

@mixin lgrad($position, $value...) {
  @include background(linear-gradient($position, $value));
}
@mixin grd-white {
  background: #ffffff;
  @include background(linear-gradient(top, #ffffff, #ebecec));
  @include filter-gradient(#ffffff, #ebecec, vertical);
}
@mixin grd-red {
  background: #e13026;
  @include background-image(linear-gradient(top, #e13026, #b23a3d));
  @include filter-gradient(#e13026, #b23a3d, vertical);
}
@mixin grd-orange {
  background: #f2d150;
  @include background-image(linear-gradient(top, #f2d150, #f2a950));
  @include filter-gradient(#f2d150, #f2a950, vertical);
}
