// -------------------------------------------------------------------------------------------------
// multiselect.js
// http://loudev.com/

.ms-container .ms-selectable, .ms-container .ms-selection {
  background: transparent;
}
.ms-selectable-head, .ms-selection-head {
  margin-bottom: 5px;
  padding-left: 6px;
  border-left: 3px solid #bbb;
}
.ms-selection-head {
  border-color: $orange;
  color: $orange;
}
.ms-list {
  background: $white;
}

// -------------------------------------------------------------------------------------------------
// clipboard

.clipboard-copy-button {
  @include btn;
  margin-left: 4px;
  padding: 1px 4px;
  &.copied {
    border-color: #0ad;
    background: #fff;
    color: #0ad;
  }
}

// -------------------------------------------------------------------------------------------------
// display
// https://getbootstrap.com/docs/4.0/utilities/display/

.d-inline-block{ display: inline-block !important; }
.d-block{ display: block !important; }

// -------------------------------------------------------------------------------------------------
// spacing

.mx-auto, .ml-auto { margin-left: auto !important; }
.mx-auto, .mr-auto { margin-right: auto !important; }
.mx-0, .ml-0 { margin-left: 0 !important; }
.mx-0, .mr-0 { margin-right: 0 !important; }
.my-0, .mt-0 { margin-top: 0 !important; }
.my-0, .mb-0 { margin-bottom: 0 !important; }
.mx-1, .ml-1 { margin-left: 5px !important; }
.mx-1, .mr-1 { margin-right: 5px !important; }
.my-1, .mt-1 { margin-top: 5px !important; }
.my-1, .mb-1 { margin-bottom: 5px !important; }
.mx-2, .ml-2 { margin-left: 10px !important; }
.mx-2, .mr-2 { margin-right: 10px !important; }
.my-2, .mt-2 { margin-top: 10px !important; }
.my-2, .mb-2 { margin-bottom: 10px !important; }
.mx-3, .ml-3 { margin-left: 15px !important; }
.mx-3, .mr-3 { margin-right: 15px !important; }
.my-3, .mt-3 { margin-top: 15px !important; }
.my-3, .mb-3 { margin-bottom: 15px !important; }
.mx-4, .ml-4 { margin-left: 20px !important; }
.mx-4, .mr-4 { margin-right: 20px !important; }
.my-4, .mt-4 { margin-top: 20px !important; }
.my-4, .mb-4 { margin-bottom: 20px !important; }
