// -------------------------------------------------------------------------------------------------
// multiselect.js
// http://loudev.com/

.ms-container .ms-selectable, .ms-container .ms-selection {
  background: transparent;
}
.ms-selectable-head, .ms-selection-head {
  margin-bottom: 5px;
  padding-left: 6px;
  border-left: 3px solid #bbb;
}
.ms-selection-head {
  border-color: $orange;
  color: $orange;
}
.ms-list {
  background: $white;
}

// -------------------------------------------------------------------------------------------------
// clipboard

.clipboard-copy-button {
  @include btn;
  margin-left: 4px;
  padding: 1px 4px;
  &.copied {
    border-color: #0ad;
    background: #fff;
    color: #0ad;
  }
}

// -------------------------------------------------------------------------------------------------
// spacing

.mx-1 { margin-left: 5px; margin-right: 5px; }
.my-1 { margin-top: 5px; margin-bottom: 5px; }
.mt-1 { margin-top: 5px; }
.mb-1 { margin-bottom: 5px; }
.ml-1 { margin-left: 5px; }
.mr-1 { margin-right: 5px; }
.mx-2 { margin-left: 10px; margin-right: 10px; }
.my-2 { margin-top: 10px; margin-bottom: 10px; }
.mt-2 { margin-top: 10px; }
.mb-2 { margin-bottom: 10px; }
.ml-2 { margin-left: 10px; }
.mr-2 { margin-right: 10px; }
