@use "init";

.list-items {
  margin: 10px;
  padding: 0;
  .list-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: init.$border-gray1;
    @include init.mb {
      display: block;
      padding: 8px 10px;
    }
    &:last-child {
      border: 0;
    }
    .checked,
    &:hover {
      background: init.$orange2;
    }
    label + .info,
    .info + .links {
      @include init.mb {
        margin-left: 26px;
      }
    }
    .up {
      padding: 4px 0 4px 25px;
      background: url(/assets/img/ic-arrow16up-off.png) no-repeat left center;
      &:hover {
        background: url(/assets/img/ic-arrow16up-on.png) no-repeat left center;
      }
    }
    .check {
      margin: 0 10px 0 -5px;
      float: left;
    }
    .info {
      flex-grow: 10;
    }
    .title {
      color: init.$orange;
      font-size: init.$px15;
      @include init.mb {
        font-size: init.$px14;
      }
    }
    &.seen {
      a.title:link {
        color: #d00;
      }
      a.title:visited,
      .from a {
        color: #200;
      }
    }
    &.unseen {
      .title,
      .from a {
        color: #f00;
        font-weight: bold;
      }
    }
    .title--disabled {
      color: #888;
    }
    .title-icon {
      margin: 0 4px 0 0;
      float: left;
    }
    .meta {
      display: flex;
      align-items: center;
      gap: 10px;
      .label {
        color: #844;
        &::before {
          content: "[";
        }
        &::after {
          content: "]";
        }
      }
      .id {
        color: #444;
      }
      .datetime {
        color: #777;
      }
      .filename {
        color: #080;
      }
      .order {
        color: #888;
        &::before {
          content: "\25b9";
        }
      }
      .summary {
        color: #888;
      }
      .close_date {
        color: red;
      }
    }
    .links {
      word-wrap: normal;
      white-space: nowrap;
      .btn {
        margin-top: 4px;
      }
    }
    .gws-notice-file-count,
    .gws-notice-comment-count {
      display: inline-block;
      img {
        margin-right: 2px;
      }
    }
    .list-item-indent {
      display: inline-block;
      width: 0;
    }
    .list-item-title.dir::after {
      content: "/";
    }
    &[data-depth="0"] {
      .list-item-indent {
        padding-left: 0;
      }
    }
    &[data-depth="1"] {
      .list-item-indent {
        padding-left: 25px;
      }
    }
    &[data-depth="2"] {
      .list-item-indent {
        padding-left: 50px;
      }
    }

    &:has(.ss-ajax-result) {
      flex-wrap: wrap;
    }

    .ss-ajax-result {
      &:has(.errorExplanation) {
        flex-basis: 100%;
      }
    }

    .ss-ajax-success {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .ss-ajax-success-icon {
      color: #080;
    }

    .errorExplanation {
      margin: 10px 0;
    }

    &:has(.list-item-error) {
      flex-wrap: wrap;
    }
  }

  &.list-items-grid {
    display: grid;
    grid-template-columns: auto 1fr;

    .list-item {
      display: contents;

      > * {
        border-bottom: init.$border-gray1;
      }

      &:last-child > * {
        border: 0;
      }

      &:hover > * {
        background: init.$orange2;
      }

      label + .info,
      .info + .links {
        @include init.mb {
          margin-left: unset;
        }
      }
    }

    .check {
      display: flex;
      grid-column: 1 / 2;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: unset;
      padding: 8px;
      float: unset;
    }

    .info {
      grid-column: 2 / 3;
      padding: 8px;
    }

    .full {
      grid-column: 1 / 3;
      padding: 8px;
    }
  }

  .list-item-error {
    @include init.error-explanation;
    @include init.error-explanation-compact;

    flex-basis: 100%;

    .list-item-error-section-header {
      font-weight: bold;
    }
  }
}
