// -------------------------------------------------------------------------------------------------
// login

#page-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $gray1 url(/assets/img/back.png) no-repeat left 60%;
  background-size: contain;
}
#page-login {
  #main {
    .wrap {
      margin: 0 10px;
    }
  }
}

.login-box {
  display: table;
  margin: 20px 10px 20px;
  border: 1px solid #ccc;
  @include border-radius(3px);
  @include box-shadow(0px 1px 3px #ddd);
  background: $white;
  header {
    h2 {
      display: inline-block;
    }
    .version {
      float: right;
      padding: 2px;
      color: #888;
      font-size: 90%;
    }
  }
  .error-message {
    margin: 0px 20px 20px;
    color: #e00;
    font-weight: bold;
  }
  .form-group {
    margin: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"], input[type="password"] {
    width: 300px;
  }
  footer.send {
    margin: 20px;
    padding: 0px;
  }
  .sso {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      margin: 1em 20px;
      a {
        display: block;
        text-align: center;
        font-size: 100%;
      }
    }
    .name {
      margin-bottom: 0.5em;
      font-weight: bold;
    }
    .text { font-size: $px12; }
  }
}

@include mb {
  .login-box {
    padding: 10px;
    @include box-sizing(border-box);
    header {
      @include clear;
      margin: 0px 0px 20px;
      h1 {
        float: left;
      }
      .version {
        float: right;
        color: #888;
      }
    }
  }
}
