// -------------------------------------------------------------------------------------------------
// login

#page-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $gray1 url(/assets/img/back.png) no-repeat left 60%;
  background-size: contain;
}
#page-login {
  #main {
    .wrap {
      margin: 0 10px;
    }
  }
}

.login-wrap {
  float: left;
}

.login-box {
  display: table;
  margin: 20px 10px;
  border: 1px solid #ccc;
  @include border-radius(3px);
  @include box-shadow(0 1px 3px #ddd);
  background: $white;
  @include mb {
    width: calc(100% - 20px);
  }
  header {
    h2 {
      display: inline-block;
    }
    .version {
      padding: 2px;
      float: right;
      color: #888;
      font-size: 90%;
    }
  }
  .error-message {
    margin: 0 20px 20px;
    color: #e00;
    font-weight: bold;
  }
  .form-group {
    margin: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    width: 300px;
  }
  footer.send {
    margin: 20px;
    padding: 0;
  }
  .sso {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 1em 20px;
      a {
        display: block;
        font-size: 100%;
        text-align: center;
      }
    }
    .name {
      margin-bottom: .5em;
      font-weight: bold;
    }
    .text { font-size: $px12; }
  }
}

@include mb {
  .login-box {
    padding: 10px;
    @include box-sizing(border-box);
    header {
      @include clear;
      margin: 0 0 20px;
      h1 {
        float: left;
      }
      .version {
        float: right;
        color: #888;
      }
    }
  }
}

.login-notice {
  margin: 20px 10px;

  h2 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  .main-box {
    h2 {
      margin-bottom: 10px;
    }
  }
  .datetime {
    margin-left: 5px;
    color: #888;
  }
  li {
    width: 320px;
  }
}

.login-ad {
  margin: 20px 10px;
  float: left;

  h2 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  .main-box {
    h2 {
      margin-bottom: 10px;
    }
  }
  .datetime {
    margin-left: 5px;
    color: #888;
  }
}
@include mb {
  .login-notice {
    padding: 10px;
    @include box-sizing(border-box);
    header {
      @include clear;
      margin: 0 0 20px;
      h1 {
        float: left;
      }
      .version {
        float: right;
        color: #888;
      }
    }
    li {
      width: 215px;
    }
  }
}
