// -------------------------------------------------------------------------------------------------
// login
#page-login {
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  .logo {
    margin: 0 auto;
  }
  .version {
    color: $gray5;
    font-size: $px12;
  }
}
.login-wrap {
  max-width: 600px;
}
.login-box {
  .sso {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      margin: 1em 20px;
      a {
        display: block;
        text-align: center;
        font-size: 100%;
      }
    }
    .name {
      margin-bottom: 0.5em;
      font-weight: bold;
    }
    .text { font-size: $px12; }
  }
}