@import "ss/init";
@include mb {

// -------------------------------------------------------------------------------------------------
// base

body {
  background-color: $gray2;
  color: #000;
  font-size: 75%;
  font-family: $font-base;
  line-height: 1.40;
  word-wrap: break-word;
}

// -------------------------------------------------------------------------------------------------
// outline

#page {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
#head {
  @include clear;
  height: auto;
  padding: 5px 0px;
  background-color: #fff;
  .wrap {
    @include clear;
  }
  h1 {
    width: 148px;
    border: none;
    a {
      display: block;
      width: 148px;
      font-size: 140%;
      font-weight: bold;
    }
  }
  h2 {
    display: none;
  }
  nav {
    float: right;
    margin: 0;
    a {
      display: block;
      float: left;
      padding: 0px 10px;
      border-left: $border-black;
      @include border-radius(0);
    }
  }
}
#crumbs {
  @include clear;
}
#wrap {
  @include clear;
  background: $gray2;
}
#navi-back {
  display: none;
}
#navi {
  float: none;
  width: 100%;
}
#navi + #main .wrap {
  margin: 0;
}
#menu-back {
  display: none;
}
#menu {
  float: none;
  width: 100%;
  @include box-sizing(border-box);
  padding: 0;
  border-top: $border-gray3;
  background: $white;
}
#main {
  @include clear;
  padding: 10px;
  background: $gray2;
}
#menu + #main .wrap {
  margin: 0;
}
#foot {
  width: 100%;
  text-align: center;
}
#ss-pc {
  text-align: center;
  a {
    color: #888;
    font-weight: bold;
  }
}

// -------------------------------------------------------------------------------------------------
// menu
nav.main-menu, nav.sub-menu, nav.act-menu, nav.page-menu, nav.addon-menu {
  @include clear;
  margin: 0;
  background-color: $white;
  header {
    padding: 2px 5px 0px;
    border-bottom: $border-gray3;
    color: $gray3;
  }
  div {
    @include clear;
    padding: 0px 10px 10px;
    a {
      float: left;
      display: inline-block;
      width: auto;
      max-width: 200px;
      margin: 0px 2px 4px;
      padding: 8px 4px 5px;
      border: $border-gray5;
      @include border-radius(3px);
      background: $gray3;
      color: $black;
      @include ellipsis;
      &.current, &:hover {
        padding: 8px 4px 5px;
        border: 1px solid $pink;
        background-color: $gray1;
      }
    }
  }
  div.pulldown-menu a.current:after {
    display: none;
  }
}

#mod-menu a {
  display: block !important;
}
.act-menu {
  @include clear;
  padding: 10px;
}
nav.act-menu a {
  display: inline-block;
  @include btn;
  padding: 8px 15px 5px;
}
nav.addon-menu header h1, nav.page-menu header h1 {
  border: none;
}
nav.act-menu div {
  padding: 0;
}
// -------------------------------------------------------------------------------------------------
// common
.search-form {
  margin-bottom: 10px;
}
.index-search {
  input[type="text"] {
    width: 80% !important;
  }
  input[type="submit"] {
    width: 18%;
  }
}
table.index {
  table-layout: fixed;
  width: 100%;
  border: $border-gray3;
  tr, th, td {
    display: block;
    @include box-sizing(border-box);
  }
  thead {
    background-color: $gray3;
    font-size: 90%;
    tr {
      border: none;
    }
    th {
      float: left;
      padding: 7px 0px;
      &:before {
        margin: 0px 2px;
        content: "/";
      }
    }
    th.checkbox {
      padding: 5px 2px;
      &:before {
        margin: 0px;
        content: "";
      }
    }
  }
  tbody {
    tr {
      @include clear;
      padding: 5px 0px;
      border-top: 1px solid #ddd;
      background-color: #fff;
    }
    td {
      display: block;
      overflow: hidden;
      clear: both;
      float: left;
      max-width: 100%;
      padding: 2px 8px;
      @include ellipsis;
    }
    td.checkbox {
      margin: 0px -35px -35px 0px;
      padding: 0px 2px;
    }
    td.checkbox ~ td {
      padding-left: 35px;
    }
    td.filename {
      color: #080;
    }
    td.datetime {
      clear: none;
      float: right;
      color: #888;
    }
    nav.tap-menu {
      display: none;
      position: absolute;
      z-index: 100;
      border: $border-gray3;
      @include box-shadow(1px 1px 3px #bbb);
      a {
        display: block;
        padding: 5px 15px 2px;
        border-top: $border-gray3;
        &:first-child {
          border-width: 0px;
        }
      }
    }
  }
}
dl.see {
  > dt {
    float: none;
    width: auto;
    margin-bottom: 10px;
  }
  > dd {
    float: none;
    margin-left: 0px;
    padding: 0 0 10px;
    border-top: 0px;
  }
  > dt ~ dt {
    margin-top: 10px;
  }
  > dd ~ dd {
    margin-top: 0;
  }
}
.tooltip ul {
  left: -65px;
  &:before {
    left: 65px;
  }
  &:after {
    left: 63px;
  }
}
// -------------------------------------------------------------------------------------------------
// features

.login-box {
  width: 100%;
  padding: 10px;
  @include box-sizing(border-box);
  header {
    @include clear;
    margin: 0px 0px 20px;
    h1 {
      float: left;
    }
    .version {
      float: right;
      color: #888;
    }
  }
}
#http-tester .buttons {
  @include clear;
  float: none !important;
  width: 100% !important;
  button {
    display: inline-block !important;
    width: auto !important;
    float: left !important;
    margin-right: 10px !important;
  }
}
#http-tester .view {
  margin: 0 !important;
}
// -------------------------------------------------------------------------------------------------
}
