// -------------------------------------------------------------------------------------------------
// base

header, footer, nav, section, article, figure, aside {
  display: block;
  margin: 0;
}
* {
  @include box-sizing(border-box);
}
html {
  //font-size: 87.5%;
  font-size: 13px;
}
html, body {
  height: 100%;
  margin: 0px;
  color: $black3;
}
body {
  background: $gray1;
  font-family: $font-base;
  line-height: 1.4;
  word-wrap: break-word;
}
#page {
  position: relative;
  min-height: 100%;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 210px;
    border-right: $border-gray4;
    background: $white;
    @include mb { display: none; }
  }
}
h1, h2, h3, h4, h5, p {
  margin: 0px;
  font-size: 100%;
  font-weight: normal;
}
a {
  color: $orange;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav a {
  color: $black;
  &:hover { color: $orange; }
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
  line-height: 0;
}
ul li {
  list-style: none;
}
table {
  border-spacing: 0;
  empty-cells: show;
}
th {
  font-size: 100%;
  font-weight: normal;
  text-align: left;
}
td {
  font-size: 100%;
}

// -------------------------------------------------------------------------------------------------

.hide {
  display: none;
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  position: absolute;
  cursor: auto;
  &.active {
    display: block;
  }
}

// -------------------------------------------------------------------------------------------------
// head
#head {
  @include clear;
  position: relative;
  z-index: 100;
  border-bottom: $border-gray4;
  background: $black2;
  font-size: 14px;
  h1 {
    float: left;
    a {
      display: block;
      width: 210px;
      padding: 9px 15px;
      line-height: 31px;
      background: url(/assets/img/logo.png) no-repeat center center / 180px auto;
      text-indent: -9999px;
    }
  }
  .cms, .gws, .sns {
    @include clear;
    float: left;
    @include mb { display: none; }
    h2 {
      float: left;
      a {
        display: block;
        color: $white;
        &.current, &:hover {
          color: $black;
          text-decoration: none;
        }
      }
    }
    p {
      float: left;
      a {
        display: block;
        padding: 15px 10px;
        color: $white;
        &:hover {
          background: $white;
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
  .cms h2 a {
    padding: 15px 20px 15px 55px;
    background: url(/assets/img/ic-cms-off.png) no-repeat 20px center;
    &.current, &:hover {
      background: $white url(/assets/img/ic-cms-on.png) no-repeat 20px center;
    }
  }
  .gws h2 a {
    padding: 15px 20px 15px 70px;
    background: url(/assets/img/ic-gws-off.png) no-repeat 20px center;
    &.current, &:hover {
      background: $white url(/assets/img/ic-gws-on.png) no-repeat 20px center;
    }
  }
  .sns h2 a {
    padding: 15px 20px 15px 60px;
    background: url(/assets/img/ic-sns-off.png) no-repeat 20px center;
    &.current, &:hover {
      background: $white url(/assets/img/ic-sns-on.png) no-repeat 20px center;
    }
  }
  .env {
    float: left;
    padding: 15px 10px;
    color: $white;
    @include mb { display: none; }
  }
  .user-message {
    float: left;
    width: 50px;
    height: 49px;
    background-image: url(/assets/img/ic-message-off.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    text-align: right;
    &:hover {
      background-color: $gray3;
    }
    .unseen {
      display: inline-block;
      min-width: 16px;
      margin: 8px 8px 0 0;
      padding: 0 2px;
      border-radius: 4px;
      background-color: #f00;
      color: #fff;
      font-size: 80%;
      text-align: center;
    }
  }
  .user {
    float: right;
    a {
      color: $white;
    }
    .group {
      margin-right: 10px;
    }
    .dropdown {
      float: left;
      h2 {
        padding: 15px 40px 15px 20px;
        background: url(/assets/img/arrow-usr.png) no-repeat 90% center;
        color: $white;
        @include mb { padding: 10px 40px 10px 20px; }
      }
      &:hover h2, &.active h2 {
        position: relative;
        background-color: $gray3;
        text-decoration: none;
      }
      &.active ul {
        display: block;
      }
    }
    .dropdown-menu {
      top: 100%;
      right: 0;
      min-width: 200px;
      margin: 0;
      padding: 5px 0px;
      border: $border-gray4;
      background: $white;
      li {
        display: block;
        list-style: none;
        a {
          display: block;
          min-width: 120px;
          padding: 8px 10px;
          color: $black;
          text-decoration: none;
          &:hover {
            color: $orange;
            background: #eee;
          }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// wrap
#wrap {
  @include clear;
}

// -------------------------------------------------------------------------------------------------
// nav
#navi {
  position: relative;
  float: left;
  width: 210px;
  z-index: 1;
  background: $white;
  @include mb {
    float: none;
    width: 100%;
    border: none;
  }
}

// -------------------------------------------------------------------------------------------------
// site-navi
.site-navi {
  @include clear;
  border-bottom: $border-gray5;
  h2 {
    float: left;
    width: 105px;
    text-align: center;
    @include mb { width: 50%; }
    a {
      display: block;
      padding: 45px 0 10px;
      background: url(/assets/img/ic-preview-off.png) no-repeat center 5px;
      color: $black;
      font-size: $px12;
      &:hover {
        background: $gray1 url(/assets/img/ic-preview-on.png) no-repeat center 5px;
        color: $orange;
        text-decoration: none;
      }
    }
    a, a:hover {
      @include mb {
        padding: 15px 15px 15px 45px;
        background-position: 4px center;
        text-align: left;
      }
    }
    .external {
      background-image: url(/assets/img/ic-site-off.png);
      &:hover {
        background-image: url(/assets/img/ic-site-on.png);
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// main-navi
@mixin navi-icon {
  padding: 10px 10px 10px 50px;
  @include mb { padding: 10px 10px 10px 35px; }
}
.main-navi {
  border-bottom: $border-gray5;
  h2 a {
    position: relative;
    display: block;
    @include navi-icon;
    color: $black;
    &:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 10px;
      width: 32px;
      height: 32px;
      background: url(/assets/img/ic-main-navi.png) no-repeat left top;
    }
    &:hover {
      position: relative;
      color: $orange;
      text-decoration: none;
    }
    @include mb {
      border-bottom: $border-gray5;
      background-position: 0 center !important;
    }
  }
  h2 a:hover:before {
    background: url(/assets/img/ic-main-navi.png) no-repeat -32px top;
  }
  a.current, a:hover {
    background-color: $gray1;
  }
  .icon-node:before {
    background-position: left -32px;
  }
  .icon-node:hover:before {
    background-position: -32px -32px;
  }
  .icon-page:before {
    background-position: left -64px;
  }
  .icon-page:hover:before {
    background-position: -32px -64px;
  }
  .icon-part:before {
    background-position: left -96px;
  }
  .icon-part:hover:before {
    background-position: -32px -96px;
  }
  .icon-layout:before {
    background-position: left -128px;
  }
  .icon-layout:hover:before {
    background-position: -32px -128px;
  }
  .icon-conv:before {
    background-position: left -160px;
  }
  .icon-conv:hover:before {
    background-position: -32px -160px;
  }
  .icon-write:before {
    background-position: left -192px;
  }
  .icon-write:hover:before {
    background-position: -32px -192px;
  }
  .icon-conf:before {
    background-position: left -224px;
  }
  .icon-conf:hover:before {
    background-position: -32px -224px;
  }
  .icon-portal:before {
    background-position: left -256px;
  }
  .icon-portal:hover:before {
    background-position: -32px -256px;
  }
  .icon-schedule:before {
    background-position: left -288px;
  }
  .icon-schedule:hover:before {
    background-position: -32px -288px;
  }
  .icon-board:before {
    background-position: left -320px;
  }
  .icon-board:hover:before {
    background-position: -32px -320px;
  }
  .icon-reminder:before {
    background-position: left -352px;
  }
  .icon-reminder:hover:before {
    background-position: -32px -352px;
  }
  .icon-facility:before {
    background-position: left -384px;
  }
  .icon-facility:hover:before {
    background-position: -32px -384px;
  }
  .icon-workflow:before {
    background-position: left -416px;
  }
  .icon-workflow:hover:before {
    background-position: -32px -416px;
  }
  .icon-search:before {
    background-position: left -448px;
  }
  .icon-search:hover:before {
    background-position: -32px -448px;
  }
  .icon-message:before {
    background-position: left -480px;
  }
  .icon-message:hover:before {
    background-position: -32px -480px;
  }
  @include mb {
    @include clear;
    h2 {
      float: left;
      width: 33%;
      &:nth-child(3n) {
        width: 34%;
      }
      a{
        border-right: $border-gray4;
        overflow: hidden;
        font-size: $px12;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// mod-navi
.mod-navi {
  border-bottom: $border-gray5;
  h2 {
    padding: 10px 15px;
    font-weight: bold;
  }
  h3 a {
    display: block;
    padding: 5px 15px 5px 60px;
    background: url(/assets/img/ic-arrow16-off.png) no-repeat 35px center;
    color: $black;
    &.current {
      background-color: $gray1;
    }
    &:hover {
      background: $gray1 url(/assets/img/ic-arrow16-on.png) no-repeat 35px center;
      color: $orange;
      text-decoration: none;
    }
  }
  h3 span {
    display: block;
    padding: 5px 15px 5px 60px;
    background: url(/assets/img/ic-arrow16-off.png) no-repeat 35px center;
  }
  h3:last-child, ul:last-child {
    margin-bottom: 8px;
  }
  @include mb {
    h3 {
      a, a:hover, span {
        padding: 5px 15px 5px 35px;
        background-position: 15px center;
      }
    }
  }
  .dropdown {
    h2 {
      background: url(/assets/img/ic-arrow-off.png) no-repeat 190px center;
    }
    &:hover h2, &.active h2 {
      background: $gray1 url(/assets/img/ic-arrow-on.png) no-repeat 190px center;
      color: $orange;
    }
    &.active h2 {
      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 100%;
        z-index: 100;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-left: 9px solid $gray4;
      }
      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 100%;
        z-index: 100;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 8px solid $gray1;
      }
    }
    @include mb {
      h2, &.active h2, &:hover h2 {
        background-position: 97% center;
      }
    }
  }
  .dropdown-menu {
    @include clear;
    width: 400px;
    top: -1px;
    left: 211px;
    margin: 0;
    padding: 14px 10px 14px 20px;
    border: $border-gray4;
    border-left: none;
    background: $white;
    li {
      float: left;
      width: 180px;
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    a {
      display: block;
      width: 100%;
      padding: 8px 0px 8px 15px;
      background: url(/assets/img/ic-li.png) no-repeat left center;
    }
    @include mb {
      position: static;
      width: 100%;
      li {
        width: 100%;
        padding: 0;
      }
      a {
        width: 100%;
      }
    }
  }
  .narrow-page {
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: 5px 15px 5px 85px;
      background: url(/assets/img/ic-arrow16-off.png) no-repeat 60px center;
      color: $black;
      &.current {
        background-color: $gray1;
      }
      &:hover {
        background: $gray1 url(/assets/img/ic-arrow16-on.png) no-repeat 60px center;
        color: $orange;
        text-decoration: none;
      }
    }
    @include mb {
      @include clear;
      li {
        float: left;
        margin-left: 25px;
        a, a:hover {
          background-position: left center;
          padding: 5px 0 5px 20px;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// main
#main {
  float: right;
  width: 100%;
  margin: 0 0 40px -100%;
  @include mb {
    float: none;
    margin: 0 0 100px 0;
  }
}
#main .wrap {
  margin: 0 10px 0 220px;
  @include mb { margin: 10px 0; }
}

// -------------------------------------------------------------------------------------------------
// foot
#foot {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: right;
  @incldue mb { padding: 10px; }
}
#ss-mb, #ss-pc {
  margin-top: 10px;
  @include btn;
}
// -------------------------------------------------------------------------------------------------
// breadcrumb
.breadcrumb {
  @include clear;
  margin: 0 0 10px;
  padding-left: 220px;
  border-bottom: $border-gray4;
  background: $gray5;
  list-style: none;
  @include mb { display: none; }
  li {
    float: left;
    &:first-child a:before {
      border: none;
    }
  }
  a {
    position: relative;
    display: block;
    padding: 10px 28px;
    color: $black;
    &:before {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      border-bottom: 20px solid transparent;
      border-left: 12px solid #c6c6c6;
      border-top: 20px solid transparent;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -11px;
      border-bottom: 20px solid transparent;
      border-left: 12px solid $gray5;
      border-top: 20px solid transparent;
      z-index: 1;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// warning
.warning {
  @include clear;
  margin: 0 0 1px;
  padding: 10px 10px;
  padding-left: 220px;
  background: #f99;
  a {
    color: $black;
    font-weight: bold;
  }
  @include mb { padding-left: 10px; }
}

// -------------------------------------------------------------------------------------------------
// menu
#menu {
  .nav-menu {
    margin: 20px;
    margin-left: 230px;
    @include mb {
      margin: 0;
      padding: 10px;
    }
    a {
      display: inline-block;
      margin-right: 24px;
      @include arrow;
      color: $black;
      &:hover { color: $orange;}
    }
  }
}

// -------------------------------------------------------------------------------------------------
// common view


#ajax-box {
  margin: 10px;
}
.main-box  {
  @include box;
  padding: 15px 10px;
  header {
    @include box-head;
    margin: -15px -10px 15px;
    border-bottom: $border-gray1;
  }
}
.toggle-head {
  cursor: pointer;
  &:hover { background: #f4f4f4; }
  &:hover { background: $orange2; }
}
.addon-view, .search-pages, .index-search, .search-form {
  @include box;
  @include mb {
    margin: 0 10px 10px;
  }
  .see {
    padding: 0 10px;
  }
  + footer.send {
    border-top: 1px solid #ddd;
  }
  .send {
    padding: 14px 0;
  }
  .toggle {
    position: absolute;
    top: 17px;
    left: 300px;
    @include mb {
      top: 13px;
      left: auto;
      right: 10px;
    }
    a {
      padding-left: 20px;
      background: url(/assets/img/ic-open.png) no-repeat left center;
      font-size: $px12;
    }
  }
}
.search-contents-pages,
.search-contents-form,
.search-form {
  padding: 10px;
}
.list-head-search .index-search,
.list-search .index-search {
  margin-bottom: 0;
  border: none;
}
.ss-confirm-text {
  margin: 10px;
}
.addon-head {
  @include box-head;
}
.addon-body {
  @include box-body;
}
dl.see {
  margin: 5px 0px;
  > dt {
    @include clear;
    float: left;
    min-width: 180px;
    padding: 5px 0;
    color: $orange3;
    font-weight: bold;
    @include mb {
      float: none;
    }
  }
  > dd {
    @include clear;
    margin: 0px 0px 0px 180px;
    padding: 5px 0;
    @include mb {
      margin: 0;
    }
    input, select {
      margin: -5px 0;
    }
  }
  > dt ~ dt { margin-top: 15px; }
  > dd ~ dd {
      margin-top: 15px;
      @include mb {
        margin-top: 0;
      }
    }
  > dd + dd {
    margin-top: 0px;
    @include mb {
      margin-top: 0;
    }
  }
  > dt.wide {
    float: none;
    width: 100%;
  }
  > dd.wide {
    float: none;
    margin-left: 0px;
    padding-top: 0px;
    border-top: 0px;
    button, .ajax-box {
      margin-right: 15px;
    }
  }
  > dt.depth-2 {
    padding-left: 20px;
  }
}
dl.mod-cms-parent_crumbs {
  dd { margin-bottom: 10px; }
}
.tooltip {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  line-height: 1.1;
  @include border-radius(8px);
  background: $orange;
  color: $white;
  text-align: center;
  cursor: pointer;
  ul {
    position: absolute;
    display: none;
    left: -220px;
    width: 30em;
    padding: 15px;
    border: $border-gray4;
    line-height: 1.6;
    z-index: 100;
    background: $white;
    @include box-shadow(0 1px 6px $gray4);
    color: $black;
    font-size: 90%;
    font-weight: normal;
    text-align: left;
    cursor: auto;
    &:before {
      content: "";
      position: absolute;
      left: 215px;
      bottom: -12px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $gray4;
    }
    &:after {
      content: "";
      position: absolute;
      left: 215px;
      bottom: -19px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $white;
    }
  }
}
footer.send {
  padding: 28px 0 0;
  text-align: center;
  input, button {
    margin: 0 8px;
    @include mb {
      margin: 0 4px;
    }
  }
  input.publish_save, input.save, button.save, input.delete {
    @include btn-red;
  }
}
.field_with_errors {
  display: inline;
}

// -------------------------------------------------------------------------------------------------
// button

.btn {
  @include btn;
}
.btn-primary {
  @include btn-red;
}
.btn-default {
  @include btn-gray-l;
}
.btn-success {
  @include btn-orange;
}
.chorg-revisions {
  margin-bottom: 10px;
  .btn {
    margin-bottom: 10px;
  }
  .result {
    float: right;
  }
}

// -------------------------------------------------------------------------------------------------
// addon
#addon-cms-agents-addons-file .see, .addon-view .see {
  .upload-menu-select {
    float: right;
  }
  #selected-files {
    margin-top: 30px;
    @include clear;
    @include mb {
      margin-top: 10px;
    }
  }
}
.file-view {
  float:left;
  width: 164px;
  margin: 0px 28px 20px 0px;
  @include mb {
    margin: 0 10px 10px 0;
  }
  .thumb {
    display: block !important;
    min-height: 110px;
    border: 5px solid $gray4;
    text-align: center;
    line-height: 110px;
    &:hover {
      background-color: #eee;
      text-decoration: none;
    }
    img {
      vertical-align: middle;
    }
    .ext {
      display: block;
      overflow: hidden;
      color: $orange;
      font-size: $px32;
      font-weight: bold;
    }
  }
  .name {
    overflow: hidden;
    padding: 10px 0;
    font-size: 90%;
    @include ellipsis;
    word-wrap: nowrap;
  }
  .action {
    display: inline-block;
    margin-bottom: 7px;
    a {
      @include btn;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// memner photo
#addon-member-agents-addons-photo-spot .see {
  #selected-member-photos {
   margin-top: 30px;
     @include clear;
     @include mb {
       margin-top: 10px;
    }
  }
}
.file-view.member-photo .thumb img {
  max-width: 120px;
  max-height: 90px;
}

// -------------------------------------------------------------------------------------------------
// category
#addon-category-agents-addons-category {
  .category-form {
    padding: 0;
  }
}
.category-form {
  line-height: 2;
  > div {
    padding: 0 24px;
    @include mb {
      padding: 0 10px;
    }
  }
  label {
    display: inline-block;
    margin-right: 10px;
    @include mb {
      &.parent {
        display: block;
        border-bottom: $border-gray1;
      }
    }
    input { margin: 5px !important;}
  }
  div.parent {
    padding: 15px 24px;
    border-bottom: $border-gray1;
    @include mb {
      padding: 10px;
    }
    &.last-child {
      border: none;
    }
    .child {
      padding-left: 30px;
      @include mb {
        padding: 0;
      }
    }
    .grandchild > label {
      clear: both;
      display: block;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// mod-map
.mod-map {
  padding: 0 10px;
  @include mb { padding: 0 10px; }
  .keyword {
    max-width: 400px;
    @include mb { max-width: 75%; }
  }
  .location-search { margin-bottom: 20px; }
  > button { @include mb{ margin-bottom: 10px; } }
  .marker-setting {
    @include clear;
    margin: 20px 0 0;
    dt {
      font-weight: bold;
      margin-bottom: 10px;
    }
    dd {
      float: left;
      margin-left: 0px;
      margin-right: 28px;
      @include mb {
        float: none;
        margin: 0;
      }
      p {
        margin-top: 10px;
        @include mb { margin: 0; }
      }
      &.marker {
        padding-bottom: 18px
      }
      .marker-name,.marker-text,.marker-loc-input {
        width: 260px;
        @include mb {
          width: 100%;
        }
      }
      &:last-child {
        width: 260px;
        @include mb {
          width: 100%;
        }
      }
    }
  }
  .add-marker {
    @include btn-orange;
    margin: 10px 0 28px;
  }
}
#map-canvas {
  img {
    max-width: none;
  }
  .marker-info {
    white-space: nowrap;
  }
}

// -------------------------------------------------------------------------------------------------
// search-form
.list-search {
  @include clear;
  @include box;
  margin-bottom: 15px;
  padding: 12px;
  @include mb { margin: 0 10px 10px; }
  form {
    float: right;
    @include mb {
      float: none;
      #s_keyword {
        margin-bottom: 10px;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// index
.tap-menu {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 5px 0px;
  border: $border-gray4;
  background: $white;
  @include box-shadow(0px 1px 3px #gray4);
  a {
    display: block;
    padding: 5px 15px;
    line-height: 1.8;
    &:hover { background: $gray1; }
  }
}
div.index {
  @include clear;
  @include box;
  position: static;
  @include mb { margin: 0 10px 10px; }
  label {
    float: left;
    width: 50px;
    margin-left: -15px;
    padding: 0 3px 16px 13px;
    input {
      margin: 2px 4px;
    }
  }
  .list-head label {
    padding: 10px 4px 4px 19px;
  }
}
#ajax-box {
  div.index {
    border: none;
  }
}
.list-items {
  margin: 10px;
  padding: 0;
}
.list-head {
  @include clear;
  margin: 0px 0px 10px;
  padding: 10px 12px;
  border-bottom: $border-gray1;
  font-weight: bold;
  @include mb { padding: 10px 20px; }
}
.list-head-action {
  float: left;
  margin-top: 3px;
  @include mb {
    margin-bottom: 10px;
    button { margin: 0; }
  }
}
.list-head-search {
  float: right;
  @include mb {
    input[type="text"] { width: 70% !important; }
    input[type="submit"] { width: 20% !important; }
  }
}
.list-item {
  padding: 8px 8px;
  border-bottom: $border-gray1;
  @include mb { padding: 8px 10px; }
  &:last-child {
    border: none;
  }
  .checked, &:hover {
    background: $orange2;
  }
  label + .info {
    @include mb { margin-left: 26px; }
  }
  .up {
    padding: 2px 0 3px 25px;
    background: url(/assets/img/ic-arrow16up-off.png) no-repeat left center;
    &:hover {
      background: url(/assets/img/ic-arrow16up-on.png) no-repeat left center;
    }
  }
  .title {
    color: $orange;
    font-size: $px15;
    @include mb { font-size: $px14; }
  }
  .info {
    display: inline-block;
  }
  .meta {
    span {
      display: inline-block;
      margin-right: 10px;
      //font-size: $px12;
    }
    .label {
      margin-right: 0;
      color: #844;
      &:before { content: '['; }
      &:after { content: ']'; }
    }
    .id {
      color: #444;
    }
    .datetime {
      color: #777;
    }
    .filename {
      color: #080;
    }
    .order {
      color: #888;
      &:before {
        content: '\25b9';
      }
    }
  }
  .links {
    float: right;
    .btn {
      margin-top: 4px;
    }
  }
}
table.index {
  width: 100%;
  border: $border-gray5;
  background: $white;
  tr:nth-child(2n) {
    background: $gray1;
  }
  tr:hover {
    background: #fbe8e2;
  }
  th, td {
    padding: 6px 18px;
    @include mb { display: inline-block; }
  }
  th.checkbox,
  td.checkbox {
    width: 38px;
    padding-right: 0;
  }
  thead th {
    border-bottom: $border-gray5;
    background: $gray1;
    color: $gray2;
    &.deselect {
      width: 100px;
    }
    @include mb {
      display: inline-block;
      padding: 5px 0;
      border: none;
      background: none;
      &:after {
        content: "/";
      }
      &:first-child {
        padding-left: 16px;
      }
      &:last-child {
        padding-right: 16px;
      }
    }
  }
  .toggle {
    cursor: pointer;
  }
  @include mb {
    thead {
      background: $gray1;
    }
  }
  .padding {
    display: inline-block;
    width: 15px;
  }
}
.sortable-index {
  tr td:first-child {
    cursor: move;
    &:before {
      display: inline-block;
      position: relative;
      left: -10px;
      float: left;
      width: 1px;
      height: 1.6em;
      margin-right: 5px;
      border-left: 1px dotted #aaa;
      border-right: 1px dotted #aaa;
      content: '';
    }
  }
  .ui-sortable-helper {
    @include box-shadow(0px 1px 3px #888);
    .deselect {
      display: none;
    }
  }
}
.dropdown-container {
  display: none;
  position: absolute;
  overflow: auto;
  width: 70%;
  max-height: 70%;
  margin-top: 2px;
  @include box-shadow(1px 2px 4px #888);
  font-weight: normal;
  z-index: 101;
}
.ads-total table.index {
  th,td {
    border: $border-gray5;
    @include mb { display: table-cell; }
  }
  thead th {
    display: table-cell;
    &:after { display: none; }
  }
}

// -------------------------------------------------------------------------------------------------
// form
select, input, textarea, button {
  font-size: 100%;
  font-family: $font-base;
  @include mb {
    -webkit-appearance: none;
  }
}
#addon-cms-agents-addons-file .see .cboxElement, .addon-view .see .cboxElement {
  @include btn;
  &.add-date {
    @include btn-orange;
  }
  @include mb {
    margin-top: 10px;
  }
}
select {
  @include input;
  height: 2.4em;
  max-width: 100%;
  padding: 0 4px;
}
input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=url],
input[type=email], input[type=number], input[type=tel] {
  @include input;
  width: 80%;
  padding: 6px;
}
@include mb {
  input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=url],
  input[type=email], input[type=number], input[type=tel] {
    width: 100% !important;
  }
}
input[type=number] {
  width: 12em;
}
input.alnum {
  ime-mode: disabled;
}
input.number {
  ime-mode: disabled;
}
input.filename {
  width: 25em;
  ime-mode: disabled;
}
input.datetime {
  width: 12em;
  text-align: center;
}
input.date {
  width: 9em;
  text-align: center;
}
input.time {
  width: 9em;
  text-align: center;
}
textarea {
  @include input;
  width: 100%;
  height: 6.5em;
  padding: 5px 5px;
  line-height: 1.4;
}
textarea.code {
  height: 30em;
  font-size: 120%;
  font-family: monospace;
}
form .CodeMirror {
  border: 1px solid #ccc;
}

// -------------------------------------------------------------------------------------------------
// form

#notice {
  display: table;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  box-shadow: 0px 1px 2px #888;
  background-color: #48f;
  background-color:rgba(40, 80, 120, 0.8);
  color: #fff;
  line-height: 2.4;
  .wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
.errorExplanation {
  margin: 0px 0px 20px;
  padding: 20px 20px;
  border: 1px solid $orange;
  @include border-radius(3px);
  background-color: #fff;
  h2 {
    margin: -20px -20px 25px;
    padding: 8px 20px;
    background-color: $orange;
    color: #fff;
  }
  p, ul {
    padding: 0;
  }
  ul {
    margin: 10px 0;
    padding-left:20px;
  }
  li {
    list-style: disc;
  }
  .code {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    @include border-radius(3px);
    background: $black2;
    color: $white;
    list-style: none;
    & + ul {
      margin-bottom: 20px;
      padding-left: 20px;
      li {
        list-style: disc;
      }
    }
  }
}
#alertExplanation {
  margin: 0px 0px 20px;
  padding: 20px 20px;
  border-bottom: 1px solid $orange;
  background-color: #fff;
  h2 {
    margin: -20px -20px 25px;
    padding: 4px 8px;
    background: $orange;
    color: #fff;
  }
  p, ul {
    //white-space: nowrap;
    color: #822;
  }
}
.field_with_errors {
  input, textarea, select {
    display: inline-block;
    border: 1px solid #e00;
  }
}

// -------------------------------------------------------------------------------------------------
// common

.monospace {
  font-family: "Osaka−等幅", "ＭＳ ゴシック", "MS Gothic", "monospace";
}
.pagination {
  @include clear;
  margin: 20px 0px;
  @include mb { padding: 0 10px; }
  span a, .current, .gap {
    float: left;
    min-width: 20px;
    margin: 0px 4px 0px 0px;
    padding: 10px;
    border: $border-gray5;
    background-color: #fff;
    color: #444;
    text-align: center;
  }
  span:first-child {
    margin-left: 0px;
    a { margin-left: 0px; }
  }
  .first a, .last a {
    min-width: 20px;
  }
  .prev a, .next a  {
    min-width: 50px;
  }
  .current {
    background-color: #777;
    color: #fff;
  }
  a:hover {
    //background-color: #ddd;
    color: #e00;
    text-decoration: none;
  }
}

// -------------------------------------------------------------------------------------------------
// colorbox

#cboxTitle, #cboxCurrent, #cboxNext, #cboxPrevious, #cboxSlideshow {
  display: none !important;
}
#colorbox {
  .menu {
    a {
      @include btn;
    }
  }
}

// search-ui
.search-ui-form {
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #ddd;
}
.search-ui-select {
  margin: 10px 0 0;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffd;
}

// -------------------------------------------------------------------------------------------------
// facility

#facility-info {
  position: relative;
  .summary {
    position: absolute;
    top: 65px;
    right: 15px;
    @include mb { position: static;}
  }
  #map-canvas {
    margin-bottom: 10px;
  }
}
.mod-cms-additional-info {
  #item_additional_info__field { width: 160px; }
  dd textarea {
    width: 70%;
  }
  .clear {
    vertical-align: top;
  }
}

// -------------------------------------------------------------------------------------------------
// openlayers
#marker-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  min-width: 260px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  font-size: 12px;
}
#marker-popup:after, #marker-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#marker-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
#marker-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#marker-popup .closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}
#marker-popup .closer:after {
  content: "×";
}
#marker-popup {
  .post-head {
    padding: 0;
  }
  .post-text {
    margin-top: 15px;
  }
}
