// -------------------------------------------------------------------------------------------------
// base

header, footer, nav, section, article, figure, aside {
  display: block;
  margin: 0;
}
* {
  @include box-sizing(border-box);
}
html {
  font-size: 14px;
}
html, body {
  height: 100%;
  margin: 0px;
  background: $white;
  color: $black3;
}
body {
  font-family: $font-base;
  line-height: 1.4;
  word-wrap: break-word;
}
#page {
  position: relative;
  min-height: 100%;
}
h1, h2, h3, h4, h5, p {
  margin: 0px;
  font-size: 100%;
  font-weight: normal;
}
nav a {
  color: $black;
  &:hover { color: $orange; }
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
  line-height: 0;
}
ul li {
  list-style: none;
}
table {
  border-spacing: 0;
  empty-cells: show;
}
th {
  font-size: 100%;
  font-weight: normal;
  text-align: left;
}
td {
  font-size: 100%;
}

// -------------------------------------------------------------------------------------------------

.hide { display: none; }

.material-icons {
  vertical-align: middle;
}
@-moz-document url-prefix() {
  .material-icons {
    margin-top: 1px;
    margin-bottom: -1px;
  }
}

.CodeMirror {
  border: 1px solid $gray4;
}

.ss-dropdown {
  position: relative;
  cursor: pointer;
}
.ss-dropdown-menu {
  display: none;
  position: absolute;
  z-index: 500;
  cursor: auto;
  &.active {
    display: block;
  }
}
.ss-dropdown-menu--top-right {
  bottom: -10px;
  right: 0;
}
.ss-dropdown-menu--white {
  padding: 5px 0;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #d0d0d0;
  background-color: #fff;
}
.ss-dropdown-menu--white li {
  border-bottom: 1px solid #eee;
  &:hover {
    background: #f2f2f2;
  }
}
.ss-dropdown-menu--white li:last-child {
  border: none;
}
.ss-dropdown-menu-item {
  display: block;
  padding: 8px 12px;
  color: #000;
  white-space: nowrap;
  &:hover {
    color: #f25a38;
  }
}
.ss-dropdown-menu-item.disabled {
  color: #aaa;
}

// -------------------------------------------------------------------------------------------------
// Popup Notice
.gws-memo-notice, .gws-memo-message, .gws-bookmark {
  &:hover {
    background: #424242;
  }
  & > .ajax-popup-notice, .bookmark-icon {
    position: relative;
    display: block;
    padding: 12px;
    color: $white;
    &:after {
      display: none;
    }
  }
}
.gws-memo-message {
  & > .ajax-popup-notice {
    width: 48px;
    height: 48px;
    background: url(/assets/img/ic-message-off.png) no-repeat center center;
  }
}
#head .user .unseen {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  min-width: 16px;
  padding: 0 2px;
  border-radius: 3px;
  background: $red;
  font-size: $px12;
  text-align: center;
}

// -------------------------------------------------------------------------------------------------
// gws-notice-post
.gws-notice-post {
  font-size: 180%;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 10px;
}
.addon-view mb-4#addon-basic {
  .categories {
    float: left;
    margin: 20px 10px 0;
    .gws-category-label {
      font-size: 100%;
    }
  }
  .aside {
    float: right;
    margin: 20px 10px 0;
    text-align: right;
    .updated, .user, .severity {
      display: block;
      margin-bottom: 8px;
    }
  }
  .files, .links {
    span {
      display: block;
    }
  }
  #gws-notice-text {
    margin-bottom: 30px;
  }
  .files {
    margin-bottom: 30px;
    span {
      a {
        padding-left: 30px;
        vertical-align: middle;
        &[class^="icon-"] {
          background: url(/assets/img/gws/ic-file.png) no-repeat left;
        }
        &.icon-csv {
          background: url(/assets/img/gws/ic-csv.gif) no-repeat left;
        }
        &.icon-doc {
          background: url(/assets/img/gws/ic-word.gif) no-repeat left;
        }
        &.icon-pptx {
          background: url(/assets/img/gws/ic-pptx.gif) no-repeat left;
        }
        &.icon-pdf {
          background: url(/assets/img/gws/ic-pdf.gif) no-repeat left;
        }
        &.icon-txt {
          background: url(/assets/img/gws/ic-txt.gif) no-repeat left;
        }
        &.icon-xls {
          background: url(/assets/img/gws/ic-xls.gif) no-repeat left;
        }
      }
    }
  }
  .links a {
    padding-left: 30px;
    background: url(/assets/img/gws/ic-link.png) no-repeat left;
    vertical-align: middle;
  }
  .addon-body {
    clear: both;
  }
  .menu {
    margin: 0 10px 20px;
    text-align: right;
  }
}
#addon-gws-agents-addons-notice-comment_post form {
  margin-bottom: 15px;
  &+table.index {
    border-collapse:collapse;
    border: none;
    border-top: 1px solid #dcdcdc;
    thead th {
      padding: 11.5px 18px;
      background: none;
    }
    tbody tr {
      border-bottom: 1px solid #dcdcdc;
      background: none;
    }
  }
}
// -------------------------------------------------------------------------------------------------
// head
#head {
  padding: 0 1rem;
  background: $black2;
  @include media-breakpoint-down(sm) {
    @include flex-direction(column);
  }
  h1 {
    display: inline-block;
  }
  button {
    margin-bottom: 0;
  }
  .ss-head-item {
    height: 100%;
  }
  .btn:after {
    border-top: 0.3em solid $white;
  }
  .env {
    color: $white;
    vertical-align: middle;
    @include media-breakpoint-down(sm) { display: none; }
  }
  .site-navi{
    .btn {
      margin-bottom: 0;
      color: $white;
      font-size: 1rem;
    }
    .view-site, .preview-site {
      padding-left: 3rem;
      background-image: url(/assets/img/ic_siteview.png);
      background-repeat: no-repeat;
      background-position: 1rem center;
    }
    .preview-site {
      background-image: url(/assets/img/ic_preview.png);
    }
  }
  .user {
    margin-left: auto;
    button {
      color: $white;
      font-size: 1rem;
    }
    span {
      display: inline-block;
      max-width: 200px;
      line-height: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include media-breakpoint-down(sm) {
        max-width: 160px;
      }
    }
    .group {
      margin-right: 10px;
    }
    .text-zoom {
      span { margin-bottom: 0; }
    }
    .gws-contrast {
      padding: 8px 10px;
      border-bottom: 1px solid  #f2f2f2;
      .caret {
        float: right;
      }
      &:hover {
        cursor: pointer;
        color: $orange;
        background: #eee;
        * {
          cursor: pointer;
        }
      }
    }
    .gws-contrast-loading, .gws-contrast-error {
      padding: 8px 10px;
    }
    #user-contrast-menu {
      height: auto;
      min-height: 200px;
      .user-contrast-menu-header {
        border-bottom: 1px solid  #f2f2f2;
        font-weight: bold;
        .cascade-back { padding: 8px 10px; }
        .caret { float: left; }
      }
      .gws-contrast-item {
        display: block;
        padding: 8px 10px 8px 12px;
        cursor: pointer;
        input[type="radio"] {
          margin: 4px 7px 3px 4px;
          vertical-align: top;
        }
        .gws-contrast-name {
          display: inline-block;
          width: calc(100% - 32px);
        }
      }
    }
    .gws-contrast, .user-contrast-menu-header {
      .material-icons { line-height: 0.8; }
    }
  }
  .sp-menu-button {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1;
      a {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        background: $white;
      }
      span {
        display: block;
        width: 24px;
        height: 3px;
        position: absolute;
        left: 8px;
        background: $black;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
      }
      span:first-child {
        top: 10px;
      }
      span:nth-child(2) {
        margin-top: -1px;
        top: 50%;
      }
      span:last-child {
        bottom: 10px;
      }
      .active span:first-child {
        -webkit-transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
      }
      .active span:nth-child(2) {
          opacity: 0;
      }
      .active span:last-child {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
      } 
    }
  }
}

// -------------------------------------------------------------------------------------------------
// wrap
#wrap {
  @include clear;
  & > .wrap {
    @include media-breakpoint-down(sm) {
      @include flex-direction(column-reverse);
    }
  }
  .wrap-body {
    width: 100%;
  }
  .fixed-navi {
    position: relative;
    min-width: 360px;
    max-width: 360px;
    margin: 0 -30px 0 15px;
    border-left: 1px solid $gray3;
    @include media-breakpoint-down(sm) {
      min-width: auto;
      max-width: auto;
      width: 100%;
      margin: 0;
      border: none;
      .nav {
        display: none;
      }
    }
    .wrap {
      top: 0;
      width: 100%;
      &.is-fixed {
        position: fixed;
        @include media-breakpoint-down(sm) {
          position: static;
        }
      }
    }
  }
}
#main {
  width: 100%;
  padding: 30px;
  @include media-breakpoint-down(sm) {
    padding: 15px;
    .wrap {
      @include flex-direction(column);
    }
  }
}
#side {
  position: relative;
  width: 285px;
  overflow: scroll;
  padding: 30px 15px;
  border-right: 1px solid $gray3;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding: 15px;
  }
  & + #main {
    width: calc(100% - 285px);
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
// -------------------------------------------------------------------------------------------------
// nav
#navi {
  background: $black3;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
.gws-menu-btn {
  position: relative;
  z-index: 9999;
  display: inline-block;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  span {
    display: inline-block;
    margin: 10px 30px;
    padding: 5px 10px;
    border: 1px solid $gray1;
    border-radius: 3px;
    color: $white;
    font-size: $px16;
    cursor: pointer;
  }
}
.gws-menu-btn span:after {
  content: attr(data-txt-menu);
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.nav-open .gws-menu-btn span:after {
  content: attr(data-txt-close);
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.gws-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9998;
  height: 100%;
  padding: 30px 30px 30px 120px ;
  background: rgba(0,0,0,.8);
  -webkit-transition: all .5s;
  transition: all .5s;
  visibility: hidden;
  opacity: 0;
  @include media-breakpoint-down(sm) {
    position: static;
    height: auto;
  }
  li a {
    display: block;
    width: 120px;
    margin: 15px;
    padding-top: 120px;
    color: $white;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
  .icon-portal {
    background: url(/assets/img/ic_gws-navi.png) no-repeat 0 0;
  }
  .icon-schedule {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -120px 0;
  }
  .icon-todo {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -240px 0;
  }
  .icon-reminder {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -360px 0;
  }
  .icon-memo {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -480px 0;
  }
  .icon-bookmark {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -600px 0;
  }
  .icon-attendance {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -720px 0;
  }
  .icon-report {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -840px 0;
  }
  .icon-workflow {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -960px 0;
  }
  .icon-circular {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1080px 0;
  }
  .icon-monitor {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1200px 0;
  }
  .icon-board {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1320px 0;
  }
  .icon-faq {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1440px 0;
  }
  .icon-question {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1560px 0;
  }
  .icon-discussion {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1680px 0;
  }
  .icon-share {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1800px 0;
  }
  .icon-address {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -1920px 0;
  }
  .icon-search {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -2160px 0;
  }
  .icon-conf {
    background: url(/assets/img/ic_gws-navi.png) no-repeat -2280px 0;
  }
}
.nav-open .gws-menu {
  -webkit-transition: all .5s;
  transition: all .5s;
  visibility: visible;
  opacity: 1;
}
// -------------------------------------------------------------------------------------------------
// content-head
.content-head {
  padding: 15px 30px;
  border-bottom: 1px solid $gray3;
  background: $gray2;
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }
  h1 {
    font-size: $px24;
  }
  h1:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  .icon-content:before {
    background: url(/assets/img/ic_main-navi.png) no-repeat -32px 0;
  }
  .nav-tabs {
    margin-bottom: -15px;
  }
}
// -------------------------------------------------------------------------------------------------
// main-navi
@mixin navi-icon {
  padding: 10px 10px 10px 50px;
}
.main-navi {
  li {
    padding: .5rem;
    a {
      @include display-flex;
      @include align-items(center);
    }
    i {
      margin-right: .5rem;
    }
  }
  .btn-primary {
    margin-bottom: 0;
    color: $white;
    font-size: 1rem;
    &:hover, &:active, &:focus,
    &:not(:disabled):not(.disabled):active {
      background: $red;
      color: $white;
    }
  }
  .cms-navi .btn:before {
    content: "";
    width: 32px;
    height: 32px;
  }
  .icon-content:before {
    background: url(/assets/img/ic_main-navi.png) no-repeat left 0;
  }
  .icon-node:before {
    background: url(/assets/img/ic_main-navi.png) no-repeat left -32px;
  }
  .icon-page:before {
    background: url(/assets/img/ic_main-navi.png) no-repeat left -64px;
  }
  .icon-part:before {
    background: url(/assets/img/ic_main-navi.png) no-repeat left -96px;
  }
  .icon-layout:before {
    background: url(/assets/img/ic_main-navi.png) no-repeat left -128px;
  }
  .icon-search:before {
    background: url(/assets/img/ic_main-navi.png) no-repeat left -448px;
  }
  .conf {
    .dropdown-menu {
      min-width: 400px;
      @include media-breakpoint-down(sm) {
        min-width: 320px;
      }
    }
    .dropdown-menu a {
      width: 50%;
    }
  }
}
// -------------------------------------------------------------------------------------------------
// folder-list
.folder-list {
  height: 100%;
  .nav-link {
    display: block;
    overflow: hidden;
    color: $gray5;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover, &.current:hover {
      color: $primary2;
    }
    .material-icons {
      margin-right: 5px;
    }
    span {
      vertical-align: middle;
    }
  }
  .nav-item.is-current a, .nav-item.current a {
    color: $black;
  }
  .folder-navi {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 285px;
    border-top: 1px solid $gray3;
    border-right: 1px solid $gray3;
    background: $white;
    @include media-breakpoint-down(sm) {
      position: static;
      width: calc(100% + 30px);
      margin: 0 -15px;
      border-right: none;
      border-bottom: 1px solid $gray3;
    }
    ul {
      margin: 0;
      padding: 15px;
    }
  }
}
// -------------------------------------------------------------------------------------------------
// mod-navi
.mod-navi {
  border-bottom: $border-gray5;
  &:not(.current-navi) {
    h2 {
      padding: 10px 15px;
      font-weight: bold;
    }
  }
  &.current-navi {
    h2:first-child {
      a {
        background-color: $gray1;
        position: relative;
        display: block;
        @include navi-icon;
        color: $black;
        &:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 10px;
          width: 32px;
          height: 32px;
          background: url(/assets/img/ic-main-navi.png) no-repeat left top;
        }
        &:hover {
          position: relative;
          color: $orange;
          text-decoration: none;
        }
      }
      a.navi-icon:hover:before {
        background: url(/assets/img/ic-main-navi.png) no-repeat -32px top;
      }
      background-color: $gray1;
      &:hover {
        background-color: $gray1;
      }
    }
    h2:not(:first-child) {
      padding: 10px 15px;
      font-weight: bold;
    }
  }
  h3 a {
    display: block;
    padding: 5px 15px 5px 60px;
    background: url(/assets/img/ic-arrow16-off.png) no-repeat 35px center;
    &.management {
      background: url(/assets/img/ic-setting.png) no-repeat 35px center;
    }
    &.trash {
      background: url(/assets/img/ic-trash.png) no-repeat 35px center;
    }
    color: $black;
    @at-root h3.current a {
      background-color: $gray1;
      &.management {
        background-color: $gray1;
      }
      &.trash {
        background-color: $gray1;
      }
    }
    &:hover {
      background: $gray1 url(/assets/img/ic-arrow16-on.png) no-repeat 35px center;
      color: $orange;
      text-decoration: none;
    }
    &.management:hover {
      background: $gray1 url(/assets/img/ic-setting.png) no-repeat 35px center;
      color: $orange;
      text-decoration: none;
    }
    &.trash:hover {
      background: $gray1 url(/assets/img/ic-trash.png) no-repeat 35px center;
      color: $orange;
      text-decoration: none;
    }
  }
  h3 .label {
    display: block;
    padding: 5px 15px 5px 60px;
    background: url(/assets/img/ic-arrow16-off.png) no-repeat 35px center;
  }
  h3 span {
    display: block;
    padding: 5px 15px 5px 60px;
    background: url(/assets/img/ic-arrow16-off.png) no-repeat 35px center;
  }
  h3:last-child, ul:last-child {
    margin-bottom: 8px;
  }
  h4 a {
    display: block;
    padding: 5px 15px 5px 85px;
    background: url(/assets/img/ic-arrow16-off.png) no-repeat 60px center;
    &.management {
      background: url(/assets/img/ic-setting.png) no-repeat 60px center;
    }
    color: $black;
    @at-root h4.current a {
      background-color: $gray1;
    }
    &:hover {
      background: $gray1 url(/assets/img/ic-arrow16-on.png) no-repeat 60px center;
      color: $orange;
      text-decoration: none;
    }
    &.management:hover {
      background: $gray1 url(/assets/img/ic-setting.png) no-repeat 60px center;
      color: $orange;
      text-decoration: none;
    }
  }
  .navi-link:hover {
    background-color: $gray1;
    text-decoration: none;
    cursor: pointer;
  }
  @include media-breakpoint-down(sm) {
    h3 {
      a, a:hover, a.management, a:hover.management, span {
        padding: 5px 15px 5px 35px;
        background-position: 15px center;
      }
    }
  }
  .ss-dropdown {
    h2 {
      background: url(/assets/img/ic-arrow-off.png) no-repeat 190px center;
    }
    &:hover h2, &.active h2 {
      background: $gray1 url(/assets/img/ic-arrow-on.png) no-repeat 190px center;
      color: $orange;
    }
    &.active h2 {
      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 100%;
        z-index: 100;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-left: 9px solid $gray4;
      }
      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 100%;
        z-index: 100;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 8px solid $gray1;
      }
    }
    @include media-breakpoint-down(sm) {
      h2, &.active h2, &:hover h2 {
        background-position: 97% center;
      }
    }
  }
  .narrow-page {
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: 5px 15px 5px 85px;
      background: url(/assets/img/ic-arrow16-off.png) no-repeat 60px center;
      &.management {
        background: url(/assets/img/ic-setting.png) no-repeat 60px center;
      }
      color: $black;
      &:hover {
        background: $gray1 url(/assets/img/ic-arrow16-on.png) no-repeat 60px center;
        color: $orange;
        text-decoration: none;
      }
      &:hover.management {
        background: $gray1 url(/assets/img/ic-setting.png) no-repeat 60px center;
        color: $orange;
        text-decoration: none;
      }
    }
    .current a {
      background-color: $gray1;
    }
    @include media-breakpoint-down(sm) {
      @include clear;
      li {
        float: left;
        margin-left: 25px;
        a, a:hover {
          background-position: left center;
          padding: 5px 0 5px 20px;
        }
      }
    }
  }
}
// -------------------------------------------------------------------------------------------------
// foot
#foot {
  padding: 15px;
  text-align: center;
  .btn {
    margin-bottom: 0;
  }
}
// -------------------------------------------------------------------------------------------------
// warning
.warning {
  @include clear;
  margin: 0 0 1px;
  padding: 10px 10px;
  padding-left: 220px;
  background: #f99;
  a {
    color: $black;
    font-weight: bold;
  }
  @include media-breakpoint-down(sm) { padding-left: 10px; }
}
// -------------------------------------------------------------------------------------------------
// menu
#menu {
  position: relative;
  .nav-management-menu {
    position: absolute;
    top: -60px;
    right: 0;
    line-height: 39px;
    a {
      display: inline-block;
      position: relative;
      padding: 0 20px;
      color: $black;
      text-decoration: none;
      .material-icons {
        margin-right:4px;
      }
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  #menu {
    .nav-management-menu {
      position: static;
      text-align: right;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// see
.upload-drop-area {
  background: $gray1;
}
.file-view {
  .thumb {
    display: block;
    min-width: 200px;
    min-height: 150px;
    line-height: 150px;
    overflow: hidden;
    text-align: center;
    background: $gray3;
  }
}
// -------------------------------------------------------------------------------------------------
// common view

#ajax-box {
  margin: 10px;
}
.toggle-head {
  cursor: pointer;
  &:hover { background: #f4f4f4; }
  &:hover { background: $orange2; }
}

.ss-confirm-text {
  margin: 10px;
}
dl.mod-cms-parent_crumbs {
  dd { margin-bottom: 10px; }
}
.ss-tooltip {
  display: inline-block;
  .ss-tooltip-toggle {
    @include appearance(none);

    border: none;
    color: $orange;
    cursor: pointer;
    padding: 0;
    margin: 0 4px;
    .material-icons {
      font-size: 1.5rem;
    }
  }
  .ss-tooltip-body {
    display: none;
    padding: 15px;
    border: $border-gray4;
    line-height: 1.6;
    z-index: 100;
    background: $white;
    @include box-shadow(0 1px 6px $gray4);
    color: $black;
    font-size: 90%;
    font-weight: normal;
    text-align: left;
    cursor: auto;
  }
  .popper__arrow {
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: $border-gray4;
    }
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      left: calc(50% - 12px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .ss-tooltip-body[x-placement="top"] .popper__arrow {
    &:before {
      border-width: 12px 12px 0 12px;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -12px;
      left: calc(50% - 12px);
      margin-top: 0;
      margin-bottom: 0;
    }
    &:after {
      border-top: 12px solid $white;
      bottom: -19px;
    }
  }
  .ss-tooltip-body[x-placement="bottom"] .popper__arrow {
    &:before {
      border-width: 0 12px 12px 12px;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -12px;
      left: calc(50% - 12px);
      margin-top: 0;
      margin-bottom: 0;
    }
    &:after {
      border-bottom: 12px solid $white;
      top: -19px;
    }
  }
}
.field_with_errors {
  display: inline;
}

// -------------------------------------------------------------------------------------------------
// button
.chorg-revisions {
  margin-bottom: 10px;
  .btn {
    margin-bottom: 10px;
  }
  .result {
    float: right;
  }
}


// -------------------------------------------------------------------------------------------------
// content-search
.content-search {
  * {
    margin: 0 1rem 0 0;
  }
  .card-body {
    margin-right: 0;
  }
  .search-group {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .form-group {
    padding-top: 0;
    .keyword {
      min-width: 15rem;
    }
  }
  .detailed-search {
    float: right;
    margin-right: 0;
  }
}
// -------------------------------------------------------------------------------------------------
// memner photo
#addon-member-agents-addons-photo-spot .see {
  #selected-member-photos {
   margin-top: 30px;
     @include clear;
     @include media-breakpoint-down(sm) {
       margin-top: 10px;
    }
  }
}
.file-view.member-photo .thumb img {
  max-width: 120px;
  max-height: 90px;
}

// -------------------------------------------------------------------------------------------------
// category
#addon-category-agents-addons-category {
  .category-form {
    padding: 0;
  }
}
.category-form {
  line-height: 2;
  > div {
    padding: 0 24px;
    @include media-breakpoint-down(sm) {
      padding: 0 10px;
    }
  }
  label {
    display: inline-block;
    margin-right: 10px;
    @include media-breakpoint-down(sm) {
      &.parent {
        display: block;
        border-bottom: $border-gray1;
      }
    }
    input { margin: 5px !important;}
  }
  div.parent {
    border-bottom: $border-gray1;
    @include media-breakpoint-down(sm) {
      padding: 10px;
    }
    &.last-child {
      border: none;
    }
    .child {
      padding-left: 30px;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
    .grandchild > label {
      clear: both;
      display: block;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// mod-map
.mod-map {
  padding: 0 10px;
  @include media-breakpoint-down(sm) { padding: 0 10px; }
  .keyword {
    max-width: 400px;
    @include media-breakpoint-down(sm) { max-width: 75%; }
  }
  .location-search { margin-bottom: 20px; }
  > button { @include media-breakpoint-down(sm){ margin-bottom: 10px; } }
  .marker-setting {
    @include clear;
    margin: 20px 0 0;
    dt {
      font-weight: bold;
      margin-bottom: 10px;
    }
    dd {
      float: left;
      margin-left: 0px;
      margin-right: 28px;
      @include media-breakpoint-down(sm) {
        float: none;
        margin: 0;
      }
      p {
        margin-top: 10px;
      }
      &.marker {
        padding-bottom: 18px
      }
      .marker-name,.marker-text,.marker-loc-input {
        width: 260px;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
      &:last-child {
        width: 260px;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }
  .add-marker {
    @include ss-btn-orange;
    margin: 10px 0 28px;
  }
}
#map-canvas {
  img {
    max-width: none;
  }
  .marker-info {
    white-space: nowrap;
  }
}

// -------------------------------------------------------------------------------------------------
// search-form
.list-search {
  @include clear;
  @include box;
  margin-bottom: 15px;
  padding: 12px;
  @include media-breakpoint-down(sm) { margin: 0 10px 10px; }
  .title {
    float: left;
    font-size: 140%;
  }
  form {
    float: right;
    @include media-breakpoint-down(sm) {
      float: none;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// components
h2.h4 + .more {
  float: right;
  margin-top: -2.5rem;
}
.table {
  td.state span {
    display: inline-block;
    padding: .1rem .5rem;
    border-radius: .3rem;
    background: $primary1;
    color: $white;
    font-size: .875rem;
  }
  td.menu {
    padding: 0.4rem 0.75rem;
  }
  .notice-severity-high {
    color: $red;
  }
}

.tap-menu {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 5px 0px;
  border: $border-gray4;
  background: $white;
  @include box-shadow(0px 3px 12px rgba(0,0,0,.2));
  a {
    display: block;
    padding: 5px 15px;
    line-height: 1.8;
    white-space: nowrap;
    &:hover { background: $gray1; }
  }
}
.wrap-table {
  @include media-breakpoint-down(sm) {
    overflow: scroll;
    table.index th, table.index td {
      display: table-cell;
    }
    table.index thead th {
      border-bottom: $border-gray5;
    }
    table.index thead th:after {
      display: none;
    }
  }
}
table.index.data-table {
  border-collapse: collapse;
  th, td {
    padding: 6px 8px;
    border: $border-gray5;
  }
  th {
    background: $gray1;
    color: inherit;
  }
  td {
    background: $white;
  }
}
.sortable-index {
  .sortable-handle-head {
    width: 10px;
  }
  td:first-of-type {
    padding-left: 22px;
    cursor: move;
    &:before {
      display: inline-block;
      position: absolute;
      width: 1px;
      height: 1.6em;
      margin-left: -12px;
      border-left: 1px dotted #aaa;
      border-right: 1px dotted #aaa;
      content: '';
    }
  }
  td.sortable-handle {
    padding: 0 5px 0 10px;
    cursor: move;
    &:before {
      display: inline-block;
      position: static;
      width: 1px;
      height: 1.6em;
      margin: 0;
      border-left: 1px dotted #aaa;
      border-right: 1px dotted #aaa;
      content: '';
    }
  }
  .sortable-buttons-head {
    width: 100px;
  }
  .sortable-buttons .btn {
    padding: 6px 8px;
  }
  .ui-sortable-helper {
    @include box-shadow(0px 1px 3px #888);
    .deselect {
      display: none;
    }
  }
}
table.form-index {
  th, td {
    padding: 6px;
  }
  select, input[type=text] {
    width: 100%;
  }
}
table.form-index.sortable-index {
  td:first-of-type:before {
    margin-top: 4px;
  }
}
.ss-dropdown-container {
  display: none;
  position: absolute;
  overflow: auto;
  width: 70%;
  max-height: 70%;
  margin-top: 2px;
  @include box-shadow(1px 2px 4px #888);
  font-weight: normal;
  z-index: 101;
}
.ads-total table.index {
  th,td {
    border: $border-gray5;
    @include media-breakpoint-down(sm) { display: table-cell; }
  }
  thead th {
    display: table-cell;
    &:after { display: none; }
  }
}

// -------------------------------------------------------------------------------------------------
// common

.monospace {
  font-family: "Osaka−等幅", "ＭＳ ゴシック", "MS Gothic", "monospace";
}

// -------------------------------------------------------------------------------------------------
// colorbox

#cboxTitle, #cboxCurrent, #cboxNext, #cboxPrevious, #cboxSlideshow {
  display: none !important;
}
#colorbox {
  .menu {
    a {
      @include ss-btn;
    }
  }
}

// event-repeat-dates-ui
.event-repeat-dates-ui-form {
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #ddd;
  td label {
    display: inline-block;
    width: 40px;
  }
}
.event-repeat-dates-ui-select {
  margin: 10px 0 0;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ffd;
}

// -------------------------------------------------------------------------------------------------
// messages
.ss-messages {
  .unseen {
    background: $gray2;
  }
  .unseen:hover, .seen:hover {
    background: #ebebeb;
  }
  .icon {
    .material-icopns { display: block; }
  }
  .icon a:hover .material-icons { opacity: 0.8; }
  .icon-star {
    &.on  .material-icons { color: #f70; }
    &.off .material-icons { color: #bbb; }
  }
}

// -------------------------------------------------------------------------------------------------
// facility

#facility-info {
  position: relative;
  .summary {
    position: absolute;
    top: 65px;
    right: 15px;
    @include media-breakpoint-down(sm) { position: static;}
  }
  #map-canvas {
    margin-bottom: 10px;
  }
}
.mod-cms-additional-info {
  #item_additional_info__field { width: 160px; }
  dd textarea {
    width: 70%;
  }
  .clear {
    vertical-align: top;
  }
}

// -------------------------------------------------------------------------------------------------
// openlayers
#marker-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  min-width: 260px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  font-size: 12px;
}
#marker-popup:after, #marker-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#marker-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
#marker-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#marker-popup .closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}
#marker-popup .closer:after {
  content: "×";
}
#marker-popup {
  .post-head {
    padding: 0;
  }
  .post-text {
    margin-top: 15px;
  }
}

// -------------------------------------------------------------------------------------------------
// addon cms/opendata_ref/resource
#addon-cms-agents-addons-opendata_ref-resource .see {
  .od-resource-file {
    @include clear;
    width: 240px;
    display: inline-block;
    margin: 8px;
    padding: 8px;
    border: 1px solid $white;
    vertical-align: top;
    &:hover {
      border: 1px solid $gray4;
    }
  }
  .od-resource-file-img {
    text-align: center;
    display: inline-block;
    width: 100%;
    &:hover {
      background-color: #eee;
      text-decoration: none;
    }
    img {
      vertical-align: top;
      min-height: 110px;
      width: 100%;
    }
    .ext {
      display: block;
      overflow: hidden;
      color: $orange;
      font-size: $px32;
      font-weight: bold;
      width: 100%;
      min-height: 110px;
    }
  }
  .od-resource-file-name {
    text-align: center;
  }
  .od-resource-file-meta {
    margin: 16px 0px;
    dt {
      font-weight: bold;
      margin: 8px 0px 4px 0px;
    }
    dd {
      margin: 0px;
      margin: 4px 0px 16px 0px;
      select, input, a, table {
        margin: 4px 0px 4px 0px;
      }
    }
  }
  .od-resource-file-operation {
    margin: 8px 0px;
  }
}

// -------------------------------------------------------------------------------------------------
// hide
@include media-breakpoint-down(sm) {
  .hide-mb {
    display: none;
  }
}

// -------------------------------------------------------------------------------------------------
// quota
.ss-quota-bar {
  position: relative;
  border: 1px solid #ccc;
  background-color: #eee;
  @include background(linear-gradient(top, #ddd, #eee));
  line-height: 20px;

  .label {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .usage {
    height: 20px;
    background-color: #6d6;
    @include background(linear-gradient(top, #dfd, #7d7 90%));
  }
  .usage.over-threshold {
    background-color: #ff0f0f;
    @include background(linear-gradient(top, #ffcccc, #ff0f0f));
  }
}
