// -------------------------------------------------------------------------------------------------
// pdfjs
#pdf-viewer-warp {
  margin-top: 15px;
}
.ss-pdf-inline {
  width: 100%;
  height: 500px;
  border: solid 1px #d0d0d0;
}
.ext-pdf .picture-as-pdf {
  margin-right: 6px;
  margin-left: 4px;
}
