// -------------------------------------------------------------------------------------------------
// pdfjs
#pdf-viewer-warp {
  margin-top: 15px;
}
.ss-pdf-inline {
  width: 100%;
  height: 500px;
  border: solid 1px #d0d0d0;
}
.open-pdf {
  margin-left: 4px;
  padding: 2px 4px;
}
.gws-notice-readable .files {
  padding-left: 4px;
  p {
    margin-bottom: 6px;
  }
}
