@use "sass:map";

$shirasagi-icons-font: "shirasagi-icons";

@font-face {
    font-family: $shirasagi-icons-font;
    src: url("/assets/font/shirasagi-icons.eot?ee46516f1ec151b2de71e23e1a8072a2#iefix") format("embedded-opentype"),
url("/assets/font/shirasagi-icons.woff?ee46516f1ec151b2de71e23e1a8072a2") format("woff"),
url("/assets/font/shirasagi-icons.woff2?ee46516f1ec151b2de71e23e1a8072a2") format("woff2");
}

span[class^="ss-icon-"]:before, span[class*=" ss-icon-"]:before {
    font-family: shirasagi-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$shirasagi-icons-map: (
    "zip": "\f101",
    "xlsx": "\f102",
    "xls": "\f103",
    "workload": "\f104",
    "workflow2": "\f105",
    "workflow": "\f106",
    "txt": "\f107",
    "todo": "\f108",
    "tabular": "\f109",
    "svg": "\f10a",
    "survey": "\f10b",
    "shared-address": "\f10c",
    "share": "\f10d",
    "schedule": "\f10e",
    "rtf": "\f10f",
    "report": "\f110",
    "reminder": "\f111",
    "qna": "\f112",
    "presence": "\f113",
    "pptx": "\f114",
    "ppt": "\f115",
    "portal": "\f116",
    "png": "\f117",
    "personal-address": "\f118",
    "pdf": "\f119",
    "other": "\f11a",
    "notice": "\f11b",
    "monitor": "\f11c",
    "memo": "\f11d",
    "jpg": "\f11e",
    "jpeg": "\f11f",
    "gif": "\f120",
    "faq": "\f121",
    "eml": "\f122",
    "elasticsearch": "\f123",
    "docx": "\f124",
    "doc": "\f125",
    "discussion": "\f126",
    "daily-report": "\f127",
    "csv": "\f128",
    "conf": "\f129",
    "circular": "\f12a",
    "bookmark": "\f12b",
    "board": "\f12c",
    "attendance": "\f12d",
    "affair2": "\f12e",
    "affair": "\f12f",
    "7z": "\f130",
);

.ss-icon-zip:before {
    content: map.get($shirasagi-icons-map, "zip");
}
.ss-icon-xlsx:before {
    content: map.get($shirasagi-icons-map, "xlsx");
}
.ss-icon-xls:before {
    content: map.get($shirasagi-icons-map, "xls");
}
.ss-icon-workload:before {
    content: map.get($shirasagi-icons-map, "workload");
}
.ss-icon-workflow2:before {
    content: map.get($shirasagi-icons-map, "workflow2");
}
.ss-icon-workflow:before {
    content: map.get($shirasagi-icons-map, "workflow");
}
.ss-icon-txt:before {
    content: map.get($shirasagi-icons-map, "txt");
}
.ss-icon-todo:before {
    content: map.get($shirasagi-icons-map, "todo");
}
.ss-icon-tabular:before {
    content: map.get($shirasagi-icons-map, "tabular");
}
.ss-icon-svg:before {
    content: map.get($shirasagi-icons-map, "svg");
}
.ss-icon-survey:before {
    content: map.get($shirasagi-icons-map, "survey");
}
.ss-icon-shared-address:before {
    content: map.get($shirasagi-icons-map, "shared-address");
}
.ss-icon-share:before {
    content: map.get($shirasagi-icons-map, "share");
}
.ss-icon-schedule:before {
    content: map.get($shirasagi-icons-map, "schedule");
}
.ss-icon-rtf:before {
    content: map.get($shirasagi-icons-map, "rtf");
}
.ss-icon-report:before {
    content: map.get($shirasagi-icons-map, "report");
}
.ss-icon-reminder:before {
    content: map.get($shirasagi-icons-map, "reminder");
}
.ss-icon-qna:before {
    content: map.get($shirasagi-icons-map, "qna");
}
.ss-icon-presence:before {
    content: map.get($shirasagi-icons-map, "presence");
}
.ss-icon-pptx:before {
    content: map.get($shirasagi-icons-map, "pptx");
}
.ss-icon-ppt:before {
    content: map.get($shirasagi-icons-map, "ppt");
}
.ss-icon-portal:before {
    content: map.get($shirasagi-icons-map, "portal");
}
.ss-icon-png:before {
    content: map.get($shirasagi-icons-map, "png");
}
.ss-icon-personal-address:before {
    content: map.get($shirasagi-icons-map, "personal-address");
}
.ss-icon-pdf:before {
    content: map.get($shirasagi-icons-map, "pdf");
}
.ss-icon-other:before {
    content: map.get($shirasagi-icons-map, "other");
}
.ss-icon-notice:before {
    content: map.get($shirasagi-icons-map, "notice");
}
.ss-icon-monitor:before {
    content: map.get($shirasagi-icons-map, "monitor");
}
.ss-icon-memo:before {
    content: map.get($shirasagi-icons-map, "memo");
}
.ss-icon-jpg:before {
    content: map.get($shirasagi-icons-map, "jpg");
}
.ss-icon-jpeg:before {
    content: map.get($shirasagi-icons-map, "jpeg");
}
.ss-icon-gif:before {
    content: map.get($shirasagi-icons-map, "gif");
}
.ss-icon-faq:before {
    content: map.get($shirasagi-icons-map, "faq");
}
.ss-icon-eml:before {
    content: map.get($shirasagi-icons-map, "eml");
}
.ss-icon-elasticsearch:before {
    content: map.get($shirasagi-icons-map, "elasticsearch");
}
.ss-icon-docx:before {
    content: map.get($shirasagi-icons-map, "docx");
}
.ss-icon-doc:before {
    content: map.get($shirasagi-icons-map, "doc");
}
.ss-icon-discussion:before {
    content: map.get($shirasagi-icons-map, "discussion");
}
.ss-icon-daily-report:before {
    content: map.get($shirasagi-icons-map, "daily-report");
}
.ss-icon-csv:before {
    content: map.get($shirasagi-icons-map, "csv");
}
.ss-icon-conf:before {
    content: map.get($shirasagi-icons-map, "conf");
}
.ss-icon-circular:before {
    content: map.get($shirasagi-icons-map, "circular");
}
.ss-icon-bookmark:before {
    content: map.get($shirasagi-icons-map, "bookmark");
}
.ss-icon-board:before {
    content: map.get($shirasagi-icons-map, "board");
}
.ss-icon-attendance:before {
    content: map.get($shirasagi-icons-map, "attendance");
}
.ss-icon-affair2:before {
    content: map.get($shirasagi-icons-map, "affair2");
}
.ss-icon-affair:before {
    content: map.get($shirasagi-icons-map, "affair");
}
.ss-icon-7z:before {
    content: map.get($shirasagi-icons-map, "7z");
}
