$shirasagi-icons-font: "shirasagi-icons";

@font-face {
    font-family: $shirasagi-icons-font;
    src: url("/assets/font/shirasagi-icons.eot?0e15216c9ad3b27893768d930a3b23e2#iefix") format("embedded-opentype"),
url("/assets/font/shirasagi-icons.woff?0e15216c9ad3b27893768d930a3b23e2") format("woff"),
url("/assets/font/shirasagi-icons.woff2?0e15216c9ad3b27893768d930a3b23e2") format("woff2");
}

span[class^="ss-icon-"]:before, span[class*=" ss-icon-"]:before {
    font-family: shirasagi-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$shirasagi-icons-map: (
    "workload": "\f101",
    "workflow2": "\f102",
    "workflow": "\f103",
    "todo": "\f104",
    "survey": "\f105",
    "shared-address": "\f106",
    "share": "\f107",
    "schedule": "\f108",
    "report": "\f109",
    "reminder": "\f10a",
    "qna": "\f10b",
    "presence": "\f10c",
    "portal": "\f10d",
    "personal-address": "\f10e",
    "notice": "\f10f",
    "monitor": "\f110",
    "memo": "\f111",
    "faq": "\f112",
    "elasticsearch": "\f113",
    "discussion": "\f114",
    "daily-report": "\f115",
    "conf": "\f116",
    "circular": "\f117",
    "bookmark": "\f118",
    "board": "\f119",
    "attendance": "\f11a",
    "affair2": "\f11b",
    "affair": "\f11c",
);

.ss-icon-workload:before {
    content: map-get($shirasagi-icons-map, "workload");
}
.ss-icon-workflow2:before {
    content: map-get($shirasagi-icons-map, "workflow2");
}
.ss-icon-workflow:before {
    content: map-get($shirasagi-icons-map, "workflow");
}
.ss-icon-todo:before {
    content: map-get($shirasagi-icons-map, "todo");
}
.ss-icon-survey:before {
    content: map-get($shirasagi-icons-map, "survey");
}
.ss-icon-shared-address:before {
    content: map-get($shirasagi-icons-map, "shared-address");
}
.ss-icon-share:before {
    content: map-get($shirasagi-icons-map, "share");
}
.ss-icon-schedule:before {
    content: map-get($shirasagi-icons-map, "schedule");
}
.ss-icon-report:before {
    content: map-get($shirasagi-icons-map, "report");
}
.ss-icon-reminder:before {
    content: map-get($shirasagi-icons-map, "reminder");
}
.ss-icon-qna:before {
    content: map-get($shirasagi-icons-map, "qna");
}
.ss-icon-presence:before {
    content: map-get($shirasagi-icons-map, "presence");
}
.ss-icon-portal:before {
    content: map-get($shirasagi-icons-map, "portal");
}
.ss-icon-personal-address:before {
    content: map-get($shirasagi-icons-map, "personal-address");
}
.ss-icon-notice:before {
    content: map-get($shirasagi-icons-map, "notice");
}
.ss-icon-monitor:before {
    content: map-get($shirasagi-icons-map, "monitor");
}
.ss-icon-memo:before {
    content: map-get($shirasagi-icons-map, "memo");
}
.ss-icon-faq:before {
    content: map-get($shirasagi-icons-map, "faq");
}
.ss-icon-elasticsearch:before {
    content: map-get($shirasagi-icons-map, "elasticsearch");
}
.ss-icon-discussion:before {
    content: map-get($shirasagi-icons-map, "discussion");
}
.ss-icon-daily-report:before {
    content: map-get($shirasagi-icons-map, "daily-report");
}
.ss-icon-conf:before {
    content: map-get($shirasagi-icons-map, "conf");
}
.ss-icon-circular:before {
    content: map-get($shirasagi-icons-map, "circular");
}
.ss-icon-bookmark:before {
    content: map-get($shirasagi-icons-map, "bookmark");
}
.ss-icon-board:before {
    content: map-get($shirasagi-icons-map, "board");
}
.ss-icon-attendance:before {
    content: map-get($shirasagi-icons-map, "attendance");
}
.ss-icon-affair2:before {
    content: map-get($shirasagi-icons-map, "affair2");
}
.ss-icon-affair:before {
    content: map-get($shirasagi-icons-map, "affair");
}
