.ss-tree{
  padding: 0;
  --spacing: 1.5rem;
  --radius: 10px;

  li {
    display: block;
    position: relative;
    margin: 2px;
    padding-left: calc(1.5 * var(--spacing) - var(--radius) - 2px);
  }

  ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
  }

  ul li {
    border-left: 2px solid #ddd;
  }

  ul li:last-child {
    border-color: transparent;
  }

  ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
  }

  summary {
    display: block;
    cursor: pointer;
  }

  summary::marker,
  summary::-webkit-details-marker {
    display: none;
  }

  summary:focus {
    outline: none;
  }

  summary:focus-visible {
    outline: 1px dotted #000;
  }

  li::after,
  summary::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / 1.5 - var(--radius));
    left: calc(var(--spacing) - var(--radius) - 10px);
    width: calc(1.5 * var(--radius));
    height: calc(1.5 * var(--radius));
    border-radius: 2px;
    background: #ddd;
  }

  summary::before {
    content: "＋";
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: calc(1.5 * var(--radius));
    height: calc(1.5 * var(--radius));
    border-radius: 2px;
    background: #f25a38 0 0;
    color: #fff;
  }

  details[open] > summary::before {
    content: "−";
    align-items: end;
    background-position: calc(-1.5 * var(--radius)) 0;
  }

  .ss-tree-item-link{
    display: block;
    flex-grow: 10;
    width: 100%;
    padding: 2px;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover{
      background: #fbeee8;
      text-decoration: none;
      // color: #f25a38;
    }
  }

  .ss-tree-subtree{
    li{
      margin-left: -1px;
      padding-left: calc(1.5 * var(--spacing) - var(--radius) + 0.5em);
      &::after{
        left: calc(var(--spacing) - var(--radius) - 2px);
      }
    }

    summary::before{
      left: calc(var(--spacing) - var(--radius) - 2px);
    }
  }
}

