@import "ss/init";
@include pc {

// -------------------------------------------------------------------------------------------------
// base

body {
  background-color: #fbfbfb;
  color: #433;
  font-size: 75.0%;
  font-family: $font-base;
  line-height: 1.4;
  word-wrap: break-word;
}

// -------------------------------------------------------------------------------------------------
// outline

#page {
  //position: relative;
  //height: auto !important;
  height: 100%;
  //min-height: 100%;
  @include box-sizing(border-box);
}
#head {
  //@include clear;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 40px;
  border-bottom: 1px solid #bbb;
  @include box-shadow(0px 1px 3px #bbb);
  background-color: #fff;
  //line-height: 40px;
  z-index: 10;
  h1 {
    float: left;
    a {
      float: left;
      width: 150px;
      background-image: image-url("ss/logo.png");
      background-repeat: no-repeat;
      background-position: center center;
      color: #fff;
      text-indent: -9999px;
      text-decoration: none;
      line-height: 40px;
    }
  }
  nav {
    float: right;
    margin: 12px 10px 0px;
    a {
      display: block;
      float: left;
      padding: 0px 20px;
      color: #433;
    }
  }
}
#crumbs {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 13px;
  left: 165px;
  //height: 40px;
  //line-height: 2;
  span {
    float: left;
    color: #888;
    a {
      display: block;
      max-width: 120px;
      //padding: 0px 6px;
      //border: 1px solid #ddd;
      @include border-radius(4px);
      @include box-sizing(border-box);
      color: #433;
      @include ellipsis;
    }
    a:hover {
      //color: #fff;
    }
  }
  span.separator {
    margin: 0px 10px;
  }
}
#crumbs2 { //TODO:
  margin: 0px 0px 15px;
  a {
    display: block;
    margin: 0px 0px 5px -11px;
    padding: 4px 6px;
    border: 1px solid #ccc;
    @include box-shadow(0px 1px 2px #ddd);
    color: #433;
    @include ellipsis;
  }
  a:hover {
    background-color: #eee;
    text-decoration: none;
  }
}
#wrap {
  @include clear;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin-bottom: -40px;
  padding: 55px 0px 50px;
  @include box-sizing(border-box);
}
#navi-back, #menu-back {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  @include box-sizing(border-box);
  //@include box-shadow(0px 0px 2px #ddd);
}
#navi-back {
  width: 150px;
  border-right: 1px solid #ddd;
  background-color: #fff;
}
#menu-back {
  left: 150px;
  width: 150px;
}
#navi {
  position: relative;
  z-index: 1;
  float: left;
  width: 150px;
  min-height: 1px;
  padding: 0px 10px;
  @include box-sizing(border-box);
}
#menu {
  position: relative;
  z-index: 1;
  float: left;
  width: 150px;
  min-height: 1px;
  padding: 0px 0px 0px 10px;
  @include box-sizing(border-box);
}
#main {
  //position: relative;
  float: right;
  width: 100%;
  min-height: 1px;
  padding: 0px 10px;
  @include box-sizing(border-box);
}
#navi + #main {
  margin: 0px 0px 0px -100%;
  .wrap {
    //@include main-view;
    margin-left: 150px;
  }
}
#menu + #main {
  margin: 0px 0px 0px -100%;
  .wrap {
    //@include main-view;
    margin-left: 305px;
  }
}
#foot {
  position: relative;
  height: 40px;
  padding: 12px 20px 0px;
  //border-top: 1px solid #ddd;
  @include box-sizing(border-box);
  //background-color: #eee;
  color: #888;
  text-align: right;
}
#ss-mb {
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 100;
  a {
    display: block;
    //border: 1px solid #ddd;
    //background-color: #fff;
    color: #888;
    font-size: 300%;
    font-weight: bold;
  }
}

// -------------------------------------------------------------------------------------------------
// menu

nav.main-menu, nav.sub-menu, nav.act-menu, nav.page-menu, nav.addon-menu {
  margin-bottom: 20px;
  header {
    display: block;
    margin-bottom: 10px;
    padding: 5px 2px;
    border-bottom: 1px solid #ccc;
    color: #c38;
  }
  div {
    a {
      display: block;
      width: 100%;
      margin: 0px 0px 0px;
      padding: 4px 6px;
      @include box-sizing(border-box);
      color: #433;
      @include ellipsis;
      &[class ^= "icon"] {
        background-position: 10px center;
      }
      &:hover {
        background-color: #eee;
        text-decoration: none;
      }
      &.current {
        background-color: #eee;
      }
    }
  }
  div.pulldown-menu a.current {
    position: relative;
    background-color: transparent;
    &:hover {
      background-color: #eee;
    }
    &:after {
      position: absolute;
      right: 5px;
      margin: -1px 0px 0px 0px;
      color: #bbb;
      content: "▼";
    }
    //&:hover:after { color: #fff; }
  }
}
nav.act-menu {
  margin: 0px 0px 20px;
  border: 1px solid #ccc;
  @include box-shadow(0px 1px 2px #ddd);
  background-color: #fff;
  header {
    margin: 0px;
    padding: 4px 6px;
    background-color: #fff;
    @include lgrad(top, #fff, #e7e7e7);
    //color: #644;
  }
}

// -------------------------------------------------------------------------------------------------
// common

table.index {
  table-layout:fixed;
  width: 100%;
  //@include border-radius(2px);
  //border: 1px solid #ddd;
  //@include box-shadow(0px 1px 2px #ddd);
  //background-color: #fff;
  th, td {
    padding: 4px 8px;
  }
  thead {
    tr {
      border-bottom: 1px solid #ccc;
      color: #644;
    }
    th {
      padding: 4px 8px 4px;
    }
    &:after {
      display: block;
      overflow: hidden;
      height: 10px;
      visibility: hidden;
      content: "-";
    }
  }
  tbody {
    tr {
      //border-bottom: 1px solid #eee;
      //background-color: #fff;
      &:nth-child(even) { background-color: #fff; }
      &:hover { background-color: #eee; }
    }
    tr.checked {
      background-color: #eee;
      @include box-shadow(inset 0px 0px 2px #ccc);
      //@include lgrad(top, #eee, #ddd);
      //&:hover { background-color: #bdf; }
    }
  }
  th.checkbox, td.checkbox {
    width: 35px;
    padding: 0px;
    text-align: center;
  }
  th.filename {
    width: 20%;
  }
  th.route {
    width: 20%;
  }
  th.datetime {
    width: 10em;
    width: 20%;
  }
  td {
    overflow: hidden;
    max-width: 100%;
    @include ellipsis;
  }
  td.filename {
    color: #080;
  }
  nav.row-menu {
    display: none;
    position: absolute;
    min-width: 10em;
    border: 1px solid #bbb;
    //@include border-radius(2px);
    @include box-shadow(0px 2px 10px #aaa);
    background-color: #fff;
    a {
      display: block;
      padding: 0px 12px;
      border-top: 1px solid #bbb;
      text-align: left;
      line-height: 2.6;
      &:first-child {
        border-width: 0px;
      }
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
  nav.multiple-menu {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 10em;
    border: 1px solid #bbb;
    //@include border-radius(2px);
    @include box-shadow(0px 2px 10px #aaa);
    background-color: #fff;
    a {
      display: block;
      padding: 0px 12px;
      border-top: 1px solid #bbb;
      text-align: left;
      line-height: 2.6;
      &:first-child {
        border-width: 0px;
      }
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// features

.login-box {
  display: table;
  margin: 10px;
  padding: 20px 20px 0px;
  border: 1px solid #ddd;
  @include box-shadow(0px 1px 3px #bbb);
  header {
    @include clear;
    margin: 0px 0px 20px;
    h1 {
      float: left;
    }
    .version {
      float: right;
      color: #888;
    }
  }
}

// -------------------------------------------------------------------------------------------------
}
