@import "compass-mixins/lib/compass";

.sheet {
  border: 0;
  border-radius: unset;
  background: #fff;
  page-break-after: always;
}

.vertical {
  .sheet {
    width: 210mm;
    height: 296mm; /* 1mm余裕をもたせる */
  }
}

.horizontal {
  .sheet {
    width: 297mm;
    height: 200mm;
  }
}

/* プレビュー用のスタイル */
@media screen {
  #main {
    .wrap {
      margin: 10px;
    }
  }

  .sheet {
    margin: 5mm;
    @include box-shadow(0 .5mm 2mm rgba(0, 0, 0, .3));
  }
}
@media print {
  body {
    background: #fff;
  }
  .no-print {
    display: none;
  }
}
