@font-face {
    font-family: "shirasagi-icons";
    src: url("/assets/font/shirasagi-icons.eot?4900c6faefa424eb50bfdceeb5e3fbe1#iefix") format("embedded-opentype"),
url("/assets/font/shirasagi-icons.woff?4900c6faefa424eb50bfdceeb5e3fbe1") format("woff"),
url("/assets/font/shirasagi-icons.woff2?4900c6faefa424eb50bfdceeb5e3fbe1") format("woff2");
}

span[class^="ss-icon-"]:before, span[class*=" ss-icon-"]:before {
    font-family: shirasagi-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ss-icon-workload:before {
    content: "\f101";
}
.ss-icon-workflow2:before {
    content: "\f102";
}
.ss-icon-workflow:before {
    content: "\f103";
}
.ss-icon-todo:before {
    content: "\f104";
}
.ss-icon-survey:before {
    content: "\f105";
}
.ss-icon-shared-address:before {
    content: "\f106";
}
.ss-icon-share:before {
    content: "\f107";
}
.ss-icon-schedule:before {
    content: "\f108";
}
.ss-icon-report:before {
    content: "\f109";
}
.ss-icon-reminder:before {
    content: "\f10a";
}
.ss-icon-qna:before {
    content: "\f10b";
}
.ss-icon-presence:before {
    content: "\f10c";
}
.ss-icon-portal:before {
    content: "\f10d";
}
.ss-icon-personal-address:before {
    content: "\f10e";
}
.ss-icon-notice:before {
    content: "\f10f";
}
.ss-icon-monitor:before {
    content: "\f110";
}
.ss-icon-memo:before {
    content: "\f111";
}
.ss-icon-faq:before {
    content: "\f112";
}
.ss-icon-elasticsearch:before {
    content: "\f113";
}
.ss-icon-discussion:before {
    content: "\f114";
}
.ss-icon-daily-report:before {
    content: "\f115";
}
.ss-icon-conf:before {
    content: "\f116";
}
.ss-icon-circular:before {
    content: "\f117";
}
.ss-icon-bookmark:before {
    content: "\f118";
}
.ss-icon-board:before {
    content: "\f119";
}
.ss-icon-attendance:before {
    content: "\f11a";
}
.ss-icon-affair2:before {
    content: "\f11b";
}
.ss-icon-affair:before {
    content: "\f11c";
}
