/**
 *= require jquery.datetimepicker
 *= require jquery.multi-select
 *= require fullcalendar
 *= require fullcalendar-scheduler/scheduler.min.css
 */

// base
@import "init";
@import "lib";
@import "pc_mb";

// core
@import "github-markdown";
@import "ss/ckeditor";
@import "ss/login";
@import "ss/addon";
@import "sys/ss";
@import "sns/ss";
@import "cms/ss";

// modules
@import "ads/ss";
@import "history/ss";
@import "kana/ss";
@import "ldap/ss";
@import "workflow/ss";
@import "webmail/ss";

// opendata
@import "opendata/ss";

// fix fullcalendar issue: https://github.com/fullcalendar/fullcalendar/issues/2852
.fc-icon:after {
  margin: 0 0; color: black
}
