<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="/js/ie-emulation-modes-warning.js"></script>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
{{ part "head-top" }}
{{ part "slide" }}
{{ part "about" }}
{{ part "service1" }}
{{ part "service2" }}
{{ part "service3" }}
{{ part "docs/list" }}
{{ part "company" }}
<div class="container-fluid bg-info">
  <div class="row map">
    {{ yield }}
    <p>〒000-0000　大鷺県シラサギ市小鷺町1丁目1番地1号</p>
  </div>
</div>
{{ part "contact/form" }}
{{ part "foot" }}

<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script src="/js/jquery.fadethis.js"></script>
<script src="/js/zoom.js"></script>
<script>
    $(window).fadeThis({
        speed: 1000,
        reverse: false,
        offset: -200
    });
    $(function() {
        var topBtn = $('#page-top');
        topBtn.hide();
        //スクロールが100に達したらボタン表示
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                topBtn.fadeIn();
            } else {
                topBtn.fadeOut();
            }
        });
        //スクロールしてトップ
        topBtn.click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 500);
            return false;
        });
    });
</script>
</body>
</html>
