<%= node_navi :board do %>

<% if @cur_node.route == 'board/post' %>
<h3><%= link_to :"board.post", board_posts_path %></h3>
<% end %>
<% if @cur_node.route == 'board/anpi_post' %>
<h3><%= link_to :"board.post", board_anpi_posts_path %></h3>
<h3><%= link_to :"member.group", member_groups_path %></h3>
<% end %>

<% end %>
