<article id="main" class="sys-copy">
    <div class="addon-views">
        <div class="addon-views" id="addon-basic">
            <div class="addon-bodydl see">
            </div>
        </div>
    </div>
    <p>※サイト複製実施後、サイト毎の設定ページにて「フォルダー書き出し」「ページ書き出し」を実施してください。</p>
</article>
