<nav class="main-menu">
  <header><h1><%= t :"modules.sns" %></h1></header>
  <div>
    <%= link_to :"sns.profile", sns_user_profile_path(@cur_user) %>
    <%= link_to :"sns.file", sns_user_files_path(@cur_user) %>
    <%= link_to :"sns.account", sns_user_account_path(@cur_user) %>
  </div>
</nav>
