<% if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site) %>
  <nav class="mod-navi">
    <h2><%= t("cms.form_alert") %></h2>
    <h3><%= link_to t("ss.config"), cms_form_alert_setting_path %></h3>
  </nav>
<% end %>

<%= render partial: "cms/main/conf_navi" %>
