<ul class="ss-tree-subtree" role="group">
  <% children.each do |child| %>
    <% if child.children? %>
      <li class="ss-tree-item" role="treeitem">
        <details class="ss-tree-subtree-wrap">
          <summary>
            <%= link_to tag.span(child.name, class: "ss-tree-item-title"), child.url, class: "ss-tree-item-link", data: { turbo: false, node_id: child.id } %>
          </summary>

          <%= render Cms::NodesTreeComponent::TreeChildren.new(site: site, children: child.children) %>
        </details>
      </li>
    <% else %>
      <li class="ss-tree-item no-children" role="treeitem">
        <%= link_to tag.span(child.name, class: "ss-tree-item-title"), child.url, class: "ss-tree-item-link", data: { turbo: false, node_id: child.id } %>
      </li>
    <% end %>
  <% end %>
</ul>
