<%

@f = f

last = nil
categories = Opendata::Node::Category.site(@cur_site).sort(order: 1).select do |cate|
  if last == nil
    last = cate
  elsif cate.filename =~ /^#{last.filename}\//
    false
  else
    last = cate
  end
end

def cate_form(item)
  h  = %(<label style="margin-right: 10px;">)
  h << @f.check_box("category_ids[]", {}, item._id)
  h << %(#{item.name}</label>)

  children = Category::Node::Base.site(@cur_site).
    where(filename: /^#{item.filename}\//, depth: item.depth + 1)

  if children.size > 0
    h << %(<div style="padding: 0px 0px 0px 40px;">).html_safe
    children.each { |c| h += cate_form c }
    h << %(</div>).html_safe
  end

  h.html_safe
end

%>
<dl class="see mod-opendata-category">
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "category_ids[]", value: "" %>

    <% categories.each do |cate| %>
    <span style="inline-block"><%= cate_form cate %></span>
    <% end %>
  </dd>
</dl>
