# Ignore

/.bundle
/.project

/config/*.yml
/config/unicorn.rb
/coverage
/log
/tmp
/private
/public/sites

# YARD
/doc
!/doc/install.txt
/.yardoc

.DS_Store
Thumbs.db
ehthumbs.db

# IntelliJ IDEA & RubyMine
/*.iml
/.idea/
