# Ignore
/vendor/bundle

/.bundle
/.project
/.ruby-version
/.vscode

/config/*.yml
/config/after_initializers
/config/commands
/config/environments
/config/unicorn.rb
/config/puma.rb
/config/nginx.conf
/coverage
/file
/log
/tmp
/private
/public/sites
/sanitizer_input
/sanitizer_output

# YARD
/doc
!/doc/install.txt
/.yardoc

.DS_Store
Thumbs.db
ehthumbs.db

# IntelliJ IDEA & RubyMine
/*.iml
/.idea/

# NetBeans
/nbproject

# Local Guardfile
/Guardfile.local

# Dotenv
/.env

# test-queue
.test_queue_stats

/node_modules
