spec/fixtures/article/*.csv binary
spec/fixtures/chorg/*.csv binary
spec/fixtures/cms/*.csv binary
spec/fixtures/cms/form_db/*.csv binary
spec/fixtures/cms/group/*.csv binary
spec/fixtures/cms/members/*.csv binary
spec/fixtures/cms/node/import/*.csv binary
spec/fixtures/cms/role/*.csv binary
spec/fixtures/cms/user/*.csv binary
spec/fixtures/event/import_job/*.csv binary
spec/fixtures/facility/*.csv binary
spec/fixtures/facility/import_job/*.csv binary
spec/fixtures/faq/import_job/*.csv binary
spec/fixtures/garbage/*.csv binary
spec/fixtures/guide/csv/*.csv binary
spec/fixtures/guide/templates/*.csv binary
spec/fixtures/gws/affair/*.csv binary
spec/fixtures/gws/chorg/*.csv binary
spec/fixtures/gws/facility/*.csv binary
spec/fixtures/gws/memo/*.eml binary
spec/fixtures/gws/schedule/*.csv binary
spec/fixtures/gws/user/*.csv binary
spec/fixtures/gws/workload/*.csv binary
spec/fixtures/ldap/*.csv binary
spec/fixtures/opendata/*.csv binary
spec/fixtures/opendata/harvest/shirasagi_scraper/*.csv binary
spec/fixtures/opendata/map_resources/*.csv binary
spec/fixtures/ss/csv/*.csv binary
spec/fixtures/ss/replace_file/*.csv binary
spec/fixtures/sys/*.csv binary
spec/fixtures/sys/auth/*.der binary
spec/fixtures/sys/group/*.csv binary
spec/fixtures/sys/groups/*.csv binary
spec/fixtures/webmail/*.csv binary
spec/fixtures/webmail/*.eml binary
spec/fixtures/webmail/group_importer/*.csv binary
