spec/fixtures/cms/*.csv binary
spec/fixtures/cms/role/*.csv binary
spec/fixtures/gws/memo/*.eml binary
spec/fixtures/gws/schedule/*.csv binary
spec/fixtures/gws/user/*.csv binary
spec/fixtures/opendata/*.csv binary
spec/fixtures/webmail/*.csv binary
spec/fixtures/webmail/*.eml binary
spec/fixtures/sys/auth/*.der binary
spec/fixtures/sys/groups/*.csv binary
