language: ruby
dist: trusty
sudo: false
rvm:
  - 2.4.1

cache:
  apt: true
  bundler: true
  directories:
    - $HOME/.local

services:
  - mongodb

addons:
  chrome: stable
  apt:
    packages:
      - imagemagick
      - libmagick++-dev
      - sox
      - libsox-dev
      - lame
      - libmp3lame-dev
      # chromium-chromedriver is old to work, required 2.30 over.
      # - chromium-chromedriver
      # open-jtalk package is blacklisted
      # - open-jtalk
      # ubuntu 12.04 mecab is too old to work
      # - mecab
      # - libmecab-dev
      # - mecab-ipadic-utf8

bundler_args: "--without development"
install: bash .travis.d/install.sh
before_script: bash .travis.d/before_script.sh
script: bash .travis.d/script.sh
