<div class='simple-captcha'>
  <div class='image'><%= captcha_options("image", f) %></div>
  <div class='field'><%= captcha_options("field", f)  %></div>
  <div class='captcha-label'><%= captcha_options("label", f)   %></div>
</div>
