<div class="gws-column-item" data-id="<%= item.id %>">
  <div class="main-box">
    <div class="gws-column-item-drag-handle">
      <h2 class="header"><%= item.class.model_name.human %></h2>
      <span class="material-icons-outlined gws-column-item-drag-handle-icon">drag_handle</span>
      <%= extra_header %>
    </div>

    <%= content %>

  </div>
</div>
