<% addons = @item ? @item.class.addons : [] %>

<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t("ss.basic_info"), toggle: true, display_body: "hide" } do %>
    <%= render template: "_show" %>
  <% end %>
  <%= render template: "_addons_show", locals: { addons: addons, display_body: "hide" } if addons.size > 0 %>
</div>

<%= render template: "cms/page_search_contents/show" %>
