<nav class="mod-navi">
  <h2><%= t "cms.group" %></h2>

  <% if Cms::Group.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("cms.group"), cms_groups_path %></h3>
    <h3><%= link_to t("modules.contact"), contact_contacts_path %></h3>
  <% end %>
</nav>

<%= render "cms/main/conf_navi" %>
