<%= render partial: "cms/crud/menu" %>

<% if params[:action] =~ /index/ %>
<nav class="page-menu">
  <header><h1><%= t :"cms.node" %></h1></header>
  <div>
    <% resource = params[:controller].sub(/.*\//, "") %>
    <% Cms::Node.site(@cur_site).root.allow(:read, @cur_user).sort(filename: 1).limit(20).each do |item| %>
      <%= link_to item.name, send("node_#{resource}_path", cid: item), { class: "icon-node" } %>
    <% end %>
  </div>
</nav>
<% end %>
