<nav class="nav-management-menu">
  <% if @portal.allowed?(:edit, @cur_user, site: @cur_site, strict: true) %>
    <%= link_to gws_portal_group_layouts_path(user: @portal_group) do %>
      <i class="material-icons md-20">&#xE8B8;</i><%= t("ss.management") %>
    <% end %>
  <% end %>
</nav>

<nav class="nav-menu">
</nav>
