## map

class @Map
  @map
  @markers
  @openedInfo = null

  @attachMessage: (id) ->
    google.maps.event.addListener Map.markers[id]["marker"], 'click', (event) ->
      if(Map.openedInfo)
        Map.openedInfo.close()
      if Map.markers[id]["window"]
        Map.markers[id]["window"].open(Map.markers[id]["marker"].getMap(), Map.markers[id]["marker"])
      Map.openedInfo = Map.markers[id]["window"]
      return
    return

  @load: (element) ->
    <% if SS.config.cms.map_center.present? %>
    map_center = [<%= SS.config.cms.map_center[0] %>, <%= SS.config.cms.map_center[1] %>]
    <% else %>
    map_center = [36.204824, 138.252924]
    <% end %>
    mapOptions = {
      center: new google.maps.LatLng(map_center[0], map_center[1]),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      panControl: false,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.LARGE
      },
      mapTypeControl: true,
      scaleControl: true,
      scrollwheel: true,
      streetViewControl: true,
      overviewMapControl: true,
      overviewMapControlOptions: {
        opened: true
      }
    }
    Map.map = new google.maps.Map(element,  mapOptions)
    return

  @setMarkers: (markers) ->
    Map.markers = markers
    markerBounds = new google.maps.LatLngBounds()

    $.each Map.markers, (id, value) ->
      if value["image"]
        Map.markers[id]["marker"] = new google.maps.Marker(
          position: new google.maps.LatLng(value["loc"][0],value["loc"][1]),
          icon: value["image"],
          map: Map.map
        )
      else
        Map.markers[id]["marker"] = new google.maps.Marker(
          position: new google.maps.LatLng(value["loc"][0],value["loc"][1]),
          map: Map.map
        )

      markerBounds.extend(new google.maps.LatLng(value["loc"][0],value["loc"][1]))

      if value["html"]
        marker_html = value["html"]
        Map.markers[id]["window"] = new google.maps.InfoWindow(
          content: marker_html
        )
      else if value["name"] || value["text"]
        name = value["name"]
        text = value["text"]
        marker_html = '<div class="marker-info">'
        if name != ""
            marker_html += '<p>' + name + '</p>'
          if text != ""
            $.each text.split(/[\r\n]+/), ->
              if this.match(/^https?:\/\//)
                marker_html += '<p><a href="' + this + '">' + this + '</a></p>'
              else
                marker_html += '<p>' + this + '</p>'

        marker_html += '</div>'
        Map.markers[id]["window"] = new google.maps.InfoWindow(
          content: marker_html
        )
      Map.attachMessage(id)
      return

    unless $.isEmptyObject(Map.markers)
      zoomChangeBoundsListener = google.maps.event.addListener Map.map, 'bounds_changed', (event) ->
        if this.getZoom() > 13 && this.initialZoom == true
          this.setZoom(13)
          this.initialZoom = false
        google.maps.event.removeListener(zoomChangeBoundsListener)

      Map.map.initialZoom = true
      Map.map.fitBounds(markerBounds)
    return

