<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.urgency" %></h1></header>
  <div>
    <%= link_to :"urgency.layout", urgency_layouts_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
