<nav class="sub-menu">
  <header><h1><%= t "views.links.ldap" %></h1></header>
  <div>
    <%= link_to :"views.ldap/import.index", ldap_import_index_path if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"views.ldap/server.index", ldap_server_path if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
  </div>
</nav>

<%= render partial: "cms/main/navi" %>
