<nav class="mod-navi">
  <h2><%= t "views.links.ldap" %></h2>

  <% if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"views.ldap/server.index", ldap_server_path %></h3>
  <% end %>
  <% if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"views.ldap/import.index", ldap_import_index_path %></h3>
  <% end %>
</nav>

<%= render partial: "cms/main/conf_navi" %>
