<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <%= ss_button_to t('gws/monitor.links.public'), url_for(action: :public_all), class: "public-all btn btn-list-head-action", method: "post", confirm: t('gws/monitor.confirm.public_all') %>
    <%= ss_button_to t('gws/monitor.links.preparation'), url_for(action: :preparation_all), class: "preparation-all btn btn-list-head-action", method: "post", confirm: t('gws/monitor.confirm.preparation_all') %>
    <%= ss_button_to t('gws/monitor.links.question_not_applicable'), url_for(action: :question_not_applicable_all), class: "question-not-applicable-all btn btn-list-head-action", method: "post", confirm: t('gws/monitor.confirm.question_not_applicable') %>
  </div>

  <%= render template: '_search' %>
</div>
