.ldap-import-groups-and-users {
  margin: 0px;
  border: solid 1px #dedede;
  > dl + dl { margin-top: 20px; }
}

.ldap-import-groups-and-users-title {
  background: #dedede;
}

.ldap-import-groups {
  > dl ~ dl { margin-top: 20px; }
  > dl + dl { margin-top: 10px; }
}

.ldap-import-users {
  margin-left: 0px;
}

.ldap-server-header {
  margin-bottom: 15px;
}

dl.ldap-server-groups {
  margin-top: 15px;
}
dl.ldap-server-users {
  margin-top: 15px;
}
