<nav class="mod-navi">
  <h2><%= t "modules.gws/facility" %></h2>

  <% if Gws::Facility::Item.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/facility/item'), gws_facility_items_path %></h3>
  <% end %>
  <% if Gws::Facility::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/facility.category'), gws_facility_categories_path %></h3>
  <% end %>
</nav>

<%= render partial: "gws/main/conf_navi" %>
