<nav class="act-menu">
  <header><h1><%= t "views.action" %></h1></header>
  <div>
    <% if params[:action] =~ /edit|update|delete/ %>
      <%= link_to :back_to_show, action: :show %>
    <% else %>
      <%= link_to :edit, action: :edit, id: @item if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
    <% end %>
  </div>
</nav>

<% if params[:action] =~ /show|new|edit|create|update/ %>
<%= render file: "_addons_menu" %>
<% end %>
