<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "facility.facility" %></h1></header>
  <div>
    <%= link_to :"facility.page", facility_pages_path, class: "icon-node" %>
  </div>
</nav>

<% end %>
