<dl class="see mod-gws-board-category">
  <dt><%= @model.t :category_ids %></dt>
  <dd>
    <% @item.categories.each do |category| %>
      <% next unless category %>
      <span class="gws-board-color-block" style="<%= "background-color: #{category.color}; color: #{category.text_color}" %>"><%= category.name %></span>
    <% end %>
  </dd>
</dl>
