<dl class="see mod-gws-board-category">
  <dt><%= @model.t :category_ids %></dt>
  <dd>
    <% @item.categories.each do |category| %>
      <% next unless category %>
      <span class="gws-category-label" style="<%= category_label_css(category) %>"><%= category.name %></span>
    <% end %>
  </dd>
</dl>
