<html>
<head>
  <title>SPARQL Endpoint</title>
  <meta http-equiv='content-type' content='text/html; charset=utf-8'>
</head>
<body>
<div class="opendata-sparql">
  <h1>SPARQL Endpoint</h1>

  <%= form_tag("", method: :post) do %>
    <table>
      <tr>
        <th>Query</th>
        <td>
          <textarea name="query"
           style="width: 400px; height: 100px;">select distinct * where { ?s ?p ?o . }</textarea>
        </td>
      </tr>
      <tr>
        <th>Format</th>
        <td>
          <select name="format">
            <option>HTML</option>
            <option>JSON</option>
            <option>CSV</option>
            <option>TSV</option>
            <option>XML</option>
          </select>
        </td>
      </tr>
    </table>

    <div style="margin: 20px 50px;">
      <%= submit_tag "Run Query" %>
    </div>
  <% end %>
</div>
</body>
</html>
