<% menus = Gws::Schedule.enum_menu_items(@cur_site, @cur_user).to_a %>

<% if menus.present? %>
  <nav class="mod-navi current-navi">
    <%= gws_menu_icon(:schedule, gws_schedule_main_path) %>
    <% menus.each do |menu| %>
      <h3><%= link_to(menu.label, menu.path, class: menu.css_classes) %></h3>
    <% end %>
  </nav>
<% end %>

<%= render partial: 'gws/main/navi' %>
