<%= jquery do %>
  $(document).on("gws:calendarInitialized", function() {
    Gws_Schedule_View.renderTabs('.gws-schedule-tabs');
  });
<% end %>

<% menus = Gws::Schedule.enum_tab_items(@cur_site, @cur_user).to_a %>

<% if menus.length > 1 %>
  <div class="gws-schedule-tabs">
    <% menus.each do |menu| %>
      <%= link_to menu.path, class: menu.css_classes do %>
        <span class="tab-name"><%= menu.label %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
