@import "compass/utilities/general/clearfix";
//------------------------------------------------------------------------------

html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  color: #333;
  font-size: 75%;
  font-family: Tahoma, Helvetica, Meiryo, sans-serif;
  line-height: 1.4;
}
h1, h2, h3, h4, h5 {
  margin: 0px;
  font-size: 100%;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

//------------------------------------------------------------------------------

#head {
  background-color: #222;
  padding: 5px 15px;
  h1 {
    color: #fff;
    font-size: 200%;
  }
}
#navi {
  @include clearfix;
  background-color: #ccc;
  padding: 0px 15px;
  a {
    float: left;
    padding: 10px 8px;
    color: #222;
  }
  a:hover {
    background-color: #bbb;
  }
}
#wrap {
  margin: 10px;
}
#main {
  header h1 {
    margin: 0px 0px 10px;
    font-size: 180%;
  }
}
#user-navi {
  @include clearfix;
  margin: 0px 0px 10px;
  border-bottom: 1px solid #bbb;
  a {
    float: left;
    padding: 2px 8px;
    color: #222;
  }
}
