<div class="crumbs">
  <% @items.each_with_index do |item, idx| %>
  <% if idx > 0 %><span class="separator">&rsaquo;</span><% end %>
  <% if item[1] %><span class="node"><%= link_to *item %></span>
  <% else %><span class="page"><%= item[0] %></span><% end %>
  <% end %>
</div>
