<div class="crumbs">
<% @items.each do |crumb| %>
<%

size = crumb.size
html = []

crumb.each_with_index do |item, idx|
  html << "<span class=\"separator\">&rsaquo;</span>".html_safe if idx > 0

  if size == idx + 1
    html << "<span class=\"page\">#{h(item[0])}</span>".html_safe
  else
    html << "<span class=\"page\">#{link_to(*item)}</span>".html_safe
  end
end

%>
<div class="crumb"><%== html.join %></div>
<% end %>
</div>
