// list
@use "ss/init";

.gws-notices {
  .unread {
    background-color: #f9e9e3;
    &:hover {
      background: init.$orange2;
    }
  }
}

// calendar
.gws-notice-calendar {
  .fc-content .fc-date {
    display: none;
  }
}

.gws-notice-content-navi {
  .gws-notice-content-type-list {
    margin: 0;
    padding: 0;
  }
}
