<nav class="nav-management-menu">
  <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to gws_schedule_todo_management_index_path do %>
          <i class="material-icons md-20">&#xE8B8;</i><%= t("ss.management") %>
      <% end %>
  <% end %>
</nav>

<nav class="nav-menu">
  <%= menu_items(params[:action]).map(&:call).join.html_safe %>
</nav>
