<nav class="mod-navi">
  <h2><%= Cms::Layout.model_name.human %></h2>
  <h3><%= link_to Cms::Layout.model_name.human, cms_layouts_path %></h3>
  <h3><%= link_to "#{t("ss.links.trash")} (#{Cms::Layout.model_name.human})", trash_cms_layouts_path, class: :trash %></h3>
</nav>

<%= render(partial: "cms/main/navi") %>