<div class="addon-views">
  <div class="mb-4" id="addon-basic">
    <h2 class="h5"><%= t("cms.all_contents") %></h2>
    <p><%= t("cms.all_content.description") %></p>
  </div>
</div>
<footer class="send">
  <%= link_to t('ss.links.download'), cms_all_contents_path(format: :csv), { class: "btn btn-primary" } %>
</footer>
