<% return "" if @item.parent_crumb_urls.blank? %>

<fieldset class="see" disabled>
  <div class="form-group">
    <div class="col12 bm-3">
      <label><%= @model.t :parent_crumb_urls %></label>
      <input class="form-control" type="text" value="<%=br @item.send(:parent_crumb_urls).join("\n") %>" />
    </div>
  </div>
</fieldset>
