<%
  if @group.present?
    if @group.contact_group_name.present?
      @cur_node.name = @group.contact_group_name + " " + @cur_node.name
    else
      @cur_node.name = @group.section_name + " " + @cur_node.name
    end
  end
%>
<div class="inquiry-sent">
<%= sanitize(@cur_node.inquiry_sent_html) %>
</div>
<% if params[:ref].present? %>
  <div class="back-to-ref"><%= link_to I18n.t("inquiry.links.back_to_page"), URI.parse(params[:ref].to_s).path %></div>
<% end %>
