<div class="gws-column-form-grid-list">
  <fieldset class="gws-column-form-grid">
    <legend><%= model.t :name %><%= model.tt :name %></legend>

    <div class="gws-column-form-input-group">
      <%= label_tag "#{f.object_name}[name]", model.t(:name) %>
      <div>
        <%= text_field_tag "#{f.object_name}[name]", item.name, autofocus: pc_browser? %>
      </div>
    </div>
  </fieldset>
</div>
