<dl class="see">
  <dt><%= @model.t :resources %></dt>
  <dd><%= link_to :"opendata.manage_resources", opendata_dataset_resources_path(dataset_id: @item) %></dd>
  <dd>
    <% @item.resources.each do |rs| %>
    <div><%= rs.name %></div>
    <% end %>
  </dd>
</dl>
