// openlayers
#marker-popup {
  position: absolute;
  bottom: 12px;
  left: -50px;
  min-width: 260px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  font-size: 12px;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .2));

  .post-head {
    padding: 0;
  }
  .post-text {
    margin-top: 15px;
  }
}
#marker-popup:after, #marker-popup:before {
  content: " ";
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
}
#marker-popup:after {
  left: 48px;
  margin-left: -10px;
  border-width: 10px;
  border-top-color: #fff;
}
#marker-popup:before {
  left: 48px;
  margin-left: -11px;
  border-width: 11px;
  border-top-color: #ccc;
}
#marker-popup .closer {
  position: absolute;
  top: 2px;
  right: 8px;
  text-decoration: none;
  cursor: pointer;
}
#marker-popup .closer:after {
  content: "×";
}

// markerclusterer
.marker-cluster-info {
  .marker-info {
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: 1px solid #ccc;
  }
  .marker-info:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
}
