.search-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    zoom: 1;
}
.search-wrap,
.cms-site-search {
    form {
        width: 338px;
    }
    
    .site-search-keyword {
        width: 100%;
        position: relative;
        input {
            width: calc(100% - 12px);
        }
    }
    .site-search-history {
        position: absolute;
        top: 32px;
        min-width: 100%;
        list-style: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.6);
        z-index: 200;
        background: rgb(255, 255, 255);
        li a {
            display: block;
            padding: 5px 11px;
            white-space: nowrap;
            text-decoration: none;
            font-weight: bold;
            color: #000;
            &:hover {
                background-color: #EEE;
            }
        }
    }
}
.cms-site-search {
    .search-form {
        width: 338px;
    }
    .site-search-history {
        min-width: 100%;
    }
}

.search-wrap {
    form {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 5px;
        border: 1px solid #ccc;
    }
    button[type="submit"],
    input[type="submit"] {
        padding: 5px 10px;
        margin: 0;
        border: 0;
        background: #333;
        color: #fff;
    }
    .site-search-keyword {
        input {
            padding: 5px;
            border: 0;
            color: #666;
        }

    }
}

@media only screen and (max-width: 600px) {
    .search-wrap {
        float: none;
        width: 100%;
        display: block;
        padding: 0 10px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        form {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}