.routes-view {
  article {
    clear: both;
    float: left;
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
    h1 {
      clear: both;
      float: left;
      width: 160px;
      padding: 5px;
    }
    div {
      float: left;
      a {
        display: inline-block;
        margin: 0px 5px 0px 0px;
        padding: 5px;
      }
    }
  }
}

#task-form {
  .info {
    margin: 0px 0px 15px;
    dt, dd {
      display: inline-block;
      padding: 5px 10px;
    }
    dt {
      background-color: #888;
      color: #fff;
    }
    dd {
      min-width: 60px;
      margin: 0px;
    }
  }
  .logs {
    textarea {
      height: 300px;
      background-color: #eee;
    }
  }
}

.notices {
  .datetime {
    margin-left: 5px;
    color: #888;
  }
}

.notices-more {
  padding: 0 10px 10px;
  text-align: right;
}

.list-item {
  .title.notice-severity-high {
    color: $pink;
    font-weight: bold;
  }
  .state {
    display: inline-block;
    padding: 1px 5px;
    @include border-radius(3px);
    font-size: 90%;
    font-weight: normal;
    &.state-public, &.state-closed, &.state-ready, &.state-request, &.state-edit, &.state-remand {
      color: #fff;
    }
    &.state-public {
      background-color: #2f7e42;
    }
    &.state-closed {
      background-color: #6c757d;
    }
    &.state-ready {
      background-color: #956c0a;
    }
    &.state-request {
      background-color: #426ba9;
    }
    &.state-edit {
      background-color: #c82635;
    }
    &.state-remand {
      background-color: #895b8a;
    }
  }
}

.cms-tabs {
  @include clear;
  margin-top: -1px;
  a {
    display: block;
    float: left;
    margin: 1px 0 -1px 6px;
    border: 1px solid $gray4;
    border-left: 3px solid #bbb;
    border-radius: 0 4px 0 0;
    background-color: $gray5;
    color: #000;
    .tab-name {
      display: block;
      padding: 5px 8px;
      text-align: center;
    }
    &:hover {
      border-left-color: $orange;
      background-color: #fff;
      text-decoration: none;
    }
  }
  a.current {
    border-bottom-color: #fff;
    border-left-color: $orange;
    background-color: #fff;
  }
}

// Dropdown
.cms-dropdown-menu {
  left: -4px;
  max-height:300px;
  overflow-y: scroll;
  margin: 0;
  padding: 4px;
  border: $border-gray4;
  @include box-shadow(0px 3px 12px rgba(0,0,0,.2));
  background: $white;
  white-space: nowrap;
}
