// Standard
:root {
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;
  --border-color: #e0e0e0;
  --border-color-dark: #d2d2d2;
  --bg-light: #e8e8e8;
  --font-size-sm: 13px;
  --font-size-md: 14px;
}
html {
  background: #f7f7f7;
  //font: 14px/1.5 var(--bs-font-sans-serif);
  &:focus-within { scroll-behavior: smooth; }
}
body {
  min-height: 100%;
  background-color: transparent;
  text-rendering: optimizeSpeed;
  text-underline-offset: .05rem;
  text-underline-position: under;
}

// Utilities
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-nowrap {
  white-space: nowrap;
}
.link-expand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// Layout
.form-db-head {
  display: flex;
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color-dark);
  background: var(--bg-light);
  font-size: 1.1rem;
  .head-title {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #f25a38;
      text-decoration: underline;
    }
  }
  .head-link {
    margin-left: .25rem;
    padding: .25rem 1rem;
  }
}
.form-db-menu {
  display: flex;
  position: fixed;
  z-index: 2;
  top: 40px;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 40px;
  padding: 0 2rem 0 4rem;
  border-bottom: 1px solid var(--border-color-dark);
  background: var(--bg-light);
  a {
    display: inline-block;
    padding-left: 22px;
    background: url(/assets/img/ic-arrow16-off.png) no-repeat left center;
    &:hover {
      background: url(/assets/img/ic-arrow16-on.png) no-repeat left center;
    }
  }
}
.menu-btn {
  position: fixed;
  z-index: 2;
  top: 41px;
  padding: 4px 7px;
}
.form-db-main {
  padding: 80px 0;
  .addon-views, footer.send {
    max-width: 1000px;
    padding: 10px;
  }
}
.form-db-foot {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  &.position-fixed {
    position: fixed;
    bottom: 0;
    gap: 1rem;
    width: 100%;
    padding: 15px;
    border-top: 1px solid var(--border-color-dark);
    background: rgba(240, 240, 240, .75);
  }
  .pagination { margin: 0; }
}

// Errors
.errorExplanation {
  max-width: 80rem;
  margin: 1rem 2rem;
}

// Table
.form-db-table {
  width: max-content;
  height: 100%;
  font-size: var(--font-size-sm);
  > thead {
    border-top: 1px solid var(--border-color-dark);
  }
  > tbody {
    background: #fff;
  }
  > :not(caption) > tr:nth-child(even) {
    background: #fbfbfb;
  }
  > :not(caption) > * > * {
    padding: .5rem;
    border: 1px solid var(--border-color-dark);
    font-weight: 400;
    vertical-align: top;
  }
  > :not(caption) > * > th {
    background: var(--bg-light);
  }
  .row-link:hover > th {
    background: #ddb;
  }
  .row-link:hover > td {
    background: #eec;
  }
  .row-link-disabled {
    cursor: auto;
  }
  .td-icon, .td-check {
    width: 40px;
    height: 100%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
  .td-check {
    padding-bottom: 1px;
  }
  .td-icon > .dropdown-menu {
    left: -.2rem !important;
  }
}
.table-db {
  border-spacing: 0;
  border-collapse: separate;
  > :not(caption) > * > * {
    border-width: 0 1px 1px 0;
  }
  > :not(caption) > * > th:first-of-type {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    border-left-width: 1px;
  }
  > :not(caption) > * > th:last-of-type {
    border-right-width: 1px;
  }
  > thead > * > th {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }
  > thead > * > th:first-of-type {
    z-index: 1;
  }
  > :not(caption) > * > td {
    &.type-integer, &.type-double, &.type-float {
      color: #05e;
      text-align: right;
    }
    &.type-boolean {
      color: #05e;
    }
    &.type-array {
      color: #b44;
    }
    &.type-object {
      color: #092;
    }
    &.type-NULL {
      color: #999;
    }
    .pre-value {
      margin: 0;
      font: inherit;
      white-space: pre-wrap;
    }
    .input-json {
      width: calc(100vw - 85px);
      height: calc(100vh - 175px);
      padding: .5rem;
      line-height: 1.2;
    }
  }
}
