/**
 *= require jquery-datetimepicker/build/jquery.datetimepicker.min.css
 */
@import "../voice/public";
@import "../map/public";
@import "ss/ckeditor";
@import "./search";
@import "../key_visual/public";

#ss-loading {
  display: none;
}

// colorbox
#cboxTitle, #cboxCurrent, #cboxNext, #cboxPrevious, #cboxSlideshow {
  display: none !important;
}

.youtube-auto-width {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.youtube-auto-width iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sanitizer-status {
  display: inline-block;
  padding: 4px 10px;
  background: rgba(60, 60, 60, .8);
  color: #fff;
  font-weight: bold;
}
.sanitizer-wait {
  background: rgba(0, 60, 120, .8);
}
.sanitizer-complete {
  background: rgba(0, 120, 20, .8);
}
.sanitizer-error {
  background: rgba(180, 0, 0, .8);
}
.sanitizer-none {
  display: none;
}
.file-view {
  position: relative;
}
.file-view .sanitizer-status {
  position: absolute;
}
dd > .sanitizer-status {
  margin-left: .5rem;
}
