/**
 *= require jquery.datetimepicker
 */
@import "../voice/public";
@import "../map/public";
@import "ss/ckeditor";
@import "_search";

#ss-loading {
  display: none;
}

// colorbox
#cboxTitle, #cboxCurrent, #cboxNext, #cboxPrevious, #cboxSlideshow {
  display: none !important;
}

.youtube-auto-width {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.youtube-auto-width iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sanitizer-wait {
  display: inline-block;
  padding: 4px 10px;
  background: rgba(0,60,120,.8);
  color: #fff;
  font-weight: bold;
}
.file-view {
  position: relative;
}
.file-view .sanitizer-wait {
  position: absolute;
}
dd > .sanitizer-wait {
  margin-left: 10px;
}
