/**
 *= require jquery.datetimepicker
 */
@import "../voice/public";
@import "../map/public";
@import "ss/ckeditor";


#ss-loading {
  display: none;
}

// colorbox
#cboxTitle, #cboxCurrent, #cboxNext, #cboxPrevious, #cboxSlideshow {
  display: none !important;
}

.youtube-auto-width {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.youtube-auto-width iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sanitizer-wait {
  position: absolute;
  padding: 10px 15px;
  background: rgba(0,60,120,.8);
  color: #fff;
  font-weight: bold;
}
