<div class="form-abstract">
  <dl class="see">
    <dt><%= @cur_form.class.t :name %></dt>
    <dd><%= @cur_form.name %></dd>

    <dt><%= @cur_form.class.t :description %></dt>
    <dd><%= br @cur_form.description %></dd>
  </dl>
</div>
