<div class="addon-views gws-survey">
  <%= render file: "_basic_info" %>
  <%= render file: "_tabs", locals: { cur_tab: "others" } %>

  <div class="addon-view" id="addon-basic">
    <div class="addon-body" style="border-top: none">
      <%= render file: "_table" %>
    </div>
  </div>
</div>
