.gws-survey {
  .form-abstract {
    margin: 16px;
    dl.see > dt ~ dt {
      margin-top: 0;
    }
    dl.see > dd ~ dd {
      margin-top: 0;
    }
  }
  .form-table {
    border: $border-gray5;
    overflow-x: auto;
    margin: 16px 0;
    box-sizing: content-box;
  }
  &.index {
    .form-table {
      margin: 16px;
    }
  }
  .operations {
    @include mb {
      float: none;
      margin-left: 0;
      margin-bottom: 16px;
    }
  }
  .form-table-header-inner {
    width: 2000px;
    @include mb {
      width: auto;
    }
  }
  .form-table-body {
    width: 100%;
    table {
      width: 100%;
      background: $white;
      @include mb { border-collapse: collapse; }
    }
    tr {
      @include mb { border-bottom: $border-gray5; }
    }
    tr:nth-child(2n) {
      // background: #f8f8f8;
    }
    tr.current, tr:hover {
      background: $gray1;
      // background: #fbeee8
    }
    th, td {
      padding: 6px 18px;
      white-space: nowrap;
      @include mb { display: inline-block; }
    }
    thead {
      tr {
        background: $gray1;
        @include mb {
          display: inline-block;
          width: 100%;
          padding: 0 16px;
        }
      }
      th {
        color: $gray2;
        @include mb {
          padding: 6px 0;
        }
        &.deselect {
          width: 100px;
        }
        &:after {
          @include mb {
            content: "/";
          }
        }
      }
    }
    tbody {
      td {
        border-top: $border-gray5;
        @include mb { border-top: 0; }
      }
    }
  }

  .anonymous-notice {
    margin: 0 0 10px;
    padding: 20px;
    border: 1px solid $orange;
    @include border-radius(3px);
    background-color: #fff;
    h2 {
      margin: -20px -20px 25px;
      padding: 8px 20px;
      background-color: $orange;
      color: #fff;
    }
    p, ul {
      padding: 0;
    }
  }

  .list-head {
    .operations {
      display: inline-block;
      float: right;
      margin-left: 16px;
    }
  }

  .summary {
    border: 0;
    margin: 15px 0;
    padding: 0 10px;

    h2 {
      background: $gray1;
      @include border-radius(2px);
      padding: 6px 18px;
      border: $border-gray5;
    }

    dl.see {
      margin: 0;
    }

    dl.see > dt ~ dt {
      margin-top: 0;
    }
    dl.see > dd ~ dd {
      margin-top: 0;
    }
  }
  .chart {
    padding: 15px 10px;
  }
  .btn-download {
    &:before {
      font-family: "Material Icons";
      font-size: 108%;
      content: "\E2C4";

      display: inline;
      margin-right: 4px;
      vertical-align: -3px;
    }
  }
  &.addon-views {
    .addon-body {
      padding: 0;
    }
    .header {
      float: right;
      margin: 12px;
    }
    h2.title {
      margin: 12px;
      padding-left: 8px;
      border-left: 3px solid #f25a38;
      font-size: $px14;
      font-weight: bold;
    }
    .description {
      padding: 12px;
      border-top: solid 1px #f2f2f2;
    }
  }
}

.survey-item {
  &.over-limit {
    .limit {
      color: #e00;
      font-weight: bold;

      &:before {
        font-family: "Material Icons";
        font-size: 108%;
        content: "\E002";

        display: inline;
        vertical-align: -3px;
      }
    }
  }
  &.near-limit {
    .limit {
      font-weight: bold;
      color: #ff7758;
      &:before {
        font-family: "Material Icons";
        font-size: 108%;
        content: "\E000";

        display: inline;
        vertical-align: -3px;
      }
    }
  }
}
