<%= form_for :item, url: "#{@cur_node.url}dialog.html#{@cur_node.guide_url_fragment}", html: { method: "GET", enforce_utf8: false } do |f| %>
  <div class="guide-node-form">
    <%= sanitize(@cur_node.guide_index_html) %>
    <footer class="send">
      <%= f.submit t("guide.links.start_guide"), name: :submit %>
    </footer>
  </div>
<% end %>
