<dl class="column name">
  <%= f.hidden_field :basename, value: "" %>
  <dt><%= @model.t :name %><span class="required"><%= t('views.required_field') %></span></dt>
  <dd><%= f.text_field :name %></dd>
</dl>
