<div class="member-blogs blogs">
  <%=
    render_page_list do
      cur_item = @cur_node
      h = []
      @items.each do |item|
        if cur_item.loop_setting.present?
          ih = item.render_template(cur_item.loop_setting.html, self)
        elsif cur_item.loop_html.present?
          ih = cur_item.render_loop_html(item)
        else
          ih = []
          ih << '<article class="blog thumb">'
          ih << '  <img class="thumb" src="#{img.src}">'
          ih << '  <header><h2><a href="#{url}">#{name}</a></h2></header>'
          ih << '  <div class="description">#{description}</div>'
          ih << '</article>'
          ih = cur_item.render_loop_html(item, html: ih.join("\n"))
        end
        h << ih.gsub('#{current}', current_url?(item.url).to_s)
      end
      h.join("\n").html_safe
    end
  %>
</div>

<%= paginate @items if @items.try(:current_page) %>
