<nav class="mod-navi">
  <h2><%= t "sys.sso" %></h2>
  <h3><%= link_to :"sys.saml", sys_sso_samls_path %></h3>
  <h3><%= link_to :"sys.open_id_connect", sys_sso_open_id_connects_path %></h3>
</nav>

<%= render partial: "sys/main/navi" %>
