<%= node_navi :guide2 do %>
  <h3><%= link_to t("mongoid.models.guide2/question"), guide2_questions_path %></h3>
  <h3><%= link_to t("mongoid.models.guide2/result"), guide2_results_path %></h3>
  <h3><%= link_to t("guide2.qa_table"), guide2_qa_table_path, target: '_blank' %></h3>
<% end %>
