<% @s ||= OpenStruct.new params[:s] %>
<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
    <%= f.select :sort, @model.sort_options, {}, id: nil, title: t("mongoid.attributes.ss/document.sort"), aria: { label: t("mongoid.attributes.ss/document.sort") } %>
    <%= f.text_field :keyword, id: nil, placeholder: t("ss.keyword"), style: "width: 300px;" %>
    <%= f.submit t('ss.buttons.search'), class: "btn", name: nil %>
  <% end %>
</div>
