<% @s = OpenStruct.new params[:s] %>
<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
    <%= f.select :category_id, options_from_collection_for_select(Chat::Category.site(@cur_site).where(node_id: @cur_node).order_by(order: 1, updated: -1), :id, :name, params.dig(:s, :category_id)), include_blank: true %>
    <%= f.text_field :keyword, style: "width: 300px;" %>
    <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />
  <% end %>
</div>
