.history-backup {
  th, td {
    border: $border-gray5;
    @include mb { 
      display: block !important;
      border: none;
    }
  }
  th { font-weight: bold; }
  td.diff {
    background-color: #ffc;
  }
}
