.history-backup {
  th, td {
    border: $border-gray5;
    @include mb {
      display: block !important;
      border: 0;
    }
  }
  th { font-weight: bold; }
  td { word-break: break-all; }
  td.diff {
    background-color: #ffc;
  }
  td span {
    &.add {
      background-color: #cfc;
    }
    &.delete {
      background-color: #fcc;
    }
    &.change {
      background-color: #ffc;
    }
  }
}
