<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to :new, action: :new %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock/ %>
    <%= link_to :back_to_index, action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t("gws_board.links.back_to_thread"), action: :show, id: @item %>
    <% end %>
  <% else %>
    <%= link_to :back_to_index, action: :index %>
  <% end %>
</nav>
