<h2 class="title"><%= item.name %></h2>
<div class="body"><%= item.text %></div>
<div class="meta">
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="user"><%= item.user.name %></span>
</div>
