<%= node_navi :key_visual do %>

<h3><%= link_to t("key_visual.image"), key_visual_images_path %></h3>
<h3><%= link_to "#{t("ss.links.trash")} (#{t("key_visual.image")})", trash_key_visual_images_path, class: :trash %></h3>

<% end %>
