<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.key_visual" %></h1></header>
  <div>
    <%= link_to :"key_visual.image", key_visual_images_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
