// Portal

// portlets
.gws-portlets {
  margin: -10px;
  @include mb {
    margin: 0 10px;
    .portlets {
      @include clear;
      width: 100%;
      height: auto !important;
      margin: 0 0 60px;
      padding: 0;
    }
    .portlet-item {
      position: static;
      width: 100%;
      margin-bottom: 10px !important;
      height: auto;
    }
  }
  .portlet-html {
    height: 100%;
  }
  .portlet-html .main-box {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin: 0;
  }
  .portlet-html .portlet--closed {
    background: #eee;
    background-image: url(/assets/img/gws/bg-plan.png);
  }
  .portlet-title {
    margin: -15px -10px 15px;
    padding: 8px 10px;
    border-bottom: $border-gray1;
    background: rgba(0, 0, 0, .02);
    font-weight: bold;
  }
  .portlet-model-schedule .main-box.with-tabs {
    height: calc(100% - 30px);
  }
  .list-items {
    margin: -10px -5px;
    .title:visited {
      color: #a40 !important;
    }
  }
  .list-item:last-child {
    border-bottom: 1px solid #f2f2f2;
  }
  .list-more {
    margin: 20px 0 0;
    text-align: right;
  }

  .portlet-model-ad {
    @import "swiper/dist/css/swiper";

    .slide-wrap {
      @include display-flex;
      @include justify-content(center);
      @include align-items(center)
    }

    .ss-swiper-slide {
      position: relative;
    }

    .ss-swiper-slide-container {
      width: 100%;
      height: 100%;
    }

    .ss-swiper-slide-main {
      height: 80%;
      width: 100%;
    }

    .ss-swiper-slide-item {
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
    }

    .ss-swiper-slide-item-image {
      width: 100%;
    }

    .ss-swiper-slide-item-image + .external {
      display: none;
    }

    .ss-swiper-slide-controller {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 10;
    }

    .ss-swiper-slide-pagination {
      position: unset;

      .swiper-pagination-bullet ~ .swiper-pagination-bullet {
        margin-left: 4px;
      }
    }
  }
}
.gws-portlets-static {
  //
}
.gws-portlets-layouts {
  .portlet-item {
    background-color: rgba(0, 0, 0, .01);
    background-image: url(/assets/img/gws/bg-plan.png);
    cursor: move;
    &:hover {
      box-shadow: 0 1px 5px #bbb;
      background-color: rgba(0, 0, 0, .05);
    }
  }
  .portlet-item.dragging {
    box-shadow: 0 1px 10px #bbb;
  }
  .preview-holder {
    background-color: rgba(0, 0, 0, .3);
    background-image: url(/assets/img/gws/bg-plan.png);
  }
  .gs-resize-handle-both {
    height: 12px;
    bottom: 0;
  }
  .portlet-html .edit-portlet {
    @include btn;
    display: block;
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 10px;
  }
  .portlet-html .main-box {
    overflow-y: hidden;
  }
}
