// Portal

.portal-notice {
  .datetime {
    margin-left: 5px;
    color: #888;
  }
}
// portlets
.gws-portlets {
  margin: -10px;
  .portlet-item {
  }
  .portlet-html {
    height: 100%;
  }
  .portlet-html .main-box {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin: 0;
  }
  .portlet-html .portlet--closed {
    background: #eee;
    background-image: url(/assets/img/gws/bg-plan.png);
  }
  .portlet-title {
    margin: -15px -10px 15px;
    padding: 8px 10px;
    border-bottom: $border-gray1;
    background: rgba(0,0,0,.02);
    font-weight: bold;
  }
  .portlet-model-schedule .main-box.with-tabs {
    height: calc(100% - 30px);
  }
  .list-items {
    margin: -10px -5px;
    .info a:visited {
      color: #b53 !important;
    }
  }
  .list-item:last-child {
    border-bottom: 1px solid #f2f2f2;
  }
  .list-more {
    margin: 20px 0 0;
    text-align: right;
  }
}
.gws-portlets-static {
  //
}
.gws-portlets-layouts {
  .portlet-item {
    background-color: rgba(0,0,0,.01);
    background-image: url(/assets/img/gws/bg-plan.png);
    cursor: move;
    &:hover {
      background-color: rgba(0,0,0,.05);
    }
  }
  .portlet-item.dragging {
    box-shadow: 0px 1px 10px #bbb;
  }
  .preview-holder {
    background-color: rgba(0,0,0,.3);
    background-image: url(/assets/img/gws/bg-plan.png);
  }
  .gs-resize-handle-both {
    height: 12px;
    bottom: 0;
  }
}

// management portlets
.mod-gws-portal-portlet-link-table {
  td {
    padding: 6px;
  }
  input[type=text] {
    width: 100%;
  }
}
