.gws-bookmark-head {
  display: inline-block;
  padding: 10px;
  &:hover {
    background-color: #424242;
  }
  .bookmark-icon {
    color: $white;
  }
  .dropdown-menu {
    right: 0;
    padding: 5px;
    border: $border-gray4;
    background-color: $white;
    @include mb { left: 0; }
    .bookmark-notice {
      padding-bottom: 6px;
      border-bottom: 1px solid #bebebe;
    }
    .name {
      display: flex;
      margin-top: 6px;
      margin-bottom: 6px;
      span {
        width: 80px;
        margin-top: 12px;
      }
      input[type=text] {
        display: inline-block;
        width: 240px;
      }
    }
    .folder {
      display: flex;
      margin-bottom: 6px;
      span {
        width: 80px;
        margin-top: 12px;
      }
      select {
        display: inline-block;
        width: 240px;
      }
    }
    .btn {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
}
