<div class="ezine-html">
  <%= form_for :item, url: { action: :delivery_test } do |f| %>
    <%= render partial: 'deliver_form' %>

    <footer class="send">
      <%= f.submit t('ezine.buttons.deliver_test'), name: :deliver, class: "save", data: { disable_with: t('ezine.buttons.deliver_test') } %>
    </footer>
  <% end %>
</div>
