// gws-discussion

.gws-discussion {
  .addon-body {
    @include clear;
  }
  .addon-body .no {
    margin-bottom: 10px;
  }
  .addon-body header {
    @include clear;
    .contributor {
      float: left;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .datetime {
      float: right;
    }
  }
  .addon-body .updated {
    padding: 0 0 0 7px;
  }
  .markdown
  .files {
    margin: 5px;
    padding: 15px;
    border-radius: 4px;
    background-color: #f2f2f2;
    span {
      margin-right: 8px;
      img {
        max-width: 100%;
        height: auto;
        border-style: none;
        line-height: 0;
      }
      a {
        display: inline-block;
        line-height: 1.5;
        word-break: normal;
        word-wrap: normal;
      }
    }
    .deselect {
      cursor: pointer;
    }
  }
  .discussion-contributor {
    padding-top: 10px;
  }
  .comment-files {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    .upload-menu-new {
      margin-left: 5px;
    }
    .upload-drop-area {
      padding-top: 5px;
      padding-bottom: 10px;
      @include border-radius(3px);
      background: #f2f2f2;
    }
    .upload-drop-notice {
      margin-left: 10px;
      color: #b30;
    }
    .file-dragenter {
      background: #fbeee8;
    }
  }
  .selected-files {
    margin-top: 10px;
    span {
      margin: 0 1em 0.5em 0;
    }
  }
  .deselect {
    cursor: pointer;
  }
  .menu {
    float: right;
    padding-top: 10px;
  }
  .addon-body.reply .menu .btn {
    background: #f2d150;
    background-image: -webkit-linear-gradient(top, #f2d150, #f2a950);
  }
  .addon-body.reply-menu {
    color: #b30;
    span {
      float: right;
      margin-right: 10px;
    }
  }
}
.gws-discussion-thread {
  float: left;
  width: calc(100% - 350px);
  min-height: 400px;
  @include mb  {
    float: none;
    width: 100%;
  }
}
.gws-discussion-topic {
  font-size: 180%;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 10px;
}
.gws-discussion-unseen {
  font-weight: bold;
  padding-left: 10px;
}
.gws-discussion-navi {
  float: right;
  margin-left: 10px;
  width: 340px;
  @include mb {
    float: none;
    margin: 0;
    width: 100%;
  }
}
