// gws-discussion

.gws-discussion {
  .addon-body {
    @include clear;
  }
  .addon-body .no {
    margin-bottom: 10px;
  }
  .addon-body header {
    @include clear;
    .contributor {
      margin-bottom: 10px;
      float: left;
      font-weight: bold;
    }
    .datetime {
      display: flex;
      float: right;
      .bookmark-comment {
        margin-right: 4px;
        cursor: pointer;
      }
      time {
        padding-top: 2px;
      }
    }
  }
  .addon-body .updated {
    padding: 0 0 0 7px;
  }
  .markdown
  .files {
    margin: 5px;
    padding: 15px;
    border-radius: 4px;
    background-color: #f2f2f2;
    span {
      margin-right: 8px;
      img {
        max-width: 100%;
        height: auto;
        border-style: none;
        line-height: 0;
      }
      a {
        display: inline-block;
        line-height: 1.5;
        word-wrap: normal;
        word-break: normal;
      }
    }
    .deselect {
      cursor: pointer;
    }
  }
  .discussion-contributor {
    padding-top: 10px;
  }
  .comment-files {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    .upload-menu-new {
      margin-left: 5px;
    }
    .upload-drop-area {
      padding-top: 5px;
      padding-bottom: 10px;
      @include border-radius(3px);
      background: #f2f2f2;
    }
    .upload-drop-notice {
      margin-left: 10px;
      color: #b30;
    }
    .file-dragenter {
      background: #fbeee8;
    }
  }
  .selected-files {
    margin-top: 10px;
    span {
      margin: 0 1em .5em 0;
    }
  }
  .deselect {
    cursor: pointer;
  }
  .menu {
    padding-top: 10px;
    float: right;
  }
  .addon-body .files {
    margin-top: 5px;
  }
  .addon-body.reply .menu .btn {
    background: #f2d150;
    background-image: -webkit-linear-gradient(top, #f2d150, #f2a950);
  }
  .addon-body.reply-menu {
    color: #b30;
    span {
      margin-right: 10px;
      float: right;
    }
  }
}
.gws-discussion-thread {
  width: calc(100% - 350px);
  min-height: 400px;
  float: left;
  @include mb {
    width: 100%;
    float: none;
  }
}
.gws-discussion-topic {
  margin-bottom: 8px;
  //border: 1px solid #d0d0d0;
  //border-radius: 3px;
  //background: #fff;
  @include clear;
  h2 {
    padding: 10px;
    float: left;
    font-size: 180%;
    font-weight: bold;
  }
  form {
    padding: 10px 5px 5px 0;
    float: right;
    select {
      width: 160px;
    }
    input[type=text] {
      width: 240px !important;
    }
  }
  @include mb {
    margin: 10px 0;
  }
}
.gws-discussion-unseen {
  padding-left: 10px;
  font-weight: bold;
}
.gws-discussion-navi {
  width: 340px;
  margin-left: 10px;
  float: right;
  @include mb {
    width: 100%;
    margin: 0;
    float: none;
  }

  .gws-discussion-navi-list {
    .addon-body {
      padding: 0;
    }
  }

  .list-items {
    margin: 0;
  }
  .list-item {
    padding: 15px;
  }
}
