
<div class="opendata-sparql">
  <h1>SPARQL Endpoint</h1>

  <%= form_tag("", method: :get) do %>
    <table>
      <tr>
        <th style="text-align: left;vertical-align: middle;">Query</th>
        <td>
          <textarea name="query"
           style="width: 400px; height: 100px;">select distinct * where { graph ?g { ?s ?p ?o . } }</textarea>
        </td>
      </tr>
      <tr>
        <th style="text-align: left;vertical-align: middle;">Format</th>
        <td>
          <select name="format">
            <option>HTML</option>
            <option>JSON</option>
            <option>CSV</option>
            <option>TSV</option>
            <option>XML</option>
          </select>
        </td>
      </tr>
    </table>

    <div style="margin: 20px 50px;">
      <%= submit_tag "Run Query" %>
    </div>
  <% end %>
</div>
