<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "facility.facility" %></h1></header>
  <div>
    <%= link_to :"facility.search", facility_searches_path, class: "icon-node" %>
  </div>
</nav>

<% end %>
