<div class="list-head">
  <div class="operations">
    <% if params[:action] == 'index' %>
      <%= link_to(t("ss.buttons.csv"), { action: :download_all, s: @s.to_h }, { class: "btn btn-csv", style: "font-weight: normal;" }) %>
    <% end %>
    <%= button_tag(t("ss.buttons.print"), name: "print", type: "button", class: "btn btn-print") %>
  </div>

  <%= render file: "_search" %>
</div>
