<div class="list-head">
  <div class="operations">
    <%= button_tag(t("ss.buttons.csv"), name: "csv", type: "button", class: "btn btn-csv") %>
    <%= button_tag(t("ss.buttons.print"), name: "print", type: "button", class: "btn btn-print") %>
  </div>

  <%= render file: "_search" %>
</div>
