<div class="cms-tabs">
  <%= link_to opendata_dataset_history_previews_main_path, class: 'current' do %>
    <span class="tab-name"><%= t("opendata.histories.preview_histories") %></span>
  <% end %>
  <%= link_to opendata_dataset_history_preview_archives_path do %>
    <span class="tab-name"><%= t("opendata.histories.preview_history_archives") %></span>
  <% end %>
</div>
