<% if @cur_user.role?(:edit, Cms::Group, site: @cur_site) %>
    <div>
    <%= I18n.t("opendata.labels.management_page") %>
    <p><%= link_to :"cms.member", cms_members_path %></p>
  </div>
<% end %>
