<li>
  <%= hidden_field_tag("#{f.object_name}[][in_wrap][lists][][order]", order, id: nil) %>
  <%= text_field_tag("#{f.object_name}[][in_wrap][lists][][text]", text, column.form_options.merge(id: nil)) %>
  <%= button_tag t("ss.links.delete"), class: "btn delete btn-delete-list", type: 'button' %>
</li>
