<% return "" if @item.ads_categories.blank? %>

<fieldset class="see" disabled>
  <div class="mb-3">
    <input class="form-control" type="text" value="<%= @item.send(:ads_categories).pluck(:name).join(", ") %>" />
  </div>
</fieldset>
