<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "facility.page" %></h1></header>
  <div>
    <%= link_to :"facility.use.name", facility_uses_path, class: "icon-node" %>
  </div>

<% end %>

