<div class="opendata-dataset_groups nodes">
  <% @items.each do |item| %>
  <article>
    <header>
      <h2><%= link_to item.name, search_datasets_path + "?s[dataset_group_id]=#{item.id}" %></h2>
    </header>
  </article>
  <% end %>
</div>

<div class="more">
  <%= link_to "もっと見る", search_groups_path %>
</div>
