<nav class="filters">
  <% if @filter_categories.present? %>
    <ul>
      <% @filter_categories.order_by(order: 1).each do |cate| %>
        <li class="<%= cate.basename %>">
          <%= link_to cate.name, "#", class: "clicked", "data-id" => cate.id %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @filter_locations.present? %>
    <%= select_tag :focus, options_for_select(@focus_options), class: :focus %>
  <% end %>
</nav>
