<%= jquery do %>
  var portal = new Gws_Portal(".gws-portlets", { readonly: true });
  portal.addItems(<%== @items.to_json %>);
<% end %>

<div class="gridster gws-portlets gws-portlets-static">
  <ul class="portlets"></ul>

  <% @items.each do |item| %>
  <div class="portlet-html" data-id="<%= item.id %>">
    <% @portlet = item %>
    <%= render file: item.portlet_view_file %>
  </div>
  <% end %>
</div>
