<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.ezine" %></h1></header>
  <div>
    <%= link_to :"ezine.page", ezine_pages_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
