@import "github-markdown";

// board
.gws-board {
  .topic, .comment {
    @include clear;
  }
  .comment {
    margin-top: 10px;
  }
  .body {
    padding: 10px;
    margin: 0 0 20px;
  }
  .meta {
    float: left;
    color: #888;
    .datetime {
      margin-right: 5px;
    }
  }
  .menu {
    float: right;
    a {
      margin: 0 0 0 5px;
    }
  }
}
.gws-board-comments {
  padding-left: 30px;
}
