@import "github-markdown";

// board
.gws-board {
  .topic, .comment {
    @include box;
    margin-bottom: 2px;
    header {
      @include box-head;
    }
    .body {
      @include box-body;
    }
    .files {
      margin: 10px;
      padding: 15px;
      border-radius: 4px;
      background-color: $gray1;
      a {
        display: inline-block;
        margin-right: 2em;
        line-height: 1.5;
        word-break: normal;
        word-wrap: normal;
      }
    }
  }
  .meta {
    .user {
      margin-right: 5px;
      font-weight: bold;
    }
  }
  .menu {
    padding: 0 5px 10px;
    text-align: right;
    a {
      margin: 0 4px;
    }
    a.primary {
      @include grd-orange;
    }
  }
  .comments {
    padding-left: 20px;
  }
}
