@import "github-markdown";

// board
.gws-board {
  .topic, .comment {
    //@extend .main-box;
    @include box;
    header {
      @include box-head;
    }
    .body {
      @include box-body;
    }
  }
  .comment {
    margin-top: 10px;
  }
  .meta {
    .user {
      margin-right: 5px;
      font-weight: bold;
    }
  }
  .menu {
    margin: 20px 0 0;
    padding: 10px 5px;
    border-top: 1px solid #eee;
    text-align: left;
    a {
      margin: 0 5px;
    }
  }
  .comments {
    padding-left: 25px;
  }
}
