<div class="cms-tabs">
  <% path = url_for(action: :index) %>
  <%= link_to(path, class: [ params[:type], request.path.start_with?(path) ? 'current' : nil ]) do %>
    <span class="tab-name">Collections</span>
  <% end %>
  <% path = url_for(action: :info) %>
  <%= link_to(path, class: [ params[:type], request.path.start_with?(path) ? 'current' : nil ]) do %>
    <span class="tab-name">Server</span>
  <% end %>
</div>

<table class="index">
  <thead>
    <tr>
      <th>Collection</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, sys_db_docs_path(coll: item.name) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= jquery do %>
  Gws_Tab.renderTabs('.gws-schedule-todo-tabs');
<% end %>
