<table class="index">
  <thead>
    <tr>
      <th>Collection</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, sys_db_docs_path(coll: item.name) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
