<div class="ss-confirm-text">
  <% if @item.deletion_locked? %>
    <%= t 'ss.info.soft_delete_locked' %>
  <% else %>
    <%= t 'ss.info.soft_delete' %>
  <% end %>
</div>

<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>
</dl>
