<%
   def group_hierachy(group)
     if group.nil?
       [ [ t("ldap.views.server/index.group.root"), nil ] ]
     else
       group_hierachy(group.parent) << [ group.name, group.dn ]
     end
   end
   group_hierachy = group_hierachy(@entity.parent)
%>

<header class="ldap-server-header">
  <nav>
    <% group_hierachy.each_with_index do |e, idx| %>
      <% if idx > 0 %><span class="separator">&rsaquo;</span><% end %>
      <% if e[1].nil? %>
        <span class="link"><%= link_to e[0], action: :index %></span>
      <% else %>
        <span class="link"><%= link_to e[0], action: :index, "dn" => e[1] %></span>
      <% end %>
    <% end %>
  </nav>
</header>

<dl class="see ldap-server-properties">
  <% @entity.each do |key, values| %>
  <dt><%= key %></dt>
  <dd><%= values.join(", ") %></dd>
  <% end %>
</dl>
