<nav class="act-menu">
  <% if params[:action] =~ /show/ %>
    <%= link_to :back_to_index, action: :index %>
  <% end %>
</nav>

<% if params[:action] =~ /show/ %>
<%= render file: "_addons_menu" %>
<% end %>
