<nav class="nav-menu">
  <%= link_to t("gws/monitor.links.back_to_thread"), @category.present? ? gws_monitor_category_topic_path(id: params[:topic_id]) : gws_monitor_topic_path(id: params[:topic_id]) %>
</nav>

