
<div class="opendata-sparql">
  <h1>SPARQL Endpoint</h1>
  <br>
  <%= form_tag("", method: :get) do %>
    <table>
      <tr>
        <th style="width: 80px; text-align: left;vertical-align: middle;">Query</th>
        <td>
          <textarea name="query"
           style="width: 400px; height: 100px;">select distinct * where { graph ?g { ?s ?p ?o . } }</textarea>
        </td>
      </tr>
      <tr>
        <th style="height: 50px;text-align: left;vertical-align: middle;">Format</th>
        <td style="text-align: left;vertical-align: middle;">
          <select name="format">
            <option value="HTML">HTML</option>
            <option value="HTML_TABLE">HTML (TABLE Only)</option>
            <option value="JSON">JSON</option>
            <option value="CSV">CSV</option>
            <option value="TSV">TSV</option>
            <option value="XML">XML</option>
          </select>
        </td>
      </tr>
    </table>

    <div style="margin: 10px 80px;">
      <%= submit_tag "Run Query" %>
    </div>
  <% end %>
</div>
