<section class="main-box">
  <header><h2><%= @item.send :name %></h2></header>
  <%== @item.html %>
</section>
<style type="text/css">
#navi {
  display: none;
}
#page::after {
  position: relative;
}
#menu .nav-menu {
  margin-left: 20px;
}

#main .wrap {
  margin: 10px 20px;
}

</style>
