<section class="main-box">
  <header><h2><%= @item.name %></h2></header>
  <%= html_editor "#notice-body", height: "400px", readonly: true, templates: false %>
  <%= text_area_tag "notice-body", sanitize(@item.html), style: "height: 400px;" %>
</section>
