<nav class="nav-menu">
  <% if params[:action] =~ /show/ %>
    <%= link_to t('ss.links.edit'), { action: :edit } %>
  <% else %>
    <%= link_to t('ss.links.back'), { action: :show } %>
  <% end %>
</nav>
