<% buf = render(file: @item.form_file, locals: { f: f }) if @item.form_file %>
<% return if buf.blank? %>
<div class="addon-view mb-5" id="column-<%= @model.name.underscore.gsub('/', '-') %>">
  <h2 class="h4"><%= @model.model_name.human %></h2>
  <%= buf %>
</div>
