<%

@s = OpenStruct.new params[:s]
section_options = @cur_year.yearly_groups.map { |c| [c.name, c.name] }

%>
<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
    <%= f.select :section_name, section_options, include_blank: t('gws/staff_record.search.section') %>
    <%= f.text_field :keyword, style: "width: 200px;" %>
    <%= f.submit t("ss.buttons.search"), name: nil, class: "btn" %>
  <% end %>
</div>
