<%= cache_component do %>
  <section class="main-box">
    <header><h2><%= t('gws/schedule.tabs.group') %></h2></header>

    <div class="gws-schedule-tree-group-wrap" data-controller="ss--tree">
      <%= render SS::TreeBaseComponent.new(root_nodes: root_nodes, css_class: "gws-schedule-tree-group") %>
    </div>
  </section>
<% end %>
