<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="model"><%= item.class.model_name.human %></span>
<% end %>

<%= render template: "cms/crud/index" %>
