<% return if items.blank? %>

<table class="index branches">
  <thead>
  <tr>
    <th><%= Cms::Page.t :name %></th>
    <th class="datetime"><%= Cms::Page.t :updated %></th>
  </tr>
  </thead>

  <tbody>
  <% items.each do |item| %>
    <tr>
      <td class="name"><%= link_to item.name, item.private_show_path, data: { turbo: false } %></td>
      <td class="datetime"><%= ss_time_tag item.updated %></td>
    </tr>
  <% end %>
  </tbody>
</table>
