<% @ad = Sys::Setting.first %>
<% if @ad.try(:files).present? %>
  <div class="main-box login-image-box">
    <header>
      <h2><%= t('sys.login.ad') %></h2>
    </header>
    <%=
      files = @ad.files.shuffle
      render "ss/slides/swiper_slides", files: files, width: @ad.ad_effective_width, slide_selector: ".ss-swiper-slide", slide_options: @ad.ad_options
    %>
  </div>
<% end %>
