<% @notices = Sys::Notice.and_public.and_show_login.reorder(notice_severity: 1, released: -1).limit(5) %>
<% if @notices.present? %>
<div class="main-box login-notice">
  <header>
    <h2><%= t('sys.notice') %></h2>
  </header>
  <ul class="list-items">
    <% @notices.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name,
              sns_public_notice_path(id: item, login_path: request.path),
              class: "title notice-severity-#{item.notice_severity}" %>
        <span class="datetime"><%= item.released.strftime("%Y/%m/%d %H:%M") %></span>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
