<div class="member-photos photos">
  <% @items.each do |file, page| %>
    <div class="photo">
      <%= link_to page.url do %>
        <%= image_tag file.thumb_url, alt: file.name, class: :thumb %>
        <span class="title"><%= ss_truncate(page.name, length: 35) %></span>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @items if @items.try(:current_page) %>
