<nav class="mod-navi">
  <h2><%= t 'gws/circular.setting' %></h2>
  <h3><%= link_to t('mongoid.models.gws/circular/category'), gws_circular_categories_path %></h3>
  <h3><%= link_to t('mongoid.models.gws/circular/trashes'), gws_circular_trashes_path %></h3>
</nav>

<%= render partial: 'gws/main/conf_navi' %>
