<% @index_meta = proc do |item| %>
    <span class="datetime"><%= item.updated.strftime('%Y/%m/%d %H:%M') %></span>
<% end %>

<%= render "gws/monitor/main/tabs" %>

<%= render file: 'gws/crud/index' %>
