<% @index_meta = proc do |item| %>
  <span class="datetime"><%= t("ss.views.index.updated", updated: item.updated.strftime("%Y/%m/%d %H:%M")) %></span>
<% end %>

<%= render template: "cms/crud/index" %>
