<%
  items = @portlet.find_report_items(@portal, @cur_user)
%>
<div class="main-box">
  <div class="portlet-title"><%= @portlet.name %></div>

  <ul class="list-items">
    <% items.each do |item| %>
      <li class="list-item">
        <div class="info">
          <%= link_to item.name, gws_report_file_path(state: 'inbox', id: item.id), class: 'title' %>
          <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>
          <div class="meta">
            <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <% if items.next_page %>
  <div class="list-more"><%= link_to I18n.t("ss.links.more"), gws_report_files_path(state: 'inbox') %></div>
  <% end %>
</div>
