<!doctype html>
<html lang="ja">

<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="0; URL=<%= @cur_page.redirect_link %>">
<title><%= @cur_page.name %></title>
</head>
<body></body>
</html>
