/**
 *
 */

@import "compass-mixins/lib/compass";
@import "ss/init";

// -------------------------------------------------------------------------------------------------
// preview
#ss-preview {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
  background-color: #323232;
  color: #fff;
  font-family: $font-base;
  font-size: .8rem;
  .ss-preview-dropdown ,#ss-preview-btn-select-draft-page {
    display: inline-block;
    color: #000;
    text-decoration: none;
    vertical-align: top;
  }
  button, select, #ss-preview-btn-select-draft-page, input, .ss-preview-part-list {
    @include btn;
    box-sizing: border-box;
    width: auto;
    height: auto;
    min-height: 2.6em;
    @include mb {
      padding: 6px 8px;
    }
  }
  .ss-preview-dropdown {
    float: left;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    label {
      box-sizing: border-box;
      height: 29px;
      margin: 0;
      padding: 4px 12px;
      border: 0;
      border-radius: 3px 0 0 3px;
      background: #d9d9d9;
    }
    #ss-preview-btn-select-node {
      @include btn;
      box-sizing: border-box;
      height: 29px;
      border: 1px solid #bbb;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      font-size: 100%;
      text-decoration: none;
    }
  }
  #ss-preview-btn-create-new-page {
    height: 29px;
    border: 1px solid #bbb;
    border-radius: 0 3px 3px 0;
  }
  .ss-preview-part-list {
    height: 2.6em;
    @include mb {
      width: calc(100% - 52px);
    }
  }
  // scss-lint:disable PropertySpelling
  #ss-preview-btn-workflow-start, #ss-preview-btn-workflow-approve {
    *zoom: 1;
    border: 1px solid #b23a3d;
    background: #e13026;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE13026', endColorstr='#FFB23A3D');
    filter: none \9;
    @include background-image(linear-gradient(top, #e13026, #b23a3d));
    &:hover {
      background: #b23a3d;
    }
  }
  #ss-preview-btn-publish {
    border: 1px solid #0069cc;
    @include background-image(linear-gradient(top, #007acd, #0069cc));
    @include filter-gradient(#007acd, #0069cc, vertical);
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NTIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwMDdBQ0QiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDY5Q0MiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c3NTIpIiAvPgo8L3N2Zz4=);
    color: #fff;
    &:hover {
      background: #0165a9;
    }
  }
  @include box-shadow(0 1px 5px #666);
  .ss-preview-wrap {
    @include display-flex;
  }
  .ss-preview-wrap-column-edit-mode {
    margin-right: auto;
    .ss-preview-wrap-row {
      @include display-flex;
      @include flex-wrap(wrap);
      @include mb {
        display: block;
      }
    }
    .ss-preview-btn-group:nth-child(2) {
      margin-left: 10px;
      @include mb {
        margin-left: 0;
      }
    }
  }
  .ss-preview-btn-group > * {
    margin-top: 10px;
  }
  #ss-preview-date {
    border-right: 0;
    border-radius: 3px 0 0 3px;
    @include mb {
      box-sizing: border-box;
      width: 100px;
      padding: 6px 3px;
    }
  }
  .ss-preview-btn-pc {
    border: 1px solid #bbb;
    border-right: 0;
    border-radius: 0;
  }
  .ss-preview-btn-mobile {
    border: 1px solid #bbb;
    border-radius: 0 3px 3px 0;
  }
  .ss-preview-wrap-column {
    padding: 0 12px 10px;
  }
  .ss-preview-wrap-column ~ .ss-preview-wrap-column {
    border-left: 1px solid #666;
    .ss-preview-wrap-row:nth-child(2) .ss-preview-btn-group:nth-child(3) {
      margin-right: 0;
    }
  }
  #ss-preview-messages .ss-preview-branch-notice {
    padding-right: 5px;
  }
  .ss-preview-btn-group {
    display: inline-block;
    &.ss-preview-wrap-row {
      @include display-flex;
      @include justify-content(flex-end);
      @include align-items(center);
      @include flex-wrap(wrap);
      @include mb {
        @include justify-content(flex-start);
      }
      label {
        margin: 6px 10px 0 0;
        @include mb {
          width: 100%;
        }
      }
    }
  }
  .ss-preview-btn-group ~ .ss-preview-btn-group {
    margin-right: 8px;
    @include mb {
      margin-left: 0;
    }
  }
  .ss-preview-btn-toggle-inplace {
    &:after {
      content: " onにする";
    }
    &.ss-preview-active:after {
      content: " offにする";
    }
  }
  .ss-preview-notice {
    color: #f6fa86;
    a {
      color: #fff;
    }

    &.ss-preview-workflow-notice {
      display: inline-block;
    }
  }
}
.ss-preview-hide {
  display: none !important;
}

#ss-preview-overlay {
  position: absolute;
  margin: 0 0 0 -5px;
  padding: 3px 5px 0 0;
  border: 1px solid #000;
  border-left: 3px solid #000;
  @include transition(.18s);
  pointer-events: none;
  .ss-preview-overlay-tool {
    @include display-flex;
    position: absolute;
    z-index: 999;
    bottom: 100%;
    left: -3px;
    box-sizing: border-box;
    @include align-items(center);
    @include flex-wrap(wrap);
    max-width: 100%;
    margin: 0;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
    @include mb {
      display: block;
    }
    span {
      color: #fff;
    }
    button, select {
      min-height: 3em;
      @include btn;
    }
    select {
      height: 3em;
    }
    button i {
      vertical-align: top;
    }
    .ss-preview-btn-group {
      z-index: 101;
      padding: 5px 5px 5px 0;
      font-size: .8rem;
      pointer-events: auto;
      button, select, input {
        position: relative;
        z-index: 10;
      }
    }
    .ss-preview-overlay-btn-group-edit:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  * {
    display: inline-block;
  }
  .ss-preview-overlay-name {
    margin: 0 .75rem;
    color: #fff;
    font-size: .8em;
  }
}

#ss-preview-content-begin {
  display: block;
  margin: 0;
  padding: 8px;
  background-color: rgb(242, 242, 242);
  @include box-shadow(0 1px 5px #666);
}

#ss-preview-inplace-item-form {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;

  .btn {
    -webkit-appearance: button;
  }

  .tooltip {
    display: none;
  }

  .hide { display: none; }

  @import "cms/column";
}

#ss-preview-form-palette {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
div.ss-preview-dialog {
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px;
  #ss-preview-dialog-frame {
    margin-top: 10px;
    padding: 10px;
    background: #f2f2f2;
    body {
      background: none;
    }
  }
}
.ss-preview-dialog {
  &.ui-dialog {
    .ui-dialog-title {
      display: none;
    }

    .ui-dialog-content {
      width: 100%;
      padding: 5px;
      @include box-sizing(border-box);
    }
  }
  dt.see {
    color: #a0522d;
    font-weight: bold;
  }
  textarea {
    @include input;
    width: 100%;
    height: 6.5em;
    padding: 5px;
    line-height: 1.4;
  }
  .btn-primary, .commit {
    @include btn-red;

  }
  .btn-default {
    @include btn-gray-l;
  }
  .btn-primary, .commit, .btn-default {
    font-size: $px13;
  }
  .send {
    margin-top: 10px;
    text-align: center;
    input, button {
      vertical-align: top;
    }
  }
  dt.wide {
    margin-bottom: 15px;
    color: #a0522d;
    font-size: $px13;
    font-weight: bold;
  }
}

.ss-preview-page, .ss-preview-column {
  min-height: 1em;
}
body.ss-ajax-in-iframe {
  background: none;
}
.ui-draggable .ui-dialog-titlebar.ui-corner-all {
  padding: 10px;
  border: 0;
  background: none;
}

.upload-menu-select {
  float: right;
}

.ss-alignment-left {
  float: left;
}

.ss-alignment-right {
  float: right;
}
#ajax-box {
  margin: 10px;
}
.ajax-selected {
  margin-bottom: 15px;
}
.search-ui-form {
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #ddd;
}
.dropdown-container {
  tr {
    background: $white;
    &:hover {
      background: #f8f8f8;
    }
    &:nth-child(2n) {
      background: #f8f8f8;
    }
  }
}
table.index {
  width: 100%;
  border: 1px solid #dcdcdc;
  .checkbox {
    width: 38px;
    padding-right: 0;
    text-align: center;
  }
  th, td {
    padding: 6px 18px;
    font-size: $px13;
    a {
      color: #f25a38;
      font-size: $px13;
      text-decoration: none;
    }
  }
  thead {
    th {
      padding-right: 0;
      border-bottom: 1px solid #dcdcdc;
      background: #f2f2f2;
      color: #999;
      text-align: left;
    }
  }
  tbody {
    tr {
      background: $white;
      &:nth-child(2n) {
        background: #f8f8f8;
      }
    }
  }
  .ajax-selected {
    margin-bottom: 15px;
  }
}
.mod-workflow-request, .search-ui-form {
  font-size: $px12;
  dl.see > dt ~ dt, dl.see > dd ~ dd {
    margin-top: 15px;
    @include clear;
  }
  dt {
    min-width: 180px;
    padding: 5px 0;
    float: left;
    zoom: 1;
    color: #a0522d;
    font-weight: bold;
  }
  dd {
    margin: 0 0 0 180px;
    padding: 5px 0;
    input[type=text] {
      @include box-sizing(border-box);
      @include box-sizing("inset 0 1px 3px #dcdcdc");
      width: 80%;
      padding: 6px;
      border: 1px solid #d0d0d0;
      @include border-radius(3px);
      vertical-align: middle;
    }
  }
  .btn {
    @include btn;
  }
  .dropdown-container {
    display: none;
    position: absolute;
    z-index: 101;
    width: 70%;
    max-height: 70%;
    margin-top: 2px;
    overflow: auto;
    -moz-box-shadow: 1px 2px 4px #888;
    -webkit-box-shadow: 1px 2px 4px #888;
    box-shadow: 1px 2px 4px #888;
    font-weight: normal;
  }
}
.mod-workflow-request {
  dt {
    .tooltip {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      margin-left: 5px;
      @include border-radius(8px);
      background: #f25a38;
      color: #fff;
      line-height: 1.1;
      text-align: center;
      cursor: pointer;
      ul {
        display: none;
        position: absolute;
        z-index: 100;
        top: 30px;
        left: -25px;
        width: 30em;
        padding: 15px;
        border: 1px solid #d0d0d0;
        background: #fff;
        -moz-box-shadow: 0 1px 6px #d0d0d0;
        -webkit-box-shadow: 0 1px 6px #d0d0d0;
        box-shadow: 0 1px 6px #d0d0d0;
        color: #000;
        font-size: 90%;
        font-weight: normal;
        line-height: 1.6;
        list-style: none;
        text-align: left;
        cursor: auto;
        @include mb {
          width: 15em;
        }
        &:before {
          content: "";
          position: absolute;
          top: -13px;
          left: 20px;
          width: 0;
          height: 0;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #d0d0d0;
          border-left: 12px solid transparent;
          background-color: #fff;
        }
        &:after {
          content: "";
          position: absolute;
          top: -12px;
          left: 215px;
          width: 0;
          height: 0;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #fff;
          border-left: 12px solid transparent;
        }
      }
    }
  }
  dd {
    select {
      max-width: 100%;
      height: 2.4em;
      padding: 0 4px;
      @include box-sizing(border-box);
      border: 1px solid #d0d0d0;
      @include border-radius(3px);
      @include box-shadow(inset 0 1px 3px #dcdcdc);
      vertical-align: middle;
    }
    .btn {
      @include btn;
      box-sizing: border-box;
      height: 2.7em;
      padding: 8px 12px;
      text-decoration: none;
    }
    .buttons button {
      margin: 0 10px 0 0;
      padding: 0 30px;
      font-size: 100%;
    }
  }
}

.sns-post-confirm {
  h2 {
    color: #a0522d;
    font-size: $px13;
    font-weight: bold;
  }
  li {
    font-size: $px12;
  }
  margin-bottom: 10px;
}

.ss-check-links-error {
  background-color: #ff9d00 !important;
}
