<dl class="see mod-history-backup">
  <% @item.backups.each do |item| %>
  <dd>
    <% if @item.allowed?(:edit, @cur_user) %>
      <%= link_to l(item.created), history_cms_backup_path(id: item.id) %>
    <% else %>
      <%= l(item.created) %>
    <% end %>
    <% if item.user %>
      <span style="margin-left: 0.5em;"><%= item.user.name %></span>
    <% end %>
  </dd>
  <% end %>
</dl>
