<ul class="nav nav-tabs">
  <li class="nav-item"><%= link_to(t("inquiry.column"), inquiry_columns_path, class: "nav-link active") %></li>
  <li class="nav-item"><%= link_to(t("inquiry.answer"), inquiry_answers_path, class: "nav-link") %></li>
  <li class="nav-item"><%= link_to(t("inquiry.result"), inquiry_results_path, class: "nav-link") %></li>
  <li class="nav-item"><%= link_to(t("inquiry.feedback"), inquiry_feedbacks_path, class: "nav-link") %></li>
</ul>
