<% if @cur_page.related_pages.present? %>
<section class="related-pages">
  <header><h2><%= @cur_page.t :related_pages %></h2></header>
  <div class="pages">
    <ul>
      <% @cur_page.related_pages.each do |item| %>
      <li><%= link_to item.name, item.url %></li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>
