 // TODO: Mode to ss
 // Messages list
.ss-messages {
  .unseen {
    font-weight: bold;
  }
  .seen {
    border-color: #e8e8e8;
    background-color: #f4f4f4;
  }
  .seen:hover {
    background: $orange2;
  }
  // star
  .label-star {
    float: left;
    width: 30px;
    margin-left: -7px;
  }
  .icon-star {
    display: inline-block;
    margin-top: -4px;
    font-size: 140%;
    &:before { content: '★'; }
    &--on {
      color: #fb0;
    }
    &--off {
      color: #ccc;
    }
  }
  // attachment
  .label-attachment {
    float: left;
    width: 30px;
  }
  .icon-attachment {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/assets/img/gws/ic-file.png);
    background-repeat: no-repeat;
    &--on {
    }
    &--off {
      background-image: none;
    }
  }
}

.webmail-mailboxes {
  .pad {
    display: inline-block;
    width: 12px;
  }
  a {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 15px;
    texe-decoration: none;
  }
}
