 // TODO: Mode to ss
 // Messages list
.ss-messages {
  .unseen {
    //margin-left: -2px;
    //border-left: 2px solid #f94;
    font-weight: bold;
  }
  .seen {
    border-color: #ebebeb;
    background-color: #f6f6f6;
  }
  .seen:hover {
    background: $orange2;
  }
  .icon-attachment {
    &:before {
      content: 'File) ';
    }
  }
}
.webmail-mails {
}

.webmail-mailboxes {
  .pad {
    display: inline-block;
    width: 12px;
  }
  a {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 15px;
    texe-decoration: none;
  }
}
