<%
  if !@item.reservable_setting_present?
    addon ||= local_assigns.fetch(:addon, {})
    addon[:display_body] = "hide"
  end
%>

<div class="gws-addon-facility-reservable-setting">
  <dl class="see">
    <dt><%= @model.t :reservable_group_ids %></dt>
    <dd><%=br @item.reservable_group_names %></dd>

    <dt><%= @model.t :reservable_member_ids %></dt>
    <dd><%=br @item.reservable_member_names %></dd>
  </dl>
</div>
