<table class="index">
  <thead>
  <tr>
    <th><%= t("chorg.views.#{params[:type]}_change_sets.before_#{params[:type]}") %></th>
    <th><%= t("chorg.views.#{params[:type]}_change_sets.after_#{params[:type]}") %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @item.before_division %></td>
    <td><%= @item.after_division %></td>
  </tr>
  </tbody>
</table>
