<%= jquery do %>
$('.gws-board .body').each(function(){
  $(this).html(marked($(this).html()));
});
<% end %>

<% if nil && params[:action] == "new" %>
<div class="main-box gws-board gws-board-topics">
  <article class="topic">
    <%= render "gws/board/topics/parent", item: @parent %>
  </article>
</div>
<% end %>

<%= render file: "ss/crud/new" %>
