<%= jquery do %>
    Gws_Share_File.render();
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="download-all btn"><%= t :"gws/share.links.file_download" %></button>
    <button class="disable-all btn"><%= t :"gws/share.links.disable" %></button>
  </div>

  <%= render file: "_search" %>
</div>
