<%
traverser = Gws::Share::CategoryTraverser.build(@cur_site)
return '' if traverser.blank?
%>

<div class="main-box">
  <div class="gws-category-tree-view">
    <header class="list-head"><h2><%= @model.t :category_ids %></h2></header>
    <%= render partial: 'category0', locals: { categories: traverser, css_class: 'list-items parent', depth: 0 } %>
  </div>
</div>
