<%= node_navi :cms do %>

<h3><%= link_to t("cms.import_node"), node_import_path %></h3>
<h3><%= link_to t("cms.import_node_index"), node_import_nodes_path %></h3>
<h3><%= link_to t("cms.import_page_index"), node_import_pages_path %></h3>

<% end %>
