<nav class="nav-management-menu">
  <% if @portal.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to gws_portal_my_layouts_path do %>
      <i class="material-icons md-20">&#xE8B8;</i><%= t("ss.management") %>
    <% end %>
  <% end %>
</nav>

<nav class="nav-menu">
</nav>
