<%= render "ss/crud/addon", addon: { head: head, css_class: css_class, toggle: true } do %>
  <% @forum.overall_members.each do |member| %>
    <p><%= gws_public_user_long_name(member.long_name) %></p>
  <% end %>
<% end %>
