<% if report %>
  <% report.column_values.each do |column_value| %>
    <%= render partial: 'column_value', locals: { column_value: column_value, date: date, print: print, report: report, user: user } %>
  <% end %>
<% elsif @forms.present? %>
  <% @forms.first.columns.each do |column| %>
    <td></td>
  <% end %>
<% end %>
