<% return if !@model.allowed?(:access, @cur_user, site: @cur_site) && user.id != @cur_user.id %>

<% if report %>
  <td>
    <div class="report-value-wrap">
      <div class="report-value"><%= br report.limited_access %></div>
    </div>
  </td>
<% elsif @forms.present? %>
  <td></td>
<% end %>
