<% if @item.errors.present? %>
  <%# アクセシビリティのエラーのサンプル。 %>
  <%# 将来、正しい実装が提供されたら削除する。 %>
  <div id="errorSyntaxChecker" class="errorExplanation">
    <h2>アクセシビリティチェック</h2>
    <div class="errorExplanationBody"><p>次の項目を確認してください。</p>
      <ul>
        <li class="code"><code>H3 </code></li>
        <ul>
          <li><span class="message detail">見出しの順番が不正です。<ul style="display: none;"><li>見出し(H)の順番が不正です。</li><li>適切な順に配置してください。</li></ul></span><a href="#" class="correct">自動修正</a>
          </li>
        </ul>
        <li class="code"><code>&lt;img alt="bil0130-003.jpg" src="/fs/3/7/9/_/thumb/bil0130-003.jpg"
          title="bil0130-003.jpg"&gt;</code></li>
        <ul>
          <li><span class="message detail">画像の代替テキストを確認してください。<ul style="display: none;"><li>画像の内容を示す代替テキストを設定してください。</li></ul></span>
          </li>
        </ul>
        <li class="code"><code>&lt;a href="/fs/3/7/9/_/bil0130-003.jpg"&gt;&lt;img alt="bil0130-003.jpg"
          src="/fs/3/7/9/_/thumb/bil0130-003.jpg" title="bil0130-003.jpg"&gt;&lt;/a&gt;</code></li>
        <ul>
          <li><span class="message detail">リンクのテキストを確認してください。<ul style="display: none;"><li>リンク内のテキストは遷移先を表すものを設定してください。</li></ul></span>
          </li>
        </ul>
        <li class="code"><code>子供</code></li>
        <ul>
          <li><span class="message detail">使用が好ましくない単語が含まれています。「子供」→「子ども」</span><a href="#" class="correct">自動修正</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
<% end %>
