<% if @item.column_link_errors.present? %>
  <div id="errorLinkChecker" class="errorExplanation">
    <h2><%= t "cms.check_links" %></h2>
    <div class="errorExplanationBody">
      <p><%= t "errors.template.check_links" %></p>
      <ul>
        <% @item.column_link_errors.each do |link, error| %>
          <li><%= link %> <span class="failure"><%= error %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
