<section class="main-box">
  <header><h2><%= @item.name %></h2></header>

  <ul class="list-items">
    <% (@item.links || []).each do |item| %>
      <% target = item[:target].presence %>
      <% rel = target == "_blank" ? "noopener" : nil %>
      <li class="list-item">
        <div class="info">
          <% if item[:url].present? %>
            <%= link_to item[:name].presence || item[:url], sns_redirect_path(ref: item[:url]), target: target, rel: rel %>
          <% elsif item[:name].present? %>
            <%= item[:name] %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
