<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="model"><%= item.class.model_name.human %></span>
<% end %>

<%= render file: "cms/crud/index" %>
