.presence-groups {
  .all-groups {
    border: 1px solid #dcdcdc;
    margin-bottom: 5px;
    line-height: 2;
    a {
      margin-left: 10px;
    }
  }
  .tree-groups, .custom-groups {
    margin-bottom: 5px;
    .list-item {
      background: #fff;
    }
  }
  .list-item.current {
    background: #f2f2f2 !important;
  }
}
.presence-users {
  .presence-state-selector {
    position: absolute;
    border: 1px solid #d0d0d0;
    box-shadow: 0 1px 6px #d0d0d0;
    padding: 8px;
    white-space: nowrap;
    overflow: auto;
    z-index: 10000;
    color: #000;
    background: #fff;
    cursor: pointer;
    p {
      display: flex;
      margin-bottom: 5px;
      &.none {
        border: 2px solid #ccc;
        padding: 0 2px;
        border-radius: 4px;
      }
      &.active {
        border: 2px solid #00ff7f;
        padding: 0 2px;
        border-radius: 4px;
      }
      &.inactive {
        border: 2px solid #ffc107;
        padding: 0 2px;
        border-radius: 4px;
      }
    }
  }
  .ajax-text-field {
    &a {
      display: inline-block;
      vertical-align: middle;
    }
    &input {
      width: 90%;
    }
  }
  .editicon {
    cursor: pointer;
    color: #f25a38;
  }
  .data-table-wrap {
    padding: 0 10px 10px;
  }
  table.data-table {
    table-layout: fixed;
    tr {
      background: $white;
    }
    th.name {
      width: 25%;
    }
    th.presence-plan {
      width: 25%;
    }
    th.presence-memo {
      width: 40%;
    }
    th.presence-send_message {
      width: 10%;
    }
    td {
      background: none;
      .group-name {
        width: calc(100% - 60px);
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
      }
      .presence-state, .select-presence-state {
        display: inline-block;
        vertical-align: middle;
        &.active {
          border: 2px solid #00ff7f;
          padding: 0 2px;
          border-radius: 4px;
        }
        &.inactive {
          border: 2px solid #ffc107;
          padding: 0 2px;
          border-radius: 4px;
        }
        &.none {
          border: 2px solid #ccc;
          padding: 0 2px;
          border-radius: 4px;
        }
      }
      &.presence-state-toggle {
        position: relative;
      }
    }
    .select-presence-state {
      margin-left: 3px;
    }
    .editable .presence-state {
      white-space: nowrap;
      cursor: pointer;
    }
    .no-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  td:first-child .no-overflow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &.group-users {
    .list-head {
      .list-head-title {
        display: flex;
        float: left;
      }
      nav {
        float: right;
        @include mb {
          float: none;
          input[type="text"] {
            width: auto !important;
          }
        }
      }
    }
  }
  &.portlet-users {
    width: 100% !important;
    .portlet-title {
      display: flex;
    }
  }
}
