@use "ss/init";

.gws-presence-list-search {
  form {
    float: none;
    >select {
      margin-bottom: 5px;
    }
    .search-inner {
      display: flex;
      input[type="submit"] {
        margin: 0 5px;
      }
      .limit {
        margin-left: auto;
        white-space: nowrap;
      }
    }
    #s_keyword {
      width: 100% !important;
      max-width: 724px;
    }
  }
}
.presence-groups {
  .all-groups {
    margin-bottom: 5px;
    border: 1px solid #dcdcdc;
    line-height: 2;
    a {
      margin-left: 10px;
    }
  }
  .tree-groups,
  .custom-groups {
    margin-bottom: 5px;
    .list-item {
      background: #fff;
    }
  }
  .list-item.current {
    background: #f2f2f2 !important;
  }
}
.presence-users {
  .presence-state-selector {
    position: absolute;
    z-index: 10000;
    padding: 8px;
    overflow: auto;
    border: 1px solid #d0d0d0;
    background: #fff;
    box-shadow: 0 1px 6px #d0d0d0;
    color: #000;
    white-space: nowrap;
    cursor: pointer;
    p {
      display: flex;
      margin-bottom: 5px;
      &.none {
        padding: 0 2px;
        border: 2px solid #ccc;
        border-radius: 4px;
      }
      &.active {
        padding: 0 2px;
        border: 2px solid #00ff7f;
        border-radius: 4px;
      }
      &.inactive {
        padding: 0 2px;
        border: 2px solid #ffc107;
        border-radius: 4px;
      }
    }
  }
  .ajax-text-field {
    &a {
      display: inline-block;
      vertical-align: middle;
    }
    &input {
      width: 90%;
    }
  }
  .editicon {
    color: #f25a38;
    cursor: pointer;
  }
  .lead-scroll {
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .data-table-wrap {
    width: 100%;
    padding: 0 10px 10px;
    overflow-x: auto;
  }
  table.data-table {
    table-layout: fixed;
    tr {
      background: init.$white;
    }
    th.name {
      width: 25%;
    }
    th.presence-plan {
      width: 25%;
    }
    th.presence-memo {
      width: 40%;
    }
    th.presence-send_message {
      width: 10%;
    }
    td {
      background: none;
      .group-name {
        display: inline-block;
        width: calc(100% - 60px);
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: normal;
      }
      .presence-state,
      .select-presence-state {
        display: inline-block;
        vertical-align: middle;
        &.active {
          padding: 0 2px;
          border: 2px solid #00ff7f;
          border-radius: 4px;
        }
        &.inactive {
          padding: 0 2px;
          border: 2px solid #ffc107;
          border-radius: 4px;
        }
        &.none {
          padding: 0 2px;
          border: 2px solid #ccc;
          border-radius: 4px;
        }
      }
      &.presence-state-toggle {
        position: relative;
      }
    }
    .select-presence-state {
      margin-left: 3px;
    }
    .editable .presence-state {
      white-space: nowrap;
      cursor: pointer;
    }
    .no-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  td:first-child .no-overflow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &.group-users {
    .list-head {
      .list-head-title {
        display: flex;
        float: left;
      }
      nav {
        float: right;
        @include init.mb {
          float: none;
          input[type="text"] {
            width: auto !important;
          }
        }
      }
    }
  }
  &.portlet-users {
    width: 100% !important;
    .portlet-title {
      display: flex;
    }
  }
}
.presence-user-search {
  table.data-table {
    width: 1220px;
    table-layout: auto;
    thead {
      tr {
        th {
          white-space: nowrap;
          /* 在籍状態 */
          &:nth-child(1) {
            width: 80px;
          }
          /* 備考 */
          &:nth-child(2) {
            width: 120px;
          }
          /* 役職（補職） */
          &:nth-child(5) {
            width: 60px;
          }
          /* 所属, 担当（係）名, 職員名, 職員名（カナ）, 内線番号, 所属部班（災害時） */
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9) {
            width: 150px;
          }
          /* メッセージ */
          &:nth-child(10) {
            width: 60px;
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:nth-child(1),
          &:nth-child(10) {
            text-align: center;
          }
          &:nth-child(10) {
            a {
              color: #000;
              &:hover {
                color: #f25a38;
              }
            }
          }
          .group-name {
            width: 100%;
          }
        }
      }
    }
  }
}
