<div>
  <% @areas.each do |data| %>
  <% next unless data %>
  <article>
    <header>
      <h2><a href="<%= "#{@search_url}&s[area_id]=#{data['id']}" %>">
        <span class="name"><%= data["name"] %></span>
        <span class="count">(<%= data["count"] %>)</span></a></h2>
    </header>
  </article>
  <% end %>
</div>
