<%= jquery do %>
  Opendata_Dataset.renderPointButton();
  $(".point .label a").colorbox({ fixed: true, width: "300px", height: "50%" });
<% end %>

<div class="count">
  <span class="label">
    <% if @dataset.point == 0 %>
      いいね！
    <% else %>
      <%= link_to "いいね！", @dataset.point_members_url %>
    <% end %>
  </span>
  <span class="number">
    <%= @dataset.point %>
  </span>
</div>

<div class="like"><%= link_to "いいね！", "#", class: "update #{@mode}" if @mode %></div>
