<div class="detail">

  <div class="info-wrap">
    <div class="dataset-ideas">

      <div class="ideas">
        <% @ideas.each do |idea| %>
          <div class="comment"><%= link_to idea.name, idea.url %></div>
          <div class="comment_text"><%= idea.text %></div>

          <% if idea.member %>
          <%= link_to idea.member.name, "#{member_path}#{idea.member.id}" %>
          <% else %>
          ゲストユーザー
          <% end %>

          <hr>
        <% end %>
        <% if @login_mode %>
          <a class="contribute" href="<%= "/mypage/idea/new?dataset=#{@dataset_idea.id}" %>">アイデアを投稿する</a>
        <% end %>
      </div>

  </div>
</div>
