<% @index_meta = proc do |item| %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="gws-schedule-color-block" style="<%= "background-color: #{item.color}; color: #{item.text_color}" %>">
    <%= item.name %></span>
<% end %>

<%= render template: "gws/crud/index" %>
