<% @index_meta = proc do |item| %>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="gws-schedule-category-sample" style="<%= "background-color: #{item.color}; color: #{item.text_color}" %>">
    <%= item.name %></span>
<% end %>

<%= render file: "gws/crud/index" %>
