<% return if @item.files.blank? %>
<% limit = 5 %>

<div class="see mod-questionaire-files-ref">
  <p><%= t("gws/questionnaire.notices.count_limit", count: limit) %></p>

  <div class="gws-questionnaire">
    <%= render file: "gws/questionnaire/files/_table", locals: { cur_form: @item, items: @item.files.order_by(updated: -1).limit(limit) } %>
  </div>

  <div class="list-more"><%= link_to I18n.t("ss.links.more"), gws_questionnaire_editable_files_path(editable_id: @item), class: 'btn' %></div>
</div>
