.ss-link-item-table {
  &.ss-link-item-table-show {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto auto;
    align-items: center;

    &:not(:has([data-id])) {
      display: none;
    }

    .ss-link-item-name,
    .ss-link-item-url {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    thead,
    tbody,
    tfoot,
    tr {
      display: contents;
    }

    th,
    td {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    tr:hover td {
      background-color: #f2f2f2;
    }

    tr:nth-child(2n) {
      td {
        background-color: #f8f8f8;
      }
      &:hover td {
        background-color: #f2f2f2;
      }
    }

    @include mb {
      grid-template-columns: auto auto auto;

      .ss-link-item-name-cell,
      .ss-link-item-url-cell {
        grid-column: 1 / span 3;
      }
    }
  }

  &.ss-link-item-table-form {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    thead,
    tbody,
    tfoot {
      display: contents;
    }

    tr {
      display: grid;
      grid-column: span 4;
      grid-row: span 2;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }

    th,
    td {
      display: inline-flex;
      width: 100%;
      height: 100%;
      padding: 5px;
    }

    input {
      width: 100%;
      margin: 0;
    }

    select,
    button {
      margin: 0;
    }

    .ss-link-item-url-cell {
      grid-column: 1;
    }

    .ss-link-item-file-cell {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    .ss-link-item-target-cell {
      grid-column: 3;
      grid-row: 1;
    }

    .ss-link-item-state-cell {
      grid-column: 3;
      grid-row: 2;
    }

    .ss-link-item-action-cell {
      grid-column: 4;
      grid-row: 1 / span 2;

      flex-direction: column;
      gap: 5px;
    }

    @include mb {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      tr {
        display: contents;
      }

      .ss-link-item-url-cell {
        grid-column: auto;
      }

      .ss-link-item-file-cell {
        grid-column: auto;
        grid-row: auto;
      }

      .ss-link-item-target-cell {
        grid-column: auto;
        grid-row: auto;
      }

      .ss-link-item-state-cell {
        grid-column: auto;
        grid-row: auto;
      }

      .ss-link-item-action-cell {
        grid-column: auto;
        grid-row: auto;

        flex-direction: row;
      }
    }
  }

  // 標準のスタイルが邪魔なので打ち消しつつスタイルを定義する
  .file-view {
    width: unset;

    .thumb {
      min-height: unset;
      border: unset;
    }

    img {
      width: unset;
      max-height: 49px;
      padding: unset;
      object-fit: scale-down;
    }

    .name {
      display: none;
    }
  }

  .ss-file-field-v2 {
    width: 100%;
  }
}
