/* ===================================================================================================
pages - 緊急災害レイアウト
=================================================================================================== */

@import "init";
@import "part";


/* pages - body--urgency-layout
---------------------------------------------------------- */
/* 緊急災害レイアウト トップ */
body.body--index__urgency{
  background-color: #ecebe3;
  background-image: none;

  .accessibility {

    @include tb {
      display: none;
    }
  }

  .head__utility-upper {
    justify-content: flex-end !important;
  }

  #head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 0%;
    padding: 10px 30px;
    background-color: white;

    .siteinfo {
      display: flex;
      align-items: center;
      border-bottom: none;

      &__logo {
        width: 200px;

        @include tb {
          width: 120px;
        }

        a {
          img {
            max-width: 176px;
          }
        }
      }

      &__announce {
        margin-left: 21px;
        color: #e6000f;
        font-size: 18px;
        font-weight: bold;

        @include tb {
          font-size: 12px;
        }
      }
    }

    .head__utility-wrap {
      @include tb {
        width: 85%;
      }

      .head__utility {
        @include tb {
          display: none;
        }

        .head__utility-upper {
          .head-search {
            form {
              border-radius: 5px;
            }
          }
        }
      }
    }
  }


  /* common - 新着情報/注目情報
---------------------------------------------------------- */
  /* 新着情報/注目情報 */
  .emergency{
    display: flex;
    padding: 30px;

    @include tb {
      display: block;
      padding: 0;
    }


    &__title{
      display: flex;
      align-items: center;
      width: 200px;
      background-color: #e6000f;

      @include tb {
        width: 100%;
      }

      h2{
        padding: 14px 20px;
        color: $white;
        font-size: $px26;
        font-weight: normal;

        @include tb {
          font-size: $px18;
        }
      }
    }

    &__article{
      width: calc(100% - 200px);
      background-color: $white;

      @include tb {
        width: 100%;
      }

      article{
        width: 100%;
        // border-bottom: 1px dotted #808080;
        margin: 10px;
        padding: 5px 15px;

        @include tb {
          margin: 0;
        }

        h3{
          border-bottom: 1px dotted #808080;
        }

        a {
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;

          @include tb {
            font-size: 12px;
          }

          &:hover {
            text-decoration: underline;
          }
        }



      }
    }
  }

  .whats-new,
  .notice {
    margin-top: 30px;
    overflow: hidden;
    border-radius: 16px;

    &__header {
      padding: 15px 23px;
      background-color: #4eccca;
    }

    &__header-title {
      font-size: 18px;
      font-weight: bold;
    }

    &__list-wrap {
      padding: 0 20px 17px;
      background-color: #fff;

      @include tb {
        padding: 0 16px 13px;
      }
    }

    &__list {
      article {
        border-bottom: 1px dotted #808080;

        header {
          display: flex;
          align-items: center;
          padding: 15px 0 15px 3px;

          @include tb {
            flex-direction: column;
            align-items: flex-start;
            padding: 6px 0;
          }

          time {
            width: 110px;
            font-size: 12px;
            letter-spacing: 0.5px;
            white-space: nowrap;

            @include tb {
              width: auto;
              font-size: 10px;
            }
          }

          h2 {
            margin-left: 27px;

            @include tb {
              display: flex;
              margin-left: 0;
            }

            a {
              font-size: 14px;
              font-weight: bold;
              text-decoration: none;

              @include tb {
                font-size: 12px;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .head-content__list-wrap > &__feed {
      justify-content: flex-end;
      margin-top: 14px;

      @include tb {
        margin-top: 8px;
      }

      a {
        padding-right: 9px;
        font-size: $px12;

        &::after {
          top: 6px;
        }
      }
    }

    &__rss {
      margin-right: 9px;
      padding-left: 14px;

      &::before {
        width: 11px;
        height: 11px;
        background-size: 11px;
      }
    }

    &__more {}

    &__no-info {
      padding: 27px 0;
      color: #000;
      font-size: 88%;
      font-weight: bold;
    }
  }

  .hamburger-menu {
    display: none;
  }

  #wrap {
    min-height: 0%;
    padding-bottom: 60px;

    @include tb {
      width: 100%;
      padding: 17px 25px 40px;
    }

    .wrap__inner {
      width: 1120px;
      margin: 0 auto;
      padding: 4px 20px 0;

      @include tb {
        width: 100%;
        padding: 0;
      }
    }

    #content {
      flex-direction: column;
      padding-top: 26px;

      @include tb {
        padding-top: 0;
      }

      .head__utility-wrap {
        display: none;

        @include tb {
          display: block;
          position: static;
          width: 100%;
          margin-top: 30px;
        }

      }

      .head__utility {
        &-upper {
          .head-search {
            @include tb {
              width: 100%;
            }

            form {
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  .head-content {
    display: flex;
    justify-content: space-between;

    @include tb {
      flex-direction: column;
    }

    &__left,
    &__right {
      width: calc((100% - 30px) / 2);

      @include tb {
        width: 100%;
      }
    }

    &__left {}

    &__right {
      @include tb {
        margin-top: 10px;
      }
    }

    &__area {

      &--urgency,
      &--covid-news {
        .head-content__header {
          background-color: #e6000f;
        }
      }

      &--disaster,
      &--nyusatsu {
        .head-content__header {
          background-color: #09698e;
        }
      }

      &--covid-news,
      &--nyusatsu {
        margin-top: 20px;

        @include tb {
          margin-top: 10px;
        }
      }
    }

    &__header {
      padding: 14px 20px;
      border-radius: 15px 15px 0 0;
      color: #fff;

      @include tb {
        padding: 12px 17px;
      }

      h2 {
        font-size: $px18;
        font-weight: bold;

        @include tb {
          font-size: $px15;
        }
      }
    }

    &__list-wrap {
      padding: 0 20px 10px;
      border-radius: 0 0 15px 15px;
      background-color: #fff;

      @include tb {
        padding: 0 17px 5px;
      }
    }

    &__list {
      list-style: none;
    }

    &__item {
      border-bottom: 1px dotted #808080;

      .date {
        display: none;
      }

      .head-content__item-link {
        display: block;
        padding: 10px 0;
        font-size: $px14;
        font-weight: bold;
        line-height: 1.43;
        text-decoration: none;

        @include tb {
          padding: 8px 0;
          font-size: $px12;
        }

        &:hover {
          text-decoration: underline;
        }

        &-inner {}
      }
    }

    &__link-wrap {
      margin-top: 10px;
      text-align: right;

      @include tb {
        margin-top: 7px;
      }
    }

    &__link {
      position: relative;
      padding-right: 10px;
      color: #3b4043;
      font-size: $px14;
      font-weight: bold;
      text-decoration: none;

      @include tb {
        font-size: $px12;
      }

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 0;
        height: 0;
        margin-top: -6px;
        border-width: 5px 0 5px 5px;
        border-style: solid;
        border-color: transparent transparent transparent #585c5f;
      }
    }

    &__no-info {
      padding: 27px 0;
      color: #000;
      font-size: $px14;
      font-weight: bold;

      @include tb {
        padding: 11px 0 9px;
      }
    }
  }

  .head-content__area--urgency {
    display: flex;

    @include tb {
      flex-direction: column;
    }

    .head-content__header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      border-radius: 0;

      @include tb {
        display: block;
        width: 100%;
        padding: 13px 19px;
      }

      h2 {
        font-size: 26px;
        font-weight: normal;

        @include tb {
          font-size: 15px;
        }
      }
    }

    .head-content__list-wrap {
      width: calc(100% - 200px);
      padding: 0 30px 10px;
      border-radius: 0;

      @include tb {
        width: 100%;
        padding: 0 15px 5px;
      }
    }

    .head-content__list {}

    .head-content__item {
      display: flex;
      align-items: center;

      @include tb {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
      }

      .date {
        display: inline-block;
        width: 160px;
        font-size: 12px;

        @include tb {
          width: auto;
          font-size: 10px;
        }
      }
    }

    .head-content__item-link {
      width: calc(100% - 185px);
      margin-left: 25px;

      @include tb {
        width: 100%;
        margin-left: 0;
        padding: 0;
      }
    }

    .head-content__link-wrap {
      a.head-content__link {
        color: #3b4043;
      }
    }
  }

  .head-content__area--disaster {
    .head-content__header {
      border-radius: 0;

      h2 {}
    }

    .head-content__list-wrap {
      border-radius: 0;

      @include tb {
        width: 100%;
        padding: 0 15px 5px;
      }
    }

    .head-content__list {}

    .head-content__item {
      display: flex;
      align-items: center;

      @include tb {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
      }

      .date {
        display: inline-block;
        width: 100px;
        min-width: 100px;
        font-size: 12px;

        @include tb {
          width: auto;
          font-size: 10px;
        }
      }
    }

    .head-content__item-link {
      width: calc(100% - 105px);
      margin-left: 25px;

      @include tb {
        width: 100%;
        margin-left: 0;
        padding: 0;
      }
    }
  }

  // .banners {
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   margin-top: 0;

  //   @include tb {
  //     flex-direction: row;
  //   }

  //   @include tb1 {
  //     flex-direction: column;
  //     align-items: center;
  //   }

  //   span {
  //     display: block;
  //     width: 280px;
  //     height: 84px;

  //     @include tb {
  //       width: calc((100% - 20px) / 3);
  //       height: auto;
  //     }

  //     @include tb1 {
  //       width: 280px;
  //     }

  //     &+span {
  //       margin-top: 10px;

  //       @include tb {
  //         margin-top: 0;
  //       }

  //       @include tb1 {
  //         margin-top: 10px;
  //       }
  //     }

  //     &:not(:nth-child(3n+1)) {

  //       @include tb {
  //         margin-left: 10px;
  //       }

  //       @include tb1 {
  //         margin-left: 0;
  //       }
  //     }

  //     &:nth-child(n+4) {
  //       @include tb {
  //         margin-top: 10px;
  //       }

  //       @include tb1 {
  //         margin-top: 0;
  //       }

  //     }

  //     &:not(:nth-child(4n+1)) {

  //       @include pc1 {
  //         margin-left: 0;
  //       }
  //     }

  //     a {
  //       display: block;
  //       width: 100%;
  //       border: none;

  //       &:hover {
  //         opacity: 0.7;
  //       }

  //       img {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }

  .urgency-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include tb {
      flex-direction: column;
    }

    &__left {
      width: 750px;

      @include tb {
        width: 100%;
      }
    }

    &__right {
      width: 280px;

      @include tb {
        width: 100%;
        margin-top: 45px;
      }

      #relation{
        height: 100%;

        @include tb {
          height: 180px;
        }

        .relation-inner{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 100%;

          span{
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
          }

          a{
            display: block;
            width: 100%;
            padding: 30px 0;
            background-color: #96d7ff;
            color: $text;

            font-size: $px20;
            font-weight: bold;
            text-decoration: none;

            @include tb {
              // font-size: 12px;
              padding: 20px 0;
            }

            &:hover {
              text-decoration: underline;
            }

          }
        }
      }
    }
  }

  .link-potal {
    margin-top: 77px;

    @include tb {
      margin-top: 50px;
    }

    a {
      display: block;
      padding: 19px 0;
      border: 2px solid #96d7ff;
      background-color: #fff;
      color: #000;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;

      @include tb {
        padding: 29px 0;
      }

      &:hover {
        background-color: #96d7ff;
      }
    }
  }

  #foot {
    .footer__image {
      display: none;
    }
  }
}
