<%

@s = OpenStruct.new params[:s]
year_options = Gws::StaffRecord::Year.site(@cur_site).map { |c| [c.name, c.id] }

%>
<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
    <%= f.text_field :keyword, style: "width: 300px;" %>
    <%= f.submit t("ss.buttons.search"), name: nil, class: "btn" %>
  <% end %>
</div>
