<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <div class="addon-head"><h2><%= t("ss.import") %></h2></div>
    <div class="addon-body">
      <div><%=br t("gws/memo/message.import.start_message") %></div>
    </div>
    <footer class="send ss-sticky ss-sticky-bottom">
      <%= link_to t('ss.links.back'), { action: :import } , { class: "btn btn-primary" } %>
    </footer>
  </div>
</div>
