<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "facility.facility" %></h1></header>
  <div>
    <%= link_to :"facility.category.name", facility_categories_path, class: "icon-node" %>
  </div>

<% end %>
