<% @s = OpenStruct.new params[:s] %>
<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
    <%= f.text_field :keyword, style: "width: 300px;" %>
    <%= f.select :state, @model.new.search_state_options %>
    <input type="submit" value="<%= t('views.button.search') %>" class="btn" />
  <% end %>
</div>
