<nav class="mod-navi">
  <h2>連絡メモ設定</h2>
  <h3><%= link_to 'フォルダー', gws_memo_folders_path %></h3>
  <h3><%= link_to 'フィルター', gws_memo_filters_path %></h3>
</nav>

<%= render partial: 'gws/main/conf_navi' %>
