.notice-request-count {
  margin-top: 10px;
  margin-left: 10px;
  color: #f30;
}

.translate-text-chaches {
  .api {
    margin-bottom: 10px;
  }
  table.text-chaches {
    margin-bottom: 10px;
    border-collapse: collapse;
    thead tr {
      border: 1px solid #dcdcdc;
      background: #f2f2f2;
    }
    tbody tr {
      border: 1px solid #dcdcdc;
      background: #fff;
    }
  }
}
