<div class="detail">

  <div class="info-wrap">
    <div class="app-ideas">

      <div class="ideas">
        <% if @login_mode %>
          <a class="contribute" href="<%= "/mypage/idea/new?app=#{@app_idea.id}" %>">アイデアを投稿する</a>
        <% end %>
      </div>

  </div>
</div>
