<nav class="mod-navi">
  <h2><%= t('modules.ldap') %></h2>

  <h3><%= link_to t("ldap.setting"), gws_ldap_setting_path %></h3>
  <h3><%= link_to t("sys.diag"), gws_ldap_diagnostic_path %></h3>
</nav>

<%= render partial: "gws/main/conf_navi" %>
