<nav class="nav-management-menu">
  <%= link_to gws_memo_folders_path do %>
      <i class="material-icons md-20">&#xE8B8;</i><%= t("ss.management") %>
  <% end %>
</nav>

<%= render partial: 'gws/crud/menu' %>
