<div>
  <% @licenses.each do |data| %>
  <% next unless data %>
  <article>
    <header>
      <h2><a href="<%= @search_path.call("s[license]" => "#{data['id']}") %>">
        <span class="name"><%= data["id"] %></span>
        <span class="count">(<%= data["count"] %>)</span></a></h2>
    </header>
  </article>
  <% end %>
  <% if @licenses.count == 0 %>
    <div>該当するデータは登録されていません</div>
  <% end %>
</div>
