<%

if @cur_node.route == @item.route && @cur_node.categories.present?

  categories = []
  parents = @cur_node.categories.sort_by { |cate| cate.filename.count("/") }

  while parents.present?
    parent = parents.shift
    parents = parents.map { |c| c.filename !~ /^#{parent.filename}\// ? c : nil }.compact
    categories << parent
  end


  #@cur_node.categories.sort(filename: 1).each do |cate|
  #  parents = []
  #  path = []
  #  cate.filename.split(/\//).each do |s|
  #    path << s
  #    parents << path.join("\/")
  #  end
  #  categories << @cur_node.categories.in(filename: parents).pluck(:filename).min_by { |s| s.size }
  #end
  #categories.uniq!
  #categories = categories.map { |filename| @cur_node.categories.where(filename: filename).first }
else
  categories = Category::Node::Base.site(@cur_site).where(depth: 1).sort(filename: 1)
end

def cate_form(item)
  h  = %Q[<label style="margin-right: 10px;">]
  h << f.check_box("category_ids[]", {}, item._id)
  h << %Q[#{item.name}</label>]

  children = Category::Node::Base.site(@cur_site).
    where(filename: /^#{item.filename}\//, depth: item.depth + 1)

  if children.size > 0
    h << %Q[<div style="padding: 0px 0px 0px 40px;">].html_safe
    children.each { |c| h += cate_form c }
    h << %Q[</div>].html_safe
  end

  h.html_safe
end

%>
<dl class="see mod-category">
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "category_ids[]", value: "" %>

    <% categories.each do |cate| %>
    <div style="margin-bottom: 10px; padding: 10px; border: 1px solid #ddd;">
      <%= cate_form cate %></div>
    <% end %>
  </dd>
</dl>
