<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.sitemap" %></h1></header>
  <div>
    <%= link_to :"mongoid.models.sitemap/page", sitemap_pages_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
