<div class="application">
  <div class="appContainer">
    <div id="tabs">
      <ul>
        <li><a href="#tab-play" onclick="ChangeTab('tab-play'); return false;">
          Play</a></li>
        <li><a href="#tab-ds" onclick="ChangeTab('tab-ds'); return false;">
          入力データ</a></li>
        <li><a href="#tab-sample" onclick="ChangeTab('tab-sample'); return false;">
          サンプルデータ</a></li>
      </ul>
      <div id="tab-play">
        <p>
          <iframe class="frmPlay" src="<%= @app_index %>" frameborder="0">
          </iframe>
        </p>
      </div>
      <div id="tab-ds">
        <% if @ds.present? %>
          <%= render partial: "opendata/appscripts/dataset" %>
        <% end %>
      </div>
      <div id="tab-sample">
        <p>
          <% if @sample.present? %>
            <%= render partial: "opendata/appscripts/content" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
function ChangeTab(tabname) {
  document.getElementById("tab-play").style.display = "none";
  document.getElementById("tab-ds").style.display = "none";
  document.getElementById("tab-sample").style.display = "none";
  document.getElementById(tabname).style.display = "block";
}

function ChangeTabCsv(tabname){
  var names = document.getElementsByName("tab-name-csv")
  for (i = 0; i < names.length; i = i + 1){
    if (names[i].id == tabname){
      names[i].style.display = "block";
    }else{
      names[i].style.display = "none";
    }
  }
}

function LoadTab(){
  ChangeTab("tab-play")

  var namecsv = document.getElementsByName("tab-name-csv")
  for (i = 0; i < namecsv.length; i = i + 1){
    if (i == 0){
      namecsv[i].style.display = "block";
    }else{
      namecsv[i].style.display = "none";
    }
  }
}

LoadTab()
// --></script>
