#PORT=3000
SETUP_DEMO_SITE=1
SETUP_OPENDATA_SITE=subdir
SETUP_COMPANY_SITE=0
SETUP_CHILDCARE_SITE=0
SETUP_LP_SITE=0
SETUP_GWS=0
SETUP_WEBMAIL=0

# E2E test settings
#driver=chrome
#headless=1

# Elasticsearch (used by CMS/GWS full-text search)
#ES_URL=http://elasticsearch:9200

# Mail (used by Webmail / test)
#MAIL_IMAP_HOST=mail
#MAIL_IMAP_PORT=143
#MAIL_SMTP_HOST=mail
#MAIL_SMTP_PORT=587
