/* 公共样式 */

body{
    font-family:"-apple-system", BlinkMacSystemFont, "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
    font-size:16px;
    color:#343434;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

.w{
    width:1200px;
    margin:0 auto;
}

input {
	padding: 1px;
	vertical-align: middle;
	line-height: normal;
}
a{
    text-decoration:none;
}
ul{
    padding:0;
}
ul li{
    list-style-type:none;
}
/* 清除浮动 */
.clearfix:after {
	content: '';
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}


/* header css */
header{
    width:100%;
}
.header{
    display: flex;
    justify-content: space-between;
}
/* logo css */
.header h1{
    text-indent:-9999px;
}
.header .logo a{
    display: block;
    /* width:384px; */
    height:60px;
}
.header .logo a img{
    width:100%;
}
div.logo{
    margin-left: 50px;
}
/* go  btn css */
.go a{
    display:block;
    width:220px;
    height:55px;
    border:1px solid #E28000;
    border-radius:8px;
    margin-right: 50px;
    background: url(../images/btn-bg.png);
    -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.go .btn-logo{
    margin:13px 10px 0 14px;
}
.go span{
    font-size:14px;
    font-weight:bold;
    color:#fff;
    margin-top:13px;
}
.go a:hover{
    opacity: 0.7;
}
/* main css */
.section{
    width:100%;
    /* height:100%; */
    position: relative;
    top: 50%;
    margin-top: -350px;
}
.trans-bg{
    width:100%;
    height:100vh;
    /* background: url(../images/main-bg.png); */
}
.df{
    display: flex;
}
/* notice css */
.notice{
    flex:1;
    margin-top:70px;
}
.notice h2 {
    position: relative;
    width: 323px;
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    text-align: center;
    color: #fff;
    background-color: #F01E1E;
    margin: auto;
    border-radius: 60px;
    box-shadow: 2px 2px 10px rgba(247, 76, 53, 0.5);
}
notice div {
    margin-top: -25px;
    width: 100%;
    /* height: 260px; */
    padding: 30px 15px;
    line-height: 32px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}
.notice div p{
    margin:0;
    padding:0;
}
/* inlet  css */
/* .inlet{
    margin-top:60px;
} */

.inlet ul{
    margin-top:30px;
    display:flex;
}
.inlet ul li:nth-child(1) {
    order: 1;
}
.inlet ul li:nth-child(2) {
    order: 2;
}
.inlet ul li:nth-child(3) {
    order: 0;
}
.inlet ul li{
    flex:1;
    justify-content: space-between;
}

.inlet ul li{
    text-align: center;
}
.inlet ul li a{
    position: relative;
    display:block;
    width:280px;
    height:280px;
    line-height: 364px;
    background-color: #fff;
    border-radius:50%;
    box-shadow: 0px 0px 5px 2px rgba(131, 131, 131, 0.384);
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.inlet ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow: none;
}
.inlet ul li a:hover:after {
    -webkit-animation: rippleSecond 0.5s ease;
    animation: ripple 0.5s ease;
}
@-webkit-keyframes ripple {
    0%{opacity:1;-webkit-transform:scale(1);transform:scale(1);box-shadow: 0 0 0 3px rgb(255, 255, 255);}
    100%{opacity:0;-webkit-transform:scale(1.15);transform:scale(1.15);box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7);}
}

@keyframes ripple {
    0%{opacity:1;-webkit-transform:scale(1);transform:scale(1);box-shadow: 0 0 0 3px rgba(255, 255, 255);}
    100%{opacity:0;-webkit-transform:scale(1.15);transform:scale(1.15);box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7);}
}
/* .inlet ul li a:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  } */


  

.inlet ul li p{
    margin-top:30px;
    font-size:18px;
    font-weight:bold;
    color:#fff;
    text-align:center;
}

/* footer css */
footer .info{
    margin-top:15px;
    text-align: center;
    /* display:flex; */
}
footer .info a{
    display:block;
    width:140px;
    height:50px;
    line-height:15px;
    font-size: 14px;
    color:#343434;
    background: url(../images/bottom-bg.png);
    border:1px solid #ccc;
    border-radius:6px;
    margin:auto;
    padding-top:10px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
footer .info a:hover{
    color:#fc8702;
    border:1.2px solid #ccc;
}
footer .info img{
    margin-top:10px;
}
footer .info p{
    font-size: 14px;
    margin-top: 5px;
}

.tel-bottom{
    display: none;
}



/* タブレット向けのレイアウトの指定：～1024px */
@media only screen and (max-width: 1024px) {
    .inlet ul li{
        padding-bottom:40px;
    }
    .inlet ul li a{
        width:260px;
        height:260px;
        line-height: 335px;
    }
    .inlet ul li.one a{
        line-height:340px;
    }
    .inlet ul li a:after {
        width: 260px;
        height: 260px;
    }

    .inlet ul li a img{
        width:80%;
    
    }
    .inlet ul li.one a img{
        width:60%;
    }
    .inlet ul li p{
        margin-top:20px;
    }
    
}

/* タブレット向けのレイアウトの指定：～810px */
@media only screen and (max-width: 810px) {
    .inlet ul li{
        padding-bottom:40px;
    }
    .inlet ul li a{
        width:200px;
        height:200px;
        line-height:265px;
    }
    .inlet ul li.one a{
        line-height:260px;
    }
    .inlet ul li a:after {
        width: 200px;
        height: 200px;
    }

    .inlet ul li a img{
        width:80%;
    
    }
    .inlet ul li.one a img{
        width:60%;
    }
    .inlet ul li p{
        margin-top:20px;
    }
}
/* スマホ向けのレイアウトの指定：～620px */
@media only screen and (max-width: 710px) {
    .inlet ul li a{
        width:160px;
        height:160px;
        line-height:215px;
    }
    .inlet ul li.one a{
        line-height:215px;
    }
    .inlet ul li a:after {
        width: 160px;
        height: 160px;
    }
    .go a {
       margin-right: 20px;
    }
    div.logo {
        margin-left: 20px;
    }
    .header .logo a img {
        width: 85%;
    }
}
/* スマホ向けのレイアウトの指定：～620px */
@media only screen and (max-height: 460px) {
    .trans-bg {
        height: 100%;
    }
    .section {
        top: auto;
        margin-top: auto
    }
    footer{
        bottom: auto;
    }
}
/* スマホ向けのレイアウトの指定：～480px */
@media only screen and (max-width: 480px) {
    *{
        margin:0;
        padding:0;
    }
    .trans-bg {
        height: 100%;
    }
    header{
        height:80px;
    }
    div.logo{
        text-align: center;
        margin: 0;
    }
    .header .logo a img{
        width:80%;
        
    }
    .header h1{
        display: none;
    }
    .w{
        width: 100%;
        margin: auto;
    }
    .go{
        display: none;
    }
    .section{
        height: auto;
        padding-bottom:0;
        margin-top: 0;
    }
    .notice{
        position: relative;
        width: 100%;
        /* margin: auto; */
    }
    .notice div{
        width:94%;
        margin-left:3%;
        margin-top:50px;
        padding: 50px 15px;
       
    }
    .notice p{
        font-size:17px;
        
    }
    .notice h2{
        position: absolute;
        top:-20px;
        left:50%;
        transform: translateX(-50%);
        font-size:20px;
        width:180px;
        height:46px;
}
.notice div{
    font-size: 14px;
}
    .inlet{
        margin-top:-55px;
    }
    .inlet ul{
        margin-top: 130px;
        flex-direction: column;
    }
    .inlet ul li:nth-child(1) {
        order: 0;
    }
    .inlet ul li:nth-child(2) {
        order: 1;
    }
    .inlet ul li:nth-child(3) {
        order: 2;
    }
    .inlet ul li{
        padding-bottom:40px;
    }
    .inlet ul li a{
        width:180px;
        height:180px;
        line-height:244px;
    }
    .inlet ul li.one a{
        line-height:230px;
    }

    .inlet ul li a:after {
        width: 180px;
        height: 180px;
    }

    .inlet ul li a img{
        width:80%;
    
    }
    .inlet ul li.one a img{
        width:60%;
    }
    .inlet ul li p{
        margin-top:20px;
    }
    .info{
        display:none;
    }
    .tel-bottom{
        width:220px;
        height:66px;
        text-align: center;
        margin:20px auto;
        display: block;
    }
    footer{
position: relative;
padding: 30px 0px;
    }
 
}




