<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "facility.page" %></h1></header>
  <div>
    <%= link_to :"facility.location.name", facility_locations_path, class: "icon-node" %>
  </div>

<% end %>

