<%
  wrap_id = "key_visual-swiper_slide-#{@cur_part.id}"
%>

<div class="ss-swiper-wrap" id="<%= wrap_id %>">
  <div class="swiper-container mySwiper2" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+1" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+2" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+3" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+4" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+5" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+6" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+7" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+8" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+9" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+1" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+2" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+3" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+4" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+5" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+6" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+7" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+8" />
      </div>
      <div class="swiper-slide">
        <img src="https://via.placeholder.com/810x330.png?text=Slide+9" />
      </div>
    </div>
  </div>
</div>

<style>
  .ss-swiper-wrap {
      position: relative;
      width: 100%;
      height: 400px;
  }

  .swiper-container {
      width: 100%;
      height: 100%;
  }

  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }

  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
  }

  .swiper-slide {
      background-size: cover;
      background-position: center;
  }

  .mySwiper2 {
      height: 80%;
      width: 100%;
  }

  .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
  }

  .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
  }

  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
</style>

<script defer>
  var swiper = new Swiper("#<%= wrap_id %> .mySwiper", {
    loop: true,
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true
  });

  var swiper2 = new Swiper("#<%= wrap_id %> .mySwiper2", {
    loop: true,
    spaceBetween: 10,
    speed: 1000,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>
