<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <div class="addon-head"><h2><%= t "ss.basic_info"%></h2></div>
    <div class="addon-body">
      <%= render file: "_show" %>
    </div>
  </div>
  <div class="addon-view" id="addon-mailbox">
    <div class="addon-head toggle-head"><h2><%= t('webmail.settings.special_mailbox') %></h2></div>
    <div class="addon-body toggle-body">
      <%= render file: '_show_mailbox' %>
    </div>
</div>
