<% addons = @item ? @item.class.addons : [] %>

<% if addons.size > 0 %>
<nav class="addon-menu">
  <header><h1><%= t :"addon" %></h1></header>
  <div>
    <%= link_to :all, "#", class: "addon-tab", "data-id" => "#addon-all" %>
    <%= link_to :basic_info, "#basic", class: "addon-tab", "data-id" => "#addon-basic" %>

    <% addons.each do |addon| %>
      <%= link_to addon.name, "##{addon.id}", class: "addon-tab",
        "data-id" => "#addon-#{addon.id}" %>
    <% end %>
  </div>
</nav>
<% end %>
