<% addons.each do |addon| %>
  <% buf = nil %>
  <% buf = render file: addon.form_file, locals: { f: f, a: 1 } if addon.form_file %>
  <% next if buf.blank? %>
  <div class="addon-view mb-5" id="addon-<%= addon.id %>">
    <h2 class="h4"><%= addon.name %></h2>
    <%= buf %>
  </div>
<% end %>
