<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="destroy-all btn"><%= t :"views.links.delete" %></button>
  </div>

  <%= render file: "_search" %>
</div>
