<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="destroy-all"><%= t :"views.links.delete" %></button>
  </div>

  <% @s = OpenStruct.new params[:s] %>
  <div class="list-head-search">
    <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
      <%= f.text_field :keyword, style: "width: 300px;" %>
      <input type="submit" value="<%= t('views.button.search') %>" class="btn" />
    <% end %>
  </div>
</div>
