<%

@f = f

if @cur_node && @cur_node.st_categories.present?
  categories = []
  parents = @cur_node.st_categories.sort_by { |cate| cate.filename.count("/") }
  while parents.present?
    parent = parents.shift
    parents = parents.map { |c| c.filename !~ /^#{parent.filename}\// ? c : nil }.compact
    categories << parent
  end
else
  categories = Category::Node::Base.site(@cur_site).where(depth: 1).sort(filename: 1)
end

def cate_form(item)
  h  = %(<label>)
  h << @f.check_box("category_ids[]", {}, item._id)
  h << %(#{item.name}</label>)

  children = Category::Node::Base.site(@cur_site).node(item)

  if children.size > 0
    cc = children.map { |c| c.children.size }.max != 0
    h = %(<label class="parent">)
    h << @f.check_box("category_ids[]", {}, item._id)
    h << %(#{item.name}</label>)
    h << %(<div class="child #{cc ? 'grandchild' : ''}">).html_safe
    children.each { |c| h += cate_form c }
    h << %(</div>).html_safe
  end

  h.html_safe
end

%>
<dl class="see category-form">
  <dd class="wide">
    <%= f.hidden_field "category_ids[]", value: "" %>

    <% categories.each do |cate| %>
    <div class="parent">
      <%= cate_form cate %></div>
    <% end %>
  </dd>
</dl>
