<%
  return if @cur_user.blank? || @ss_maintenance_mode

  case @ss_mode
  when :gws
    path = gws_user_profile_path(site: @cur_site)
  else
    path = sns_cur_user_account_path
  end
%>
<% unless @cur_user.type_sso? %>
  <% if @cur_user.initial_password_warning.present? %>
    <div class="warning">
      <%= link_to t("ss.warning.initial_password"), path %>
    </div>
  <% elsif @cur_setting.present? %>
    <%
      message = case @cur_setting.password_expired(@cur_user)
      when :expired
        t("ss.warning.password_expired")
      when :nearly_expired
        t("ss.warning.password_neary_expired")
      end
    %>
    <% if message %>
      <div class="warning">
        <%= link_to(message, path) %>
      </div>
    <% end %>
  <% end %>
<% end %>
