<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.uploader" %></h1></header>
  <div>
    <%= link_to :"uploader.files", uploader_files_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
