<nav class="nav-menu">
  <% show_path = show_path_with_route(@item.original) %>
  <% if show_path.present? %>
    <%= link_to :show, show_path %>
  <% end %>
  <%= link_to :"history.restore", action: :restore if @item.data != @data %>
</nav>
