<% data = item.get %>
<div class="main-box">
  <table class="see index history-backup">
    <tr>
      <th></th>
      <th colspan="2">
        <%=
          current_notice = (item.data[:updated] || item.created).try { |time| "(#{ss_time_tag(time.in_time_zone, format: :picker)})".html_safe }
          t('history.current_state_html', current_notice: current_notice)
        %>
      </th>
      <th colspan="2">
        <%=
          latest_notice = data[:updated].try { |time| "(#{ss_time_tag(time.in_time_zone, format: :picker)})".html_safe }
          t('history.latest_state_html', latest_notice: latest_notice)
        %>
      </th>
    </tr>
    <% diff = @item.data.merge(data).sort %>
    <% diff.each do |k, v| %>
      <%
        item = History::Cms::Diff.init(@item.model, k, @item.data[k], data[k])
        next if item.ignore_field?
        next if !item.diff_exists?
      %>
      <%= item.diff_html %>
    <% end %>
  </table>
</div>
