<%= node_navi :member do %>

<h3><%= link_to :"member.photo", member_photos_path %></h3>

<ul class="narrow-page">
  <li><%= link_to t("member.links.index"), index_listable_member_photos_path %></li>
  <li><%= link_to t("member.links.slide"), index_slideable_member_photos_path %></li>
</ul>

<% end %>
