<html>
<head>
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0">
  <link href="/css/opendata/style.css" media="all" rel="stylesheet" />
</head>
<body>
<div id="page">

<header id="head">
  <h1>OpenData</h1>
</header>

<nav id="navi">
  <div class="wrap">
    <a href="/dataset/">Dataset</a>
    <a href="/app/">App</a>
    <a href="/idea/">Idea</a>
    <a href="/sparql/">SPARQL</a>
    <a href="/api/">API</a>
    <a href="/user/">Mypage</a>
  </div>
</nav>

<div id="wrap">
  <article id="main">
    <div class="wrap">
      <header><h1 id="ss-page-name">Page Name</h1></header>
      </ yield />
    </div>
  </article>
</div>

</div>
</body>
</html>
