<html>
<head>
  <meta name="viewport"
  content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=0.25,maximum-scale=2.0">
  <link href="/css/style.css" media="all" rel="stylesheet" />
  <!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 8]><script src="/js/selectivizr.js"></script><![endif]-->
</head>
<body class="s-portal">
<div id="page">
  <header id="head">
    <div class="inner">
      </ part "tab" />
      <div class="login">
        </ part "mypage-login" />
      </div>
    </div>
  </header>

  <div id="top">
    <div id="shadow">
      </ part "portal-kv" />
    </div>
  </div>

  <div id="contents">
    <div id="main">
      </ part "portal-about" />
      </ part "portal-tab" />
      <section id="portal-dataset">
        <header>
          <h1>オープンデータカタログ</h1>
        </header>
        </ part "portal-dataset" />
        <nav>
          <a class="opendata" href="/dataset/">オープンデータカタログサイトへ</a>
        </nav>
      </section>
      </ part "portal-plan" />
    </div>
    <div id="sidebar">
      </ part "add" />
      </ part "twitter" />
      </ part "portal-fb" />
    </div>
  </div>

  </ part "foot" />

</div>
</body>
</html>
