<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=0.25,maximum-scale=2.0">
  <link href="/css/style.css" media="all" rel="stylesheet" />
  <script src="/js/common.js"></script>
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/selectivizr.js"></script>
  <![endif]-->
</head>
<body class="portal">
<div id="page">
  <header id="head">
    <div class="wrap">
      </ part "tab" />
      <div class="login">
        </ part "mypage-login" />
      </div>
    </div>
  </header>
  <div id="wrap">
    </ part "crumbs" />
    <div id="main">
      <header id="page-name"><h1>#{page_name}</h1></header>
      </ yield />
    </div>
    <div id="side">
      </ part "ads/banner" />
    </div>
  </div>

  </ part "foot" />

</div>
</body>
</html>