<%
  navi = nil
  if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb")
    navi = "#{params[:controller]}/navi.html.erb"
  elsif controller.navi_view_file
    navi = controller.navi_view_file
  end
%>

<% if navi %>
  <div id="navi">
    <div class="wrap">
      <%= render partial: navi %>
    </div>
  </div>
<% end %>

<script>
$(function () {
  var $body = $('body');
  $('#js__btn').on('click', function () {
    $body.toggleClass('nav-open');
  });
  $('#js__nav').on('click', function () {
    $body.removeClass('nav-open');
  });
});
</script>
<div id="navi">
  <div class="wrap">
    <div class="main-navi">
      <div class="gws-menu-btn" id="js__btn">
        <i class="material-icons"><span data-txt-menu="menu" data-txt-close="close"></span></i>
      </div>
      <nav class="gws-menu" id="js__nav">
        <ul class="d-flex flex-wrap justify-content-center">
          <li><a class="icon-portal" href="/.g1/">ポータル</a></li>
          <li><a class="icon-schedule" href="/.g1/schedule">スケジュール</a></li>
          <li><a class="icon-todo" href="/.g1/schedule/todo">ToDo</a></li>
          <li><a class="icon-reminder" href="/.g1/reminder">リマインダー</a></li>
          <li><a class="icon-memo" href="/.g1/memo/messages/INBOX">メッセージ</a></li>
          <li><a class="icon-bookmark" href="/.g1/gws/bookmarks">お気に入り</a></li>
          <li><a class="icon-attendance" href="/.g1/attendance">出退勤</a></li>
          <li><a class="icon-report" href="/.g1/report/files">レポート</a></li>
          <li><a class="icon-workflow" href="/.g1/workflow/files">ワークフロー</a></li>
          <li><a class="icon-circular" href="/.g1/circular">回覧板</a></li>
          <li><a class="icon-monitor" href="/.g1/monitor">照会・回答</a></li>
          <li><a class="icon-board" href="/.g1/board">掲示板</a></li>
          <li><a class="icon-faq" href="/.g1/faq/-/-/topics">よくある質問</a></li>
          <li><a class="icon-question" href="/.g1/qna/-/-/topics">Ｑ＆Ａ</a></li>
          <li><a class="icon-discussion" href="/.g1/discussion/-/forums">電子会議室</a></li>
          <li><a class="icon-share" href="/.g1/share/files">共有ファイル</a></li>
          <li><a class="icon-address" href="/.g1/shared_address/addresses">共有アドレス帳</a></li>
          <li><a class="icon-address" href="/.g1/personal_address/addresses">個人アドレス帳</a></li>
          <li><a class="icon-search" href="/.g1/elasticsearch/search">全文検索</a></li>
          <li><a class="icon-conf" href="/.g1/gws/site">設定</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
