<nav class="mod-navi">
  <h2><%= t("cms.node_config") %></h2>

  <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <h3><%= link_to t("cms.max_file_size"), node_max_file_sizes_path %></h3>
  <% end %>
</nav>

<%= render partial: "cms/main/conf_navi" %>
