<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0">
  <link href="/css/camera.css" media="all" rel="stylesheet" />
  <link href="/css/style.css" media="all" rel="stylesheet" />
  <script src='/js/jquery.min.js'></script>
  <script src='/js/jquery.mobile.customized.min.js'></script>
  <script src='/js/jquery.easing.1.3.js'></script>
  <script src="/js/camera.min.js"></script>
  <script src="/js/keyvisual.js"></script>
  <script src="/js/common.js"></script>
  <!--[if lt IE9]><script src="/js/selectivizr.js"></script><![endif]-->
</head>
<body>
<div id="page">
  </ part "head" />
  </ part "keyvisual" />
  <div id="wrap">
    <div id="main">
      <section id="tabs">
        <header><h1>ニュース</h1></header>
        </ part "news" />
      </section>
      </ part "inquiry" />
      </ part "product/folder-list" />
      </ part "connection" />
    </div>
  </div>
  </ part "page-top" />
  </ part "foot-top" />
</div>
</body>
</html>
