<nav class="mod-navi">
  <h2><%= t "mongoid.models.gws/user_setting" %></h2>

  <h3><%= link_to t('mongoid.models.gws/schedule/group_setting'), gws_schedule_user_setting_path %></h3>
</nav>

<%= render partial: "gws/main/navi" %>
