<% return if @markers.blank? %>

<%= render_map "#map-canvas", markers: @markers, site: @cur_site, preview: @preview %>

<section class="map-page">
  <header>
    <h2><%= t("map.map") %></h2>
  </header>
  <div id="map-canvas" style="width: 100%; height: 400px;"></div>
</section>