<nav class="nav-menu">
  <%= link_to t('ss.links.back_to_show'), cms_group_path(id: @item) if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.back_to_index'), cms_groups_path %>
</nav>
