<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0">
  <link href="/css/style.css" media="all" rel="stylesheet" />
  <script src="/js/common.js"></script>
  <!--[if lt IE9]><script src="/js/selectivizr.js"></script><![endif]-->
</head>
<body>
<div id="page">

</ part "/tool" />
</ part "/head" />
</ part "/navi" />

<div id="wrap">
  <div id="main">
    </ part "/urgency/recent" />
    </ part "/keyvisual" />
    <div class="wrap">
      <div class="left">
        </ part "/guide" />
        </ part "/about" />
      </div>
      <div class="center">
        </ part "/safety" />
        </ part "/online" />
        </ part "/propose" />
      </div>
    </div>
  </div>
  <div id="side">
    </ part "/attention/recent" />
    </ part "/recent-tabs" />
  </div>
</div>
<div id="addition">
  <div class="left">
    </ part "/useful" />
    </ part "/population" />
  </div>
  <div class="center">
    </ part "/relations" />
    </ part "/ranking" />
  </div>
  <div class="right">
    </ part "/topics" />
    </ part "/connect" />
  </div>
</div>

</ part "/add" />
</ part "/page-top" />
</ part "/foot" />

</div>
</body>
</html>
