<html>
<head>
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0">
  <link href="/css/style.css" media="all" rel="stylesheet" />
</head>
<body>
<div id="page">

</ part "head" />
</ part "navi" />
<nav id="crumbs"><div class="wrap"></ part "crumbs" /></div></nav>

<div id="wrap">
  <article id="main">
    <div class="wrap">
      <header><h1 id="ss-page-name">#{page_name}</h1></header>
      </ yield />
    </div>
  </article>
</div>

</ part "foot" />

</div>
</body>
</html>
