<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="state"><%= t "ss.state.#{item.state}" %></span>
<% end %>

<%= render file: 'cms/crud/index' %>
