<div class="columns">
  <dl class="colum">
    <dt><%= @item.class.t :email %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :email %></dd>
  </dl>
</div>

