<%= form_for :item, url: "#{@cur_node.url}change_password", html: { method: "POST", class: "registration-change-password member-profile" } do |f| %>

<div class="registration-form member-profile">
  <p>パスワードを変更します。</p>
  <div class="columns">
    <%= error_messages_for :item, header_message: false %>
    <%= render partial: "form_change_password", locales: { f: f, confirm: false } %>
    <footer class="send">
      <%= f.submit I18n.t("member.button.change_password"), name: :submit %>
    </footer>
  </div>
</div>

<% end %>
