<div class="cms-member-registration-notice">
  <h2>パスワードの再設定案内メールの送付</h2>
  <%= simple_format I18n.t("views.reset_password.sent_email", sender_email: @cur_node.sender_email, resend_url: "#{@cur_node.url}reset_password") %>
</div>
