<%
   @member_login_node = Member::Node::Login.site(@cur_site).and_public.first
   @redirect_url = @member_login_node.try(:redirect_url) || "/"
%>
<div class="cms-member-registration-notice">
  <h2><%= I18n.t("views.confirm_password.title") %></h2>
  <%= simple_format I18n.t("views.confirm_password.password_changed", login_url: @redirect_url) %>
</div>
