<%= form_for :item, url: "#{@cur_node.url}confirm.html", html: { method: "POST" } do |f| %>
  <div class="member-registration-form">
    <%= error_messages_for :item, header_message: false %>
    <%= render partial: "new", locals: { f: f, confirm: false } %>
    <footer class="send">
      <%= f.submit t("member.button.confirm"), name: :submit %>
    </footer>
  </div>
<% end %>
