<%
@member_login_node = Member::Node::Login.site(@cur_site).and_public.first
@redirect_url = @member_login_node.try(:redirect_url) || "/"
%>
<div class="cms-member-registration-complete">
  <%= simple_format I18n.t("views.registration.complete_html", redirect_url: @redirect_url) %>
</div>
