<%= form_for :item, url: "#{@cur_node.url}resend_confirmation_mail.html", html: { method: "POST" } do |f| %>
  <div class="member-registration-form">
    <%= error_messages_for :item, header_message: false %>
    <%= render partial: "send_again", locals: { f: f, confirm: false } %>
    <footer class="send">
      <%= f.submit t("member.button.resend_confirmation_mail"), name: :submit %>
    </footer>
  </div>
<% end %>
