<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="btn unmark-all">未読にする</button>
    <button class="btn mark-all">既読にする</button>
    <button class="btn download">CSVに出力する</button>
  </div>

  <div class="list-head-search">
    <%= render file: '_search' %>
  </div>
</div>
