<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="btn unmark-all"><%= t('gws/circular.topic.unmark') %></button>
    <button class="btn mark-all"><%= t('gws/circular.topic.mark') %></button>
    <button class="btn download"><%= t('gws/circular.topic.download') %></button>
  </div>

  <div class="list-head-search">
    <%= render file: '_search' %>
  </div>
</div>
