<% addon ||= local_assigns.fetch(:addon, {}) %>
<% if @item.form.blank? %>
  <%
    css_class = Array(addon[:class])
    addon[:class] = css_class + %w(hide)
  %>
  <p><%= t('cms.form_not_selected') %></p>
<% else %>
  <% addon[:head] = @item.form.name %>
  <%= render 'cms/form/forms/columns_form', f: f, addon_id: addon[:id], form: @item.form, column_values: @item.column_values %>
<% end %>
