<dl class="see">
  <dt><%= @model.t :sys_role_ids %></dt>
  <dd>
    <%= f.hidden_field "sys_role_ids[]", value: "" %>

    <% Sys::Role.order_by(name: 1).each do |role| %>
    <label><%= f.check_box("sys_role_ids[]", {}, role.id) %> <%= role.name %></label><br />
    <% end %>
  </dd>
</dl>
