<div id="sns-mypage">

  <table class="index sites">
    <thead>
      <tr>
        <th><h1><%= t :"cms.site" %></h1></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |item| %>
      <tr>
        <td>
          <div class="name"><%= link_to item.name, cms_contents_path(site: item) %></div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
