<% if @sites.size > 0 %>
<div class="index mypage-sites">
  <div class="list-head"><%= t "cms.site" %></div>

  <ul class="list-items">
    <% @sites.each do |item| %>
    <li class="list-item">
      <div class="list-item-info">
        <%= link_to item.name, cms_contents_path(site: item), class: "list-item-title" %>

        <div class="list-item-meta">
          <span class="id"><%= item.full_url %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

