<%

return render(plain: "") if @item.backups.size == 0
source = ERB::Util.url_encode(request.path)
before = @item.before_backup || @item.backups.last

%>
<dl class="see mod-history-backup">
  <% if before %>
    <dd>
      <%= link_to I18n.t('history.compare_before_state'), history_cms_change_path(source: source, id: before.id), class: 'btn' %>
    </dd>
  <% end %>
  <% @item.backups.each do |item| %>
  <dd>
    <% if @item.allowed?(:edit, @cur_user) %>
      <% source = ERB::Util.url_encode(request.path) %>
      <%= link_to l(item.created), history_cms_backup_path(source: source, id: item.id) %>
    <% else %>
      <%= l(item.created) %>
    <% end %>
    <% if item.user %>
      <span style="margin-left: 0.5em;"><%= item.user.name %></span>
    <% end %>
  </dd>
  <% end %>
</dl>
