@import "jplayer/dist/skin/blue.monday/css/jplayer.blue.monday.css";

.jp-audio {
  .ss-jp-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    .ss-jp-close {
      float: left;
      display: inline;
      border: 0;
      cursor: pointer;
      background: transparent;
      color: #767676;
      &:focus {
        color: #0173e3;
      }
    }
  }
}
