<div class="list-head">
  <% if @model.allowed?(:delete, @cur_user, site: @cur_site) %>
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <div class="list-head-action-destroy">
      <%= ss_button_to t("ss.links.delete"), "", class: "destroy-all btn btn-list-head-action", model: @model, method: "delete", confirm: t('ss.confirm.hard_delete') %>
    </div>
  </div>
  <% end %>

  <%= render template: "_search" %>
</div>
