<nav class="mod-navi">
  <h2><%= t "gws.setting" %></h2>

  <% Gws::Setting.plugins.each do |name, url_lazy| %>
    <h3><%= link_to name, instance_exec(&url_lazy) %></h3>
  <% end %>
</nav>

<%= render partial: "gws/main/conf_navi" %>
