<nav class="mod-navi">
  <h2><%= t "modules.settings.gws/system" %></h2>

  <% if Gws::System::Setting.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.module_setting'), gws_system_setting_path %></h3>
  <% end %>
</nav>

<%= render partial: "gws/main/conf_navi" %>
