<table class="index">
  <thead>
    <tr>
      <th style="width: 20px;"><input type="checkbox" /></th>
      <th class="name"><%= @model.t :name %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @items.each do |item| %>
    <tr data-id="<%= item.id %>">
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
      </td>
      <td><%= link_to item.name, "#" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
