<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <header><h2 class="notice-severity-<%= @item.notice_severity %>"><%= @item.name %></h2></header>
    <div>
      <%== @item.html %>
    </div>
  </div>
</div>
