<% value ||= OpenStruct.new(decimal: column.initial_decimal) %>
<%= render file: 'gws/agents/columns/main/_common_label', locals: { column: column } %>
<dd>
  <div class="input-group number-field-column">
    <span class="prefix input-group-prepend"><%= column.prefix_label %></span>
    <%= number_field_tag("#{object_name}[#{column.id}]", value.try(:decimal), column.form_options) %>
    <span class="postfix input-group-append"><%= column.postfix_label %></span>
  </div>
</dd>
