<nav class="nav-menu">
  <%= link_to(t('ss.links.download'), { action: :download, params: {item: {start_year: @item.start_year, start_month: @item.start_month, end_year: @item.end_year, end_month: @item.end_month, type: @item.type}}}) rescue nil %>
</nav>
