<article class="members">
  <ul>
    <% @items.each do |item| %>
    <li>
      <%= member_icon item, size: :small %>
      <span><%= link_to item.name, "#{@cur_node.url}#{item.id}" %></span>
    </li>
    <% end %>
  </ul>

  <%= paginate @items %>
</section>
