<div class="opendata-mypage">
  <% if @cur_member %>
  <a href="/mypage/"><%= @cur_member.name %>さん</a>
  <a href="/mypage/logout">Logout</a>
  <% else %>
  <a href="/mypage/login">Login</a>
  <% end %>
</div>
