<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.category" %></h1></header>
  <div>
    <%= link_to :"category.node", category_nodes_path, class: "icon-node" %>
  </div>
</nav>

<% end %>
