<%= jquery do %>
    Gws_Monitor_Topic.render();
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="active-all btn"><%= t 'gws/monitor.links.active_all' %></button>
  </div>

  <div class="list-head-search">
    <%= render file: '_search' %>
  </div>
</div>

