<nav class="mod-navi">
  <h2><%= t("cms.syntax_check") %></h2>
  <h3><%= link_to t("cms.word_dictionary"), cms_syntax_checker_word_dictionaries_path %></h3>
</nav>

<%= render partial: "cms/main/conf_navi" %>
