<nav class="mod-navi">
  <h2><%= link_to @cur_site.menu_discussion_label || t('modules.gws/discussion'), gws_discussion_forums_path, class: "icon-discussion" %></h2>
  <h3><%= link_to  t('ss.navi.readable'), gws_discussion_forums_path %></h3>
  <% if Gws::Discussion::Forum.allowed?(:trash, @cur_user, site: @cur_site) %>
  <h3><%= link_to  t('ss.navi.trash'), gws_discussion_trashes_path, class: 'trash' %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
