.gws-board-topics, .gws-board-tree {
  .topic {
    @include clear;
    padding: 12px 5px;
  }
  .comments {
    padding-left: 20px;
    border-top: 1px solid #ddd;
  }
  .comment {
    @include clear;
    padding: 12px 5px;
    border-top: 1px solid #ddd;
    &:first-child {
      border-width: 0;
    }
  }
  .title {
    font-size: 120%;
  }
  .body {
    padding: 5px 0 15px;
  }
  .meta {
    float: left;
    color: #888;
  }
  .menu {
    float: right;
    a {
      margin: 0 0 0 5px;
    }
  }
}
