//= require fullcalendar

@import "gws/board/gws";
@import "gws/schedule/gws";

.portal-box {
  float: left;
  width: 50%;
  &:nth-child(even) .index {
    margin-right: 10px;
  }
  .index {
    min-height: 245px;
    .list-head {
      padding-left: 15px;
    }
    .datetime {
      float: right;
      margin-left: 5px;
      color: #888;
    }
  }
}
