/**
 *= require gridster/jquery.gridster.min.css
 *= require bxslider
 */
@import "ss/init";
@import "board/gws";
@import "bookmark/gws";
@import "facility/gws";
@import "schedule/gws";
@import "circular/gws";
@import "memo/gws";
@import "portal/gws";
@import "discussion/gws";
@import "monitor/gws";
@import "attendance/gws";
@import "daily_report/gws";
@import "reminder/gws";
@import "presence/gws";
@import "survey/gws";
@import "workflow/gws";
@import "notice/gws";
@import "share/gws";
@import "affair/gws";
@import "workload/gws";
@import "elasticsearch/gws";

// File
.gws-addon-file {
  .upload-menu-select {
    display: none;
    float: right;
  }
  .action-attach, .action-paste, .action-thumb {
    display: none !important;
  }
}

.gws-list-item--deleted {
  .title {
    color: #888;
  }
}

// Category
.gws-category-navi {
  margin-bottom: 10px;
  cursor: auto;
  .dropdown-menu {
    min-width: 220px;
  }
  .depth-1 {
    padding-left: 20px;
  }
  .link-item {
    display: inline-block;
    padding: 8px 10px;
    color: #333;
  }
  .link-item:hover {
    background-color: $gray1;
    color: #f25a38;
    text-decoration: none;
  }
  .depth-0 .link-item {
    display: block;
  }
  .depth-1 .link-item {
    border-radius: 3px;
  }
  .separator {
    display: none;
  }
  @include mb {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.gws-category-label {
  display: inline-block;
  padding: 1px 5px;
  @include border-radius(3px);
  background-color: #e8e8e8;
  background-image: url(/assets/img/gws/bg-plan.png);
  color: #444;
  font-size: 90%;
  font-weight: normal;
}
a.gws-category-label:hover {
  //opacity: 0.85;
}
.gws-category-label-open {
  background-color: #05c;
  color: #fff;
}
.gws-category-label-resolved {
  background-color: #083;
  color: #fff;
}
.gws-category-tree, .gws-category-tree-view {
  ul.depth0 {
    margin-top: 10px;
    li {
      display: inline;
      label, a {
        display: inline-block;
        margin: 0 5px 10px 0;
      }
    }
    ul {
      padding-left: 40px;
    }
  }
  span.depth0 {
    display: block;
  }
}
.gws-category-tree-view {
  ul.depth0 {
    font-size: 115%;
  }
  span.depth0 {
    margin: 10px 0 20px;
    border-bottom: solid 1px $gray5;
    font-size: 110%;
  }
  ul.depth1 {
    margin-bottom: 20px;
  }
}

// Member
.gws-member-log {
  margin-left: 10px;
  color: #080;
}

// Popup (tooltip)
.gws-popup {
  position: absolute;
  z-index: 200;
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  @include box-shadow(0 1px 6px #666);
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-top: 10px solid #bbb;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  &.top:after {
    top: -20px;
    bottom: auto;
    border-bottom: 10px solid #bbb;
    border-top-color: transparent;
  }
  &.left:after {
    left: 10px;
    margin: 0;
  }
  &.right:after {
    right: 10px;
    left: auto;
    margin: 0;
  }
}

// Dropdown
.gws-dropdown-menu {
  left: -4px;
  max-height: 300px;
  margin: 0;
  padding: 4px;
  overflow-y: scroll;
  border: $border-gray4;
  background: $white;
  @include box-shadow(0 3px 12px rgba(0, 0, 0, .2));
  white-space: nowrap;
}

// Readable Setting
.gws-addon-readable-setting-select {
  display: none;
  margin: 15px 0 0;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

// Locale switch
.gws-locale-switch {
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.user-navigation {
  // Group Switch
  .gws-group-switch-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 10px;

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }

  // グループ名は最大2行
  .gws-group-switch-name {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  // Contrast
  .gws-contrast-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 10px;

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }

  .gws-contrast-name {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

a.user-detail {
  color: #333;
  text-decoration: underline;
}
