@import "ss/init";
@import "board/gws";
@import "schedule/gws";

// Portal
.portal-notice, .portal-reminder, .portal-board {
  .list-items .info a:visited {
    color: #b53 !important;
  }
  .more {
    padding: 0 10px 10px;
    text-align: right;
  }
}
.portal-notice {
  .datetime {
    margin-left: 5px;
    color: #888;
  }
}
.portal-box {
  float: left;
  width: 50%;
  .index {
    min-height: 245px;
  }
}
.portal-reminder .index {
  margin-right: 10px;
}

// File
.gws-addon-file .upload-menu-select {
  display: none;
  float: right;
}

// Reminder
.gws-addon-reminder {
  display: inline-block;
  min-width: 180px;
  font-weight: bold;
}
.gws-reminder-updated-flag {
  display: inline-block;
  width: 16px;
  height: 16px;
  @include border-radius(8px);
  background: $orange;
  color: $white;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  &:after {
    content: "!";
  }
}

// Category
.gws-category-navi-menu {
  margin: -5px 0 10px 0;
}
.gws-category-label {
  padding: 1px 5px;
  @include border-radius(3px);
  background-color: #e8e8e8;
  background-image: url(/assets/img/gws/bg-plan.png);
  color: #444;
  font-size: 90%;
  font-weight: normal;
}
a.gws-category-label:hover {
  //opacity: 0.85;
}
.gws-category-tree, .gws-category-tree-view {
  ul.depth0 {
    margin-top: 10px;
    li {
      display: inline;
      label, a {
        display: inline-block;
        margin: 0 5px 10px 0;
      }
    }
    ul {
      padding-left: 40px;
    }
  }
  span.depth0 {
    display: block;
  }
}
.gws-category-tree-view {
  ul.depth0 {
    font-size: 115%;
  }
  span.depth0 {
    margin: 10px 0 20px;
    border-bottom: solid 1px $gray5;
    font-size: 110%;
  }
  ul.depth1 {
    margin-bottom: 20px;
  }
}

// Member
.gws-member-log {
  margin-left: 10px;
  color: #080;
}
