//= require fullcalendar

@import "ss/init";
@import "ss/lib";
@import "ss/pc_mb";
@import "board/gws";
@import "schedule/gws";

.portal-box {
  float: left;
  width: 50%;
  .index {
    min-height: 245px;
    .datetime {
      float: right;
      margin-left: 5px;
      color: #888;
    }
  }
}
.portal-reminder .index {
  margin-right: 10px;
}
.portal-notice, .portal-reminder, .portal-board {
  .list-items a:visited {
    color: #666 !important;
  }
  .more {
    padding: 0 10px 10px;
    text-align: right;
  }
}

// Reminder
.gws-addon-reminder-label {
  display: inline-block;
  min-width: 180px;
  font-weight: bold;
}
