class @SS_AddonTabs
  @render: ->
    tabs = $(".addon-tab")
    tabs.filter("[data-id=#addon-all]").addClass("current");
    tabs.click (ev) ->
      cur = $(this)
      $(tabs).each ->
        tab = $(this)
        if cur.attr("data-id") == "#addon-all"
          $(tab.attr("data-id")).fadeIn(150)
          tab.removeClass("current");
        else if cur.attr("data-id") == tab.attr("data-id")
          $(tab.attr("data-id")).fadeIn(150)
        else
          $(tab.attr("data-id")).hide(0)
        tab.removeClass("current");
      cur.addClass("current");
      ev.preventDefault();

  @toggleView: (view) ->
    view = $(view)
    view.hide()
    view.before '<div class="toggle"><a href="#"><%= t("views.button.toggle") %></a></div>'

    trigger = view.parent().find(".toggle a")
    trigger.on 'click', ->
      view.animate( { height: 'toggle' }, 'fast' )
      return false
