class @SS_Clipboard
  @copy: (text)->
    if document.queryCommandSupported('copy')
      try
        style = 'position: absolute; overflow: hidden; width: 0; height: 0;'
        style += 'border: none; box-shadow: none; background: transparent; resize: none;'
        copy = $("<textarea style='#{style}'>#{text}</textarea>")
        $('body').after(copy)
        copy.select()
        rett = document.execCommand('copy')
        copy.remove()
        true
      catch e
        console.log e
        alert('Copy not supported.')
        false

  @renderCopy: ->
    $('.js-clipboard-copy').each ->
      text = $(this).text()
      return true unless text
      label = '<%= I18n.t("ss.buttons.copy") %>'
      $(this).append("<a href='#' class='clipboard-copy-button' data-text='#{text}'>#{label}</a>")

    $('.clipboard-copy-button').click ->
      $('.clipboard-copy-button').removeClass('copied')
      if SS_Clipboard.copy($(this).data('text'))
        $(this).addClass('copied')
      return false
