<div class="cms-tabs">
  <%= link_to opendata_dataset_history_downloads_main_path, class: 'current' do %>
    <span class="tab-name"><%= t("opendata.histories.download_histories") %></span>
  <% end %>
  <%= link_to opendata_dataset_history_download_archives_path do %>
    <span class="tab-name"><%= t("opendata.histories.download_history_archives") %></span>
  <% end %>
</div>
