<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>

  <% if form_is_in_use? %>
    <dd>
      <label>
        <%= check_box_tag("in_delete_confirmation", "yes", false) %>
        <%= t("cms.notices.confirm_column_deletion_whose_form_is_in_use") %>
      </label>
    </dd>
  <% end %>
</dl>


