<% addons = @item ? @item.class.addons : [] %>

<div class="addon-views">
  <%
    addon_options = {}
    addon_options[:id] = "addon-basic"
    addon_options[:head] = t("ss.basic_info") if addons.size > 0
  %>
  <%= render "ss/crud/addon", addon: addon_options do %>
    <%= render template: "_show" %>
  <% end %>
  <%= render template: "_column_show" %>
  <%= render template: "_addons_show", locals: { addons: addons } if addons.size > 0 %>
</div>
