<% limit = 100 %>

<div class="resource-content">
  <table class="cells" summary="<%= @item.name %>">
    <tbody>
      <% @data.slice(0, limit).each do |line| %>
      <tr>
        <% line.each do |col| %>
        <td><%= col %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% if @data.size > limit %>
  <div><%= limit %><%= I18n.t("opendata.labels.count_display") %></div>
  <% end %>
</div>
