<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
  <% elsif params[:action] =~ /new|create|lock|download|import|destroy_all|change_state_all/ %>
  <% elsif params[:action] =~ /edit|update|delete|copy|move|command|contains_urls/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.back_to_show'), { action: :show, id: @item }, class: "back-to-show" %>
    <% end %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.edit'), { action: :edit, id: @item }, class: :edit %>
    <% end %>
  <% end %>
</nav>
