<nav class="nav-management-menu hide-mb">
  <%= link_to gws_memo_main_path do %>
    <i class="material-icons md-20">&#xE879;</i><%= t("ss.links.back") %>
  <% end %>
</nav>

<%= render 'gws/crud/menu' %>
