<div class="list-head-search-full">
  <%= form_for :s, url: '', html: { method: :get } do |f| %>
    <div class="input-group">
      <%= f.text_field :keyword, style: 'width: 80%;' %>
      <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />

      <%= tt("gws/elasticsearch.tabs.#{@cur_type}") %>
    </div>
  <% end %>
</div>
