<%= render partial: 'gws/elasticsearch/search/main/tabs' %>

<div class="index">
  <div class="list-head">
    <%= render file: '_search' %>
  </div>

  <% if @result.present? %>
    <%= render file: '_result' %>
  <% end %>
</div>
