<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.workflow" %></h1></header>
  <div>
    <%= link_to :"workflow.page", workflow_pages_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
