<nav class="mod-navi">
  <h2><%= t 'mongoid.models.gws/elasticsearch/group_setting' %></h2>

  <% if @cur_site.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.module_setting'), gws_elasticsearch_setting_path %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/conf_navi' %>
