<h1>questions</a>
<%

@item = @cur_node

# @item.questions = [
#   { name: "name..." },
#   #Guide2::Question.new(name: "name...")
# ]
# @item.results = [
#   { name: "results1..." },
# ]

# if !@item.valid?
#   dump @item.errors.full_messages
# end

#@item.save

%>
