<% if report %>
  <% report.column_values.each do |column_value| %>
    <%= render partial: 'column_value', locals: { user: user, report: report, column_value: column_value, print: print } %>
  <% end %>
<% elsif @forms.present? %>
  <% @forms.first.columns.each do |column| %>
    <td></td>
  <% end %>
<% end %>
