<%= node_navi :guide do %>
  <h3><%= link_to t("mongoid.models.guidance/result"), guidance_results_path %></h3>
  <h3><%= link_to t("mongoid.models.guidance/question"), guidance_questions_path %></h3>
<% end %>
