<div class="gws-addon-memo-priority form-row">
  <div class="see col-12">
    <label><%= @model.t :priority %><%= @model.tt :priority %></label>
    <%= f.select :priority, @item.priority_options, include_blank: true, class: "form-control" %>
  </div>
</div>
