{
  "version": "0.2.0",
  "configurations": [
    // 参考: https://zenn.dev/igaiga/books/rails-practice-note/viewer/ruby_rails_vscode
    // vscode に https://marketplace.visualstudio.com/items?itemName=KoichiSasada.vscode-rdbg が必要
    {
      "name": "Local SHIRASAGI Debug",
      "type": "rdbg",
      "request": "launch",
      "cwd": "${workspaceRoot}",
      "script": "${workspaceRoot}/bin/rails",
      "args":[ "server" ],
      "askParameters": true,
      "useBundler": true
    }
  ]
}
