<%
  gen = SS::HslGenerator.new(@cur_node.id).to_enum
  suggests = @items.pluck(:click_suggest).flatten.uniq.compact
  suggests = suggests.collect do |suggest|
    [suggest, @items.where(click_suggest: suggest).count, gen.next]
  end
%>
<%= jquery do %>Chat_Chart.drawBar(".graph-canvas");<% end %>
<div class="addon-views">
  <div class="addon-view">
    <div class="addon-head">
      <h2><%= @model.t(:click_suggest) %></h2>
    </div>
    <div class="addon-body">
      <% if @items.size > 0 %>
        <canvas class="graph-canvas" data-name='<%= @cur_node.name %>' data-columns='<%= suggests.to_json %>'></canvas>
      <% end %>
    </div>
  </div>
</div>
