<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.event" %></h1></header>
  <div>
    <%= link_to :"event.page", event_pages_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
