<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>SHIRASAGI</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= @item %>" />
</head>
<body>
<code id="auth_token" class="auth_token"><%= @item %></code>
</body>
</html>
