<nav class="nav-menu">
  <% if params[:action] =~ /edit|update|delete/ %>
    <%= link_to t('ss.links.back_to_show'), action: :show %>
  <% else %>
    <%=
      if @cur_user.cms_role_permit_any?(@cur_site, :edit_cms_user_profile)
        link_to t('ss.links.edit'), action: :edit
      end
    %>
    <%=
      if @cur_user.cms_role_permit_any?(@cur_site, :edit_password_cms_user_profile)
        link_to t('ss.links.edit_password'), action: :edit_password
      end
    %>
  <% end %>
</nav>
