
<% if @idea_ds.dataset_ids.length > 0 %>
<div class="detail">
  <% dataset = @idea_ds.datasets[0] %>
  <div class="info-wrap">
    <% if dataset %>
      <% if dataset.downloaded then downloaded = dataset.downloaded else downloaded = 0 end %>
      <div class="dataset"><%= link_to dataset.name, dataset.url %></div>
      <div class="dataset-downloaded">合計ダウンロード数(<%= downloaded %>)</div>
      <div class="dataset-updated">更新日時 <%= tryb{dataset.updated.strftime("%Y年%1m月%1d日 %1H時%1M分")} %></div>
    <% else %>
      <div class="dataset"><%= "存在しません" %></div>
    <% end %>
  </div>
</div>
<% end %>
