<% return if @cur_node.hide_point? %>

<%= jquery do %>
  Opendata_Point.renderButton();
  $("#idea-point .label a").colorbox({ fixed: true, width: "300px", height: "50%" })
<% end %>

<div class="count">
  <span class="label">
    <% if @idea.point == 0 %>
      いいね！
    <% else %>
      <%= link_to I18n.t("opendata.labels.iine"), @idea.point_members_url %>
    <% end %>
  </span>
  <span class="number">
    <%= @idea.point %>
  </span>
</div>

<div class="like"><%= link_to I18n.t("opendata.labels.iine"), "#{@idea.point_url}", class: "update #{@mode}", "data-auth-token" => form_authenticity_token, rel: "nofollow" if @mode %></div>
