<%= form_with scope: :item, url: gws_workflow2_frames_destination_state_path, method: :put, id: "gws-workflow-destination-states-form", data: { turbo: true } do |f| %>
  <div class="gws-workflow-destination-states-wrap">
    <%= select_tag "item[destination_treat_state]", destination_treat_state_options, id: nil, data: { controller: "ss--submit-on-change" } %>
    <% if params[:action] == "update" && @notice && item.errors.blank? %>
      <div class="animate__animated animate__fadeIn animate__faster gws-workflow-destination-states-notice">
        <span class="material-icons-outlined">task_alt</span>
        <span><%= @notice %></span>
      </div>
    <% end %>
  </div>
<% end %>
