<nav class="mod-navi">
  <h2><%= t 'modules.gws/workflow' %></h2>

  <% if Gws::Workflow::Route.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to Gws::Workflow::Route.model_name.human, gws_workflow_routes_path %></h3>
  <% end %>
  <% if Gws::Workflow::Form.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to Gws::Workflow::Form.model_name.human, gws_workflow_forms_path %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/conf_navi' %>
