<% @break_times = SS.config.gws.attendance['max_break'].times.to_a.select { |i| @cur_site["attendance_break_time#{i + 1}_state"] == 'show' } %>

<div class="no-print" style="position: relative; width: 220mm;">
  <%= link_to(I18n.t('ss.links.back'), { action: :index }) %>
  <span id="fontsize" style="position: absolute; right: 8px;">
    文字サイズ
    <span id="ss-small">小さく</span>
    <span id="ss-medium">標準</span>
    <span id="ss-large">大きく</span>
  </span>
</div>

<div class="sheet gws-attendance">
  <div class="attendance-box-title"><%= I18n.t('gws/attendance.formats.time_card_full_name', user_name: @item.user.name, month: I18n.l(@item.date.to_date, format: :attendance_year_month)) %></div>
  <div class="main">
    <%= render 'time_card' %>
  </div>
</div>

<%= jquery do %>
  SS_Font.render();
<% end %>
