<nav class="mod-navi">
  <h2><%= t "cms.member" %></h2>

  <% if Cms::Member.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.member", cms_members_path %></h3>
    <h3><%= link_to :"member.group", member_groups_path %></h3>
  <% end %>
</nav>

<%= render partial: "cms/main/conf_navi" %>
