<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="state"><%= item.label :state %></span>
<% end %>

<%= render template: "cms/crud/index" %>
