<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="btn unset-seen-all"><%= t('gws/circular.post.unset_seen') %></button>
    <button class="btn set-seen-all"><%= t('gws/circular.post.set_seen') %></button>
  </div>

  <div class="list-head-search">
    <%= render file: '_search' %>
  </div>
</div>
