<nav class="nav-management-menu">
  <%= link_to gws_circular_trashes_path do %>
    <i class="material-icons md-20">&#xE8B8;</i><%= t 'ss.management' %>
  <% end %>
</nav>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.new'), action: :new %>
    <% end %>
  <% else %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
