<div class="image">
  <% if @cur_page.image.present? %>
    <% if @cur_page.image_alt.present? %>
      <%= image_tag @cur_page.image.url, alt: @cur_page.image_alt %>
    <% else %>
      <%= image_tag @cur_page.image.url %>
    <% end %>
  <% end %>
  <% if @cur_page.image_comment.present? %>
    <p><%= @cur_page.image_comment %></p>
  <% end %>
</div>
