<% value ||= nil %>
<%= render file: 'cms/agents/columns/main/_common_label', locals: { column: column } %>
<dd>
  <div class="input-group url-field-column">
    <%= text_field_tag("#{object_name}[#{column.id}]", value.try(:value), column.form_options) %>
  </div>
</dd>
