<table class="index">
  <thead>
  <tr>
    <th><%= t("chorg.views.#{params[:type]}_changesets.after_#{params[:type]}") %></th>
    <th><%= t("chorg.views.#{params[:type]}_changesets.before_#{params[:type]}") %></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.after_unify %></td>
      <td><%= @item.before_unify %></td>
    </tr>
  </tbody>
</table>
