<nav class="mod-navi">
  <h2><%= t("cms.source_cleaner") %></h2>
  <h3><%= link_to t("cms.source_cleaner_template"), cms_source_cleaner_templates_path %></h3>
  <h3><%= link_to t("translate.site_setting"), cms_source_cleaner_site_setting_path %></h3>
</nav>

<%= render partial: "cms/main/conf_navi" %>
