.mod-gws-daily-report-custom_form {
  .share-cell {
    background-color: #ffe9b7;
  }
  .share-value {
    margin-top: 1em;
    color: #38c;
    font-weight: bold;
  }
}

.gws-daily-report-box {
  .add-plan {
    margin-left: 8px;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #f40;
    color: #fff;
    font-size: 95%;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      background-color: #f60;
    }
  }
  .limited-access {
    color: #f40;
  }
  .list-head-action {
    float: none;
  }
  .share-cell {
    background-color: #ffe9b7;
  }
  .share-value {
    margin-top: 1em;
    color: #38c;
    font-weight: bold;
  }
  .table-wrap {
    overflow-x: scroll;
  }
  header {
    .search {
      margin: -5px 0 -5px 20px;
      float: right;
      @include mb {
        margin: 0;
        float: none;
        input[type="text"] {
          width: auto !important;
        }
      }
    }
    .operations {
      margin: -5px 0 -5px 20px;
      float: right;
      @include mb {
        margin: 0;
        .btn-print { display: none; }
      }
    }
  }
  table.index {
    width: auto;
    thead th {
      text-align: center;
      white-space: nowrap;
    }
    td {
      vertical-align: top;
    }
    tr td {
      &:first-child {
        white-space: nowrap;
      }
      &:nth-child(n+3) {
        min-width: 170px;
      }
    }
  }
}

.gws-daily-report-print {
  .share-value {
    margin-top: 1em;
    font-weight: bold;
  }
  table.index {
    width: auto;
    border-collapse: collapse;
    thead th {
      text-align: center;
    }
    td {
      vertical-align: top;
    }
    th,td {
      border: 1px solid #dcdcdc;
    }
  }
  .horizontal .sheet {
    height: auto;
  }
}
