# chorg

production: &production
  models:
    - "Cms::Part"
    - "Cms::Layout"
    - "Cms::Node"
    - "Cms::Page"
  exclude_fields:
    - "filename"
    - "state"
    - "/_state$/"
    - "md5"
    - "route"
    - "/_route$/"
    - "workflow_state"
    - "workflow_comment"
    - "url"
    - "/_url$/"
    - "_type"
  ids_fields:
    - "_id"
    - "id"
  embedded_array_fields:
    - "column_values"
  max_division: 3
  changeset_sample_csv:
    - - ""
      - 新設
      - ""
      - シラサギ市/新設_グループ
      - 10
      - 000-000-0000
      - 000-000-0000
      - sample1@example.jp
      - http://www.ss-proj.org/
      - リンク1
      - ""
    - - ""
      - 分割
      - シラサギ市/企画政策部/政策課
      - シラサギ市/企画政策部/分割_政策課
      - 20
      - 000-000-0000
      - 000-000-0000
      - sample2@example.jp
      - http://www.ss-proj.org/
      - リンク2
      - ""
    - - ""
      - 移動
      - シラサギ市/企画政策部/広報課
      - シラサギ市/企画政策部/移動_広報課
      - 30
      - 000-000-0000
      - 000-000-0000
      - sample3@example.jp
      - http://www.ss-proj.org/
      - リンク3
      - ""
    - - ""
      - 統合
      - シラサギ市/危機管理部/管理課
      - シラサギ市/危機管理部/防災課
      - 40
      - 000-000-0000
      - 000-000-0000
      - sample4@example.jp
      - http://www.ss-proj.org/
      - リンク4
      - ""
    - - ""
      - 廃止
      - シラサギ市/危機管理部
      - ""
      - ""
      - ""
      - ""
      - ""
      - ""
      - ""
      - ""

test:
  <<: *production

development:
  <<: *production
