# Default environment
RAILS_ENV: production

# enable csrf protect
csrf: true

# File storage ('file' or 'grid_fs')
storage: file

# Upload limit size (Bytes)
# 104857600 = 100MB(1024*1024*100)
max_filesize: 104857600

# Upload limit size (each extensions)
max_filesize_ext:
  bmp:
  doc:
  docx:
  flv:
  gif:
  jpg:
  jpeg:
  mp3:
  mp4:
  pdf:
  png:
  ppt:
  pptx:
  wmv:
  xls:
  xlsx:

mime_type_map:
  jtd: "application/x-js-taro"
  wmv: "video/x-ms-wmv"
