# Default environment
RAILS_ENV: production

# enable csrf protect
protect_csrf: true

# File storage ('file' or 'grid_fs')
storage: file

# Upload limit size (Bytes)
# 104857600 = 100MB(1024*1024*100)
nginx_client_max_body_size: 100m
max_filesize: 104857600

# Upload limit size (each extensions)
max_filesize_ext:
  bmp:
  doc:
  docx:
  flv:
  gif:
  jpg:
  jpeg:
  mp3:
  mp4:
  pdf:
  png:
  ppt:
  pptx:
  wmv:
  xls:
  xlsx:

mime_type_map:
  jtd: "application/x-js-taro"
  wmv: "video/x-ms-wmv"

# multibyte filename validation
#   underscore - replace multibyte characters to underscore
#   sequence - replace filename to sequence id if filename include multibyte characters
#   hex - replace filename with fixed length
multibyte_filename: underscore

# unicode normalization method
#   :nfc - 外観が変わらない正規化（機種依存文字はそのまま）。「て（U+3066）」 +「濁点（U+3099）」-->「で（U+3067）」
#   :nfkc - 外観が変わる正規化（nfc に加え機種依存文字も非依存へ変換）。「①」 --> 「1」、「㌀」 --> 「アパート」、「～」-->「~」
unicode_normalization_method: :nfkc

# max size in bytes on comparing files for publishing a file
max_compare_file_size: 102_400

# json response datetime_format
#   %Y/%m/%d %H:%M:%S - 2015/12/25 12:00:00
json_datetime_format:

# image file exif option in SS::Model::File
#   auto_orient - fix exif rotation (ImageMagick --auto-orient)
#   strip - remove exif
image_exif_option: auto_orient

# Delay download (Compressing Zip)
deley_download:
  # Delay when it greater than or equal to the files count. (Num)
  min_count: 100
  # Delay when it greater than or equal to the file size. (Bytes)
  #   104857600 = 100MB(1024*1024*100)
  min_filesize: 104857600

zip:
  # creates 64-bit zip or not. 64-bit zip can support over 4GB zip-file.
  zip64: true
  # use Unicode encoding or use SJIS encoding for name in zip.
  #   true: use Unicode encoding
  #  false: use SJIS encoding
  unicode_names: true

available_locales:
  - "en"
  - "ja"

set_received_by: false
