# proxy

production: &production
  disable: true
  proxy_http_basic_authentication:
    proxy_uri: "http://127.0.0.1:8080"
    proxy_username: "username"
    # to get password encrypted, run command: `bin/rails runner 'puts SS::Crypto.encrypt("password")'`
    proxy_password: "GqI7kIUuYXGKeIt/0+lnQw=="
    # we also support clear text password
    # proxy_password: "password"
  # all available options to see https://docs.ruby-lang.org/en/2.4.0/OpenSSL/SSL/SSLContext.html#attribute-i-verify_mode
  ssl_verify_mode: 'VERIFY_NONE'

test:
  <<: *production

development:
  <<: *production
