# ss

production: &production
  # Application name
  application_name: SHIRASAGI

  # Application Logo html
  application_logo_html: '<div class="ss-logo-wrap"><img src="/assets/img/logo.png" alt="SHIRASAGI"><span class="ss-logo-application-name">SHIRASAGI</span></div>'

  # StyleSheets on management pages.
  stylesheets: ["ss/style"]

  # JavaScripts on management pages.
  javascripts: ["ss/script"]

  # history backups max age
  history_max_age: 20

  # history backups max age
  keep_history_backup_after_destroyed: 14.days

  session:
    key: '_ss_session'
    same_site: 'Lax'
    # uncomment blow setting if you have been running SHIRASAGI with full https
    # secure: true

  disable_permission_level: true

  # how to paste file by
  #   filename: physical name. this means paste file with only alpha-nums.
  #   name: logical name. this means paste file with japanese text.
  file_url_with: filename

  # how to publish file by
  #   cp: copy file
  #   ln_s: create symbolic link
  publish_file_with: cp

  # Upload Policy (restricted, sanitizer)
  upload_policy:

  # Sanitizer directories
  sanitizer_input: sanitizer_input
  sanitizer_output: sanitizer_output
  sanitizer_wait_image: public/assets/img/sanitizer-wait-ja.png

test:
  <<: *production
  disable: false
  file_url_with: filename
  publish_file_with: cp
  sanitizer_input: sanitizer_input_test
  sanitizer_output: sanitizer_output_test

development:
  <<: *production
  disable: false
