production: &production
  # Disable Webmail.
  disable: false

  # Disable navigation
  disable_navi: false

  # Disable quota
  disable_quota: false

  # Disable alias
  disable_alias: true

  # Disable IMAP debug
  disable_imap_debug: true

  # Default settings
  clients:
    default:
      # host
      host: localhost
      options:
        port: 143
      # auth_type: LOGIN, PLAIN, CRAM-MD5, DIGEST-MD5
      auth_type: LOGIN
      # account: uid, email
      account: email

  # Mail cache
  cache_mails: true

  # Store mail cache as static file
  store_mails: false

  # Quota cache
  cache_quota: true

  # Quota cache expires (Hours)
  cache_quota_expires: 24

  # Upper limit of user's imap account
  imap_account_limit: 5

  # Upper limit of mail's attachments file size(byte). 0 is unlimited
  send_mail_size_limit: 0

  history:
    save_days: 90
    severity: info
    severity_notice: disabled

  # HTML editor (only support ckeditor)
  html_editor: ckeditor

  # CKEditor setting
  ckeditor:
    # base options
    options:
      allowedContent: true
      height: 360px
      extraPlugins:
        - justify
        - panelbutton
        - colorbutton
        - font
      removeButtons: 'Strike,Underline,Subscript,Superscript,Font,BGColor,Source'
      fontSize_sizes: '60%/60%;70%/70%;80%/80%;90%/90%;100%/100%;110%/110%;120%/120%;130%/130%;140%/140%;150%/150%;160%/160%;170%/170%;180%/180%;190%/190%;200%/200%;'
      colorButton_colors: 'Maroon/800000,SaddleBrown/8B4513,DarkSlateGray/2F4F4F,Teal/008080,Navy/000080,Indigo/4B0082,DarkGray/696969,FireBrick/B22222,Brown/A52A2A,GoldenRod/DAA520,DarkGreen/006400,MediumBlue/0000CD,Purple/800080,Gray/808080,Red/EE0000,Green/008000,Blue/0000FF'
      stylesSet: webmail
    # readonly options override base options when mode is readonly
    readonly_options:
      readOnly: true
      removePlugins:
        - toolbar
    # advanced options override base options when mode is advanced
    advanced_options:
      removeButtons: 'Strike,Underline,Subscript,Superscript,Font,BGColor'
    # ckeditor's javascripts options
    javascripts:
      - /assets/js/ckeditor/ckeditor.js
      - /assets/js/ckeditor/adapters/jquery.js

  tinymce:
    options:
      language: ja
      plugins:
        - advlist
        - autolink
        - link
        - image
        - lists
        - charmap
        - print
        - preview
        - hr
        - anchor
        - pagebreak
        - spellchecker
        - searchreplace
        - wordcount
        - visualblocks
        - visualchars
        - code
        - fullscreen
        - insertdatetime
        - media
        - nonbreaking
        - save
        - table
        - contextmenu
        - directionality
        - emoticons
        - template
        - paste
        - textcolor
      toolbar: >-
        insertfile undo redo
        | styleselect
        | bold italic
        | forecolor backcolor
        | alignleft aligncenter alignright alignjustify
        | bullist numlist outdent indent
        | link image media
      templates: 'shirasagi'
    readonly_options:
      readonly: true
      plugins:
      toolbar: false
      menubar: false
      templates:

test:
  <<: *production
  disable: false
  disable_alias: false

  # test method: user or docker
  # test_by: user

  # test account setting when test_by is "user"
  # test_user:
  #   host: localhost
  #   account: email
  #   password: pass

  # test docker setting when test_by is "docker"
  # build docker image by downloading "https://github.com/sunny4381/docker-mail" and run it.
  # test_docker:
  #   api_url: unix:///var/run/docker.sock
  #   container_id: test_mail
  #   host: localhost
  #   auth_type: CRAM-MD5
  #   account: user5@example.jp

development:
  <<: *production
  disable: false
