<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to t('ss.links.download'), { action: :download } if @model.allowed?(:read, @cur_user, site: @cur_site) %>
  <% elsif params[:action] =~ /show/ %>
    <%= link_to(t('ss.links.delete'), { action: :delete, id: @item }, class: :delete) if @model.allowed?(:delete, @cur_user, site: @cur_site) %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "back-to-index" %>
  <% else %>
    <%= link_to t('ss.links.back'), { action: :show }, class: "back-to-index" %>
  <% end %>
</nav>
