<% if @segments.present? %>
  <div class="cms-tabs">
    <% @segments.each do |segment| %>
      <%= link_to({ segment: segment }, { class: (@segment == segment) ? "current" : "" }) do %>
        <span class="tab-name"><%= segment %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render file: "ss/tasks/index" %>
