<%= scss do %>
#http-tester {
  h2 {
    padding: 5px 10px;
    background-color: #888;
    color: #fff;
  }
  .buttons {
    margin: 0px 0px 15px;
    button { width: 100px; min-height: 3em; margin: 0px 10px 0px 0px; }
  }

  .view {
    #queue { width: 120px; text-align: right; }
    div { margin: 10px 0px; }
    textarea { width: 90% !important; height: 200px; }
  }
}
<% end %>

<article id="http-tester">
  <div class="buttons">
    <button onclick="SS_Debug.run()">Run HTTP</button>
    <button onclick="SS_Debug.stop()">Stop</button>
  </div>

  <div class="view">
    <h2>Queue</h2>
    <div><input type="text" id="queue" value="" readonly="readonly" /></div>

    <h2>Try URL</h2>
    <div><textarea id="log" readonly="readonly" style="olor: #080"></textarea></div>

    <h2>Error URL</h2>
    <div><textarea id="err" readonly="readonly" style="color: #e00;"></textarea></div>
  </div>
</article>
