<%

categories = @items.map do |item|
  parent = item.parents.select{ |cate| cate.route =~ /category\// }.shift
  parent.present? ? parent : item
end
categories = categories.uniq { |item| item.filename }

def cate_form(item)
  h = %(<label style="margin-right: 10px;">)
  h << check_box_tag("category_ids[]", item._id)
  h << %(#{item.name}</label>)

  children = Category::Node::Base.site(@cur_site).node(item)

  if children.size > 0
    h << %(<div style="padding: 0px 0px 0px 40px;">).html_safe
    children.each { |c| h += cate_form c }
    h << %(</div>).html_safe
  end

  h.html_safe
end

%>

<% categories.each do |cate| %>
<div style="margin-bottom: 10px; padding: 10px; border: 1px solid #ddd;">
  <%= cate_form cate %>
</div>
<% end %>
