<%
  map_points, map_options = @cur_page.effective_map_points_and_options
  return if map_points.blank?
%>

<%= render_map "#map-canvas", site: @cur_site, map: map_options, markers: map_points, preview: @preview %>

<section class="map-page">
  <% if local_assigns && !local_assigns[:no_header] %>
  <header>
    <h2><%= t("map.map") %></h2>
  </header>
  <% end %>
  <div id="map-canvas" style="width: 100%; height: 400px;"></div>
  <% if @cur_page.map_link == "show" %>
    <%= link_to t('map.googlemap_route_url'), @cur_page.set_map_url, class: "map-link" %>
  <% end %>
</section>
