<% return if @cur_page.map_points.blank? %>

<%= render_map "#map-canvas", markers: @cur_page.map_points, site: @cur_site %>

<section class="map-page">
  <header>
    <h2><%= t("map.map") %></h2>
  </header>
  <div id="map-canvas" style="width: 100%; height: 400px;"></div>
</section>
