<nav class="mod-navi">
  <h2><%= link_to t("modules.gws/personal_address"), gws_personal_address_addresses_path %></h2>
  <h2><%= t("ss.management") %></h2>

  <% if Gws::SharedAddress::Group.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("mongoid.models.gws/personal_address/group"), gws_personal_address_management_groups_path %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
