# MongoDB Configuration

production:
  clients:
    default:
      database: ss
      hosts:
        - localhost:27017
    public:
      database: ss_public
      hosts:
        - otherhost:27017

test:
  clients:
    default:
      database: ss_test
      hosts:
        - localhost:27017
      options:
        read: primary
        max_retries: 1
        retry_interval: 0
    public:
      database: ss_public_test
      hosts:
        - localhost:27017
      options:
        read: primary
        max_retries: 1
        retry_interval: 0

development:
  clients:
    default:
      database: ss
      hosts:
        - localhost:27017

    # Public DB configurations
    public:
      database: ss_public
      hosts:
        - otherhost:27017
