<article class="body">
  <p><%== @cur_page.html %></p>
  <% if @cur_page.rss_link.present? %>
    <footer>
      <p><%= link_to "全文を読む", @cur_page.rss_link, target: "_blank", rel: "noopener" %></p>
    </footer>
  <% end %>
</article>
