<%
  return if @item.files.blank?

  limit = 5

  files = @item.files
  if !@item.anonymous?
    files = files.order_by(user_uid: 1, updated: -1)
  end
  files = files.limit(limit)
%>

<div class="see mod-survey-files-ref">
  <p><%= t("gws/survey.notices.count_limit", count: limit) %></p>

  <div class="gws-survey">
    <%= render file: "gws/survey/files/_table", locals: { cur_form: @item, items: files } %>
  </div>

  <div class="list-more"><%= link_to I18n.t("ss.links.more"), gws_survey_editable_files_path(editable_id: @item), class: 'btn' %></div>
</div>
