.gws-memo {
  .addon-head {
    padding: 1px 15px 15px;
    .icon-star {
      float: right;
      margin: 12px 0 0;
      &.on    .material-icons { color: #f70; }
      &.off   .material-icons { color: #ddd; }
      &:hover .material-icons { opacity: 0.8; }
    }
    .subject {
      display: block;
      margin: 12px 0;
      font-size: 130%;
      line-height: 1.4;
    }
    .from {
      float: left;
    }
    .date {
      text-align: right;
    }
  }
  .addresses {
    padding: 5px 15px;
    border-top: 1px solid #e4e4e4;
    background-color: #fafafa;
    .address {
      padding: 3px 0;
      .label {
        float: left;
        color: #888;
      }
      .value {
        padding: 0 0 0 45px;
      }
    }
  }
  .request-mdn-notice {
    @include clear;
    padding: 5px 15px;
    border-bottom: 1px solid #969696;
    background-color: #cecece;
    line-height: 25px;
    .action {
      float: right;
    }
  }
  .show-image {
    display: block;
    margin: -5px 0 10px;
    padding: 8px;
    border: 1px solid #fd8;
    background-color: rgba(255,255,0,.2);
    background-color: #ffc;
    text-decoration: none;
    text-align: center;
    &:hover {
      border-color: #fb8;
      background-color: rgba(255,255,0,.35);
      background-color: #ffa;
    }
  }
  .addon-body {
    min-height: 200px;
    border-top: 1px solid #e4e4e4;
    .body--html img[data-url] {
      height: none;
    }
  }
  .attachments {
    padding: 15px 15px 5px;
    border-top: 1px solid #e4e4e4;
    .file {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }
}
@include mb {
  .mod-gws-schedule-comments .list-items .list-item .info + .links {
    margin-left: 0;
  }
  #comment-form .btn {
    margin-top: 5px;
  }
}

.gws-memos {
  .list-item {
    padding: 5px 8px;
    display: block;
  }
  .list-item-head {
    font-weight: bold;
    padding-bottom: 8px;
    .head {
      height: 20px;
      position: relative;
      .field {
        position: absolute;
        cursor: pointer;
      }
      .from, .to { left: 82px; }
      .title { left: 286px; }
      .priority { right: 206px; }
      .datetime { right: 110px; }
      .size { right: 14px; }
    }
    @include mb { display: none; }
  }
  .info {
    @include truncate;
    .field {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: text-top;
    }
    .from, .to {
      width: 200px;
      padding-right: 5px;
    }
    .title {
      width: calc(100% - 460px);
      width: -webkit-calc(100% - 460px);
      padding-right: 5px;
      font-size: 100%;
      @include mb {
        width: auto;
      }
    }
    .datetime {
      width: 120px;
      font-weight: normal;
    }
    .priority {
      width: 80px;
    }
    .size {
      //width: 50px;
      font-weight: normal;
      text-align: right;
    }
  }
}

.gws-memo-folder {
  .folder {
    background: #ffffff !important;
  }
  .current {
    background: #f2f2f2 !important;
  }
  .unseen {
    font-weight: bold;
    color: #f25a38;
  }
}

.gws-memo-search {
  display: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;

  input[type="text"] {
    width: 300px;
  }
}

.gws-memo-dropdown {
display: inline;
font-weight: normal;
  .dropdown-menu {
    left: 0;
    margin: 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    @include box-shadow(0px 3px 12px rgba(0,0,0,.2));
    background: #fff;
    text-align: left;
    a {
      @include truncate;
      padding: 5px 10px;
      color: $black;
    }
    a:hover {
      background-color: $gray1;
      color: $orange;
      text-decoration: none;
    }
    .pad {
      display: inline-block;
      width: 10px;
    }
  }
}
.gws-addon-memo-member {
  dl.cc-bcc {
    padding-top: 10px;
    border-top: 1px solid #e4e4e4;
  }
  dt {
    min-width: 50px !important;
  }
  dd {
    margin: 0px 0px 0px 50px !important;
  }
}
// -------------------------------------------------------------------------------------------------
// memo gws-memo-notices
.gws-memo-notices {
  .list-item {
    &.unseen {
      background-color: #f9e9e3;
    }
    &.seen:hover, &.unseen:hover {
      background-color: #fbeee8
    }
  }
}
