.gws-memo {
  .addon-head {
    padding: 1px 15px 15px;
    .icon-star {
      float: right;
      margin: 12px 0 0;
      &.on    .material-icons { color: #f70; }
      &.off   .material-icons { color: #ddd; }
      &:hover .material-icons { opacity: 0.8; }
    }
    .subject {
      display: block;
      margin: 12px 0;
      font-size: 130%;
      line-height: 1.4;
    }
    .from {
      float: left;
    }
    .date {
      text-align: right;
    }
  }
  .addresses {
    padding: 5px 15px;
    border-top: 1px solid #e4e4e4;
    background-color: #fafafa;
    .address {
      padding: 3px 0;
      .label {
        float: left;
        color: #888;
      }
      .value {
        padding: 0 0 0 45px;
      }
    }
  }
  .request-mdn-notice {
    @include clear;
    padding: 5px 15px;
    border-bottom: 1px solid #969696;
    background-color: #cecece;
    line-height: 25px;
    .action {
      float: right;
    }
  }
  .show-image {
    display: block;
    margin: -5px 0 10px;
    padding: 8px;
    border: 1px solid #fd8;
    background-color: rgba(255,255,0,.2);
    background-color: #ffc;
    text-decoration: none;
    text-align: center;
    &:hover {
      border-color: #fb8;
      background-color: rgba(255,255,0,.35);
      background-color: #ffa;
    }
  }
  .addon-body {
    min-height: 200px;
    border-top: 1px solid #e4e4e4;
    .body--html img[data-url] {
      height: none;
    }
  }
  .attachments {
    padding: 15px 15px 5px;
    border-top: 1px solid #e4e4e4;
    .file {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }
}
@include mb {
  .mod-gws-schedule-comments .list-items .list-item .info + .links {
    margin-left: 0;
  }
  #comment-form .btn {
    margin-top: 5px;
  }
}
@media screen and (max-width:1080px) and (min-width:768px) {
  div {
    &#content-navi.gws-content-navi,
    &.index.gws-memos-index {
      float: none !important;
      width: 100% !important;
    }
  }
}
.gws-memos {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td.icon-star, td.icon-attachment {
    padding: 0.75rem 0;
  }
  @include mb {
    display: block;
    white-space: nowrap;
    thead { display: none; }
    tbody {
      display: block;
    }
    tr {
      position: relative;
      display: block;
      padding: 0.75rem;
      border-top: 1px solid $gray2;
    }
    th, td {
      display: block;
      padding: 0 ;
      border: none;
    }
    td.check {
      float: left;
      line-height: 6.5rem;
      padding-right: 1rem;
    }
    td.icon-star {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
    }
    td.icon-attachment {
      position: absolute;
      top: 4rem;
      right: 0.75rem;
    }
    td.from, td.title, td.priority, td.datetime, td.size {
      padding-right: 2rem;
    }
    td.title {
      font-size: $px16;
    }
  }
}
.gws-memo-folder {
  .nav-item.unseen a {
    color: $orange;
  }
  .nav-item.unseen a:hover {
    color: $primary2;
  }
}

.gws-memo-search {
  display: none;
}
.gws-addon-memo-member {
  dl.cc-bcc {
    padding-top: 10px;
    border-top: 1px solid $gray4;
  }
  dt {
    min-width: 50px !important;
  }
  dd {
    margin: 0px 0px 0px 50px !important;
  }
}
// -------------------------------------------------------------------------------------------------
// memo gws-memo-notices
.gws-memo-notices {
  .list-item {
    &.unseen {
      background-color: #f9e9e3;
    }
    &.seen:hover, &.unseen:hover {
      background-color: #fbeee8
    }
  }
}
