.gws-memo {
  .addon-head {
    padding: 1px 15px 15px;
    .icon-star {
      float: right;
      margin: 12px 0 0;
      &.on    .material-icons { color: #f70; }
      &.off   .material-icons { color: #ddd; }
      &:hover .material-icons { opacity: .8; }
    }
    .subject {
      display: block;
      margin: 12px 0;
      font-size: 130%;
      line-height: 1.4;
    }
    .from {
      float: left;
    }
    .date {
      text-align: right;
    }
  }
  .addresses {
    padding: 5px 15px;
    border-top: 1px solid #e4e4e4;
    background-color: #fafafa;
    .address {
      padding: 3px 0;
      .label {
        float: left;
        color: #888;
      }
      .value {
        padding: 0 0 0 45px;
      }
    }
  }
  .request-mdn-notice {
    @include clear;
    padding: 5px 15px;
    border-bottom: 1px solid #969696;
    background-color: #cecece;
    line-height: 25px;
    .action {
      float: right;
    }
  }
  .show-image {
    display: block;
    margin: -5px 0 10px;
    padding: 8px;
    border: 1px solid #fd8;
    background-color: rgba(255, 255, 0, .2);
    background-color: #ffc;
    text-decoration: none;
    text-align: center;
    &:hover {
      border-color: #fb8;
      background-color: rgba(255, 255, 0, .35);
      background-color: #ffa;
    }
  }
  .addon-body {
    min-height: 200px;
    border-top: 1px solid #e4e4e4;
    .body--html img[data-url] {
      height: none;
    }
  }
  .attachments {
    padding: 15px 15px 5px;
    border-top: 1px solid #e4e4e4;
    .file {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }
}
@include mb {
  .mod-gws-schedule-comments .list-items .list-item .info + .links {
    margin-left: 0;
  }
  #comment-form .btn {
    margin-top: 5px;
  }
}
#content-navi.gws-content-navi {
  overflow-x: scroll;
}
@media screen and (max-width:1080px) and (min-width:768px) {
  div {
    &#content-navi.gws-content-navi,
    &.index.gws-memos-index {
      float: none !important;
      width: 100% !important;
    }
  }
}
.gws-memos {
  .list-item {
    padding: 5px 8px;
    display: block;
  }
  .list-item-head {
    font-weight: bold;
    padding-bottom: 8px;
    .head {
      @include display-flex;
      -js-display: flex;
      height: 20px;
      position: relative;
      .field {
        display: inline-block;
        cursor: pointer;
      }
      .from, .to {
        width: calc(50% - 100px);
        text-indent: 79.84px;
      }
      .title {
        width: calc(50% - 130px);
      }
      .priority {
        width: 50px;
      }
      .datetime {
        width: 120px;
      }
      .size {
        width: 60px;
      }
    }
    @include mb { display: none; }
  }
  .info {
    @include truncate;
    @include display-flex;
    -js-display: flex;
    @include mb {
      clear: both;
      display: block;
    }
    .field {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: text-top;
      @include mb {
        display: inline-block;
      }
    }
    .from, .to {
      width: calc(50% - 132.84px);
      padding-right: 5px;
      @include mb {
        width: 100%;
        padding-right: 0;
      }
    }
    .title {
      width: calc(50% - 75px);
      padding-right: 5px;
      font-size: 100%;
      @include mb {
        width: 100%;
        padding-right: 0;
      }
    }
    .priority {
      width: 50px;
    }
    .datetime {
      width: 120px;
      font-weight: normal;
    }
    .size {
      width: 60px;
      font-weight: normal;
    }
  }
}

table.index.gws-memo-folder {
  position: relative;
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 12px;
    height: 1px;
  }
  .folder {
    background: #fff !important;
  }
  .current {
    background: #f2f2f2 !important;
  }
  .unseen {
    font-weight: bold;
    color: #f25a38;
  }

  @for $i from 0 through 40 {
    .depth-#{$i} {
      padding-left: #{$i * 20}px;
    }
  }
}

.gws-memo-search {
  display: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;

  input[type="text"] {
    width: 300px;
  }
  input.date {
    width: 9em;
    text-align: center;
  }
  label.flag {
    width: auto;
    padding: 0 15px;
  }
}

.gws-memo-search-label {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  .gws-memo-search-label-reset {
    width: 100%;
    text-align: right;
  }
}

.gws-memo-dropdown {
  display: inline;
  font-weight: normal;
  .dropdown-menu {
    left: 0;
    margin: 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    @include box-shadow(0 3px 12px rgba(0, 0, 0, .2));
    background: #fff;
    text-align: left;
    a {
      @include truncate;
      padding: 5px 10px;
      color: $black;
    }
    a:hover {
      background-color: $gray1;
      color: $orange;
      text-decoration: none;
    }
    .pad {
      display: inline-block;
      width: 10px;
    }
  }
}
.gws-addon-memo-member {
  dl.cc-bcc {
    padding-top: 10px;
    border-top: 1px solid #e4e4e4;
  }
  dt {
    min-width: 50px !important;
  }
  dd {
    margin: 0 0 0 50px !important;
  }
}
// -------------------------------------------------------------------------------------------------
// memo gws-memo-notices
.gws-memo-notices {
  .list-item {
    &.unseen {
      background-color: #f9e9e3;
    }
    &.seen:hover, &.unseen:hover {
      background-color: #fbeee8;
    }
  }
}
