<div class="archive-nav">
  <nav class="monthly-nav">
    <% @months.each do |date, num| %>
      <p><%= link_to_if(!num.zero?, date.strftime('%Y年%m月'), sprintf("#{@cur_part.parent.url}%04d%02d", date.year, date.month)) %><%= " (" + num.to_s + ")" %></p>
    <% end %>
  </nav>
</div>
