<div class="list-head">
  <div class="operations">
    <%= link_to(t("ss.buttons.print"), { action: :summary, print: true }, { class: "btn btn-print", style: "font-weight: normal;" }) %>
  </div>
</div>
