<%= render template: "_tabs", locals: { cur_tab: 'index' } %>

<div class="index gws-survey">
  <%= render template: "_list_head" %>
  <%= render template: "_abstract" %>
  <%= render template: "_table" %>
</div>
