<div class="main-box">
  <table class="index">
    <thead>
      <tr>
        <th style="width:20%"><%= t("gws/portal.portlets.header.name") %></th>
        <th><%= t("gws/portal.portlets.header.text") %></th>
      </tr>
    </thead>
    <tbody>
      <% @portal.portlet_models.select { |p| @cur_site.menu_visible?(p[:type]) }.each do |item| %>
      <tr>
        <td><%= link_to item[:name], "?portlet_model=#{item[:type]}" %></td>
        <td><%= item[:text] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
