<nav class="nav-menu">
  <%= link_to t("gws/board.links.back_to_thread"), @category.present? ? gws_circular_category_posts_path(id: params[:topic_id]) : gws_circular_posts_path(id: params[:topic_id]) %>
</nav>
