<% show ||= false %>
<dt class="<%= @section_id %>">
  <%= sanitize_easy column.name %>
  <% if !show && column.tooltips.present? %>
  <div class="tooltip">?
    <ul class="tooltip-content">
      <% column.tooltips.each do |tooltip| %>
        <li><%= tooltip %><br></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if column.required? %>
    <%= required_mark %>
  <% end %>
</dt>
