<% show ||= false %>
<dt>
  <%= column.name %>
  <% if !show && column.tooltips.present? %>
  <div class="tooltip">?
    <ul class="tooltip-content">
      <% column.tooltips.each do |tooltip| %>
        <li><%= tooltip %><br></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</dt>
