<%= jquery do %>
    Gws_Schedule_Todo.render();
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="active-all btn">
      <%= t('gws/schedule/todo_management.links.active') %>
    </button>
  </div>

  <div class="list-head-search">
    <%= render file: '_search' %>
  </div>
</div>
