<nav class="nav-menu">
  <% if params[:action] == 'show' && @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('gws/schedule/todo_management.links.active'),
                  recover_gws_schedule_todo_management_path  %>
  <% end %>
</nav>
