<nav class="nav-menu">
  <% if params[:action] == 'show' && @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('gws/schedule/todo_management.links.active'), recover_gws_schedule_todo_management_path  %>
  <% end %>
  <% if params[:action] =~ /recover/ && @item.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
  <% end %>
  <% if params[:id] %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
