<nav class="mod-navi">
  <h2><%= link_to t("modules.addons.gws/schedule/todo"), gws_schedule_main_path %></a></h2>
  <h2><%= t("ss.management") %></h2>

  <% if Gws::SharedAddress::Address.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("gws/schedule/todo.disabled_items"), gws_schedule_todo_management_index_path %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
