<% @index_title = proc do |item| %>
    <% title = item.try(:name) || item.try(:title) || item.try(:filename) || "##{item.id}" %>
    <%= link_to title, { action: :show, id: item }, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
    <span class="datetime"><%= item.updated.strftime('%Y/%m/%d %H:%M') %></span>
    <span>削除日時</span>
    <span><%= item.deleted.strftime('%Y/%m/%d %H:%M') %></span>
<% end %>

<%= render file: 'gws/crud/index' %>