<% value ||= nil %>
<%= render file: 'gws/agents/columns/main/_common_label', locals: { column: column } %>
<dd>
  <div class="input-group text-area-column">
    <span class="prefix input-group-prepend"><%= column.prefix_label %></span>
    <%= text_area_tag("#{object_name}[#{column.id}]", value.try(:value), column.form_options) %>
    <span class="postfix input-group-append"><%= column.postfix_label %></span>
  </div>
</dd>
