<% value ||= nil %>
<%= render file: 'gws/agents/columns/main/_common_label', locals: { column: column } %>
<dd>
  <span class="prefix"><%= column.prefix_label %></span>
  <%= text_area_tag("#{object_name}[#{column.id}]", value.try(:value), column.form_options) %>
  <span class="postfix"><%= column.postfix_label %></span>
</dd>
