<%
  def v2s(value)
    if value == nil
      "NULL"
    elsif value == ""
      "''"
    elsif value.is_a?(Time)
      value.in_time_zone.iso8601
    else
      value
    end
  end
%>
<table class="index">
  <thead>
    <tr>
      <th>field</th>
      <th>value</th>
    </tr>
  </thead>

  <tbody>
    <% @item.each do |key, val| %>
    <tr>
      <th style="width: 160px; color: #b38; font-weight: bold;"><%= key %></th>
      <td><%= v2s(val) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
