<div class="ckan-pages pages">
<%= @cur_node.upper_html.html_safe if @cur_node.upper_html.present? %>
<% if @cur_node.loop_html.present? %>
  <% loop_html = @cur_node.loop_html %>
<% else %>
  <%
    loop_html = <<EOS
<article class="item-\#{class} \#{new}">
  <header>
    <time datetime="\#{updated_date.iso}">\#{updated_date.long}</time>
    <h2><a href="\#{url}">\#{title}</a></h2>
    <span class="\#{add_or_update}">\#{add_or_update_text}</span>
  </header>
</article>
EOS
  %>
<% end %>
<% @cur_node.values.each do |e| %>
<%= @cur_node.render_loop_html(e, html: loop_html).html_safe %>
<% end %>
<%= @cur_node.lower_html.html_safe if @cur_node.lower_html.present? %>
</div>
