<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <%= render template: "_list_head_tags" %>
    <div class="list-head-action-destroy">
      <%# CMS の一括削除では特別な削除確認画面が表示されるので confirmation は不要 %>
      <%= ss_button_to t("ss.links.delete"), "", class: "destroy-all btn btn-list-head-action", method: "delete" %>
    </div>
  </div>

  <%= render template: "_search" %>
</div>
