<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<div class="ss-addon-user-group-history">
  <table class="index">
    <thead>
      <tr>
        <th style="width: 140px"><%= SS::UserGroupHistory.t :created %></th>
        <th><%= SS::UserGroupHistory.t :group_ids %></th>
      </tr>
    </thead>
    <tbody>
      <% @item.group_histories.each do |item| %>
      <tr>
        <td><%= ss_time_tag item.created %></td>
        <td><%= item.group_names.join(', ').presence || '-' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
