<%
  return if @model.keyword_fields.blank?

  @s ||= OpenStruct.new params[:s]
%>
<div class="list-head-search">
  <%= form_with scope: :s, url: "", class: "index-search", method: :get do |f| %>
    <%= f.text_field :keyword, placeholder: t('ss.keyword'), style: "width: 300px;", id: nil %>
    <%= f.submit t('ss.buttons.search'), class: "btn", name: nil %>
  <% end %>
</div>
