<%= jquery do %>
  Webmail_Mail.render();
<% end %>

<% if @item.html? %>
  <div class="body body--html"><%= @item.html %></div>
<% else %>
  <div class="body body--text"><%= br @item.text %></div>
<% end %>
