<%= jquery do %>
  Webmail_Mail.render();
<% end %>

<% if @item.html? %>
  <div class="body body--html"><%= @item.html %></div>
<% else %>
  <div class="body body--text"><%= br @item.text %></div>
<% end %>

<% if @item.attachments.present? %>
  <div class="attachments">
    <% @item.attachments.each do |part| %>
      <div class="file">
        <%= link_to part.filename, { action: :parts, section: part.section }, target: part.link_target %>
      </div>
    <% end %>
  </div>
<% end %>
