<%= jquery do %>
  Webmail_Mail_Detail.render();
<% end %>

<% if @item.html? %>
  <div class="body body--html"><%= @item.sanitize_html %></div>
<% else %>
  <div class="body body--text"><%= auto_link br @item.text %></div>
<% end %>
