<%= jquery do %>
  Webmail_Mail.renderDetail();
<% end %>

<% if @item.html? %>
  <div class="body body--html"><%= @item.sanitize_html %></div>
<% else %>
  <div class="body body--text"><%= br @item.text %></div>
<% end %>
