<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if item.try(:updated) %>
    <span class="datetime"><%= ss_time_tag item.updated %></span>
  <% end %>
<% end %>

<%= render template: "cms/crud/index" %>
