$('a.ajax-box').data('on-select', function($item) {
  var data        = $item.closest("[data-id]");
  var id          = data.data("id");
  var attachments = data.data("attachments");
  var from        = data.data("from");
  var name        = data.data("name");
  var priority    = data.data("priority");
  var send_date   = data.data("send_date");
  var size        = data.data("display_size");

  tr    = $("<tr />").attr("data-id", id);
  input = SS_SearchUI.anchorAjaxBox.closest("dl").find(".hidden-ids").clone(false);
  input = input.val(id).removeClass("hidden-ids");
  a     = $('<a class="deselect btn" href="#"><%= I18n.t "ss.buttons.delete" %></a>').on("click", SS_SearchUI.deselect);

  var icon = $('<i class="material-icons md-15">&#xE226;</i>');
  if (!attachments) {
    icon.css("visibility","hidden");
  }
  tr.append($('<td />').text(from).prepend(icon));
  tr.append($('<td />').append(input).append(name));
  tr.append($('<td />').text(priority));
  tr.append($('<td />').text(send_date));
  tr.append($('<td />').text(size));
  tr.append($('<td />').append(a));
  SS_SearchUI.anchorAjaxBox.closest("dl").find(".ajax-selected tbody").prepend(tr);
  SS_SearchUI.anchorAjaxBox.closest("dl").find(".ajax-selected").trigger("change");
});
