.mod-workflow-request {
  margin: 0 0 15px;
  padding: 5px 0;
  background: $gray1;
  h1 {
    padding: 8px 10px;
  }
  .buttons {
    margin: 10px 0;
    button {
      margin: 0 10px 0 0;
      padding: 0 30px;
    }
  }
}
.mod-workflow-approve {
  textarea {
    margin-bottom: 10px;
  }
}
.workflow-level-header {
  margin: 20px 10px 0;
  padding-left: 8px;
  border-left: 3px solid $orange;
  color: $black3;
  font-size: $px16;
  font-weight: bold;
}

.mod-workflow-view {
  .approver-files {
    margin-top: 5px;
  }

  .approver-file {
    -js-display: flex;
    @include display-flex;
    @include align-items(center);
    padding: 5px 0;

    .thumb {
      width: 48px;
      max-height: 48px;
      text-align: center;
    }

    .name {
      margin-left: 5px;
    }
  }

  .workflow-cancel {
    display: inline-block;
  }

  .btn-reroute {
    border: 1px solid #bbb;
    border-radius: 3px;
    background: #f7f7f7;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &:hover {
      background: #ebecec;
      cursor: pointer;
    }
    &:disabled {
      border: 0;
      &:hover {
        background: #f7f7f7;
        cursor: default;
      }
    }
  }
}

.workflow-request-notice {
  .workflow-request-notice-list {
    padding-inline-start: 10px;
  }
  .workflow-request-notice-item {
    list-style-type: disc;
  }
}
