.mod-workflow-request {
  margin: 0px 0px 15px;
  padding: 5px 0;
  background: $gray1;
  h1 {
    margin: -5px -15px 15px;
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
  }
  .buttons {
    margin: 10px 0px 10px;
    button {
      margin: 0px 10px 0px 0px;
      padding: 0px 30px;
    }
  }
}
.mod-workflow-approve {
  textarea {
    margin-bottom: 10px;
  }
}
.workflow-level-header {
  margin: 20px 10px 0;
  padding-left: 8px;
  border-left: 3px solid $orange;
  color: $black3;
  font-size: $px16;
  font-weight: bold;
}
