<nav class="mod-navi">
  <h2><%= link_to t("modules.gws/share"), gws_share_files_path %></a></h2>
  <h2><%= t("ss.management") %></h2>

  <% if Gws::Share::File.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("mongoid.models.gws/share/file"), gws_share_management_files_path %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
