<nav class="mod-navi">
  <h2><%= t 'gws/circular.setting' %></h2>
  <% if @cur_site.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.module_setting'), gws_circular_setting_path %></h3>
  <% end %>
  <h3><%= link_to t('mongoid.models.gws/circular/category'), gws_circular_categories_path %></h3>
</nav>

<%= render partial: 'gws/main/conf_navi' %>
