<% if @cur_page.categories.present? %>
<nav class="categories">
  <!-- <header><h2>カテゴリー</h2></header> -->
  <div>
    <% @cur_page.categories.each_with_index do |m, idx| %>
    <% if idx != 0 %><span class="separator">|</span><% end %>
    <span class="item"><%= link_to m.name, m.url %></span>
    <% end %>
  </div>
</nav>
<% end %>
