<div class="see mod-cms-captcha">
  <div class="mb-3">
    <label><%= @model.t :captcha %><%= @model.tt :captcha %></label>
    <%= f.select :captcha, @item.captcha_options, class: "form-control" %>
  </div>
</div>
