<%= render "gws/schedule/main/tabs" %>

<section class="main-box gws-schedule-box gws-schedule-search gws-schedule-search-users">
  <%= render "gws/schedule/search/users/search" %>
</section>

<section class="main-box gws-schedule-box gws-schedule-search gws-schedule-search-times">
  <%= render "gws/schedule/search/times/search" %>
</section>
