<%
  if @items.present?
    html = render_content_list
  elsif @cur_part.substitute_html.present?
    html = sanitize(@cur_part.substitute_html)
  end
%>
<% if html.present? %>
  <div class="recommend-history contents">
    <%= html %>
  </div>
<% end %>
