// this file is included with '@import'.
// So, we have to use '@import' because "require" in comment doesn't work.
@import "swiper/dist/css/swiper";

.ss-swiper-slide {
  position: relative;
  width: 100%;
}

.ss-swiper-slide-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ss-swiper-slide-main {
  height: 80%;
  width: 100%;
}

.ss-swiper-slide-thumbnail {
  height: 20%;
  box-sizing: border-box;
}

.ss-swiper-slide-thumbnail .ss-swiper-slide-item {
  width: 25%;
  height: 100%;
  opacity: .4;
}

.ss-swiper-slide-thumbnail .swiper-slide-thumb-active {
  opacity: 1;
}

.ss-swiper-slide-item {
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  background-size: cover;
  background-position: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.ss-swiper-slide-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ss-swiper-slide-controller {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
