// this file is included with '@import'.
// So, we have to use '@import' because "require" in comment doesn't work.
@import "compass-mixins/lib/compass";
@import "swiper/dist/css/swiper";

.ss-swiper-slide {
  position: relative;
  width: 100%;
}

.ss-swiper-slide-container {
  width: 100%;
  height: 100%;
}

.ss-swiper-slide-main {
  height: 80%;
  width: 100%;
}

.ss-swiper-slide-thumbnail {
  height: 20%;
}

.ss-swiper-slide-item {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.ss-swiper-slide-thumbnail .ss-swiper-slide-item {
  opacity: .4;
}

.ss-swiper-slide-thumbnail .swiper-slide-thumb-active {
  opacity: 1;
}

.ss-swiper-slide-item-image {
  display: block;
  width: 100%;
}

.ss-swiper-slide-item-image + .external {
  display: none;
}

.ss-swiper-slide-pagination-bullet-number {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #fff;

  &.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

.ss-swiper-slide-controller {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
