<nav class="nav-menu">
  <%= link_to t("gws.links.back_to_portal"), gws_portal_path %>
  <% if params[:action] !~ /index/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
