<%= render 'gws/notice/readables/category_navi' %>

<div class="gws-notice-index">
  <div class="navi">
    <%= render 'gws/notice/readables/folder_navi' %>
  </div>
  <div class="main">
    <%= render 'gws/notice/readables/tabs' %>
    <%= render 'gws/notice/readables/index' %>
  </div>
</div>
