<!-- <h2 class="gws-notice-post"><%= @item.name %></h2> -->

<div class="addon-views">

  <%= render template: "_show" %>
  <%= render template: "_addons_show", locals: { addons: @item.addons.select { |addon| [Gws::Addon::Notice::CommentPost].include?(addon.klass) } } %>
</div>
