<nav class="mod-navi">
  <h2><%= Cms::Page.model_name.human %></h2>
  <h3><%= link_to Cms::Page.model_name.human, cms_pages_path %></h3>
  <h3><%= link_to "#{t("ss.links.trash")} (#{Cms::Page.model_name.human})", trash_cms_pages_path, class: :trash %></h3>
</nav>

<%= render(partial: "cms/main/navi") %>