<%
  return if !@cur_site.try(:approve_remind_state_enabled?)
  return if @cur_site.approve_remind_later.blank?
  return if @item.try(:workflow_state) != Workflow::Approver::WORKFLOW_STATE_REQUEST

  duration = SS::Duration.parse(@cur_site.approve_remind_later) rescue nil
  return if duration.blank?
  return unless Workflow.exceed_remind_limit?(duration, @item)
%>

<div class="cms-notice workflow-remind">
  <h2><%= t("workflow.notice.content_remind.head") %></h2>
  <ul>
    <% t("workflow.notice.content_remind.body", duration: SS::Duration.format(duration)).each do |text| %>
      <li><%= text %></li>
    <% end %>
  </ul>
</div>
