<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0">
  <link href="/css/style.css" media="all" rel="stylesheet" />
  <script src="/js/common.js"></script>
  <!--[if lt IE9]><script src="/js/selectivizr.js"></script><![endif]-->
</head>
<body>
<div id="page">

</ part "tool" />
</ part "head" />
</ part "navi" />

<div id="wrap">
  </ part "breadcrumb" />
  <div id="main">
    <header><h1 id="ss-page-name">Page Name</h1></header>
    </ part "oshirase/kanko/recent" />
    </ yield />
    </ part "page-top" />
  </div>
  <div id="side">
    </ part "links-life" />
  </div>
</div>

</ part "foot" />

</div>
</body>
</html>