<html>

  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0">
    <link href="/css/style.css" media="all" rel="stylesheet" />
<script src="/js/common.js"></script>
<script src="/js/jquery.rwdImageMaps.min.js"></script>
  </head>

  <body id="body--index">

    <div id="page">
      <div class="accessibility">
    <div class="accessibility-inner">
      <p class="accessibility__contentlink"><a href="#wrap">本文へ</a></p>
      <p class="accessibility__uselink"><a href="/use/">ご利用案内</a></p>
      <div class="accessibility__translate translate-wrap">
        <div class="translate-box">
          {{ part "translate" }}
      </div>
              </div>
      {{ part "tool" }}
      </div><!-- /.accessibility-inner -->
  </div><!-- .accessibility -->



     <header id="head">
    <div class="head__utility-wrap">
      <h1 class="siteinfo__logo">
        <a href="/"><img src="/img/logo.png" alt="シラサギ市" title="シラサギ市 ポータルサイト" /></a>
      </h1>

      <div class="head__utility">
        <div class="head__utility-inner">
          <div class="head-search">
            <form id="site-search-history-part-371" action="/search/" accept-charset="UTF-8" method="get">
              <div class="site-search-keyword">
                <input type="text" title=サイト内検索 placeholder=サイト内検索 class="text" id="s_keyword" size="40" name="s[keyword]" autocomplete="off">
                <ul class="site-search-history" style="display: none;"></ul>
              </div>
              <button type="submit" id="search-button"><img src="/img/ic-search.svg" alt="検索" ></button>
            </form>
          </div>

          <div class="head-inquiry">
            <a href="/inquiry/">お問い合わせ</a>
          </div>
        </div><!-- .head__utility-inner -->

         {{ part "keyword" }}
      </div><!-- /.head__utility -->
    </div><!-- /.head__utility-wrap -->
  </header>

      {{ part "navi" }}

      <div id="wrap">
        <div id="main">
          {{ part "key-visual/slide" }}
          <div class="main__inner">

            <div class="main__area--important">

              <!-- 注目情報 -->
              <section id="attention" class="attention">
                <header class="attention__header">
                  <h2 class="attention__header-title">注目情報</h2>
                </header>
                {{ part "attention/recent" }}
              </section>

              <!-- 安心安全情報 -->
              {{ part "safety" }}



            </div><!-- .main__area--important -->

            <!-- くらしのガイド -->
            {{ part "guide" }}


            <div class="main__area--useful">

              <!-- お役立ち情報 -->
              {{ part "useful" }}

              <!-- オンラインサービス -->
              {{ part "online" }}

            </div><!-- .main__area--useful -->

            <!-- 新着タブ -->
            <section id="news" class="tabs-wrap">{{ part "recent-tabs" }}</section>

            <div class="main__area--utility">

              <div class="main__area--utility-left">

                <!-- シラサギ市について -->
                {{ part "about" }}

                <!-- 街の話題 -->
                {{ part "topics/top-topics" }}

                <!-- 人口・世帯数 -->
                {{ part "population/show-top" }}

              </div><!-- .main__area--utility-left -->

              <div class="main__area--utility-right">

                <!-- 広報SHIRASAGI -->
                {{ part "kohoshi/kongetsukoho/recent" }}

                <!-- ご意見・ご提案 -->
                {{ part "propose" }}

              </div><!-- .main__area--utility-right -->

            </div><!-- .main__area--utility -->

          </div><!-- .main__inner -->
        </div>
      </div>

      <div class="area-bottom">

        <section id="ad" class="sec-cmn-top-02 sec-cmn-top-02--ad">
          <header class="sec-cmn-top-02__header">
            <h2 class="sec-cmn-top-02__header-title">広告</h2>
          </header><!-- .sec-cmn-top-02__header -->
          <div class="info"><a href="#">広告バナーのご案内</a></div>
          {{ part "ad/ad" }}
        </section><!-- #ad.sec-cmn-top-02.sec-cmn-top-02--ad -->

      </div><!-- .area-bottom -->

      <section id="chat" class="chat">
        <div class="chat--close">
          <p>なんでも聞いてね！</p>
          <img src="/img/ic-chat.png" alt="chatbot" />
        </div>
        <div class="chat--open">
          <header>
            <h2>チャットボット</h2>
            <span class="close-btn">
              <img src="/img/chat-close.png" alt="閉じる" />
            </span>
          </header>
          {{ part "bot" }}
        </div>
      </section>

      {{ part "foot" }}

    </div>
    <div style="display: none;">{{ part "browsing-history" }}</div>
  </body>

  </html>
