name: reviewdog
on: [pull_request]
env:
  DISABLE_SPRING: 1
jobs:
  reviewdog:
    name: reviewdog
    runs-on: ubuntu-latest
    # uncomment blow line if you don't want to run reviewdog on your repository
    # if: ${{ github.repository == 'shirasagi/shirasagi' }}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: npm
      - name: ruby -v
        run: ruby -v
      - name: node -v
        run: node -v
      - name: Install yarn
        run: npm install -g yarn
      - name: Install node modules
        run: yarn install
      - name: stylelint -v
        run: npx stylelint -v
      - name: eslint -v
        run: npx eslint -v
      - uses: reviewdog/action-setup@v1
      #- name: reviewdog -list
      #  run: reviewdog -list
      - name: Run reviewdog - brakeman, eslint, stylelint, locale
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: reviewdog -reporter=github-pr-review -runners "brakeman,eslint,locale"
      # rubocopが報告するエラーが多すぎるためか、.reviewdog.ymlからrubocopを実行するとバッファー超過などのエラーになるようで正常に終了せず、
      # タイムアウトまで実行を続けてしまう。そこでrubocopを個別に実行することにする。
      - name: Run reviewdog - rubocop
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          bundle exec rubocop | reviewdog -f rubocop -name rubocop -reporter=github-pr-review
