name: reviewdog
on: [pull_request]
jobs:
  reviewdog:
    name: reviewdog
    runs-on: ubuntu-latest
    # uncomment blow line if you don't want to run reviewdog on your repository
    # if: ${{ github.repository == 'shirasagi/shirasagi' }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      - name: Install stylelint and dependencies
        run: |
          npm install -g stylelint stylelint-scss stylelint-config-recommended-scss stylelint-config-property-sort-order-smacss
          echo stylelint -v
          stylelint -v
      - name: Install eslint and dependencies
        run: |
          npm install -g eslint eslint-plugin-ignore-erb
          echo eslint -v
          eslint -v
      - name: Download eslint formatter
        run: mkdir -p tmp && curl -sfL https://raw.githubusercontent.com/reviewdog/action-eslint/master/eslint-formatter-rdjson/index.js > tmp/eslint-formatter-rdjson.js
      - uses: reviewdog/action-setup@v1
      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: reviewdog -reporter=github-pr-review
