name: reviewdog
on: [pull_request]
env:
  DISABLE_SPRING: 1
jobs:
  reviewdog:
    name: reviewdog
    runs-on: ubuntu-latest
    # uncomment blow line if you don't want to run reviewdog on your repository
    # if: ${{ github.repository == 'shirasagi/shirasagi' }}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      - name: Install yarn
        run: npm install -g yarn
      - name: Install node modules
        run: yarn install
      - name: stylelint -v
        run: npx stylelint -v
      - name: eslint -v
        run: npx eslint -v
      - uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: v0.14.1
      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: reviewdog -reporter=github-pr-review
