// Reminder
.gws-reminder-updated-flag {
  display: inline-block;
  width: 16px;
  height: 16px;
  @include border-radius(8px);
  background: $orange;
  color: $white;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  &:after {
    content: "!";
  }
}

.gws-reminder-notfound {
  h2 {
    font-weight: bold;
    margin-left: 10px;
  }
  .notice { padding: 10px 0px 20px 10px; }
}

.gws-addon-reminder {
  table.remider-conditions {
    td { padding: 5px 5px 5px 0px; }
    .interval { width: 58px; }
  }
  #gws-addon-reminder-set {
    margin-top: 5px;
    margin-left: 5px;
  }
}
