// Reminder
.gws-reminder-notfound {
  h2 {
    font-weight: bold;
    margin-left: 10px;
  }
  .notice { padding: 10px 0 20px 10px; }
}

.gws-addon-reminder {
  table.reminder-conditions {
    td { padding: 5px 5px 5px 0; }
    .interval { width: 58px; }
  }
  #gws-addon-reminder-set {
    margin-top: 5px;
    margin-left: 5px;
  }
}
