.gws-schedule-file-index {
  @include display-flex;

  .gws-share-file-folder-navi {
    width: 30%;
    margin-right: 10px;
  }

  .gws-schedule-file-main {
    flex: 1;
  }
}

.gws-share-file-folder-navi {
  position: relative;

  .toolbar {
    .material-icons {
      font-size: 18px;
    }

    .separator {
      display: inline-block;
    }

    margin-bottom: 10px;
  }

  .folder-name {
    word-break: break-all;
  }

  .content-navi-refresh {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
  }
}

.gws-share-apis-folder_crud {
  #item_in_basename {
    min-width: 30em;
    @include mb {
      min-width: unset;
    }
  }
}
