<nav>
  <a href="edit/">編集</a>
</nav>

<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @cur_member.name %></dd>

  <dt><%= @model.t :email %></dt>
  <dd><%= @cur_member.email %></dd>
</dl>
