<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <div class="addon-head"><h2><%= t "ss.basic_info"%></h2></div>
    <div class="addon-body">
      <%= render "sns/user_accounts/show" %>
    </div>
  </div>
</div>
