<nav class="mod-navi">
  <h2><%= t("gws/search_form.main") %></h2>
  <h3><%= link_to t("mongoid.models.gws/search_form/target"), gws_search_form_targets_path %></h3>
</nav>

<%= render partial: 'gws/main/conf_navi' %>
